[2022-06-15 13:31] petershh commented on #8894
But you still need perl to build ATS perl module?

[2022-06-16 15:27] jeredfloyd commented on #6855
ATS 9.1.2 is now in the Fedora and EPEL8 repos, and should land in EPEL7 and EPEL9 shortly:
  https://bodhi.fedoraproject.org/updates/?packages=trafficserver

[2022-06-17 08:54] cbrethes opened #8917 "[9.1.2] slice plugin is not working anymore in version 9.1.2"
UPDATE :
Same problem with every remap plugin might be  related to #7820 remap plugin loaded through plugin.config seems to load correctly
___________________
When i use slice plugin in ATS 9.1.2, i always get this error in diags.log :

`
[Jun 16 23:56:14.853] traffic_server NOTE: strategies.yaml finished loading
[Jun 16 23:56:14.855] traffic_server ERROR: plugin 'slice.so' failed to load: /run/tr

[2022-06-17 09:04] brbzull0 commented on #8874
@Scumtron have you try this fix?

[2022-06-17 09:52] Scumtron commented on #8874
@brbzull0 Hello. No, i just added the `iss` to the payload.

[2022-06-17 09:57] brbzull0 commented on #8874
ok then, the crash is gone. Can we close this issue?

[2022-06-17 10:01] #8874 closed

[2022-06-17 13:11] cbrethes commented on #8917
I close this issue as it is very badly qualified

[2022-06-17 13:11] #8917 closed

[2022-06-17 16:57] vgrme commented on #6855
Thanks @jeredfloyd
When I try to install it, I see the below dependencies are missing and the installation therefore is failing.
hwloc-libs-2.2.0-3.el8.x86_64.rpm
hwloc-2.2.0-3.el8.x86_64.rpm

[2022-06-17 17:13] jeredfloyd commented on #6855
@vgrme Can you tell me a bit more about how you are trying to install it, and on what sort of system?  yum/dnf should pull those requirements in from the repo.

[2022-06-17 17:43] vgrme commented on #6855
I did yum install trafficserver :-)
I just looked up one of the mirrors I dont see those rpms
hwloc-libs-2.2.0-3.el8.x86_64.rpm
hwloc-2.2.0-3.el8.x86_64.rpm

[2022-06-17 17:49] jeredfloyd commented on #6855
Are you on RHEL, CentOS, Rocky, Alma... ?

[2022-06-17 17:51] vgrme commented on #6855
RHEL 8.5

[2022-06-17 18:29] jeredfloyd commented on #6855
Does the same problem occur on RHEL 8.6?

[2022-06-17 20:00] jeredfloyd commented on #6855
A few other possible things to try:
- Are the codeready-builder repos enabled as needed for EPEL 8? (https://docs.fedoraproject.org/en-US/epel/#_el8)
- Is the repo medata old?  Try `dnf clean` and then `yum install trafficserver`

[2022-06-20 13:39] vgrme commented on #6855
@jeredfloyd  I'm getting the below error

Error:
Problem: conflicting requests
- nothing provides libhwloc.so.15()(64bit) needed by trafficserver-9.1.2-7.el8.x86_64
(try to add '--skip-broken' to skip uninstallable packages or '--nobest' to use not only best candidate packages)

[2022-06-22 12:40] jeredfloyd commented on #6855
@vgrme That's very strange.  Can you give me the results of these commands, in this order?
[code]

[2022-06-22 16:20] ywkaras opened #8920 "Event's null ethread pointer is sometimes dereferenced."
In this call:  https://git.ouryahoo.com/Edge/trafficserver/blob/9.1.10_5/iocore/eventsystem/P_UnixEventProcessor.h#L123

the ethread field of the event structure is sometimes null (which causes a crash).

Here is an example stack dump:
[code]

[2022-06-23 22:40] cmcfarlen commented on #8896
Looking at the code, it definitely looks like a memory leak is possible if the TS_EVENT_VCONN_WRITE_COMPLETE is not received.  I tried to cause this condition with various versions of netcat and then ended up writing a little program that just closes the socket after sending the request.  Try as I might, the plugin always saw the TS_EVENT_VCONN_WRITE_COMPLETE event.

Looking at a packet capture, t

[2022-06-27 15:21] ywkaras commented on #8896
Maybe it's only a problem if the plugin intercepts requests with content, (POSTs, PUSHes)?  I would guess TS waits to receive the complete request header before calling any hooked plugin continuations.

I wonder that happens if some plugin does a reenable with TS_HTTP_EVENT_ERROR on some hook, is the WRITE_COMPLETE event still generated?

[2022-06-27 15:27] ywkaras commented on #8896
ts_lua_http_intercept is a server intercept, so maybe the problem there would be if server sends no or incomplete data.

[2022-06-27 21:06] jeredfloyd commented on #6855
Hey @vgrme -- are you still having problems?  What are the results of the commands above?

Also note that I've pushed out a new -8 build that makes some changes to OpenSSL usage to support RHEL 9.  This shouldn't affect anything about hwloc, though.

[2022-06-27 23:43] rob05c commented on #8914
The scheme on the parent.config line needs to match the scheme of the remap target, not the source. The remap target here is `https`, so the parent.config line needs to be `scheme=https` to match.

[2022-06-28 23:16] mlibbey commented on #1417
oh. I was assuming it was related to the title.

From your mapping, it doesn't seem to follow the pattern on the examples link (https://docs.trafficserver.apache.org/en/9.0.x/admin-guide/plugins/authproxy.en.html#examples)

like, I think I'd expect something along the lines of
map inboundurl temporary_origin_name @plugin=authproxy ...

map temporary_origin_name origin

(eg, I don't see how ATS wou

[2022-06-29 07:22] frostnotfall opened #8929 ""Invalid client cipher suite" with default setting"
I just install trafficserver from EPEL7.

And I fllowed Document  "Get started -> Configuring A Reverse Proxy" without https, beacuse it Just for test.

Then I got  "invalid client cipher suite", but I didn't change any ssl setings.

Here is the full log:
[code]

Here is the build info:  (traffic_server -V)
[code]

Update：
Work fine on Ubuntu (apt install) with Same config!!!

Maybe the trafficser

[2022-06-29 08:26] mbakturk commented on #1417
Hi @mlibbey I updated my remap.config according to your comment. Authproxy started to work. ATS sends request to my auth server however in this time I have "Cycle Prohibited".

curl http://localhost:8080

Cycle Prohibited
Description: Could not process your request for the document because it would cause an HTTP proxy cycle. Please check the URL and your browser's proxy settings.

**remap.config:*

[2022-06-29 15:23] hugmahit opened #8930 "How to use access control plugin with aws s3?"
I want to use aws s3 as origin server and `access control` plugin to access control. Can do that ?
I'm  using `s3_auth` plugin of `traffic server` to aws s3
authentication.

[2022-06-30 03:10] mlibbey commented on #8930
The access control plugin needs the origin to decide if a user is authorized to get a piece of content (and really that they are authenticated as well). It seems unlikely that amazon simple storage service would be able to do that. It may be possible to use other amazon cloud services to perform the authentication/authorization functions and do the cookie dance with the plugin to deputize it to re

[2022-06-30 03:36] mlibbey commented on #1417
This is one of ours:
map http://inbound \
    http://origin \
    @plugin=authproxy.so @pparam=--auth-transform=range

map http://origin \
    http://origin \
    @plugin=conf_remap.so @pparam=proxy.config.http.cache.http=0 \
      @pparam=proxy.config.url_remap.pristine_host_hdr=1

(I don't know why we have that pristine host setting -- looks pointless to me). If that doesn't work, could also try

[2022-06-30 18:41] bneradt opened #8934 "Initial `clang-format` target invocation causes many files to be rebuilt"
The initial invocation of `clang-format` causes `make` to rebuild many files, despite clang-format not reformatting any files. Future invocations do not cause this, however.

To reproduce:

[code]

It would be good to figure out why the initial invocation of clang-format causes many files to be rebuilt and to investigate whether this can be avoided. Across the many developers who build Traffic Ser

[2022-06-30 19:02] bneradt commented on #8934
@bryancall thought of using `-mmin` from find to detect what files are changing:

[code]

The `.git/fmt` directory changes are simply the changes to install clang-format. That's not interesting. But the fact that clang-format is modifying `ink_autoconf.h.in` and `ink_autoconf.h` is interesting. I'm not sure why that file is being modified despite making no changes.

[2022-06-30 19:47] bneradt commented on #8934
These are autoconf generated files, thus they don't show up in my `git diff` command. We should simply skip running clang-format on these files. I'll create a PR.

[2022-06-30 20:53] #8934 closed

[2022-07-01 00:43] masaori335 opened #8936 "Crash on HttpSM::parse_range_and_compare"
[code]

We're facing a crash on `HttpSM::parse_range_and_compare` with 9.2.x.

[2022-07-01 00:45] masaori335 commented on #8936
It looks like `t_state->cache_info.object_read` is `nullptr`.
[code]

[2022-07-01 07:47] mbakturk commented on #1417
Hi @mlibbey thanks for your answers. As you mentioned after using proxy.config.http.insert_request_via_str, cycle prohibited problem fixed. My last configuration is below:

**remap.config:**
map http://127.0.0.1:9000/ http://192.168.1.6:9000/
map http://localhost:8080/ http://admin.internal/ \
 @plugin=conf_remap.so @pparam=proxy.config.http.insert_request_via_str=0 \
 @plugin=authproxy.so @pparam

[2022-07-01 13:52] mlibbey commented on #1417
The admin to example rule definitely needs caching turned off to prevent caching being used for the auth request/response.

[2022-07-01 14:03] oceanwalker opened #8938 "Q: Whether forward proxy check url"
Recently found CVE-2021-44040 vulnerabilities, I wonder if forward proxy check url and involved this vulnerabilities.

I review the commits between 8.1.3 and 8.1.4, I found only this config related to vulnerabilities, so please help me, thks!
.. ts:cv:: CONFIG proxy.config.http.strict_uri_parsing INT 0
.. ts:cv:: CONFIG proxy.config.http.strict_uri_parsing INT 2

[2022-07-02 01:22] ezelkow1 commented on #8938
Yes that change was in relation to that CVE, the new default should address it AFAIK

[2022-07-02 03:45] oceanwalker commented on #8938
First, I try to reproduce the attack, add some blank and illegal characters to the URL, then through forward proxy transmit the request, but ATS didn't reject this request.

Second, I just use forward proxy ability, and didn't use reverse proxy, so I wonder if this is impacted by this CVE?

[2022-07-05 22:29] #8936 closed

[2022-07-05 22:42] #8544 closed

[2022-07-06 22:18] cmcfarlen commented on #8887
Hello, Alpine Linux uses musl libc.  The way dynamic loading is implemented in musl does not meet the requirements ATS has for reloadable plugins (which this test exercises).  As far as I can tell, ATS doesn't make any claims about correctness when using musl libc, but perhaps it will run as long as you don't require the affected features (i.e. reloadable plugins).  There is some more information

[2022-07-06 22:25] #8887 closed

[2022-07-08 02:45] masaori335 opened #8948 "Crash on HttpTunnel::producer_run"
[code]

We're facing this crash with 9.2.x.

[2022-07-08 02:47] masaori335 commented on #8948
According to the HttpSM history, the situation is

1. client aborted and tunnel_handler_ua set ua_entry->vc nullptr
2. origin server side connection got an error
3. HttpSM tried to send an error response
4. HttpTunnel is setup a consumer with ua_entry->vc (nullptr)
5. producer_run get SEGV

[2022-07-08 15:19] bryancall commented on #8000
@rob05c can you help with setting up parent config?

[2022-07-08 15:19] bryancall commented on #8000
@taojishou are you still having an issue with this?

[2022-07-08 16:26] bryancall commented on #8938
@oceanwalker Can you please send an email to security@trafficserver.apache.org on how you are trying to reproduce this issue?

[2022-07-09 12:38] mrdg opened #8951 "Request body isn't read after a cache hit for a conditional GET"
When a client sends a conditonal GET request with a body and the server responds with a cache hit, the request body isn't drained. This results in the next request on that connection getting a 400 response. It's arguably weird to send a conditional GET with a body, but we're seeing requests like this pretty regularly. It's especially problematic with a proxy in front of ATS, because some other cli

[2022-07-11 02:52] jeredfloyd commented on #8929
This is a bug in my packaging for EPEL; please report it here:
https://bugzilla.redhat.com/buglist.cgi?bug_status=NEW&bug_status=ASSIGNED&classification=Fedora&component=trafficserver&product=Fedora&product=Fedora%20EPEL

[2022-07-11 03:06] jeredfloyd commented on #8929
(Also please assign this bug to me.)

[2022-07-11 03:15] jeredfloyd commented on #8929
As a workaround, please add this to records.config:
`CONFIG proxy.config.ssl.client.cipher_suite STRING ECDHE-ECDSA-AES256-GCM-SHA384:ECDHE-RSA-AES256-GCM-SHA384:DHE-DSS-AES256-GCM-SHA384:DHE-RSA-AES256-GCM-SHA384:ECDHE-ECDSA-AES256-CCM8:ECDHE-ECDSA-AES256-CCM:DHE-RSA-AES256-CCM8:DHE-RSA-AES256-CCM:ECDHE-ECDSA-CHACHA20-POLY1305:ECDHE-RSA-CHACHA20-POLY1305:DHE-RSA-CHACHA20-POLY1305:ECDHE-ECDSA-ARIA

[2022-07-11 06:08] amoghyermalkar123 commented on #8851
@bryancall can I get some suggestions here?
Thanks in advance :)

[2022-07-11 07:02] oceanwalker commented on #8938
![image](https://user-images.githubusercontent.com/43021640/178206173-a0669ea5-17a4-4e26-99ae-6d3b20b92dda.png)

![无标题](https://user-images.githubusercontent.com/43021640/178206556-b9495d66-032b-4c54-bafa-52b2c798e51e.png)

Based on the version 8.1.4 and used Xshell as SSH client, after adding invalid and blank characters shown in the above screenshot, the request is still  forwarded, which is con

[2022-07-11 15:25] NischalBhandari opened #8952 "ATS 10.0.0 crashes with segmentation fault SIG 11"
I am trying to rewrite a header for a video streaming website where i am using a header_rewrite plugin to just convert a origin server response of 4xx code to 200 and also add certain headers. This essentially is a preflight request. This is not important but after the request is accepted and after that the video starts streaming but after some time the traffic server restarts .

The crashlog is a

[2022-07-11 18:18] #8833 closed

[2022-07-11 21:50] mlibbey commented on #8851
I don't think the community uses/relies upon the cache inspector. Instead think folks:
- Run the regex revalidation plugin https://docs.trafficserver.apache.org/en/9.1.x/admin-guide/plugins/regex_revalidate.en.html (which would force a revalidation on requests matching a regex)
- run https://docs.trafficserver.apache.org/en/9.1.x/admin-guide/plugins/remap_purge.en.html ... or set/increment the pro

[2022-07-12 02:07] jeredfloyd commented on #6855
Hi @vgrme -- can you provide the ouput of the commands in https://github.com/apache/trafficserver/issues/6855#issuecomment-1163047602 ?  Otherwise I will close as can't reproduce.

[2022-07-12 02:31] Tristan971 opened #8955 "Logs to stdout or stderr stops after a few minutes"
While trying to run ATS in a Docker container, I thought I'd make use of #7937 as a nice way to handle logs.

So I built branch 9.2.x, specifically 15bea4dd946c8cb6fc2000a4b31cf4f2f261b29d and set the following:

In records.config:
[code]

In logging.yaml:
[code]

Then I use `traffic_manager` without arguments as (non-root) PID 1 in the container.

At first things look alright, but after approxima

[2022-07-12 03:31] NischalBhandari commented on #8952
so i did a gdb debugging for the crash and using bt in gdb i got
#0  response_get (this=<optimized out>) at /home/nischal/trafficserver/proxy/hdrs/HTTP.h:1388
#1  HttpTransact::HandleCacheOpenReadHit (s=0x2b5da8e4fc20) at HttpTransact.cc:2803
#2  0x000000000057a911 in HttpSM::call_transact_and_set_next_state (this=0x2b5da8e4fb20, f=<optimized out>) at HttpSM.cc:7534
#3  0x000000000058db41 in HttpS

[2022-07-12 04:11] HugManh commented on #8930
Thank @mlibbey .

[2022-07-12 04:13] hugmahit commented on #8930
Thank @mlibbey .

[2022-07-12 04:14] #8930 closed

[2022-07-12 12:38] jeredfloyd commented on #8929
@frostnotfall This should be fixed in trafficserver-9.1.2-9 which will be in epel-testing in the next few hours.  (I am not sure why the build hasn't pushed to the update system yet.  You can watch for it here: https://bodhi.fedoraproject.org/updates/?search=trafficserver)

Once it's pushed you can give it a try with:
 `yum install trafficserver --enablerepo=epel-testing`

This will push to stable

[2022-07-12 15:29] bneradt commented on #8955
That is interesting. Thank you for the detailed explanation.

We (Yahoo) have properties that run with stderr logging and we haven't had anyone report seeing the logging stall. We should be able to get this to work, therefore.

Since this happens so quickly, I suggest enabling the `log` debug tag and monitor it for a few minutes until logging stops. Then see whether those debug logs provide any cl

[2022-07-12 17:28] Tristan971 commented on #8955
Thanks for the prompt reply.

First, I set debug.enabled to 1 because this is a dev server so the perf impact is irrelevant to me, but mostly because with 3 I wasn't seeing debug logs being printed at all 😅

However after a few tests I was surprisingly not always able to reproduce the issue. Looking at the git history (as I tried quite a few things yesterday), this is the piece of records.config t

[2022-07-12 17:47] Tristan971 commented on #8955
Nevermind the remark about the two lines removal fixing it; it does happen without them, just after approximately 7 minutes instead of 3.

[2022-07-13 00:27] Tristan971 commented on #8955
Tried a few more things to run the container as standard as possible. Notable starting traffic_manager as root, to no success.

However something interesting seems to be that the traffic server process seems to get restarted around when it happens:
[code]

Here's the "extended" version of it, from the last `Successfully wrote some stuff to stdout` before TS restart; not very different from before

[2022-07-13 01:15] Tristan971 commented on #8955
If someone else encounters this, for now I'm just resorting to the old-and-dirty tricks of disabling log rotation and symlinking log files to /dev/stdout or /dev/stderr...

ie `ln -s /dev/stdout /var/log/trafficserver/traffic.log` etc

[2022-07-13 02:30] rob05c commented on #8050
Petition to not mark stale or close, this is very useful and very easy. In fact, adding good-first-issue

[2022-07-13 03:35] HugManh opened #8958 "How to encrypts & decrypts the content?"
In docs:
![Capture](https://user-images.githubusercontent.com/43240025/178645073-e04653cd-2827-4260-b615-d398c226c000.PNG)
Link: [https://docs.trafficserver.apache.org/en/latest/admin-guide/security/index.en.html](url)
I want encrypts the content when traffic server sends it to the client. Do it support this? Plugin or config ?
Thank.

[2022-07-13 04:41] maskit commented on #8017
We should fix this on 9.2.0 release at the latest.

[2022-07-13 04:42] maskit commented on #2724
I'm working on this.

[2022-07-13 05:08] mlibbey commented on #8958
This is talking about https. An object can be fetched from origin via http (no s),and stored in cache. Then a client request via https will result in the object sent over tls. So no plug-in required. Generally, you’ll need a cert for the inbound host name (configured in ssl_multicert), and a remap rule in remap.config.

[2022-07-13 13:03] #8929 closed

[2022-07-13 15:02] NischalBhandari opened #8959 "ATS 10.0.0 Crashes with SEGMENTATION FAULT"
While i am trying to stream a video content through the ATS I sometimes get a crash relating to this. This might be some issue related to the configuration but the only configuration i am doing here that is
`
map https://domainofsite.com/ http://ip_of_origin:8080/ @plugin=header_rewrite.so @pparam=/var/test/rules1.conf
`

[code]

[code]

Can anybody point me towards any reason why this might occur

[2022-07-13 15:57] NischalBhandari commented on #8959
Demangled Error using c++filt
`
/opt/trafficserver/bin/traffic_server(crash_logger_invoke(int, siginfo_t*, void*)+0x8e)[0x4ea38e]
/lib64/libpthread.so.0(+0xf630)[0x2b47b3ca9630]
/opt/trafficserver/bin/traffic_server(HttpTransact::HandleCacheOpenReadHit(HttpTransact::State*)+0x22)[0x5e54b2]
/opt/trafficserver/bin/traffic_server(HttpSM::call_transact_and_set_next_state(void (*)(HttpTransact::State*)

[2022-07-13 16:39] amoghyermalkar123 commented on #8851
Thanks @mlibbey.
One follow-up question. How does ATS handle a full disk? Lets say i have 15 TB worth of physical memory thats full.
And there won't be any purges any time soon, but we do have newer content thats hot.
How does ATS handle such a scenario?

[2022-07-13 20:47] mlibbey commented on #8851
The way to think of it is a circular buffer. Start writing at the beginning of the disk, and as you get to the end, start back at the beginning, overwriting what was there.

[2022-07-14 03:40] amoghyermalkar123 commented on #8851
Thanks @mlibbey, that answers all my questions.
Great help as always!

[2022-07-14 03:40] #8851 closed

[2022-07-17 10:16] NischalBhandari commented on #8959
Haven't got the issue after [156528d](https://github.com/apache/trafficserver/commit/156528de4ce4d6bef2f2d2bc0963dadd9f122eec) till now

[2022-07-18 02:47] oceanwalker commented on #8938
@bryancall  Considering it is so important to me and a lot of work would based on your answer, could you please share with me about the latest progress as early as you could. Thank you so much!

[2022-07-18 12:03] amoghyermalkar123 opened #8964 "How to set HTTP2 optionally per domain?"
I have a setup where I would like to enable http2 selectively on specific domains from remap.config.
The rest of the domains where http2 is not enabled should be rejected to use http2 even if the client speaks http2 and should default to http1.
I tried setting up ssl_server_name.yml as such -
[code]
and configuring records.config like -
[code]
but this combination has not worked for me since If i

[2022-07-18 16:41] bneradt commented on #8959
Just to clarify: with [156528d](https://github.com/apache/trafficserver/commit/156528de4ce4d6bef2f2d2bc0963dadd9f122eec) you no longer see a crash? Or there was a period after using that commit that you didn't see the crash, but now you have seen it again?

[2022-07-18 23:37] bneradt commented on #8958
@HugManh : did this answer your question?

[2022-07-19 03:49] NischalBhandari commented on #8959
@bneradt  I mean that i was using 2aa1d3106398eb082e5a454212b0273c63d5f69d commit to build the ATS and another more recent one in which i was getting the error . But as i saw there were some changes in the exact file i was getting errors i.e. HttpTransact.cc i updated the version to [156528d](https://github.com/apache/trafficserver/commit/156528de4ce4d6bef2f2d2bc0963dadd9f122eec) . After this i ha

[2022-07-19 16:14] bneradt commented on #8959
OK, great. Glad that patch seems to address the crash. Good find. I'll go ahead and close this issue then. Feel free to re-open if a crash with that stack resurfaces for you.

Thank you @NischalBhandari .

[2022-07-19 16:14] #8959 closed

[2022-07-20 06:32] maskit opened #8966 "Pre-built clang-format for arm64 arch"
I use a Linux VM as my dev environment on my MacBook that has M1 chip (arm64 arch), and the pre-built clang-format binary which is used by `make clang-format` doesn't run on the VM.
[code]

The pre-built binary for macOS runs without issues on the MacBook.

[2022-07-20 14:48] bneradt commented on #8966
I have an M1 MacBook as well. I often build within an aarch64 docker image running on the Mac. Builds generally work great, but I notice the following when running clang-format:

1. When I run clang-format, single threaded, natively on my M1 Mac, it takes 28 seconds.
2. When I run clang-format in an `aarch64` rockylinux:8 docker image, running clang-format single threaded takes 2 minutes and 17 se

[2022-07-21 06:10] dandinw opened #8973 "secondary_mode doesn't work as described in the document"
this is configuration of parent.config:

dest_domain=www.test2.com scheme=http parent="192.168.2.17:10000;192.168.2.17:82" secondary_parent="192.168.2.17:100001"  round_robin=consistent_hash  secondary_mode=2

I want ATS to try all the parent nodes in the parent list first. When the parent node in the parent list fails or marked down , try the parent node in the second_parent list，

Now the situat

[2022-07-21 08:26] #8973 closed

[2022-07-21 14:31] masaori335 opened #8974 "Assert failure on HttpTransact::HandleResponse"
We faced an assertion failure on the 9.2.0 testing box.
[code]

The assert is
https://github.com/apache/trafficserver/blob/3c583febf7ff0c9c35d9faab2b3752fcb93f8abf/proxy/http/HttpTransact.cc#L3488

A warning was logged right before the crash.
[code]

[2022-07-21 22:29] #8974 closed

[2022-07-22 00:04] maskit commented on #8044
I added a metric for thread switching count and monitored it on production, and the switching didn't happen at all.
I'm pretty sure we can get rid of the code.

[2022-07-25 03:54] amoghyermalkar123 commented on #8964
8.1.1

[2022-07-25 06:47] masaori335 opened #8978 "Crash with TLS Session Ticket"
I got a crash report testing with ATS 9.1.2 and OpenSSL 3.0.5.

[code]

FWIW, it looks like this is fixed on the master and 9.2.x branch.

[2022-07-25 06:48] masaori335 commented on #8978
#8524 is the fix for this crash.

[2022-07-25 06:48] #8978 closed

[2022-07-25 06:51] masaori335 commented on #8978
We need #8524 if we have another 9.1.x patch version release before the 9.2.0.

[2022-07-25 23:40] cmcfarlen commented on #8966
I don't know about the pre-built clang-format exec format error, but there is a newish experimental config option for docker desktop for Mac to improve volume performance that might improve your clang-format runtime inside docker. Check `Enable VirtioFS accelerated directory sharing`

[2022-07-26 00:44] masaori335 opened #8979 "Crash on RangeTransform::handle_event"
We faced the below crash on a 9.2.0 testing box. There must be some conditions like a slow disk to trigger the crash, but we haven't found it.

[code]

[2022-07-26 00:45] masaori335 commented on #8979
[code]

[2022-07-26 00:56] masaori335 commented on #8979
I tried the `--enable-event-tracker` build option to see where the event is scheduled. However, it points odd line, unfortunately.

[code]

https://github.com/apache/trafficserver/blob/3c583febf7ff0c9c35d9faab2b3752fcb93f8abf/proxy/http/HttpTunnel.cc#L1373

A wild idea is that HttpTunnel producer and consumer has a race.

[2022-07-26 23:42] #8948 closed

[2022-07-27 12:25] dhairav opened #8984 "Post a PURGE Request, when do we expect actual disk Object to be deleted?"
So, we're using ATS v8.1.1 as a caching server. Due to compliance purposes, we need to routinely purge certain objects out of the disks - per terms of license agreements with the owners of the HTTP objects.
It is mission critical for us to reclaim space from the disks - as soon as we PURGE certain objects, but as per the documentation for PURGE - it is clear that the objects are not deleted from t

[2022-07-28 03:38] mlibbey commented on #8984
Do your license agreements force you to overwrite the disk for removed files (like secure remove)? As I understand it, removing the object's index is very similar to how a file system rm/empty trash works -- that the file is still there, just need to go to more severe lengths to recover. The hurdle for ATS would be much more severe as significant tool engineering development would be required.

[2022-07-28 09:57] dhairav commented on #8984
Well, no, the agreements simply need us to ensure that objects that shouldn't exist with us, are deleted. If you're saying that a PURGE request does an rm - similar to one on an ext4 file system over Linux - I think that should satisfy my use case.
But in any case - do you think it is worthwhile to explore any C/C++ APIs for TS Find and Delete - or is it going to be too painful to implement due to

[2022-07-28 16:17] mlibbey commented on #8984
My understanding is that it would very painful. As I understand it ([here is a good doc about the cache](https://docs.trafficserver.apache.org/developer-guide/cache-architecture/architecture.en.html)), the objects are not stored in contiguous blocks. They are intertwined with the other objects that are being written at the same time -- the index gives the locations. Once the index is gone, the loc

[2022-07-29 12:27] togear commented on #5763
you can check if the fd  of the trafficserver process leaked,  that is the reason why all the process can't connect the trafficserver process to get stat

[2022-07-29 14:22] esmq2092 opened #8989 "The compress plugin does not behave as described in the docs"
The document says that when  `cache` is set to true, there will be both compressed and uncompressed versions of the content in the cache.

but when testing it, i found it otherwise。

with thefollowing configurations,  ats will cache both the compressed and uncompressed at the same time~ （but doc sways it will cache only one variant)。

`cache false`
`remove-accept-encoding true`

[2022-08-01 14:31] dhairav commented on #8984
Makes sense, closing this, thank you so much @mlibbey!

[2022-08-01 14:31] #8984 closed

[2022-08-02 00:44] #8183 closed

[2022-08-02 23:04] #8979 closed

[2022-08-04 09:56] baricsz opened #8998 "High cache disk write"
I'm trying to set up an ATS reverse proxy cache in front of our services. I noticed that ATS writes a huge amount of data to the disk even after requesting a resource that results `TCP_REFRESH_HIT` cache state. Looks like it rewrites the whole cache storage.

Environment
* Ubuntu 22.04 based docker image
* ATS 9.1.2
* 100 GB cache storage file (same thing happens when using a raw disk)

Attached t

[2022-08-06 05:44] androzes opened #9002 "Money trace plugin does not generate the next trace context in case of cache hit, but stale scenario"
ATS version: 8.1.x

Money trace plugin does not generate the next trace context in case of cache hit, but stale scenario. So, the same trace context is forwarded to the parent.

Code reference: https://github.com/apache/trafficserver/blob/8.1.x/plugins/experimental/money_trace/money_trace.cc#L82

Is this expected? if yes, what is the rational behind it?

[2022-08-08 23:32] bryancall commented on #8998
@baricsz Can you post the headers from the origin response?

[2022-08-09 01:10] masaori335 opened #9014 "Intermittent failure of post-early-return AuTest"
The `post-early-return` AuTest seems flaky. The second build was passed without any change.
[code]
https://ci.trafficserver.apache.org/job/Github_Builds/job/autest/1334/console

[2022-08-09 17:59] traeak commented on #9002
Very likely it is a bug.  With 9.2.x the money trace plugin was rewritten.

[2022-08-10 06:45] baricsz commented on #8998
@bryancall These are the headers from the origin
[code]

[code]

Also, `proxy.config.http.cache.ignore_server_no_cache INT 1` is set in the records.conf file.

[2022-08-10 08:45] #8958 closed

[2022-08-10 16:01] vmamidi opened #9022 "clear hostdb cache without restarting ATS"
--clear-hostdb
Clear the DNS resolver cache upon startup.

Requires a restart

[2022-08-10 18:35] cmcfarlen opened #9024 "Config value for proxy.config.hostdb.host_file.interval is never read."
This config item is for setting how often the host_file is re-read.  It is documented and registered in RecordsConfig, but is never read into the `hostdb_hostfile_check_interval` variable.

[2022-08-10 18:36] cmcfarlen opened #9025 "ATS should use the hostfile for reverse DNS lookups as well."
Currently, the hostfile is only used for lookup by name.  Could we add a reverse index and lookup by address as well?

[2022-08-12 09:42] jvgutierrez opened #9028 "metrics discrepancies after updating to ATS 9.1.2 from 8.0.8"
After updating to ATS 9.1.2 we have detected an increase on self-reported metrics by ATS. On both 8.x and 9.x instances TTFB is gathered with `%<{TS_MILESTONE_UA_BEGIN_WRITE-TS_MILESTONE_SM_START}msdms>`. As it can be seen in this dashboard:
![image](https://user-images.githubusercontent.com/4091505/184326941-6c404867-a3ae-4e7b-9b0c-b79c3c7f1d10.png)
TTFB as reported by ATS has increased ~25% whil

[2022-08-14 21:24] pmkol opened #9032 "convert_ to_ JPEG does not work"
I have  added the following line to plugin.config:

webp_transform.so [convert_to_jpeg,convert_to_webp]

However, when I used Safari, a mobile browser that does not support webp, to access the image, it was not converted to JEPG, and I was unable to browse the image.

Who can help me ?

[2022-08-15 23:33] bryancall commented on #9028
@shinrich Do you want to take a look at this issue?

[2022-08-15 23:41] bneradt commented on #9024
We have this internally in Yahoo (I think this didn't make its way to ASF because HostDB was merged just recently):

[code]

[2022-08-15 23:43] bryancall commented on #9022
Sounds like you want to have a traffic_ctl command to erase the hostdb on the fly.

[2022-08-15 23:46] ywkaras commented on #9024
So `proxy.config.cache.hostdb.sync_frequency` replaces `proxy.config.hostdb.host_file.interval`?

[2022-08-16 01:36] dandinw opened #9036 "How ATS customizes the return origin Host？"
I want to customize the origin  host. for example. this is the remap.config

map  http://www.test.com   http://www.test.com

Due to the business needs of the company, I must configure the map rule as follows

The  parent.config  configuration is as follows:

dest_domain=www.test.com   scheme=http   parent="www.origin.com"  round_robin=strict

I hope the host header received by the source station i

[2022-08-16 01:51] maskit commented on #9036
I'm not sure if I understand what you need, but this setting might help.
https://docs.trafficserver.apache.org/admin-guide/files/records.config.en.html#proxy.config.url_remap.pristine_host_hdr

[2022-08-16 05:06] dandinw commented on #9036
I have tried this option. for example. this is the remap.config. and the proxy.config.url_remap.pristine_host_hdr value is 1

map http://www.test3.com   http://www.example.com

the  traffic.out log The following contents are displayed:
+++++++++ Proxy's Request after hooks +++++++++
-- State Machine Id: 41
GET http://www.example3.com/ HTTP/1.1
User-Agent: curl/7.29.0
Host: www.test3.com
Accept: */

[2022-08-16 06:15] dandinw commented on #9036
At present, I have solved this problem by writing plugins. The key APIs used are TSHttpTxnServerReqGet, TSHttpHdrUrlGet, and TSUrlHostSet

[2022-08-16 06:16] dandinw commented on #9036
At present, I have solved this problem by writing plugins. The key APIs used are TSHttpTxnServerReqGet, TSHttpHdrUrlGet, and TSUrlHostSet

[2022-08-16 06:16] #9036 closed

[2022-08-16 09:25] amoghyermalkar123 opened #9038 "Is there a way of knowning when ATS deletes something from the disk cache?"
I have a case where I want to keep record of everything that is in the disk cache. So I wanted to know are there any TS API's or plugins that would let me know when something is cached or removed from the cache?

[2022-08-16 18:57] bneradt commented on #9024
Great observation. @cmcfarlen  fortunately used the right variable in his #9039 PR. That said, I'll pull in the hostdb.sync_frequency patch.

[2022-08-16 18:57] bneradt commented on #9024
Closing since the fix in PR #9039 is merged.

[2022-08-16 18:57] #9024 closed

[2022-08-17 01:39] mlibbey commented on #9038
I don't think there is a way. Is your use case similar to https://github.com/apache/trafficserver/issues/8984 ?

[2022-08-17 08:39] amoghyermalkar123 commented on #9038
No @mlibbey, it's a bit different. I want to keep an active record of what's in the cache. So i want to know when something is added or removed from the cache.

[2022-08-18 04:13] amoghyermalkar123 commented on #9038
If this is not possible, we can close the issue. Please let me know.

[2022-08-18 05:48] maskit opened #9045 "Fails to download Proxy Verifier"
If you get a snapshot of the repo as a zip file or one of official releases, `autest.sh` fails to download proxy verifier, and the failure doesn't stop `autest.sh`.

[code]

[2022-08-18 06:13] maskit commented on #9045
I could set `$ROOT` beforehand to avoid the issue, but I don't understand why the path for "proxy-verifier-version.txt" is checked like this. Is there a case that we want to have "prepare_proxy_verifier.sh" and "proxy-verifier-version.txt" in different directories?

[2022-08-18 13:39] pmkol commented on #9032
The problem has been solved because AIO is enabled. After AIO is enabled, it is found that the cache processing will have permission problems. The reason is unknown.

[2022-08-19 17:53] bneradt commented on #9045
This is a good observation. I've never tried to work with this from a non-git directory. When I wrote `prepare_proxy_verifier.sh`, I borrowed its logic from our pre-commit hooks which is why it is written as it is. I'll work on making the `prepare_proxy_verifier.sh` logic more generic.

[2022-08-22 14:17] #9045 closed

[2022-08-23 10:32] thatsk opened #9051 "unable to find TSPluginInit function in maxmind_acl.so plugin in trafficserver 9.1.x"
Hello Team,

I am trying to load maxmind_acl.so plugin in trafficserver 9.1.x but failed to load due to this error.
[code]

[2022-08-23 10:33] thatsk commented on #9051
@randall @AD5GB

[2022-08-23 20:21] randall commented on #9051
This is a remap-only only plugin. Are you trying to load it via `plugin.config`?

[2022-08-23 20:22] #9032 closed

[2022-08-24 02:16] thatsk commented on #9051
Yes

[2022-08-24 04:09] thatsk commented on #9051
without registering to plugins.config it will throw an error
[code]

[2022-08-24 16:26] thatsk commented on #9051
@randall can you help on this

[2022-08-24 16:43] randall commented on #9051
you'll need to enable debug logging for that plugin.

[code]

and post a redacted version of your `maxmind.yaml` config file here.

[2022-08-24 16:44] thatsk commented on #9051
K i will update shortly

[2022-08-24 16:58] thatsk commented on #9051
[code]

[2022-08-24 17:11] thatsk commented on #9051
when I remove from plugins.config and copy the GeoIP2-City.mmdb into /etc/trafficserver
[code]

[2022-08-24 17:11] thatsk commented on #9051
does it loaded now

[2022-08-24 17:38] ezelkow1 commented on #9051
Sorry my github email notifications werent working properly. So it looks like it loads properly now. By default the plugin will look in the default ATS config directory, which is usually ##SOME_PATH###/etc/trafficserver, wherever things like remap.config, records.config, etc live at for your install.  You can also specify a full path to the maxmind database you want to use in the yaml config file,

[2022-08-24 17:40] thatsk commented on #9051
is there way we can check which plugins are loaded so that we know that maxmind plugin is loaded properly debug is not helping so much

[2022-08-24 17:47] thatsk commented on #9051
@ezelkow1 i updated path as you mentioned but seems like plugins still not working . it still allowing me to access so I need to confirm whether the plugin is loaded or not is there command we can check plugin is loaded after trafficserver start

[2022-08-24 18:00] ezelkow1 commented on #9051
If you see the debug for it then it should be loaded, but it is only going to be active on the remap that you have the plugin placed on. If you leave the maxmind debug enabled and do a request then you should see it's debug output for each request it sees. If it does not see any then it may not be active on the remap for the request you are using

[2022-08-24 18:17] thatsk commented on #9051
the problem is how do we ensure is that plugin loaded or not
and when I restart trafficserver it still loading my page so I'm not sure where I am doing wrong.

[2022-08-24 18:19] thatsk commented on #9051
when i run
[code]
[code]
but as per expectation its not blocking or denying page its give me response

[2022-08-24 18:20] thatsk commented on #9051
@ezelkow1

[2022-08-24 18:25] thatsk commented on #9051
in the example in trafficserver page you are mentioning about city and giving country code is that correct
https://docs.trafficserver.apache.org/admin-guide/plugins/maxmind_acl.en.html

[code]

[2022-08-24 18:37] ezelkow1 commented on #9051
yes it is loaded due to
`[Aug 24 18:11:35.759] traffic_server DIAG: (maxmind_acl) created remap instance with configuration maxmind.yaml`

Also the -City name in that database is just because that is the default naming scheme from Maxmind, it has country data in it along with city level data.

What does your remap.config look like (you may or may not need to scrub this)? Is it possible your reques

[2022-08-24 18:43] thatsk commented on #9051
[code]
[code]

[2022-08-24 18:43] thatsk commented on #9051
when i try to access its still able to access from India countly

[2022-08-24 18:44] thatsk commented on #9051
my api is returing response so not sure where it is missing or where should I debug

[2022-08-24 19:25] randall commented on #9051
[code]

[2022-08-24 19:31] randall commented on #9051
if you enable the debug tags, and you're hitting the remap line with the plugin, you should see debug output regarding IP/country/etc matching.

[2022-08-24 20:06] thatsk commented on #9051
resolved thanks for the stuff

[2022-08-25 14:34] #9051 closed

[2022-08-26 10:50] wk333 opened #9065 "traffic_layout remove command core dumped"
[code]

[2022-08-29 03:07] maskit commented on #8848
gcc 12.2.1 got available on fedora36, and I don't see the error with it.

[2022-08-29 06:14] maskit opened #9067 "Autest for HTTP/3 isn't ran on the CI job"
We have at least one autest that checks HTTP/3, and I confirmed it was ran when we close #3551.

There should be four dots on active_timeout test if the test for HTTP/3 is ran, but the latest log only shows three dots.
[code]

It's either ATS or curl (or the both) is not built with an appropriate library.
https://github.com/apache/trafficserver/blob/1f7799c2b66a6a57709fa9f1176774da57c778fc/tests/g

[2022-08-29 06:27] maskit commented on #8848
I confirmed the issue is resolved. I followed the steps above (non-debug build with the docker image) to reproduce the error, and the error disappeared after I ran `dnf update gcc`.

[2022-08-29 14:52] bneradt commented on #9067
That's interesting. I wonder how this broke in the last few months.

Here is our pipeline script:
https://github.com/apache/trafficserver-ci/blob/main/jenkins/github/autest.pipeline

We try to do the right thing: building against `/opt/openssl-quic` and using `/opt/bin` to pick up our quic version of openssl.

Thank you for pointing this out.

[2022-08-29 15:09] bneradt commented on #9067
I created a docker container with our CI. It looks like ATS has the QUIC feature built in:

[code]

But curl somehow no longer advertises `http3` support:

[code]

So the problem is with the CI's version of curl. I'll take this opportunity to update our OpenSSL version on CI and see whether I can fix our built version of curl to have `http3` support again.

[2022-08-29 15:58] bneradt commented on #9067
I've created a version of `ci.trafficserver.apache.org/ats/rockylinux:8` that has openssl-quic updated to 1.1.1q and has a version of curl correctly built with HTTP3 support.

Unfortunately, I cannot instantiate the image into our CI system because the `active_timeout` QUIC test fails (the one corresponding to the fourth dot in the autest output). It looks like curl is failing to connect to ATS:

[2022-08-29 16:17] bneradt commented on #9067
Adding the `quic` debug tag, I see ATS emits this on the incoming connection:

[code]

This sounds related to the `QUIC status` thread in the mailing list.

[2022-08-29 17:21] maskit commented on #9067
Ah, right. The latest version of curl probably only uses QUICv1 (the final version but not a draft version) and there's no way to specify a QUIC version to use. Even after we merge 10-Dev to master, 9.2.x and 9.1.x will still have the version mismatch issue unless we add the support to it.

What do we want to do? Should I back port the support to 9.x?

[2022-08-29 23:24] bneradt opened #9071 "Add io_uring to a CI image"
There is a PR to test configuring building ATS with io_uring: #8992 .

It would be good if our CI system could test with this io_uring option. @bryancall suggested our fedora:36 image is a good candidate since io_uring can be added easily to that system via a simple system package add command.

This issue tracks:
1. Updating our fedora:36 CI image to add io_uring to the system.
2. Update the fedor

[2022-08-30 01:05] bneradt commented on #9067
OK, I've updated the CI images with the latest version of openssl-quic 1.1.1q with the updated curl as well. Because 9.x doesn't support QUICv1 (as @maskit points out above) I disabled the tests on 9.x builds because that doesn't support the latest tooling.

Once 10-Dev is fixed for this new openssl version, we can make sure the following:

1. 10-Dev has the latest master merged into it in such a

[2022-08-30 01:10] wk333 commented on #9065
envvirment
centos8
yum install trafficserver

[2022-08-31 17:02] ywkaras opened #9073 "Problems with strerror_r()."
Not working on Ubuntu:
[code]
Also fails on RHEL 7.9 with GCC 8.3.1.

strerror_r() is used in include/ts/util/Strerror.h .

[2022-09-01 00:59] ywkaras commented on #9073
One potential fix us to replace strerror_r() with strerror() but protect the call with a mutex.  For that to be effective, we would have to replace all current strerror() use (about 250 calls) with ts::Strerror use.  But, that's something we should do anyway.

[2022-09-01 18:09] maskit commented on #9073
containing the error message.  This may be either a pointer to a
       string that the function stores in buf, or a pointer to some
       (immutable) static string (in which case buf is unused).

[2022-09-01 18:22] ywkaras commented on #9073
Thanks.

[2022-09-06 00:11] maskit commented on #9067
#9079 fixes 10-Dev branch, and it passes  the active_timeout test.

[2022-09-06 15:28] #9073 closed

[2022-09-06 18:15] dhairav opened #9081 "ttl-in-cache may not be functioning as expected"
We are using the stable 8.1.x build of ATS, specifically ATS 8.1.1.
The Origin is a standard Nginx deployment, which only sends out Last-Modified in the headers. **No Cache-Control headers.**
We want to cache different domains for different times like so:

[code]

Our disks are properly mounted (went through other issues where people have faced the problem - so just clarifying beforehand).

`CONFI

[2022-09-08 02:06] maskit commented on #6738
#9037 added it.

[2022-09-08 02:06] #6738 closed

[2022-09-09 10:37] jvgutierrez commented on #9028
I think I've found an explanation for this.

ATS 9.1.x reports `:%<{TS_MILESTONE_CACHE_OPEN_READ_END-TS_MILESTONE_CACHE_OPEN_READ_BEGIN}msdms>` and `%<{TS_MILESTONE_CACHE_OPEN_WRITE_END-TS_MILESTONE_CACHE_OPEN_WRITE_BEGIN}msdms>` as `-1` more often than ATS 8.x. This added to the fact that we failed to track requests with any of those two milestones set to -1 (fixed in https://github.com/wikimedia

[2022-09-09 10:37] #9028 closed

[2022-09-12 11:32] dhairav commented on #9081
Reminder to please take a look at the above issue.

[2022-09-13 00:27] mlibbey opened #9087 "pragma is overriding cache-control"
https://www.rfc-editor.org/rfc/rfc7234#section-5.4
says

https://www.rfc-editor.org/rfc/rfc9111#name-pragma
deprecates pragma completely.

ATS 9 is using the pragma: no-cache instead of cache-control value. here's an httpbin example
remap http://myhttpbin.com http://httpbin.org

[code]
vs
[code]

[2022-09-13 08:55] jbfavre opened #9088 "ATS 9.1.3 build failures on Debian"
Hello,
I've recently been aware of build failure on Debian, which I can not explain for now.

Bug report is available at: https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=1019553
Debian build log on arm64 is also available: https://bugs.debian.org/cgi-bin/bugreport.cgi?att=1;bug=1019553;filename=trafficserver_arm64.build;msg=5

Looks like similar to #8848: test  `ts_file_io` which is part of `tes

[2022-09-13 14:24] traeak commented on #9088
Likely you are seeing this with 22.04?  Both 20.04 and 21.04 build fine.  There are some patches that are in master, 10-Dev and 9.2.x which haven't been back ported which make ATS compatible with newer versions of openssl.

[2022-09-13 15:40] bbassingthwaite opened #9089 "Forward Proxy not working with HTTP2"
Hello, I am running `ATS 9.1.2` as an HTTP forward proxy with both `HTTPS` and `HTTP2`. If I run the curl command `curl  -x https://127.0.0.1:8080 -v http://127.0.0.1/` everything works as expected. But if I try the same curl and force it to use HTTP2 with the curl opt `--http2-prior-knowledge`, the origin server receives the request `GET /http://127.0.0.1/ HTTP/1.1\r\n`. ATS seems to recognize th

[2022-09-13 18:46] bryancall opened #9091 "Traffic server APIs should guard against setting headers with invalid characters"
We had an issue where an internal plugin set and invalid character in the field value of the header.

[2022-09-14 02:00] maskit commented on #9088
I installed Debian testing and it worked for me. Although I saw many warnings while I'm building ATS, the test passed successfully.

The error code seems like ENOENT. I was able to see the error if I rename "/etc/hosts" to something else. Does the file exist on the build environment?

[2022-09-14 06:57] jbfavre commented on #9088
@traeak Thanks for your comment. I'm building ATS on Debian, not Ubuntu. Even if those two operating system are very similars, there're many differences that could make one succeed when the other one fails.
Anyway, I finally found a solution (see below)

@maskit Thanks for your help.
While investigating the failure, I came to the exact same conclusion: for any reason, `/etc/hosts` wasn't present i

[2022-09-14 06:57] #9088 closed

[2022-09-14 23:34] mtorluemke opened #9093 "9.2: mTLS client key load failure should revert to last known good config"
These errors were logged after failing to load an mTLS key in ATS 9.2:

[code]

Then later:

[code]

Resulting in 502s sent downstream. Expected behavior is to revert to last known good config, I would think.

[2022-09-15 09:12] jvgutierrez opened #9094 "Unexpected behaviour when parsing requests without a leading /"
We are experiencing an unexpected behavior when requests reach ATS without a leading /. An easy PoC: `curl --http1.1 http://127.0.0.1:3128 --request-target favicon.ico`. Per my current understanding of [RFC 9112 Section 3.2 Request Target](https://www.rfc-editor.org/rfc/rfc9112.html#name-request-target), this should result in a 400 response cause request-target doesn't comply with any of the expec

[2022-09-15 10:37] maskit commented on #9094
Returning 400 sounds reasonable.

[2022-09-15 11:18] saikumarscm opened #9095 "trafficserver-8.0.6 issue in Ubuntu-20.04"
HI
I have installed trafficserver with version 8.0.6 in Ubuntu-20.06.
For testing, tried curl command like curl -x http://<trafficserer-ip:trafficserverport> google.com. Command not responding after executing this command.

Issue: existing code traffic with broken pipe

Can anyone please advise.

[2022-09-16 00:06] maskit commented on #9089
I couldn't check that because my curl, which is pretty new, doesn't support HTTP/2 prior knowledge for proxy.
[code]

And I don't think forward proxying on HTTP/2 is supported, even on HTTPS connections. I'm not going to say we never support it, but I'd say it probably won't be supported. Pull Request is welcome.

[2022-09-16 00:06] #9087 closed

[2022-09-18 10:34] saikumarscm commented on #9095
Please help on this issue.

[2022-09-19 16:19] mlibbey commented on #8998
`Cache-Control: no-cache, must-revalidate, public` --> the origin is telling ATS that it can't serve from cache without revalidation from origin each time. I'd suggest asking them to remove no-cache (plus really think through must-revalidate for the momentary stale case), and add a max-age directive.

[2022-09-19 16:20] randall commented on #9095
Can you attach logs and configs to this issue?

[2022-09-19 23:23] bryancall commented on #9095
Please make sure you have turn off this option: https://docs.trafficserver.apache.org/admin-guide/files/records.config.en.html#proxy-config-url-remap-remap-required .

[2022-09-19 23:29] bryancall commented on #9091
The community doesn't want to pay the price to scan the values.

[2022-09-19 23:29] #9091 closed

[2022-09-19 23:36] #9067 closed

[2022-09-20 06:45] baricsz commented on #8998
I think the cache control is correct, at least this specific resource must be revalidated each time.

My only concern is that even if the resource has been revalidated and the origin server tells that the resource is still valid and there is nothing to download (304 Not modified, no response body), ATS consumes an extra 8192 bytes block from the cache and also writes a huge amount of data to the d

[2022-09-20 13:37] jeredfloyd commented on #8780
There is a new Fedora tracking bug for this issue: https://bugzilla.redhat.com/show_bug.cgi?id=2128391

[2022-09-20 14:03] jeredfloyd commented on #5168
In the first instance, your storage.config should have a leading "/" to create a fully-qualified path.

In the second instance, there are two issues:

1) traffic_cache_tool does not support directory caches.  If a directory is specified, a message is printed to this effect.  There should be an RFE to implement this support.

2) If a cache.db is provided, traffic_cache_tool will attempt to parse it

[2022-09-20 15:27] saikumarscm commented on #9095
HI bryancall,
Yes, I have make this 0 already.

![image](https://user-images.githubusercontent.com/10346615/191299833-750b3af7-1378-4655-976f-49a7ec3e0327.png)

[2022-09-20 15:29] saikumarscm commented on #9095
Hi randall,
There is no logs coming, command is not coming.
Like this coming.

![image](https://user-images.githubusercontent.com/10346615/191300403-1a362b08-a7ec-4c68-83e7-3b3afe952d59.png)

[2022-09-20 16:36] brbzull0 commented on #9065
@bryancall  beside the crash, are we missing   [this](https://github.com/apache/trafficserver/pull/8815) in 9.1?

[2022-09-20 17:24] randall commented on #9095
Sorry,I was asking for trafficserver logs. I'm not sure where they would be in your environment. systemd possibly?

[2022-09-20 18:46] bneradt commented on #9067
Here's an example of this working for a recent 10-Dev PR:
https://ci.trafficserver.apache.org/job/Github_Builds/job/autest/1916/console

[code]

Note the four dots, one of which is the QUIC test.

[2022-09-20 23:04] #9094 closed

[2022-09-21 05:02] saikumarscm commented on #9095
Hi Randall,
Thanks for the response.
I have enabled logs and enabled debug logs, But no logs are writing in the diag.log and manager.log.

[2022-09-21 06:47] maskit commented on #9095
Can you pass -v to the curl command?

Where did the "broken pipe" come from?

[2022-09-21 08:25] saikumarscm commented on #9095
Hi maskit,
Thanks for the update.
Please find the below attachment for both curl -x and curl -v -x

![image](https://user-images.githubusercontent.com/10346615/191454323-e3aba9ab-5b64-4ea1-b043-c1ec8b8109c9.png)

[2022-09-21 09:15] maskit commented on #9095
It seems like curl was able to connect to some server. If the IP address and port number are correct, you should see some debug log from traffic server.

Can you try this setting below? With this, you should see a lot of debug logs even without any connections.
[code]
If you still don't see any errors with this, you are probably looking at a wrong log file.

[2022-09-21 10:50] saikumarscm commented on #9095
Hi maskit,
I have enabled debug logs like this below.

CONFIG proxy.config.diags.debug.enabled INT 1
CONFIG proxy.config.diags.debug.tags STRING http|dns

I have configured logs path also in the traffic server, but its not updating and not generating squid.log.

We have tuned few OS parameters in Ubuntu, is this causing any issues ?

[2022-09-23 16:11] randall commented on #9081
Your best bet here would be to not use `cache.config` and use remap.config + [header_rewrite](https://docs.trafficserver.apache.org/en/8.1.x/admin-guide/plugins/header_rewrite.en.html?highlight=header_rewrite) to control cache-control headers.
and doing something like this in header_rewrite:
[code]

[2022-09-27 15:08] #9025 closed

[2022-09-28 10:33] frostnotfall opened #9111 "Confused about memory allocation"
I want to know about memory allocation.
I think there are 2 parts of memory allocation, both are disk storage relevant.
1. RAM Cache .
2.  Cache directory is used as a memory resident structure

# RAM Cache
There are 2 statements, but contradictory.
1. 10MB to 1GB. https://docs.trafficserver.apache.org/en/latest/admin-guide/performance/index.en.html?highlight=ssd#memory-allocation
2. 1MB to 1GB.

[2022-09-28 20:44] cmcfarlen commented on #9111
Reading the code I see that, unless the size is specified, the ram cache for each cache volume is set to 10x the directory length of the volume (in bytes).  Running an experiment, this worked out to about 1.2% of the total configured cache size.  Based on this, the 10MB per 1GB is closer to correct.  Since this is based on the cache size and not available RAM, I recommend you specify the ram cache

[2022-09-29 04:01] frostnotfall commented on #9111
# Cache directory is used as a memory resident structure
In my opinion, Disk cache directory has indexed in memory. As HDD space grows, so does memory usage.
So, for example,  how many memory the indexes are used  when for 1TB hard disk.

[2022-09-29 05:22] scw00 opened #9113 ""Targeted HTTP Cache Control“ specs supports"
https://httpwg.org/specs/rfc9213.html

[2022-09-29 23:50] bneradt opened #9115 "Improper HTTP/2 enforcement of a reduced session window size"
While adding test coverage for #9085, I noticed that we have issues handling multiplexed HTTP/2 DATA frames on the client side as we handle translating the transactions toward the origin. I forced the client to send DATA continuation frames by reducing the stream window to 10 bytes. The client (Proxy Verifier) multiplexes three transactions per this window. The client and ATS handle this fine. Tow

[2022-09-30 01:40] maskit commented on #9115
There are 4 TCP connections captured, and frame 57 and frame 61 are on different TCP connections.

0) Client to ATS (HTTP/2)
1) ATS to Origin (HTTP/1.1, which contains GET /zero-request and POST /first-request)
2) ATS to Origin (HTTP/1.1, which contains POST /second-request)
3) ATS to Origin (HTTP/1.1, which contains POST /third-request)

It seems like just none of the POST requests are completed

[2022-09-30 04:41] shukitchan commented on #9113
Before implementing this into core, i think we can already do this with header rewrite or lua plugin

[2022-09-30 07:07] scw00 commented on #9113
Great.

[2022-09-30 17:40] bneradt commented on #9115
Thank you @maskit for taking the time to double checking my observations. This is helpful.  I did not realize that the origin-side transactions were on separate connections.

So this issue is entirely different than my previous interpretation of things. Replaying the test traffic again and reading through the logs, it turns out that the problem isn't on the origin side at all. Rather the problem h

[2022-10-03 16:10] #8848 closed

[2022-10-04 10:25] jvgutierrez opened #9118 "open_read_retry_time not being honored in ATS 9.1.3"
While using the default configuration regarding Open Read Retry Timeout (and RWW disabled):
[code]
the expected behavior according the documentation available in https://docs.trafficserver.apache.org/admin-guide/configuration/cache-basics.en.html#open-read-retry-timeout:

But we're occasionally (p999) seeing that the cache read time goes up to 1 second:

![image](https://user-images.githubusercont

[2022-10-04 13:27] jvgutierrez commented on #9118
This could be potentially related to #8598

[2022-10-04 14:30] #9115 closed

[2022-10-04 23:36] bneradt opened #9120 "10-Dev: proxy.config.http.per_server.connection.max not returning with 503"
The per_server_connection_max.test.py is failing on CI for 10-Dev. This is a new test which was added on master and was recently merged into 10-Dev. It turns out that ATS is not replying with a 503 when the maximum number of connections are reached.

[2022-10-05 10:35] jvgutierrez commented on #9118
As pointed out by @zwoop on Slack, the 9 minutes periodicity is related to a `cache_dir_sync` operation. The undocumented configuration setting `proxy.config.cache.dir.sync_frequency` is set to its default value of 60 seconds but this cannot be honored because the operation takes 8 minutes so effectively a cache_dir_sync happens every 9 minutes as its being shown by debug logging:
[code]
We're usi

[2022-10-05 15:47] jvgutierrez opened #9124 "cache_dir_sync triggers an increase in cache read time on ATS 9.1.3"
Digging deeper on #9118 it seems like every time that a cache_dir_sync operation is performed cache read times are spiking up to 1 second.

the cache_dir_sync operation itself takes up to 8 minutes to sync ~2Gb of data:
[code]

The 8 minutes can be justified by the current values for SYNC_MAX_WRITE and SYNC_DELAY on https://github.com/apache/trafficserver/blob/master/iocore/cache/P_CacheDir.h#L55-

[2022-10-05 15:47] jvgutierrez commented on #9124
@SolidWallOfCode could you take a look to this one? :pray:

[2022-10-06 22:00] ezelkow1 opened #9128 "CRC code can be incorrect on 9.2 for IMS_MISS"
We have seen in production on some services a behavior change from 9.1 to 9.2.

We are seeing instances of a cache reporting a TCP_IMS_MISS, yet every other indication in the transaction log appears that it came out of cache:
`1664916002.027 chi=XXXXXX phn=XXXXX php=80 shn=- url=URL cqhm=GET cqhv=http/1.1 pssc=200 ttms=46 b=35332 sssc=000 sscl=0 cfsc=FIN pfsc=FIN crc=TCP_IMS_MISS phr=DIRECT pqsn=-

[2022-10-10 08:34] khrizt opened #9131 "Skip cache if cookie is present"
Hi,

I'm new to Apache Traffic Server and I'm reading all the documentation to see if I can use it in our platform. I've managed to install and configure Traffic Server but I have a couple of questions that I wasn't able to answer with the documentation.

The question is "Is there a way to avoid cache if there's a certain cookie present?".

My use case is I want to cache all the documents from our

[2022-10-10 09:36] jvgutierrez commented on #9124
The issue seems to be augmented by running only one NVMe drive per server, I've been able to mitigate this partitioning the cache in 5 volumes:
[code]

[2022-10-10 10:18] jvgutierrez commented on #9131
Yes. Current documentation [states](https://docs.trafficserver.apache.org/admin-guide/files/records.config.en.html#proxy-config-http-cache-http) that `proxy.config.http.cache.http` is overridable. This means that it can be changed on a per-request basis.
It could be done using a lua script with:
[code]
 ATS exposes the Cookies in lua via `ts.client_request.header['Cookies']`

It could be also done

[2022-10-10 10:46] khrizt commented on #9131
Wow, so detailed answer. Thanks a lot. I'll try this, but I have a couple questions left, sorry about that.

Do I need to enable Lua plugin? And if I need to enable it do I need to re-build the Traffic Server (I installed from ubuntu repositories).

And about the language, if I put the `Vary: Accept-Language` header it will store variations of the same page in different language, but how it will g

[2022-10-10 11:30] jvgutierrez commented on #9131
the lua plugin is a stable plugin and should be shipped with the ubuntu packages. If you don't wanna use Lua you can achieve the same with the header rewrite plugin, see its documentation here: https://docs.trafficserver.apache.org/admin-guide/plugins/header_rewrite.en.html

You can do it with a cookie, but I'd recommend extracting the language choice from the cookie to a custom header like X-Lang

[2022-10-10 13:20] khrizt commented on #9131
Ok, much appreciated @jvgutierrez Thanks a lot!!

[2022-10-10 13:20] #9131 closed

[2022-10-10 15:12] cmcfarlen commented on #9111
If you run traffic_server with the `-Tcache_init` argument, it will print some allocation info about space used for directory vs volume size:

[code]

[2022-10-10 23:30] #9120 closed

[2022-10-10 23:32] bryancall commented on #9118
@jvgutierrez Sounds like this issue is the same as #9124.  Can we close this issue and track it in #9124.

[2022-10-11 08:59] jvgutierrez commented on #9118
Sure! let's focus on #9124

[2022-10-11 08:59] #9118 closed

[2022-10-11 20:40] #9111 closed

[2022-10-13 03:50] frostnotfall commented on #9111
Post my test.
My settings：
12 HDD * 3TB = 36TB, close RamCache, the mem usage is 50.16GB.

(In addition, my machine has 12 HDD, every is 8TB，but I can‘t use all of them， because I just have 64GB memory)

[2022-10-13 23:06] #9093 closed

[2022-10-14 07:43] frostnotfall opened #9145 "Does ATS support SSD+HDD as hot/cold cache?"
Does ATS support SSD+HDD as hot/cold cache?
I read the whole documentation and it doesn't mention it, just a little configuration for SSD. However, before 6.0, SSD can be used as the middle layer. https://cwiki.apache.org/confluence/display/TS/SSDSupport

[2022-10-15 00:40] shinrich opened #9146 "tr-pass does not work with transparent mode"
It may not work in regular mode either, but I was testing with

CONFIG proxy.config.http.server_ports STRING 8443:ssl:tr-full:tr-pass

I was running 9.1.3, but I think this has been broken for a while and is likely a problem in master and 10-dev.

When sending http traffic to the ssl port, the client would get errors about the host not being set.

When sending non-http traffic over tls, the client

[2022-10-15 02:20] shinrich opened #9148 "H2 is not negotiated when transparent mode is enabled"
Observed this while testing.  HTTP/2 is not negotiated if the port is marked tr-full.

[2022-10-15 02:24] shinrich opened #9149 "Log field sstc is not accurate when port is transparent"
Observed this while testing traffic through a ssl port with tr-full.  Also configured to proxy.config.http.attach_server_session_to_client to 1, so the origin session is attached to the client session for reuse.  Based on the logs, the attached origin session is being reused, but in the access.log, the value of %<sstc> is always 1.

[2022-10-19 03:13] #9146 closed

[2022-10-20 04:07] 0x34d opened #9156 "Static build fail."
[code]

[code]

[2022-10-20 15:15] randall commented on #9156
See also #7353

[2022-10-20 19:51] #7220 closed

[2022-10-21 06:28] frostnotfall commented on #9145
Any advice please?

_While a more detailed discussion of storage stratification is covered in [Cache Partitioning](https://docs.trafficserver.apache.org/en/latest/admin-guide/performance/index.en.html#cache-partitioning) below, very briefly you may be able to realize gains in performance by separating more frequently accessed content onto faster disks (PCIe SSDs, for instance) while maintaining th

[2022-10-22 03:14] #9156 closed

[2022-10-22 09:19] 0x34d opened #9158 "coverage build fail"
[code]

[code]

[2022-10-22 10:17] 0x34d opened #9159 "oss-fuzz integration"
Hello, trafficserver team,

can you review the harness of `trafficserver` for `fuzzing` in oss-fuzz?

https://github.com/google/oss-fuzz/pull/8832

Regards Arjun.

[2022-10-24 19:24] mlibbey opened #9160 "Start initial ocsp stapling without blocking startup"
As of 9.1, when ATS starts and has ocsp stapling enabled, all stapling requests must finish before ATS will finish starting up. The requests can all fail, but, they need to be tried. Thus, seems like we should make the ocsp stapling requests not block startup -- start the fetches asynchronously and allow the rest of startup to happen while they are done in the background.

[2022-10-24 22:54] SolidWallOfCode commented on #9124
We could look at using a read/write lock for doing the synchronization to disk, but there aree some risks to that, primarily that if during a read a cache object is detected as bad, the directory is updated to delete the object. This might be acceptable, in that there is no loss if the update isn't written or the in-memory update can't cause a corruption race with the stripe directory copy. That w

[2022-10-24 22:56] cmcfarlen opened #9161 "Diags are not visible at startup (before reconfigure with records.config)"
I noticed that debug messages early in ATS startup are not visible.  It seems that the default config has all log destinations turned off.

[2022-10-24 23:10] SolidWallOfCode commented on #8998
The extra storage for each hit is expected. This is because

1. As far as ATS is concerned all of the cache storage is in use all the time. It is 100% full at all times because it is treated as a circular buffer.
2. Each cache object has a "first doc" which contains metadata for the object (and sometimes the object also, if it's small). However, nothing in the cache is ever updated. What appears t

[2022-10-25 02:19] bryancall commented on #9158
Here is a script I ran testing a coverage build on Fedora 36 and it works with master.  You can also take a look at our coverage script that we use in our CI system:  https://github.com/apache/trafficserver/blob/master/ci/coverage

[code]

[2022-10-25 02:57] bryancall commented on #9145
No, ATS doesn't have a way to do tiered support for the drives.  A few companies that use ATS have setup the cache as a hierarchy with a  tier of SSD servers backed by rotational drive servers.

[2022-10-25 03:29] frostnotfall commented on #9145
Thanks

[2022-10-25 03:30] #9145 closed

[2022-10-25 06:37] dboyzhong opened #9162 "ATS memory continuous increase caused by free list"
### ATS memory much larger than expected(how to sloved?)
## env
- CPU: 64 core
- memory :256G
- OS: CentOS
- ATS Version: 8.1.3
## ATS configuration
- ram_cache: 100G
## what happended
- memory cost upto 200G even ram_cache only configured 100G:
<img width="1412" alt="image" src="https://user-images.githubusercontent.com/8457200/197698392-cb0aeed4-6467-47ea-9323-70d5c876ad82.png">

## why?
- the f

[2022-10-25 06:56] 0x34d commented on #9158
Well, it's not using the clang compiler.

This code closes the shell and has a similar issue.

[code]

with GCC it works but with clang, it doesn't.

[2022-10-25 17:08] bryancall commented on #9158
I get the same error with clang (updated the script above).  I tried setting various flags and couldn't get it to compile.  Is there a reason you need to do code coverage with clang?

[2022-10-26 03:16] 0x34d commented on #9158
Need coverage for HTPP fuzzer in
https://github.com/google/oss-fuzz/pull/8832

I also try with some hacks it doesn't compile.
I do believe that `Cmake` can fix this.

[2022-10-26 08:26] baricsz commented on #8998
Thanks for the detailed explanation, much appreciated!

[2022-10-26 08:26] #8998 closed

[2022-10-26 16:04] bryancall commented on #9162
Have you tried turning off freelist.  This is how we are running ATS in production:
[code]

Documentation on the options: https://docs.trafficserver.apache.org/appendices/command-line/traffic_server.en.html#traffic-server

[2022-10-26 20:38] cmcfarlen commented on #9162
While `-f` will return memory allocated back to the OS, it will also greatly increase the number of malloc, free and (sometimes most importantly) madvise calls.  On a high transaction server, this can have an impact on performance.  If you run with the `-f` option, I recommend that you configure jemalloc or mimalloc as well as they have their own internal freelists that will return memory to the O

[2022-10-27 02:07] dboyzhong commented on #9162
thanks for your suggestion, i will try to turn off free list and using jemalloc to instead of free list

[2022-10-27 02:09] dboyzhong commented on #9162
i will configure jemalloc, thanks

[2022-10-27 02:10] #9162 closed

[2022-10-27 02:18] dboyzhong commented on #9162
the reclaimable-free-list has been introduced in ATS 4.0.x， then remove the feature in ATS 5.0.x， i want to know whether the "buddy allocation scheme" still be considered ？
<img width="1686" alt="image" src="https://user-images.githubusercontent.com/8457200/198175154-8b0d60dd-6986-4e22-b6ff-662a2b9d424a.png">

[2022-10-31 22:02] thedevopsmachine opened #9167 "TLS UserAgent hook support for Lua"
### Summary
The Lua module currently supports hooks for HTTP only, but doesn't support the [TLS UserAgent hooks ](https://docs.trafficserver.apache.org/en/latest/developer-guide/plugins/hooks-and-transactions/ssl-hooks.en.html#tls-hooks). I know nothing about C and very little about ATS's plugin model, so I have no idea what it would take to implement this, or if it's even possible with ATS's mode

[2022-10-31 22:09] shukitchan commented on #9167
I think it is doable but I just have a hard time designing the interface of the function for these hooks.
I can take a look at it some more and see. Or you can tell me a bit about what you expect the lua interface function to look like.

[2022-11-01 01:18] thedevopsmachine commented on #9167
The primary use case is to be able to fetch a certificate from another location (e.g. Redis), parse it, maybe store it in a cache, then tell ATS to use that certificate when establishing the TLS session. Maybe some functions like:
- ts.ssl.parse_server_certificate(certificatePemString, privateKeyPemString)
- ts.ssl.set_server_certificate(x509)

where the `parse_server_certificate` method returns t

[2022-11-02 05:23] masaori335 opened #9173 "Replace ink_atomic with std::atomic"
Last few days, I've been running ThreadSanitizer. Some reports has the same pattern of data race, atomic write v.s. normal read.

The ink_atomic operations are used for writing variables but not for reading variables. It looks like this happens to almost all of the variables that are touched by ink_atomic operations. We need to change these variables with std::atomic to make reading safe.

Also, r

[2022-11-02 23:45] bryancall commented on #9095
Are you seeing any error messages?  Can you post your logging.yaml file and records.config?

[2022-11-02 23:46] bryancall commented on #9081
If this is still an issue please reopen.

[2022-11-02 23:46] #9081 closed

[2022-11-02 23:48] bryancall commented on #9038
@amoghyermalkar123 We don't have an API to know when an object is removed from cache, when the cache wraps.

[2022-11-02 23:59] bryancall commented on #8955
@Tristan971 Is it possible for you to make a Docker container, so we can reproduce the issue?  We haven't been able to reproduce the issue ourselves.

[2022-11-03 00:53] pokerman79 opened #9176 "ATS with certifier"
Hi,

I would appreciate any assistance to configure ATS (9.1.3) as forwarding proxy with certifier

Configured certifier in plugins and got message that "Dynamic cert generation is enabled".

plugin is set to receive TS_SSL_CERT_HOOK
but whatever I tried I'm unable to see this hook being triggered

some of the config options that would matter:
CONFIG proxy.config.http.server_ports STRING 8080
CONF

[2022-11-04 13:05] mrdg opened #9179 "Canceled streams are not cleaned up in time"
We run a proxy server in front of ATS and noticed this problem when the number of streams on a connections gets close to the maximum, and some streams are canceled by the proxy (generally because the original request was canceled).

I posted some test code and logs of a reproduction case in [this gist](https://gist.github.com/mrdg/240bb61a0df2b17b8cc9148c4d540ed9). I tested this on master with `pr

[2022-11-04 21:26] shinrich commented on #9176
I don't think certifier will trigger on the connect method.  The actual TLS handshake will be between origin server and client, not client and proxy.  You need the TLS connection to terminate on the proxy for the hooks to go off to engage certifier.

We are using it in transparent mode with GET/POST, etc.  The traffic routes through our gateway, and we use iptables to mark and TPROXY the traffic i

[2022-11-06 11:25] pokerman79 commented on #9176
I'm trying to change squid with ATS with minimal changes to our network.
All our clients have proxy already configured, and this is with squid done seamlessly via SSL bump

Goal is that when CONNECT method comes we route incoming CONNECT request to ssl port on traffic server

as per https://docs.trafficserver.apache.org/admin-guide/plugins/certifier.en.html

to be exact we want as per image to "Ro

[2022-11-07 04:51] #9158 closed

[2022-11-08 00:11] SolidWallOfCode commented on #9173
We should use `std::atomic` generally, because it's standard. The current atomic support dates from before any of this was standard.

[2022-11-08 00:44] SolidWallOfCode commented on #9176
Yes, documentation is always a problem. I know this has been used, I'll see if I can take a look.

[2022-11-08 00:50] bneradt commented on #9173
Just to record this: in discussing this in our ASF PR/issue meeting, we suggest that this be addressed piecemeal as patches are done involving the old `ink_atomic` code.

[2022-11-08 02:08] vmamidi commented on #9160
fixed by PR #9178

[2022-11-08 02:08] #9160 closed

[2022-11-08 13:05] pokerman79 commented on #9176
@bneradt  issue that I'm seeing is that we are unable to do a "self route" so certifier can even be triggered

parents.conf is not being used at all, we are seeing this in log "request not cacheable, so bypass parent"
request in question is CONNECT

every attempt to use localhost loop would return 503
mainly due to
proxy.process.host_status.localhost HOST_STATUS_DOWN,ACTIVE:UP:0:0,LOCAL:UP:0:0,MAN

[2022-11-08 16:00] #9161 closed

[2022-11-10 00:01] shukitchan commented on #9167
After some thoughts, here are my notes

1) To support TLS User agent hook, I need to add support in lua plugin for these hooks - https://docs.trafficserver.apache.org/en/latest/developer-guide/plugins/hooks-and-transactions/ssl-hooks.en.html

2) inside the lua handler function, you can do the following ...
a) retrieve the ssl object
b) set a connection to blind tunnel
c) search for ssl context bas

[2022-11-10 00:14] shukitchan commented on #8748
It is because we simply consume the data - https://github.com/apache/trafficserver/blob/master/plugins/lua/ts_lua_http_intercept.c#L284

Unlike in C++ Plugin, the data is consumed and parsed - https://github.com/apache/trafficserver/blob/master/src/tscpp/api/InterceptPlugin.cc#L197

To support this, we probably need to re-arrange the sequence of things that should happened. The body (and perhaps h

[2022-11-10 00:17] shukitchan commented on #8746
This should hopefully be simple and similar to https://github.com/apache/trafficserver/blob/master/example/plugins/c-api/request_buffer/request_buffer.c

The lua plugin will support the hook and the corresponding handler lua function can call a pre-defined function to retrieve the body. Inside the lua function, you can save the string in "ctx" and thus it can be used in other hook handler function

[2022-11-10 00:50] shukitchan opened #9188 "LGTM is going to be EOL by end of the year"
https://github.blog/2022-08-15-the-next-step-for-lgtm-com-github-code-scanning/

we can probably sunset https://github.com/apache/trafficserver/blob/master/.lgtm.yml as well as some code comments related to lgtm ?

Also should we be migrating to codeQL on github?

[2022-11-15 15:20] #8514 closed

[2022-11-15 20:21] #9188 closed

[2022-11-16 20:37] serrislew commented on #8759
Resolved from #8873

[2022-11-16 20:37] #8759 closed

[2022-11-25 07:22] mst opened #9220 "access_control plugin with opaque tokens + client JWT assertion"
My use case is almost solved by the `access_control` plugin, but instead of having a JWT created by an Application/Origin, I have a client JWT assertion that contains e.g. `sub`. The Client only sends the JWT during authn and receives an opaque Access Token.

The flow is as follows (see also [RFC7521](https://www.rfc-editor.org/rfc/rfc7521), [RFC7523](https://www.rfc-editor.org/rfc/rfc7523)):
1. c

[2022-11-29 00:47] shukitchan commented on #9159
It does look like the tests reveal some problems with Esi parser code. I will take a look.

[2022-11-29 18:15] maskit commented on #9179
There are two issues.
- ATS starts processing 6th HEADERS frame before it fully process the 1st RST_STREAM frame because actual stream deletion is done asynchronously and the stream count is not updated until the actual deletion. https://github.com/apache/trafficserver/blob/b9b6ee19e1b32ce12bfb5f2f9495e290e5bf9d41/proxy/http2/Http2Stream.cc#L519-L522
- Header blocks are not processed when the stre

[2022-11-30 04:44] vgrme opened #9224 "Unable to get the query-string as well as http header details (specific-fields or consolidated) in ATS-Proxy (Apache-Traffic-Server ) access logs"
Hi @jeredfloyd

We got the ATS installed on RHEL 8.x,  We have not been able to get the query-string as well as http header details (specific-fields or consolidated) in ATS-Proxy (Apache-Traffic-Server ) access logs although we've adhered to the documentation.

Specifically, while some of the logging configuration works as documented, we have not been able to log -

query-string
header-entry / hea