[2021-07-01 16:51] bneradt commented on #8023
This will only fail the master autest Jenkins runs, not the PR autest runs. For our PR autest runs, we set our PATH such that the openssl-quic version of openssl is run:

[code]

Because of this, the PR runs use a version of openssl that supports `-alpn` and the test runs fine there. The master autest runs, however, run the system's openssl version, which is too old to support `-alpn`.

[2021-07-01 17:12] bneradt opened #8027 "The clang ubuntu build fails src/tscore/Regex.cc: -Wmissing-braces"
https://ci.trafficserver.apache.org/job/ubuntu_16_04-9.0.x/compiler=clang,label=ubuntu_16_04,type=release/256/console
[code]

[2021-07-01 18:16] #4670 closed

[2021-07-01 18:16] #8024 closed

[2021-07-01 18:37] #8023 closed

[2021-07-01 21:31] shinrich commented on #3931
I verified that you no longer have to touch the ssl_multicert.config file if a referenced file is updated.  Getting ready to add an autest to exercise that case.  I thought it went in with my recent PR #6609, but looking at @zizhong's commit, all my PR did was rearrange what he had already added, so the fix is likely in whatever versions include   https://github.com/apache/trafficserver/commit/4d2

[2021-07-01 21:31] #3931 closed

[2021-07-01 22:56] masaori335 commented on #7581
@ezelkow1 Another candidate for 8.1 backports ( #5952 and #6686 )

[2021-07-02 15:17] traeak commented on #7996
This looks to be a bug if the cache_range_requests plugin is used as a global plugin.  When used as remap rule plugins the configuration does work.

[2021-07-06 00:18] maskit opened #8044 "Http2Stream may not be used across threads"
The code below implies Http2Stream's event handler can be called from multiple threads, but I'm not sure if it really happens.
https://github.com/apache/trafficserver/blob/aa1d73b07fdb43f7e77f1fb72630f91a7086c366/proxy/http2/Http2Stream.cc#L143-L149

@masaori335 says switching threads is necessary for global server session pool, but we have `UnixNetVConnection::migrateToCurrentThread` and I think

[2021-07-06 16:53] elsloo opened #8046 "Rename proxy.config.http.default_buffer_size to default_buffer_index"
In order to be more consistent with our other index-based buffer size variables, the `proxy.config.http.default_buffer_size` parameter should be renamed to `proxy.config.http.default_buffer_index` or similar; the trailing `_index` being the most important detail.

[2021-07-07 16:10] ezelkow1 opened #8050 "Add PS debug to nexthop during mark up/down"
In relation to #8049 , we should add similar debug to the new nexthop strategies during parent mark down and up

[2021-07-09 16:11] rob05c opened #8053 "Add URI Signing Docs"
The URI Signing plugin has no docs. We should fix that.

It's still in /experimental, but URI Signing is the new version that's being standardized by the IETF. URL Sig, which has docs, is never going to be standardized. We have new users using URL Sig because they don't know better, adding URI Signing docs will help that.

We should also add a link in the URL Sig docs pointing to the URI Signing d

[2021-07-09 16:14] rob05c commented on #8053
https://github.com/apache/trafficserver/blob/master/plugins/experimental/uri_signing/README.md is pretty good
We probably just need to translate that to rst.

[2021-07-12 15:47] #8053 closed

[2021-07-12 16:08] bryancall commented on #7903
@c-taylor Also mention we should have an option for setting SO_INCOMING_CPU

[2021-07-12 18:45] bneradt opened #8057 "cache-basics.en.rst:670:c:data reference target not found: TS_HTTP_READ_RESPONSE_HDR_HOOK"
The latest doc build fails on master:
https://ci.trafficserver.apache.org/job/docs-master/967/console

[code]

[2021-07-12 19:27] bneradt commented on #8057
I re-kicked off docs-master and the latest build passed:
https://ci.trafficserver.apache.org/job/docs-master/968/

I'll close this ticket for now, but I find this very curious. Comparing build 967 and 968 looks like they should have built against the same commit. I wonder whether we need to do a `make clean` between these builds? I'll keep an eye out for failures like this coming up again.

[2021-07-12 19:27] #8057 closed

[2021-07-12 23:34] shinrich commented on #8044
Right, the switch threads should not happen. Could maybe change this check to an assert.

The migration from the global pool should only happen for Http1.x.  And that migration should be done before the session is assigned to the state machine

[2021-07-12 23:40] bryancall commented on #8027
We should remove Ubuntu 16.04 from the 9.0.x, 9.1.x, and master builds.  I sent an email about this to the dev@ mailing list.

[2021-07-12 23:44] bryancall commented on #8017
@zwoop Can you please take a look at this.

[2021-07-14 13:03] #7996 closed

[2021-07-14 17:31] ywkaras commented on #7824
It seems like we should have seen this note in diags.log:

https://github.com/apache/trafficserver/blob/8a948afc6caafdbd4d28e63b377610f66ee8ea5b/proxy/http/remap/NextHopSelectionStrategy.cc#L76

Seems like we should either default the scheme to NH_SCHEME_HTTP, or call Emergency() rather than Note(), so TS doesn't continue running in unpredictable ways.

[2021-07-14 17:58] traeak opened #8065 "url_sig plugin pristine plugin arg should be in the config file"
Since the url_sig plugin uses a configuration file the pristine plugin argument should likely be moved into the config file as an option.

[2021-07-14 19:10] ywkaras commented on #7895
Jason do you maybe just need to download icc from the "main" branch instead of the "cursed" branch?

https://godbolt.org/z/shG9rx3jf

[2021-07-14 23:41] #7890 closed

[2021-07-16 18:16] #4006 closed

[2021-07-17 02:12] taojishou opened #8072 "Curr conn.."
When the number of curr conn exceeds 8.5k, it is unstable .
Can high concurrency configuration parameters be adjusted?

[2021-07-19 14:18] nekomachi-touge commented on #1921
I’m considering working on this.
I noticed `ats_scoped_str` is almost like `std::string`.
What is the intention for this class?

[2021-07-19 15:37] shinrich opened #8079 "Assert due to active timeout on server session approaching SessionManager"
In our environment, we started seeing crashes with this stack.

[code]

The end of the HttpSM history contains the following
[code]

You see that the tunnel was set up.  The consumer got a write complete, the producer got a read complete and tunnel done was sent to the final handler.  Then inactivity timeout (106) is sent to the default handler.  In our environment the outbound active timeout is s

[2021-07-19 15:42] shinrich opened #8081 "Transform tunnels stall when no bytes are sent"
While researching the assert described in issue #8079, we noticed that a WriteTransform plugin applied to a 0 length body will stall.  The logic to fully set up the WriteTransform tunnel requires receiving a WRITE_READY event.  But in the case of a 0 length body, the tunnel will go directly into READ_COMPLETE, WRITE_COMPLETE, and TUNNEL_PRECOMPLETE.  No do_io_write or do_io_read operations will be

[2021-07-19 15:51] SolidWallOfCode commented on #8081
This is a place where the convention of using zero length IO operation to indicate "disabled" vs. having an explicit disable is a problem. Presumably it will be necessary to send the `WRITE_READY` (or possibly `WRITE_COMPLETE`) explicitly but it will also be necessary to wait for any transforms rather than proceeding on. Another side effect of this is if the transforms adds content this is not ref

[2021-07-19 21:28] elsloo opened #8087 "Buffer sizes and watermarks are not honored within the PluginVC interface used by intercept plugins"
Currently the PluginVC interface used by intercept plugins via the TS API have no ability to influence the size of IO buffers or watermarks used to control the flow of data. This can lead to performance problems in some use cases due to the number of read and write operations performed between the PluginVC due to the small default buffer size (32KB) and lack of watermark setting (default is zero).

[2021-07-19 23:51] bryancall commented on #8003
@ywkaras wanted to take a look at this

[2021-07-19 23:55] shinrich commented on #8072
What version is this running?  How is it unstable?  Does traffic_server crash? Is the current connection metric unreliable?

[2021-07-20 00:00] rob05c commented on #8065
I'll note URL Sig is the old format which is never going to be standardized. URI Signing is the new protocol which is likely to be standard, which everyone should be using if possible.

But, I don't object to this, if someone wants to put in the time.

[2021-07-20 01:25] ywkaras commented on #8003
If you're doing a dynamic cast of a pointer, and checking that the result is not zero with an assert, you can use this instead:
https://github.com/apache/trafficserver/blob/ea5be6f04c2a087f0581f4cb2c67f693c7ff71f6/include/tscore/ink_assert.h#L72

If you're doing a dynamic cast of a reference, and not catching any exception it might throw, you can use this instead:
https://github.com/apache/traffic

[2021-07-20 07:22] taojishou commented on #8072
v9.0.2   curr connexceeds 8.5k ， half the bandwidth
![image](https://user-images.githubusercontent.com/20332592/126278978-594125b1-970f-404c-a310-80e382f27d8f.png)

[2021-07-20 07:24] taojishou commented on #8072
traffic_server no crash, but link speed will become very slow

[2021-07-20 07:26] taojishou commented on #8072
I doubt the TCP configuration of the system, but I have checked them all   bosh  CentOS 7.6 and CentOS 8.0 have the same problem

[2021-07-20 14:49] shinrich commented on #8072
Can you share your current records.config settings?  I.e. output of "traffic_ctl config match proxy.config"?

What are you traffic characteristics?  Smaller responses or larger responses?  Only GET traffic or a mix of GET and POST?  I assume all TLS.  Are you using HTTP/2?

There is also tuning at the OS level with the sys.net settings.  @bryancall or @zwoop can point you to guidance there if you

[2021-07-20 15:38] #7498 closed

[2021-07-20 15:38] #7509 closed

[2021-07-21 00:52] ywkaras opened #8104 "TS API call was added in 9.1 without updating documentation."
https://github.com/apache/trafficserver/pull/7073

[2021-07-21 06:16] masaori335 opened #8105 "dynamic_cast error 2: One or more of the following type_info's has hidden visibility..."
The below message shows up when I run traffic_server on lldb and request to `/_stats` for stats-over-http plugin.

[code]

- Conditions: ATS master (cfe034dc86fa240816452c2d0a1437a7dbea5c8b), llvm 12.0.1, maxOS 11.4
- `git bisect` says f839a74aadd3f4956d133be7fefbe4194b3be8bb is the first bad commit
- It looks like this message comes from `libc++abi`
https://github.com/llvm-mirror/libcxxabi/blob/c

[2021-07-22 09:06] taojishou commented on #8072
CONFIG proxy.config.exec_thread.autoconfig INT 1
CONFIG proxy.config.exec_thread.autoconfig.scale FLOAT 1.0
CONFIG proxy.config.exec_thread.limit INT 2
CONFIG proxy.config.accept_threads INT 1
CONFIG proxy.config.task_threads INT 2
CONFIG proxy.config.cache.threads_per_disk INT 8
CONFIG proxy.config.exec_thread.affinity INT 1
#    https://docs.trafficserver.apache.org/records.config#proxy.config.h

[2021-07-22 17:38] elsloo opened #8161 "Revalidation on range request leads to full object being served"
When a range request comes into ATS and the underlying object must be revalidated or is expired, it appears that ATS serves the entire object to the client and ignores the requested range in the `Range` header. While range requests are not required to be supported, in this case they are supported in ATS, and the difference in behavior can lead to unexpected results when the client sees the 200 and

[2021-07-22 19:59] shinrich opened #8163 "Over-eager HTTP/2 stream error rate threshold"
While testing Http/2 to origin with another ATS box acting as the origin, the setting proxy.config.http2.stream_error_rate_threshold is causing problems.  The test scenario is below.  I am running HTTP/2 to origin code on ATS1.  ATS2 is running 9.0 with proxy.config.http2.stream_error_rate_threshold set to the default of 0.1

[code]

In my tests, I see that one of the origins directed to ATS2 has

[2021-07-23 07:47] flymoondust opened #8171 "Q: how to open debug mode to build"
i want to open the debug mode to see the full build messages, but i don't find the way.
my build message:
CX   ***.o
CXX  ***.lo
AR   ***.a
CXXLD  ***.la

my compile command:
autoreconf -vfi
./configure
make

[2021-07-23 10:30] brbzull0 commented on #8171
You can use VERBOSE option to run the make `V=1 make`

[2021-07-23 16:11] randall commented on #8171
or configure with `--disable-silent-rules` set.

[2021-07-23 17:47] ezelkow1 commented on #7669
So some feedback from us now that we've started deploying this plugin. Yes doing a copy is an issue, but doing the `mv` should be atomic. In my testing while using the maxmind plugin, doing a move of a temporary file on top of the existing one allowed ATS to continue using its old copy until a reload is issued and the plugin is reloaded and picks up the new file from disk

Thats at least to how it

[2021-07-24 07:30] taojishou commented on #8072
do you have a system  net optimization scheme?

[2021-07-24 08:48] flymoondust commented on #8171
it works,thanks.
Command as below:
make V=1

[2021-07-24 19:35] #8171 closed

[2021-07-26 08:43] maskit commented on #8163
I think this is due to lack of half-closed(local) state and also #5675.

I agree on excluding common error cases from error rate calculation. However, #8166 looks fragile since it relies on existence of error message, and the error without a message in rcv_data_frame (i.e. receiving DATA on a non-open stream) may not be always safe to exclude because the function can be called on any stream state.

[2021-07-26 09:35] Bharat786 opened #8174 "Monitoring traffic server"
I have deployed traffic server and wants to monitor it.
But I cant find any exporter for traffic server, can someone help how I can monitor?

[2021-07-26 09:35] flymoondust opened #8175 "Binary Equivalence Problem"
Recently, i encounter a Binary Equivalence problem.
I already make some influnces,such as timestamp, the same through some techniques.
Same mathine ,same docker image, occasionally compile result different, and only this so, the others are the same!!!
can anyone give me some help?
[libtsconfig.so.8.1.zip](https://github.com/apache/trafficserver/files/6877132/libtsconfig.so.8.1.zip)

[2021-07-26 09:41] jvgutierrez commented on #8174
We're successfully using in production https://github.com/gdvalle/trafficserver_exporter via the debian version packaged for buster: https://packages.debian.org/sid/main/prometheus-trafficserver-exporter

[2021-07-26 10:16] Bharat786 commented on #8174
Thanks for the help,
But when i am starting the exporter, it is giving metrics at port 9122 but its logs are also showing

[code]

and when I am specifying the pid file while starting the exporter like
./prometheus-trafficserver-exporter -vv --endpoint=http://ip/_stats --pidfile /usr/local/var/trafficserver/server.lock

it is showing this error

[code]

[2021-07-26 13:53] alemagvs opened #8176 "Stats over HTTP not blocked by remap"
Hi!
I'm running ATS 9.0.2 in docker built from source and while trying to setup stats_over_http plugin and blocking the calls in remap.config I ran into some problems where it just wouldn't block it.
I set it up as described with plugin.config:
`stats_over_http.so`
and it works. Then to protect my resource I followed the instructions at https://docs.trafficserver.apache.org/en/9.0.x/admin-guide/mo

[2021-07-26 23:34] traeak commented on #8065
Pr addressing this was merged into master.

[2021-07-26 23:34] #8065 closed

[2021-07-26 23:47] rob05c commented on #8174
There are a lot of different things you can monitor, I'm not entirely clear what you want to monitor here.

If you want to monitor system stats (like /proc/net/dev and /proc/loadavg), and/or remap rule statistics, the `stats_over_http` plugin serves those over HTTP:

https://docs.trafficserver.apache.org/en/latest/admin-guide/plugins/stats_over_http.en.html

Further, the Apache Traffic Control (AT

[2021-07-26 23:52] SolidWallOfCode commented on #8161
The problem here is for a cached range the internals can do the fast range check and set up the CacheVC to fetch only the relevant fragments from disk. Therefore the producer streams only those fragments. If the object is revalidated then the producer stream is the entire object and there's no good way (currently) to impose the range view on that stream.

[2021-07-26 23:54] bryancall commented on #8104
@ezelkow1 will do it

[2021-07-26 23:58] bryancall commented on #4634
Sounds like we should use proxy.config.net.poll_timeout

[2021-07-27 03:33] flymoondust commented on #8175
Now i reproduce the problem by accident,i find TsConfigSyntax.o is the only difference to make libtsconfig.so.And the difference is odd.
i see the difference in Hexadecimal mode and find one doesn't include stdint.h. That's odd because why same code can cause different result?

[TsConfigSyntax.zip](https://github.com/apache/trafficserver/files/6882489/TsConfigSyntax.zip)

[2021-07-27 06:43] flymoondust commented on #8175
add some compile log:
libtool: link: c++  -fPIC -DPIC -shared -nostdlib /usr/lib/gcc/x86_64-Huawei-linux/7.3.0/../../../../lib64/crti.o /usr/lib/gcc/x86_64-Huawei-linux/7.3.0/crtbeginS.o  .libs/Errata.o .libs/TsBuilder.o .libs/TsErrataUtil.o .libs/TsValue.o .libs/TsConfigGrammar.o .libs/TsConfigSyntax.o   -L/opt/3rd/ATS/openssl-1.1.1c/lib -L/opt/3rd/ATS/zlib-1.2.11/lib -L/opt/3rd/ATS/pcre-8.44/lib

[2021-07-27 16:59] randall commented on #8175
What happens with the 9.0.x branch? TsConfigSyntax.cc has been removed in newer versions of ATS.

[2021-07-27 17:47] vmamidi commented on #8161
Serris Lew is going to start working on this. I have assigned to myself as i can't assign it to her.

[2021-07-28 03:16] flymoondust commented on #8175
Now my software is an old version, which'll not update any more, only fix bugs.

[2021-07-28 06:37] flymoondust commented on #8175
i want to know the reason which cause the difference,and accept some patch to fix this.
Now i don't find the recurrence condition of the problem, which occure occasionally，so this makes me very frustrated.

[2021-07-28 19:00] shinrich opened #8183 "Should rework frame_handlers table in Http2ConnectionState to reference methods instead of functions"
This is how the handler dispatch is handled in HttpSM::main_handler and in the handleEvent function for Continuations.

This way the rcv_* methods in Http2Connection could be methods instead of free functions, and we wouldn't have to pass the Http2ConnectionState object in as the first argument.  More C++ consistent.  And the rcv_* methods could then access private data about the Http2ConnectionSt

[2021-07-29 15:19] VibhorGupta1991 opened #8185 "escalate plugin not working as expected when transforming response through lua"
Hi Team,

I have been facing a weird issue on my traffic server running on version: 9.0.2

My setup has lua enabled and I am transforming the response using the following code

function modify_response(data,eos)
   ts.debug("modifying response") //this never gets printed in the logs
   return data,eos
end

function do_remap()
   ts.hook(TS_LUA_RESPONSE_TRANSFORM, modify_response)
   return 0
end

[2021-07-30 19:14] #8079 closed

[2021-07-30 22:29] rob05c opened #8192 "ATS Should Fail to Start if sni.yaml Fails to Load"
Starting ATS with a malformed `sni.yaml` in ATS 9.1 results in:

[code]

But ATS still starts, just without loading or applying anything in `sni.yaml`.

This can be a security issue. If a user has records.config configured to allow everything, and uses `sni.yaml` to block or allow each FQDN, this will result in everything being allowed. And a user could easily miss the above log message.

It sound

[2021-07-30 22:30] rob05c commented on #8192
@shinrich ^

[2021-07-30 22:57] #8104 closed

[2021-08-01 10:11] shukitchan commented on #8185
Not too sure what's wrong. Will give it a try this week.

Meanwhile, are there any messages in diags.log/traffic.out/error.log ?

[2021-08-02 15:07] abhisheksurve45 opened #8193 "Error accessing disk (READ opcode=1) while using regex operations"
## Issue Report

#### Describe the issue

Hi team,

We have installed Traffic Server from the source code and have been trying to resolve the regex operation failure issue that we are facing.

[code]

This happens only for regex operations via the cache inspector / cURL, however the single lookup, delete and invalidate work as expected. After 5 successive failures, it marks the disk inaccessible a

[2021-08-02 23:37] bryancall commented on #4830
@nealef Do you want to submit a PR for this?

[2021-08-02 23:41] #4854 closed

[2021-08-02 23:45] shinrich commented on #4861
Given the great progress of allocator libraries (tcmalloc, jemalloc, mimalloc), we would probably be better served by using one of those rather than making our internal allocators smarter.

[2021-08-02 23:45] #4861 closed

[2021-08-02 23:49] bryancall commented on #4920
This has been fixed with the cache fill plugin by @vmamidi

[2021-08-02 23:49] #4920 closed

[2021-08-02 23:52] randall commented on #4920
See #7470

[2021-08-02 23:54] bryancall commented on #4978
@1a1a11a Are you still having problems with this?  We have multiple tests in our tree and plugins that use this API.  Please reopen if it is still an issue.

[2021-08-02 23:54] #4978 closed

[2021-08-02 23:55] #4983 closed

[2021-08-02 23:57] SolidWallOfCode commented on #4985
Yes, that is correct. When the current user agent uses a different upstream connection, the private one will be marked for the server pool, but the "private" marking will prevent it from actually being added and therefore will never be used by other user agents.

[2021-08-02 23:57] #4985 closed

[2021-08-02 23:57] bryancall commented on #5023
We don't have an option in ATS to do this.  You could write a plugin to do this.

[2021-08-02 23:57] #5023 closed

[2021-08-03 00:03] rob05c commented on #5028
ATS doesn't currently have this feature. You could write a plugin to do it.

But also, Client Certificates are a better way to do this, if you can. ATS does fully support Client Certificates / TLS Mutual Auth.
See
https://www.cloudflare.com/learning/access-management/what-is-mutual-tls/
https://docs.trafficserver.apache.org/en/9.0.x/admin-guide/files/sni.yaml.en.html
https://docs.trafficserver.apa

[2021-08-03 00:03] #5028 closed

[2021-08-03 00:23] shinrich opened #8196 "Format codes for url log fields are confusing"
@maskit brought this up for PR #8015 which addresses issue #4684.  The format codes start start with c, but most/all of them really are logging information about the proxy request url.

For the PR @maskit suggests the following which I agree with.

Log field names for content length is very clear. We should have followed this manner.

cqcl | Client Request | Client request content length, in bytes

[2021-08-03 00:24] #4684 closed

[2021-08-03 00:30] maskit commented on #4823
This is still a valid issue.

[code]

Also, maybe I should file another issue for this but I realized that this plugin can't be compiled with BoringSSL, and `EVP_PKEY_assign_RSA` will be deprecated on OpenSSL 3.0.
[code]

[2021-08-03 04:18] masaori335 opened #8198 "clang-analyzer: use-after-free on ~MutexTryLock"
- clang version 11.1.0
- Report: https://ci.trafficserver.apache.org/clang-analyzer/github/8197/2021-08-02-201641-5958-1/

# Timeline

- clang-analyzer reported the issue on the master branch
- `#7596` removed the `UnixNetVConnection::startEvent` function to make it happy
- but it made a crash, `#8184` tried to revert the commit with a fix
- clang-analyzer gave a green light on `#8184` and we merg

[2021-08-03 05:08] masaori335 commented on #8198
hmm, I might be missing something, but my local clang-12 doesn't report this issue
[code]

[2021-08-03 05:18] masaori335 commented on #8198
neither with 11.1.0_2
[code]

[2021-08-03 06:53] masaori335 commented on #8198
The last resort is
[code]
https://clang-analyzer.llvm.org/faq.html#exclude_code

[2021-08-03 18:53] shinrich opened #8199 "Should have separate values for stream and session windows in HTTP/2"
Noticed this while debugging HTTP/2 to origin.  Traffic Server provides proxy.config.http2.initial_window_size_in to change the initial window size from the default of 65536.  However, this value is used for both the stream window and the session window.  So any single stream can overrun the shared session window.

Looking at window values from our clients, it seems that many clients will have a h

[2021-08-03 19:03] VibhorGupta1991 commented on #8185
Hey,

Nothing in the diags.log but I could see the following in access logs for a single request from the browser.

172.16.211.80 - - [03/Aug/2021:18:52:45 -0000] "GET http://<origin>/<path>?test&ss&snkss&ss HTTP/1.1" 500 0 500 0 0 0 878 0 979 169 0 DIRECT FIN FIN TCP_MISS_X_REDIRECT
172.16.211.80 - - [03/Aug/2021:18:52:45 -0000] "GET http://<failover_origin>/<path>?test&ss&snkss&ss HTTP/1.1" 000

[2021-08-03 19:14] shinrich opened #8200 "Count of concurrent connections diverges between ATS H2 client and ATS H2 server"
This is an issue I saw while debugging the HTTP/2 to origin branch between two ATS servers.  But the issue could in theory be seen between another busy H2 client and ATS acting as the H2 server.

For ATS, Http2ConnectionState has the client_streams_in_count to track how many streams the session has active.  It checks this value against the the session's max_concurrent_stream setting to make sure c

[2021-08-04 00:33] masaori335 commented on #8198
I got repro with llvm-11.1.0 on my mac, I was missing to set `ccc-analyzer ccc-analyzer` and `c++-analyzer ccc-analyzer` as compiler.
[code]

[2021-08-04 02:27] maskit commented on #8199
Having higher session window size than stream window size means that you can't fully utilize the connection if you have just one stream. I think that's the reason why default session window size and default stream window size have the same size. When you have multiple streams on a session, the session window size should be shared equally (or fairly) by the streams. I think just increasing `initial

[2021-08-04 02:47] masaori335 commented on #8198
As @SolidWallOfCode pointed out somewhere, it looks like the clang-analyzer is confused by `void UnixNetVConnection::free(EThread *)` and `void std::free(void *)`. If I changed the name of the function or expand the code (like inline), the report is gone.

[2021-08-04 05:38] masaori335 commented on #8198
Also, we need to check how the ci job merges PRs.

[2021-08-04 14:49] #8087 closed

[2021-08-04 22:29] masaori335 commented on #8198
#8209 fixed the report.

[2021-08-04 22:29] #8198 closed

[2021-08-05 08:17] shukitchan commented on #8185
I suspect that the work done by escalate plugin is making the transform event to not come through. After all, the transform is set up for the original response , which is now abandoned. And with the transform not getting run, the original continuation cannot resume as well. Thus resulting in error. Perhaps we need to register the transform only if we know we are not needing escalate to do the work

[2021-08-05 16:27] #5188 closed

[2021-08-06 08:19] stackexpress-jawed opened #8216 "The Prefetch Plugin is not working"
I am using Prefetch Plugin as per this doc - https://docs.trafficserver.apache.org/en/9.0.x/admin-guide/plugins/prefetch.en.html

But It’ not prefetching the objects.
Prefetch Pattern  - `--fetch-path-pattern=/(.*-)(\d+)(.*)/$1{$2+1}$3/`

Prefetch Plugin Logs (confirms that plugin is loaded successfully)
[code]

Logs when accessing contents - `http://prefetch.cache.<mydomain>.com/texts/demo-1.txt`

[2021-08-06 13:49] dragon512 opened #8219 "Configuration loading of file or plugins need to be able to handle a set of paths"
To help with better docker/container setups. It would help a lot if trafficserver can load configuration files and plugins from more than one directory.

Currently plugins can be worked around via defining plugin.cfg to load from absolute paths. However this has to set as configuration files are a all or nothing setup. It would add great value to allow a image to define a set of default configs, w

[2021-08-09 11:08] Bharat786 opened #8222 "Error using lua plugin lpeg.so with trafficserver."
I build trafficserver version 9.0.2 from the source code and since luajit (LuaJIT 2.1.0-beta3) was installed, it was able to generate tslua.so plugin and then i installed lpeg using luarocks, but when i ran trafficserver it is showing this error :

[code]

Dont know what went wrong.can anyone help with this.

[2021-08-09 16:38] shukitchan commented on #8222
That should be because the lpeg.so is compiled to expect the lua related symbols in the executing context. In a normal lua program, those should be expected to be present. In ATS, they are not and you will need to compile your shared object to require a dynamic link to the luajit library.

You can check out a similar problem here - https://github.com/apache/trafficserver/issues/5158

[2021-08-09 16:38] #8222 closed

[2021-08-09 23:39] ywkaras commented on #8193
Have you seen this issue running on bare metal (no container) as well?

[2021-08-09 23:45] #5175 closed

[2021-08-09 23:49] bryancall commented on #5179
@rob05c is going to test to see if this is an issue in our current release

[2021-08-09 23:50] #5196 closed

[2021-08-09 23:56] rob05c commented on #5250
It looks like hwloc added FreeBSD NUMA support in March 2020:
https://github.com/open-mpi/hwloc/issues/340
https://github.com/vhoyet/hwloc/commit/4aeed982621b60d05075ee9e1bce68000cf0c822

[2021-08-09 23:57] bryancall commented on #5254
if this is still and issue please reopen

[2021-08-09 23:57] #5254 closed

[2021-08-10 00:00] bryancall commented on #5287
@shinrich Yes, they should work with HTTP/1.1, but we should deny non-PFS encryption in HTTP/2

[2021-08-10 00:00] ywkaras commented on #5391
Closing this since it's as pointless as me wishing Santa was for real.

[2021-08-10 00:00] #5391 closed

[2021-08-10 00:11] masaori335 commented on #5250
The support is released by 2.2.0. (the current stable version is 2.4.1 )
https://www.mail-archive.com/hwloc-announce@lists.open-mpi.org/msg00130.html

[2021-08-10 10:16] Bharat786 commented on #5158
@shukitchan i did'nt understood this line, can you please help?

[code]

So should i build luasocket(in my use case it is lpeg) from the source code and edite the makefile with this line "-lluajit-5.1 -ldl -lm" ?

[2021-08-10 10:36] abhisheksurve45 commented on #8193
Hi, it works fine on local machine when installed via Dockerfile as well via apt. However only happening on remote server when installed via docker. @ywkaras

[2021-08-10 16:39] ywkaras commented on #8193
Unfortunately there's a large backlog of issues, and developers generally prioritize setup-dependent issues with setups that their employers use.  Might be worth a try to ask on the user and dev mailing lists, maybe somebody who doesn't regularly look at issues in our github has a similar setup and has seen this.

[2021-08-10 18:39] shukitchan commented on #5158
Yes. That's right.

[2021-08-10 18:50] Bharat786 commented on #5158
@shukitchan Actually in the lpeg library source code there is no src/Makefile, so how should i do it : https://github.com/luvit/lpeg

[2021-08-11 20:49] shukitchan commented on #8222
actually you do have https://github.com/luvit/lpeg/blob/master/makefile
you can try out changing

"DLLFLAGS = -shared -fPIC"

and add " -lluajit-5.1" to the end and then use "make linux" to compile and see.

[2021-08-11 20:49] shukitchan commented on #5158
@Bharat786 let's keep the conversation in #8222

[2021-08-12 23:06] tmknight opened #8242 "trafficserver init script verbiage correction"
https://github.com/apache/trafficserver/blob/fb9b9ca39a6f39ad95964f2899b8398c26453532/rc/trafficserver.in#L361

Should be "Stopping"

[2021-08-13 14:57] bneradt commented on #6405
Thank you for filing this issue. I've reproduced this locally with the following tweak to the log-filter test:

[code]

Note that this simply adds the `only_localhost` filter which has the `condition: chi MATCH 127.0.0.1` condition as described by @jvgutierrez. The test's behavior should not change since the test client runs on 127.0.0.1, yet, with this condition, the log file is not written.

[2021-08-13 15:21] bneradt commented on #6405
Stepping through with a debugger, it looks like the marshaled `value` from the field has the expected value:

[code]

But the m_map of the local LogFilterIP is empty:

[code]

[2021-08-13 19:06] #8242 closed

[2021-08-13 21:07] bneradt commented on #6405
If, as the above referenced comment states, log fields store data as `IpAddr` instead of `LogFieldIpStorage` types, then the matching mechanism works and log filters using IP addresses work:

https://github.com/bneradt/trafficserver/tree/fix_LogFilterIP

I'm not quite ready to PR this yet, though, since it results in the binary format of log fields changing and I'm not sure what the implications o

[2021-08-16 18:06] chenrui333 opened #8253 "trafficserver 9.1.0 does not build with yaml-cpp 0.7.0"
👋  it like the trafficserver does not build with yaml-cpp 0.7.0

relates to https://github.com/Homebrew/homebrew-core/pull/82097

[2021-08-16 22:45] jrushford opened #8254 "After PR #8095 - Nexthop selection strategies no-longer marks down hosts for self detection."
Since PR #8095 Clean up Machine implementation for issue #4159, Next hop selection strategies and probably parent selection no-longer marks down hosts defined in strategies.yaml or parent.config as down for self detection if the host has the same hostname or IP address as self cache on startup.  The Machine::is_self() function is not returning true that the machine is its self.

[2021-08-16 23:46] bryancall commented on #8253
@chenrui333 Can you please put in the issue the commands you are running for the build and what the output error is?

[2021-08-16 23:49] bryancall commented on #5291
@zwoop what do you want to do with this issue?

[2021-08-16 23:51] ywkaras commented on #5291
Here's the kind of ugliness you may need for this:  https://github.com/apache/trafficserver/pull/7611/files#diff-ca240207af78381db6fc12df3ce47f109d51f78e7950f74e736974832bab127aR43

[2021-08-16 23:53] bryancall commented on #5294
@WolfgangBai have you see a core in a newer version of ATS?

[2021-08-16 23:59] bryancall commented on #5332
@swood is this still and issue?  If so please reopen

[2021-08-16 23:59] #5332 closed

[2021-08-16 23:59] bryancall commented on #5343
@SolidWallOfCode going to work on this?

[2021-08-17 00:01] bryancall commented on #5422
@thelounge-zz If you would like this option, please reopen the issue and create a PR for it.

[2021-08-17 00:01] #5422 closed

[2021-08-17 21:49] randall commented on #7170
I guess this Issue can be closed since 9.1.0 was voted on for release.

[2021-08-18 12:52] #6405 closed

[2021-08-19 11:22] VibhorGupta1991 commented on #8185
Hi shukitchan,

Sorry for the delay, had been struggling with few other things so didn't find time to look at this.

About your queries:
1) Yes, we would eventually want to run the same transform on both the original and retry response but for now only running the transform also works.
Few queries about the do_os_response method, can you confirm?
a) Only one of the functions either do_remap or do_

[2021-08-19 18:57] duke8253 opened #8265 "Memory leaks in Http2Stream"
As described in #8260 , we've been observing high memory utilization in production after upgrading to ats9.1. JeMalloc profiling shows the problem is related to Http2Stream.

Here's what I've collected using jemalloc, the graph ignores the memory allocated to iobuffers. After running for 3 hours or so, ats9.1's memory usage is about 6-7GB more than what ats9.0 is using, and this continues to grow

[2021-08-19 20:11] jrushford commented on #8254
@SolidWallOfCode it appears to me that when NextHopSelectionStrategy calls Machine::is_self(), the unordered_set machine_id_strings is empty.

[2021-08-20 15:51] #8265 closed

[2021-08-20 15:52] duke8253 commented on #8265
Here's the allocator stats, collected a few minutes apart.

[code]

[2021-08-22 18:08] chenrui333 commented on #8253
Here are the commands:
- `./configure --prefix=/usr/local/Cellar/trafficserver/9.1.0_1 --mandir=/usr/local/Cellar/trafficserver/9.1.0_1/share/man --localstatedir=/usr/local/var --sysconfdir=/usr/local/etc/trafficserver --with-openssl=/usr/local/opt/openssl@1.1 --with-yaml-cpp=/usr/local/opt/yaml-cpp --with-group=admin --disable-silent-rules --enable-experimental-plugins`
- `make install`

configur

[2021-08-23 12:35] VibhorGupta1991 commented on #8185
Hi @shukitchan ,

I was able to make it work by attaching the response transform hook only when the response code is 200 using the code below.

function read_response()
        local code =ts.server_response.get_status()
        if code == 200 then
        ts.hook(TS_LUA_RESPONSE_TRANSFORM,modify_response)
        end
end
function do_remap()
        ts.hook(TS_LUA_HOOK_READ_RESPONSE_HDR,read_respo

[2021-08-23 17:15] shukitchan commented on #8185
I think this should be fine.

[2021-08-23 23:22] shinrich commented on #8199
I am definitely seeing cases where the stream will suck up the either session window.  By separating the values, it seems easier to define values to smoothly share the bandwidth between streams.

I'm running into this issue in testing H2 to origin where the connection to origin is very busy with many streams from different clients.

[2021-08-23 23:26] bryancall commented on #5486
I am pretty sure this has been fixed in the 9.x branch

[2021-08-23 23:26] #5486 closed

[2021-08-23 23:27] bryancall commented on #5488
we have other issues tracking h2 to origin

[2021-08-23 23:27] #5488 closed

[2021-08-23 23:32] bryancall commented on #5505
This is used in:
` iocore/cache/CacheDir.cc:    if (!dir_token(e) && dir_offset(e) >= static_cast<int64_t>(start) && dir_offset(e) < static_cast<int64_t>(end)) {`

Please reopen if this still needs to be fixed.

[2021-08-23 23:37] bryancall commented on #5572
Please reopen if you are still having issues with SSL and ATS.

[2021-08-23 23:37] #5572 closed

[2021-08-23 23:42] bryancall commented on #5577
@jsnjack Are you still having this issue?

[2021-08-23 23:44] bryancall commented on #5596
@dnj12345 Are you still having an issue with this?

[2021-08-23 23:45] bryancall commented on #5644
If this is still an issue please reopen

[2021-08-23 23:45] #5644 closed

[2021-08-23 23:48] bryancall commented on #5677
This is taken care of in #6909

[2021-08-23 23:48] #5677 closed

[2021-08-23 23:52] bryancall commented on #5688
I don't think there is a big advantage to storing Huffman encoded headers in cache

[2021-08-23 23:52] #5688 closed

[2021-08-23 23:53] bryancall commented on #5694
Looks like this as fixed in #5929

[2021-08-23 23:53] #5694 closed

[2021-08-23 23:56] bryancall commented on #5702
Look like this was fixed in #5701 and merged

[2021-08-23 23:56] #5702 closed

[2021-08-23 23:58] SolidWallOfCode commented on #5505
That reads it, but I can't find any place it would be set. There is `dir_set_token` but it's never called. I think @scw00 is correct, those bits are never set, and therefore are not useful.

[2021-08-24 00:17] dnj12345 commented on #5596
Closing since I am not using ATS currently.

[2021-08-24 00:17] #5596 closed

[2021-08-24 03:36] maskit commented on #8199
I'm saying it may be due to a bug or poor implementation in window control if increasing `initial_window_size_in` doesn't work for your case. Having a setting for session window size and set it to a very big number sound like you are effectively removing window control for sessions.

It is unclear to me that the issue is caused by the sender side or the receiver side. In other words, the both givi

[2021-08-24 13:40] shinrich commented on #8200
Working with this again yesterday with my very active H2 session between two ATS boxes.  Finally put an assert on ATS2 when the max_concurrent limit is set so I could look at the state of the stuck streams.  The problem appears to be that a number of streams had stalled due to empty session windows.  So ATS1 had decremented its peer stream count (presumably timed out/client aborted), but it did no

[2021-08-24 14:29] masaori335 opened #8273 "POST requests get INACTIVITY_TIMEOUT immediately"
@elsloo found that inactive timeout is odd on POST request cases on our 9.0.3 deployment.

When this issue happens, debug logs are below. It looks like the HttpSM starts TLS handshake with origin server and read op of inbound side connection is disabled. But the inactive_cop closed the inbound connection immediately.
[code]

I think #7304 introduced this behavior. The is gone by reverting the comm

[2021-08-24 19:58] #5546 closed

[2021-08-25 07:06] masaori335 commented on #8273
We found 2 things. I'm working on writing up an AuTest and fixing it.

1. this happens only if `proxy.config.net.max_requests_in` is set (default value is `0`)
https://github.com/apache/trafficserver/blob/2d49a40aaed82792024dd09b291fc4dea9f806ac/iocore/net/UnixNet.cc#L581-L584

2. the reason why # 7304 introduced the problem is the below condition.
https://github.com/apache/trafficserver/blob/2d49

[2021-08-29 15:29] #8254 closed

[2021-08-30 01:27] maskit commented on #8199
This makes perfect sense if there's only one stream on a connection, right? Needless to say, a connection should be fully utilized regardless of the number of streams on the session.

I think what we should do is updating stream window size when the number of streams changes. More specifically, we should adjust stream window sizes to `connection-window-size / #-of-active-streams`. Below is from RF

[2021-08-30 05:00] david187 opened #8291 "ESI include does not process during getting 304 header"
version: ats 9.1.0

When ATS receipt "304 Not Modified" header from backend, ESI does not execute and both of the <esi:include> and "x-esi: 1" header will be responsed to client.

P.S. http client does not send IF-NONE-MATCH header, just ATS cache revalidate

==========

The problem seem caused by content-type header checking:

https://github.com/apache/trafficserver/blob/e44ca802404ed99899d43163f

[2021-08-30 14:09] shukitchan commented on #8291
I don't think the ESI plugin currently supports the If-None-Match scenario. It can only transform a response from origin or a response from the cache. When status 304 is returned from origin, the body is empty and so there is nothing to transform.

you can instead try to remove "If-None-Match" header in the send request hook and so your origin will then not be able to send back 304 response.

[2021-08-30 14:19] david187 commented on #8291
um.
I applied my lua patch, it seem to get cached response from cache store and process ESI include successfully.

If the ESI plugin check the status code, and using the content-type in cached response if status code is 304.
It should make ESI in ATS work fine with 304 header.

[2021-08-30 14:21] shukitchan commented on #8185
To answer a few questions in this issue

1) both do_remap and do_os_response will be called when they are present.
2) Yes. Only a few hooks can be added to do_os_response . Please see https://docs.trafficserver.apache.org/en/latest/admin-guide/plugins/lua.en.html#hook-point-constants

Closing this for now.

[2021-08-30 14:21] #8185 closed

[2021-08-30 14:25] shukitchan commented on #8291
I see. So the lua script actually works for you? and it makes the plugin do a transform correctly.

Let me take a look.

[2021-08-30 14:29] david187 commented on #8291
Yes, It work fine for me.
Please review for the logic is correct or not.
Thanks.

[2021-08-30 15:20] shinrich commented on #8199
In my PR (#8203) and my testing, I've gone with explicit session window proxy.config.http2.session_initial_window_size_in.

While I agree it would be nice if we could automatically adjust the stream window sizes as streams are created and destroyed, I think implementing that would be quite complex.  If I understand your proposal correctly, as a new stream is created, new setting frames would need

[2021-08-30 18:52] ywkaras opened #8294 "Show error message and fail at startup if the body factory path in 'template_sets_dir' records.config setting is invalid"
This is a change in Yahoo Internal 9.1.  The fix depends on https://github.com/apache/trafficserver/pull/8208 .  I'll put up a PR for this as soon as 8208 is merged.

[2021-08-30 22:45] shinrich commented on #5675
I tried adjust the rcv_data function to not return a connection error if the stream_id is invalid.  This is the case that happens if the previous HEADER frame was reject.  This unfortunately fails a h2spec case where a stream in the idle state that is sent a DATA frame must return a connection error.

[2021-08-30 23:26] bryancall commented on #5764
If this is still an issue please reopen.

[2021-08-30 23:26] #5764 closed

[2021-08-30 23:27] bryancall commented on #5776
@xq2248 Is this still an issue?  If so please reopen

[2021-08-30 23:27] #5776 closed

[2021-08-30 23:30] bryancall commented on #5781
@masaori335 Can you check to see if this is still an issue?

[2021-08-30 23:31] bryancall commented on #5787
@ema Is this still an issue?

[2021-08-30 23:33] bryancall commented on #5793
Looks like this has been fixed.  Please reopen if there is still an issue.

[2021-08-30 23:33] #5793 closed

[2021-08-30 23:34] bryancall commented on #5794
Looks like this has been fixed.  Please reopen if there is still an issue.

[2021-08-30 23:34] #5794 closed

[2021-08-30 23:37] shinrich commented on #5810
Closing because we no longer need this.

[2021-08-30 23:37] #5810 closed

[2021-08-30 23:38] masaori335 commented on #5781
I checked this with the latest commit. It looks like this is fixed.

- ATS: master (edef25cc5ddf1355009bdabcdf68b59c88218833)
- llvm: 12.0.1
- macOS: 11.5.2

[2021-08-30 23:38] #5781 closed

[2021-08-30 23:42] #5838 closed

[2021-08-30 23:42] bryancall commented on #5838
Looks like this has been fixed.  Please reopen if there is still an issue.

[2021-08-30 23:43] #5843 closed

[2021-08-30 23:46] bryancall commented on #5849
They should be in diags and traffic_server will print the message.  We are going to be removing trafffic_manager for ATS 10.x

[2021-08-30 23:46] #5849 closed

[2021-08-30 23:48] SolidWallOfCode commented on #5871
It's supposed to be "site". It corresponds to the Python / Perl directories like "site-lib". It is intended to contain AuTest support for the "site".

[2021-08-30 23:48] #5871 closed

[2021-08-30 23:51] bryancall commented on #5913
Looks like this has been fixed.  Please reopen if there is still an issue.

[2021-08-30 23:51] #5913 closed

[2021-08-31 01:34] maskit commented on #5675
You're talking about below, right?

So a stream error happens on receiving HEADERS frame, and then a connection error on receiving following DATA frames.

How is the HEADER frame "refused"? Isn't it by RST_STREAM? Once ATS received a HEADER frame, I think the stream is open regardless of whether it was accepted or not. Note that you cannot send RST_STREAM on an "idle" stream.

This sounds like an

[2021-08-31 06:29] maskit commented on #8199
SETTINGS frame is allowed only on stream 0. One SETTING frame affects all existing and future streams. SETTINGS frame would still need to be sent again and again on stream 0, but it doesn't necessarily need to be done on every stream count change. I'd say once every a few seconds would be enough for many cases.

That depends on your configuration. The minimum stream window size would be `initial_w

[2021-08-31 12:53] ema commented on #5787
I don't know! We've disabled the compress plugin altogether in December 2019. Other than causing the segfaults described here, we found that it was introducing up to 30ms TTFB slowdowns, and we do not really need it given that client<->edge compression is done by Varnish in our setup. So yeah, I can't confirm or deny. :-)

[2021-08-31 16:55] bneradt commented on #5913
For documentation purposes: this was fixed by #7515. Both the thread_config and the thread_N_M tests used that count_threads function which could wind up trying to get information on a closed process.  @duke8253 fixed this issue in #7515 via using the process_iter function.

[2021-08-31 18:24] bneradt opened #8297 "nghttp AuTest fails on master"
I've noticed that autest is failing on master for the nghttp test:
https://ci.trafficserver.apache.org/job/autest-github/16604/console

[code]

I've reproduced this locally as well.

[2021-08-31 18:57] bneradt commented on #8297
This test failure was introduced by the merge of the following PR: #8201. The CI in the PR passed fine because our Jenkins git plugin doesn't run CI on the latest commit after a PR is modified with a subsequent commit.

[2021-09-01 00:01] #8297 closed

[2021-09-01 14:09] shinrich commented on #8199
I would like to move forward.  I think we will need some time in the field to figure out what is best.  What is practical.  I'm guessing after a year, we'll want to circle up an simplify the window settings.

[2021-09-01 19:39] abhisheksurve45 opened #8302 "HTTP Timeout issues while using regex invalidate via cache inspector"
## Issue Report

#### Describe the issue

Hi team,

We have installed Traffic Server from the source code and facing ~1.7-2.5 minutes latency for regex invalidate ops via cache inspector

This is also happening when cache is empty.

#### Configs

 ATS Configs

storage.config :

[code]

records.config :

[code]

remap.config

[code]

#### Version Info :

- Traffic server : 10.0.0
- Unix name : 5.4.

[2021-09-02 09:17] jsnjack commented on #5577
Hi @bryancall . We have stopped using the combination of options (https://github.com/apache/trafficserver/issues/5577#issuecomment-508072494) which caused the issue. I will check if it is still reproducible

[2021-09-02 11:02] c-taylor opened #8304 "body_factory performance, configuration and errors"
(Tests performed on 9.0.x)

body_factory has several performance and correctness issues when compared to serving similar objects from cache.
For example serving a 301 with body is 2.6x - 5.5x faster from cache than from body_factory.

This is inverted from my expectation, where I would perceive small, fabricated responses to be as fast or faster than from cache.

### Config example
[code]

## Obse

[2021-09-03 08:07] jvgutierrez opened #8311 "H2 recv headers compression errors"
On the last few days our Singapore DC has been experiencing an increased error rate for "HTTP/2 connection error recv headers compression":
[code]
this hasn't  spread (yet?) to other DCs but it seems pretty worrisome, have you seen anything similar?

[2021-09-07 06:36] VibhorGupta1991 opened #8317 "compress plugin not giving control to modify cached response before compression"
Hi Team,

I have been facing an issue on my traffic server running on version: 9.0.2

My setup has lua and compress plugins enabled and following is my compress config

enabled true
compressible-content-type text/*
cache false
range-request false
remove-accept-encoding true
flush true
supported-algorithms gzip,br

I tried using this config both ways, with my remap rule as well as globally.

Remap

[2021-09-08 06:27] shukitchan commented on #8317
So you have a compress plugin used in plugin.config ? That's why that is always run before the lua script attached to the remap rule.

You can try to do the transform in lua added to the plugin.config . And make sure it is before the compress plugin in plugin.config. Also the entry function should be do_global_read_request() instead do_remap() when you are using lua script in plugin.config

Also y

[2021-09-08 07:36] VibhorGupta1991 commented on #8317
Hi,  nope I had disabled compress in plugin.config when I added it in remap

Here is my current plugin.config

#/usr/local/libexec/trafficserver/compress.so /usr/local/etc/trafficserver/plugin_configs/compress_rules.config
/usr/local/libexec/trafficserver/xdebug.so
/usr/local/libexec/trafficserver/stats_over_http.so
/usr/local/libexec/trafficserver/healthchecks.so /usr/local/etc/trafficserver/plug

[2021-09-08 13:22] VibhorGupta1991 commented on #8317
@shukitchan

I had made some changes at my end in remap rule to try to make this work by changing the order of compress and lua plugins yesterday. I tried again with the above remap config that I posted and it seems to be working fine now. Will update here if I find the reason / issue at my end why it wasn't working before.

Thanks a lot

We can close this @shukitchan

[2021-09-08 15:25] devZer0 commented on #6091
https://github.com/apache/trafficserver/issues/2861

[2021-09-08 20:12] SolidWallOfCode commented on #5155
My `MemArena` doesn't do that either. The problem is finding the appropriate block, which requires walking all the blocks. For performance reasons, `MemArena` has the concept of a "full" block and never looks at those again. Non-stacking de-allocation
would be more trouble than it's worth for that implementation. One of the costs of using memory arenas like this is the inability
to release memory.

[2021-09-09 08:36] hnakamur opened #8318 "9.1.0 and 9.1.x crashes with ts.http.skip_remapping_set(1) and dead origin"
Here "dead origin" means no origin server process running at localhost:80.
The expected result is that trafficserver returns 502.

However it crashes at 9.1.0 https://github.com/apache/trafficserver/commit/682f899871b5af5252d1c1105bf998239a2a8eb8 and the current latest commit in 9.1.x https://github.com/apache/trafficserver/commit/b8c9267caaef5ea0a71ff44ba2abacb0e8e7d656.

The current master https

[2021-09-09 19:02] bneradt commented on #8318
Thank you @hnakamur . I've reproduced the issue locally on 9.1.x (b8c9267) and also verified that master (40843a975fb7f76da91e8c2f9287ce841232e38a and the latest commit which reverts incompatible changes 4208ecb8719add76aa46ab2005ff9424531e2e73) does not have the issue. I'll search for the commit on master that fixes the crash.

Re-running in gdb, here is more state information about the 9.1.x cra

[2021-09-09 19:40] bneradt commented on #8318
Found the fix:
https://github.com/apache/trafficserver/pull/8191

If I cherry-pick that commit locally on my local 9.1.x branch, the crash goes away. And the description makes sense that it would match this.

[2021-09-09 19:48] bneradt commented on #8318
Note that #8191 is marked for 9.2.x. It will be in the upcoming 9.2.0 release which we're planning to release soon.

[2021-09-09 19:48] #8318 closed

[2021-09-09 20:17] bneradt commented on #8318
Thank you, @hnakamur, for documenting your reproduction steps well. It helped me find the commit that fixed this.

[2021-09-10 16:42] SolidWallOfCode commented on #4159
Fixed by #8095.

[2021-09-10 16:42] #4159 closed

[2021-09-13 23:18] #8317 closed

[2021-09-13 23:20] SolidWallOfCode commented on #8304
@zwoop has been complaining about this for years. The internals are terrible, even for ATS. I've done some work on this but hit a blocker I haven't had time to get through. I think I have a plan now, but not sure when I can find the time to do the implementation.

[2021-09-13 23:24] randall commented on #8311
FWIW, on 9, we've seen this around 1500 times over 7 days, across our fleet.

[2021-09-13 23:34] bneradt commented on #8311
We're on 9.1.x. On a single box I'm looking at, I only see about 100 for about an entire day. Some days less. The box does about 5,000 requests per second. I confirmed with ops that none of our boxes are seeing that volume of these.

[2021-09-13 23:38] bryancall commented on #5931
If this is still an issue please reopen.

[2021-09-13 23:38] #5931 closed

[2021-09-13 23:39] #5932 closed

[2021-09-13 23:43] bryancall commented on #5936
@thelounge-zz It looks like you are missing:
`-rw-r--r--. 1 bcall bcall  299 Aug 30 16:32 redirect#moved_permanently`

[2021-09-13 23:44] bryancall commented on #5936
If this is still an issue please reopen.

[2021-09-13 23:44] #5936 closed

[2021-09-13 23:50] bryancall commented on #5946
This looks to be a duplicate for: #2376

[2021-09-13 23:50] #5946 closed

[2021-09-14 00:48] masaori335 commented on #5505
FWIW, the `dir_set_token()` calls were dead code and removed by this commit.

https://github.com/apache/trafficserver/commit/6f155f44466c91aa892b861777c914b1ddde7b99#diff-b194c2cc95f7657ac89659cbad6b6d3b3dd80ff4ad5757ff1bbe4b0ac482b983L240

[2021-09-15 07:30] Sid672 commented on #7108
@maskit can you tell me what changes you want?
Removal of comments or modify them?

[2021-09-15 23:13] maskit commented on #7108
If you think the behavior is obvious and the comment is unnecessary, remove it.
If you think documentation is necessary, modify the comment so that it describes the behavior.

I think documentation is always nice to have, but it should not tell a lie if it exists. I'd modify the comment.

Here is the implementations if you need to know what the functions do.
https://github.com/apache/trafficserver

[2021-09-16 10:09] Sid672 commented on #7108
@maskit please correct me if I am wrong.
Functions:
[code]
- The first function call the 2nd function.
- 2nd function converts the character into binary up to the length of Buffersize and returns true if it is completed.
- 3rd function decode the buffer and returns true after completion.

So can I add these comments:
[code]

[2021-09-16 18:23] meeramn opened #8329 "Crash while using next hop strategy"
Strategies yaml config got loaded but seeing crash after sending curl request.

Please find the configuration below.

**cat remap.config**
map /nexthop-test/ http://httpbin.org/ @strategy=nexthop-test-strategy

**cat strategies.yaml**
hosts:
  - &nexthop-test-host
    host: test-host.xyz.com
    protocol:
      - scheme: http
        port: 80
      - scheme: https
        port: 443

groups:
  - &n

[2021-09-17 16:14] jrushford commented on #8329
@meeramn I've tried your exact configuration and curl command on 9.1.x.  I've tried the config and am unable to duplicate the crash.  I've tried different failure scenarios with the parent, unreachable, trafficserver shutdown, etc and am not able to duplicate the crash.  Everything is working as expected.

[2021-09-17 17:09] jrushford commented on #8329
@meeramn I can re-create the crash when I'm running trafficserver on macOS.  I cannot duplicate it on a linux build with devtoolset-9

[2021-09-20 19:46] randall commented on #8329
We build with llvm 12, so maybe a difference in how gcc/llvm handles things.

Full stack of crashed thread:
[code]

[2021-09-20 23:32] bryancall commented on #5974
[code]

[2021-09-20 23:33] bryancall commented on #5983
If this is still an issue please reopen.

[2021-09-20 23:33] #5983 closed

[2021-09-20 23:36] bryancall commented on #6018
I am going to close this.  If you want to buffer a POST you should create a plugin.  We have done this ourselves before and can provide an example plugin.

[2021-09-20 23:36] #6018 closed

[2021-09-20 23:46] #6040 closed

[2021-09-20 23:46] #6048 closed

[2021-09-20 23:47] bryancall commented on #6161
If this is still an issue please reopen.

[2021-09-20 23:47] #6161 closed

[2021-09-20 23:49] bryancall commented on #6162
@duanfeixiang Yes, it will create a core file if traffic_server or traffic_manager crashes.  There have been a lot of fixes since this issue on cleaning up the shutdown.

[2021-09-20 23:49] #6162 closed

[2021-09-21 01:31] masaori335 opened #8338 "Intermittent AuTest failures (header_rewrite_cond_cache)"
It looks like checking `Age: 0` is restricted too much.
[code]
https://ci.trafficserver.apache.org/view/github/job/autest-github/16680/console
https://ci.trafficserver.apache.org/view/github/job/autest-github/16682/console

[2021-09-21 09:58] brbzull0 opened #8340 "proxy.config.http.per_server.connection.queue_size never reflect non default values."
While doing some tests with `proxy.config.http.per_server.connection.queue_size` I've noticed that the `outbound_conntrack` never gets updated with the configured records config values. It looks all the following records always uses the default values.

[code]

Using the default queue_size will make us block even if expressed otherwise.

[2021-09-21 16:07] #8338 closed

[2021-09-21 20:33] #8340 closed

[2021-09-21 22:15] thelounge-zz opened #8342 "8.1.2 don't build on Fedora 34 / GCC 11"
the only package which can't be rebuilt on F34 and no i don't want TS9 for now :-(

In file included from ../../include/tscore/ink_inet.h:34,
                 from ../../include/tscore/Diags.h:41,
                 from P_RecUtils.h:26,
                 from RecConfigParse.cc:34:
../../include/tscore/BufferWriterForward.h:63:28: error: 'numeric_limits' is not a member of 'std'
   63 |   unsigned in

[2021-09-22 19:38] rob05c commented on #8199
The data window size adjustment seems like the kind of thing that'd be extremely useful to have as an API func and/or hook that plugins could call.

Then, you could write completely dynamic algorithms, in plugins, for that on-the-fly adjustment.

I suspect the same is true for client H2.

[2021-09-22 19:54] #8342 closed

[2021-09-22 20:00] bneradt commented on #8342
Thank you @thelounge-zz for reporting this issue. A PR for 8.1.x has been created and should be merged into that branch soon.

[2021-09-23 17:53] VibhorGupta1991 opened #8351 "Using prewarmed cache of escalate host leading to server restart"
Hi Guys,

Facing a weird problem when using escalate plugin in my Traffic server version 9.0.2

remap config:
[code]

main.lua
[code]
Environment :
	http://a.com/test500.html : 500 (forced)
        http://b.com/test500.html : 200

Error Scenario:

	Step 1) Hit http://b.com/test5xx.html
		Txn Flow: Cache Miss -> Origin[200] -> Cached in ATS
                Output of debug tags:   cache_status 0
	St

[2021-09-24 15:33] VibhorGupta1991 commented on #8351
Hi @randall

Yup attaching the bt full output of the core file.

[code]

[2021-09-27 15:52] shukitchan commented on #8351
I think the crash is on lua.
The TSHttpTxnRedirectUrlSet API used in escalate plugin can sometimes alter the buffer used (in this case for send request, it seems).

[2021-09-27 18:17] ywkaras commented on #7205
I doubt this has been resolved.

[2021-09-27 23:29] ywkaras commented on #6250
Will test in 9.1.

[2021-09-27 23:41] bryancall commented on #6267
If this is still an issue please reopen.

[2021-09-27 23:50] bryancall commented on #6289
Please take a look at the regex_remap plugin.  This does what you ask: https://docs.trafficserver.apache.org/en/9.1.x/admin-guide/plugins/regex_remap.en.html?highlight=regex_remap

[2021-09-27 23:50] #6289 closed

[2021-09-27 23:52] duke8253 commented on #6301
Not seeing it anymore, closing this issue.

[2021-09-27 23:52] #6301 closed

[2021-09-27 23:58] bryancall commented on #6318
@vmamidi are you going to work on this?

[2021-09-28 11:30] thelounge-zz commented on #8342
please keep in mind that Fedora 33 is EOL in roughly a month and so new releases at https://downloads.apache.org/trafficserver/ would be good!

[2021-09-28 15:23] bryancall opened #8361 "ATS 9.1.x memory leak testing"
I ran h2load over traffic_server running under massif overnight.  I was not able to see any memory leaks

[code]

[2021-09-28 15:44] VibhorGupta1991 commented on #8351
Can we do anything about this? @shukitchan

[2021-09-30 06:24] shukitchan commented on #8351
I am planning to change this block in plugins/lua/ts_lua_util.c

[code]

to

[code]

It will be great if you want to try it out. I do hope to have my setup much later on to try that.

[2021-09-30 17:31] jrushford opened #8366 "Assertion failure in HttpTransact::is_response_valid() when a parent proxy is down."
When testing on a debug master build, a failure to connect to an upstream parent proxy that is down, an assertion crash occurs at HttpTransact::is_response_valid():334.  s->current.state is set to BAD_INCOMING_RESPONSE which is not in the list of current.state values accepted in the ink_assert().

In 9.1.x, when a parent is down, the current.state comes in as CONNECTION_CLOSED but in master it's n

[2021-10-01 14:00] #8366 closed

[2021-10-01 14:01] jrushford commented on #8366
other problem

[2021-10-01 19:57] bneradt opened #8369 "AuTest: Traffic Dump Schema Verification Fails with jsonschema 4.0.0"
I notice with the 4.x versions of jsonschema, the traffic_dump AuTests fail because the jsonschema verification fails.

[code]

If I pin the jsonschema version to the latest 3.x release (3.2.0), the test passes.

For those seeking a workaround, it can be pinned like so:

[code]

[2021-10-01 20:04] bneradt commented on #8369
The actual jsonschema failure can be seen in the output of 1-tr-Default, the test run which runs the verification:

[code]

[2021-10-02 04:09] ywkaras commented on #6250
Wrote an Au test for these two fields, on the master branch.  They seem to work as documented.  They are both zero when the response comes from cache (no outgoing request).  Will make sure test also passes in 9.2.  I'm going to assume, till someone ask for it, this does not need to be fixed any bugfix release for 9.1 or earlier, if it's really a bug in any of them.

[2021-10-04 23:24] bneradt commented on #8369
Fixed by #8370.

[2021-10-04 23:24] #8369 closed

[2021-10-04 23:28] bryancall commented on #6320
You can conditionally set this header with the header_rewrite plugin.  Please reopen if this can't be don't with the plugin for some reason.

[2021-10-04 23:28] #6320 closed

[2021-10-04 23:30] bryancall commented on #6322
@esmq2092 I am pretty sure that has try catch block was put around the calls to imagemagick for this type of reason.  Please reopen if this is still an issue.

[2021-10-04 23:30] #6322 closed

[2021-10-04 23:53] bryancall commented on #6445
Looks like this has been fixed.  Please reopen if there is still an issue.

[2021-10-04 23:53] #6445 closed

[2021-10-04 23:54] bryancall commented on #6473
There is a cache hit percentage in traffic_top it is called "fresh".

[2021-10-04 23:54] #6473 closed

[2021-10-04 23:55] bneradt commented on #6445
@zwoop suggested adding `RTLD_DEEPBIND | RTLD_LOCAL` while @gtenev only added `RTLD_LOCAL`.

[2021-10-04 23:57] bryancall commented on #6497
@scw00 is there more that needs to be done with this issue?

[2021-10-04 23:58] bryancall commented on #6529
Looks like this has been fixed.  Please reopen if there is still an issue.

[2021-10-04 23:58] #6529 closed

[2021-10-05 00:10] #7241 closed

[2021-10-05 00:25] randall commented on #6331
Fixed by https://github.com/apache/trafficserver/pull/6333

[2021-10-05 00:25] #6331 closed

[2021-10-05 19:12] #6551 closed

[2021-10-07 00:04] ywkaras commented on #6336
Names longer than `acceptGameWebCommon` work in 9.1:  https://github.com/apache/trafficserver/blob/e5aa88032d29ce26a13f790454af1d38f2a35b69/tests/gold_tests/logging/log-filter.test.py#L41 .  Going to close this, please request it in the Slack channel if anyone feels we need a bugfix release for this, in any release before 9.1.

[2021-10-07 00:04] #6336 closed

[2021-10-08 21:26] elsloo opened #8402 "Cache range requests plugin injects range related headers when it should not"
Currently the cache range requests header will blindly inject range related client headers into a response without checking whether or not the response is a 206. This can lead to range headers appearing in negative cases such as 4xx responses.

[2021-10-08 22:23] elsloo commented on #8402
Closing this for now; after further testing locally, I believe I may have had an environmental/configuration issue that led to poor interaction between cache range requests and the slice plugin.

[2021-10-08 22:23] #8402 closed

[2021-10-11 00:07] #7075 closed

[2021-10-11 23:30] bneradt opened #8407 "Rename IpEndpoint::port to network_order_port"
This issue comes out of the patch to fix a byte ordering bug:
* https://github.com/apache/trafficserver/pull/8406/files

It's easy for a developer to use IpEndpoint::port without thinking explicitly about whether they need network byte order or host byte order versions of the port. In the PR review meeting for #8406, it was suggested that we rename IpEndpoint::port to IpEndpoint:: network_order_po

[2021-10-11 23:33] SolidWallOfCode commented on #5909
There is no difference, The answer in the ram cache is a copy of the data in the disk cache.

[2021-10-11 23:43] bryancall commented on #5837
We do have some checks for zlib:
[code]

[2021-10-12 22:12] ezelkow1 opened #8410 "Create readme for docs pipenv build"
Would be nice to have a readme on how to build the docs via pipenv since I dont use pipenv that much and cant remember the order or requirements

[2021-10-13 19:18] bdgranger opened #8417 "single specific fqdn "stuck" in hostdb"
We are seeing an issue with hostdb in our fork (ATS 8.1.2 plus some cherry-picks from 9.x branch).

Very rarely in a production environment, we see a hostname get "stuck" in hostdb such that it never resolves again. We see a fairly constant string of "delaying force 0 answer for <hostname> [timeout 0]" messages, and then after 30 seconds hostdb times out and the cache returns a 502 error to the cl

[2021-10-13 19:36] bdgranger commented on #8417
Upon further review of the logs and upon code inspection, we noticed a change that was introduced with PR #6686 that removed the call to remove_trigger_pending_dns() from the dnsEvent method in the case of EVENT_INTERVAL. In this case, if a dns request for an fqdn times out, any "additional requests" that are still in the pending queue will not be removed until their own timers expire. If the requ

[2021-10-14 17:17] #8410 closed, assigned to bneradt

[2021-10-14 17:55] bryancall opened #8426 "Test SO_LINGER options for incoming and outgoing connections"
By default we enable SO_LINGER on incoming connections and turn it off on out going connections.  Looking at other proxies Nginx has an option to set SO_LINGER only on connection that timeout before closing the socket.

Should we change our configuration option to 1 by default?  Should we only set SO_LINGER based on how we close the connection?  I would like to know what other companies defaults a

[2021-10-15 04:33] maskit commented on #5263
The setting for keylog was replaced with `proxy.config.ssl.keylog_file` by https://github.com/apache/trafficserver/pull/8337, and it's available for all connections that uses TLS.

[2021-10-15 04:33] #5263 closed

[2021-10-15 05:02] maskit commented on #5081
Closing this because official OpenSSL is going to have completely different API for QUIC, and we don't even know if we want to support it. Current check is enough for the fork (quittls) and BoringSSL.

[2021-10-15 05:02] #5081 closed

[2021-10-15 22:24] #8407 closed

[2021-10-18 23:20] bryancall commented on #5577
@jsnjack we cleaned up handling of events in later versions of ATS, you can also upgrade to a later version

[2021-10-18 23:20] #5577 closed

[2021-10-18 23:44] bryancall commented on #6552
This was fixed in #6781, thank you!

[2021-10-18 23:44] #6552 closed

[2021-10-19 00:12] masaori335 opened #8432 "Compile warnings by LLVM 13"
Some warnings show up when I tried the llvm-13.0.0 against the latest master.
[code]

[2021-10-19 00:16] ywkaras commented on #6560
Did this happen in an optimized or a debug build?  In an optimized build, TSAssert() is optimized out, so TSHttpTxnClientRespGet may have returned TS_ERROR.  I don't think ClientRestGet will always return TS_SUCCESS in the close hook unless you are adding the continuation in the SEND_RESPONSE_HDR hook.   Have you seen this problem in ATS9?

[2021-10-19 23:12] #8432 closed

[2021-10-21 18:11] #8192 closed

[2021-10-25 23:59] bryancall commented on #6838
Looks like this has been fixed.  Please reopen if there is still an issue.

[2021-10-25 23:59] #6838 closed

[2021-10-25 23:59] #6847 closed

[2021-10-26 22:35] pbchou opened #8454 "Core dump due to assertion failure in LogFieldList::marshal_len() in 9.0.2."
Hi. We have observed some core dumps due to an assertion failure in LogFieldList::marshal_len() in ATS 9.0.2.

The back-trace is --
[code]

The relevant code is --
[code]

It looks like the assertion was added by commit d0e927782c06db165720ee44f7538032a33e78a6.

[2021-10-27 03:12] linnaea opened #8461 "Assertion in TextView unit test"
[code]

https://github.com/apache/trafficserver/blob/b43c213f903f4cd73d785b653557151c44bc4992/src/tscpp/util/unit_tests/test_TextView.cc#L278
https://github.com/apache/trafficserver/blob/b43c213f903f4cd73d785b653557151c44bc4992/proxy/hdrs/MIME.cc#L2285

`std::basic_string_view` has a different semantic and `b[b.size()]` is UB.

[2021-10-27 19:54] SolidWallOfCode opened #8466 "MIME Field Free List"
I've been reviewing some performance issues in the MIME support and I think there is a tweak that would improve performance and able to revert the change in #5293. Basically the MIME header would maintain a free list of fields in existing `MIMEHdrFieldBlock` instances. This should be easy as the `m_next_dup` pointer could be used as the free list next pointer.  This is a pattern used elsewhere, mo

[2021-10-28 23:18] bneradt opened #8474 "tls_0rtt_server is failing for 9.0.x and 9.1.x"
The branch builds for CI are failing the `tls_0rtt_server` CI tests for 9.0.x and 9.1.x, but not 9.2.x nor master. 8.1.x does not have this test. Here is the console output for the failed test:

https://jenkins.trafficserver.org/view/9.1.x/job/9.1.x/job/autest/21/console

[code]

The output is here:
https://jenkins.trafficserver.org/view/9.1.x/job/9.1.x/job/autest/21/artifact/output/9.1.x/sandbox/

[2021-10-29 16:46] #8474 closed, assigned to nobody

[2021-10-29 18:13] bryancall commented on #4865
This issue was resolved in 8.1.0, fixed by #5234

[2021-10-29 18:13] #4865 closed

[2021-10-30 13:56] cheluskin opened #8481 "Wrong response on range request"
ATS return only first sliced segment. Not requested range.

<details><summary>response from ATS</summary>
<p>

[code]

</p>
</details>

<details><summary>response from Origin server</summary>
<p>

[code]

</p>
</details>

record.config
[code]

remap.config
[code]
[diags.log](https://github.com/apache/trafficserver/files/7446682/diags.log)
[squid.log](https://github.com/apache/trafficserver/files/7

[2021-11-01 23:45] traeak commented on #8481
This certainly is a bug as the whole asset should be passed through if the server responds with a 200 to a range request.  However the slice plugin only works with servers that can return a 206.

[2021-11-01 23:52] SolidWallOfCode commented on #6894
I'd recommend changing it to take an opaque block of storage defined in "apidefs.h" that's the same size as an HttpProxyPort. AFAICT the struct is a POD so there's no destructor isue.

[2021-11-01 23:58] traeak commented on #8481
Looking at the code for some reason the cache_range_requests plugin expects both "206" and "Partial Content".  I don't see "Partial Content" as a reason from the origin.  The question is, *should* the cache_range_requests plugin expect this.

I believe that as a workaround you can add a header_rewrite plugin with a rule to set reason to "Partial Content" if a 206 header status is encountered.

[2021-11-02 00:00] bryancall commented on #6902
If this is still an issue please reopen.

[2021-11-02 00:00] #6902 closed

[2021-11-02 00:02] bneradt commented on #6901
Add this to: body_buffer.test.py

[2021-11-02 10:21] cheluskin commented on #8481
Thanks. Maybe I'm doing something wrong. But nothing has changed

[code]

[code]

[code]

[diags.log](https://github.com/apache/trafficserver/files/7459741/diags.log)

[2021-11-02 10:41] cheluskin commented on #8481
Also, the behavior is not at all origins. This example is backblaze. With nginx as origin, the bug is not reproduced. You are probably right about the header. I spoke with b2 support, but they don't see any problems on their side

[2021-11-02 12:05] traeak commented on #8481
Reading the spec it's probably not reasonable for the cache_range_requests plugin to *require* the "Partial Content" reason string.  All that matters is the "206".  I can PR that at least.

[2021-11-02 14:20] cheluskin commented on #8481
Thanks, the patch works

[2021-11-02 16:47] #8461 closed

[2021-11-02 18:19] zizhong commented on #6900
It's been a long time but from the ticket name, it could be that when a POST request with empty post body, ATS returns 403 with request buffer enabled.
cc @bneradt @SolidWallOfCode

[2021-11-02 21:26] duke8253 opened #8490 "Conflict between --with-openssl and --with-jemalloc build options"
While building with `--with-jemalloc`, I keep getting the error message `configure: error: jemalloc has bogus version`. After some digging I found that this started happening after commit https://github.com/apache/trafficserver/commit/3412c4f69552b10779cfe0ce1bc6a71971734491

After that commit, if I specify both `--with-openssl` and `--with-jemalloc` options, I get the error message, if I only spe

[2021-11-02 22:17] randall commented on #8490
I'd guess it's the ` TS_ADDTO(LIBS, [$OPENSSL_LIBS])` in that change. I didn't save off the  value before setting LIBS and restore it after the check.I'll create a PR for that.

[2021-11-02 22:24] randall commented on #8490
@duke8253 Can you test #8492 and see if that fixes things for you?

[2021-11-02 23:13] #8490 closed

[2021-11-04 23:59] #8417 closed

[2021-11-05 20:24] #8294 closed

[2021-11-06 19:54] #5505 closed

[2021-11-06 20:05] SolidWallOfCode commented on #8454
I suspect this is related to #8080 - we saw crashes due to length assertions in production.

[2021-11-09 00:46] #6909 closed

[2021-11-09 00:56] #6959 closed

[2021-11-09 01:17] ezelkow1 opened #8503 "cachekey parent_selection_url may be broken"
While working on a complicated config I was trying to do:

- use regex_remap to change destination host to a variety of domains slightly different from the original remapped url
- This messes with parent selection so then use cachekey with parent_selection_url to set the PS url back to the original remapped version so that it can land on a certain set of hosts

I can see in the debug the regex_rem

[2021-11-09 19:24] #8481 closed

[2021-11-10 02:27] ywkaras commented on #5968
Most Yahoo prod proxies are using 26624 for log_buffer_size config var.

[2021-11-10 02:29] ywkaras commented on #5968
Related PR:  https://github.com/apache/trafficserver/pull/8507

[2021-11-11 18:14] ywkaras opened #8514 "Plugins should be able to bypass cache search/request to server, and flexibly create responses."

[2021-11-11 18:15] ywkaras commented on #8514
Related PR:  https://github.com/apache/trafficserver/pull/8487

[2021-11-11 18:38] randall commented on #3748
This was addressed by #7298 and #8502

[2021-11-11 18:38] #3748 closed

[2021-11-16 00:25] bneradt commented on #6973
@SolidWallOfCode will take a look at this.

[2021-11-16 00:37] bneradt commented on #7003
@mlibbey Can you please clarify whether this is still an issue? Looking at the plugin code, it looks like it tries to handle Vary intelligently. If possible, can you add an AuTest for this? If you don't have time, can you describe an example request and response which causes this issue.

[2021-11-16 00:38] bneradt commented on #7003
Assigning to @vmamidi .

[2021-11-16 00:42] bneradt commented on #7016
@bryancall can you take a look at this since you worked recently with the webp transform plugin.

[2021-11-16 00:43] bneradt commented on #7032
Closing since we've shipped 9.1.x. @zwoop, please re-open if closing this is a mistake and there is further purpose to this issue.

[2021-11-16 00:43] #7032 closed

[2021-11-16 00:46] bneradt commented on #7051
It is possible this was an issue in the 6.x train but is now fixed. If desired, please re-test on a later release and re-open if this is still an issue.

[2021-11-16 00:46] #7051 closed

[2021-11-16 00:50] SolidWallOfCode commented on #7055
I suspect the problem is that `curl` does proxying for HTTP and HTTPS different. In the first case `curl` does a TLS connect and sends the `PUSH`. If the `-x` or `--proxy` option is used with an HTTPS proxy then `curl` will send a `CONNECT` to the proxy and then send a `PUSH` to the upstream. Presuming "example.com" isn't ATS, then neither `curl` actually connects to ATS.

[2021-11-16 00:51] bneradt commented on #7055
The -x option should take a proxy URL. It sounds like the document had a bug in it. It looks like this document has since been updated to address the problem that was seen here. Please re-open if the current document is still confusing.

[2021-11-16 00:51] #7055 closed

[2021-11-16 01:11] bneradt commented on #7151
@bryancall can you please provide an update on this? I know you've been testing with Fedora and have fixed compiler warnings with recent OS/compiler versions. Did that address any of this?

[2021-11-16 01:12] bneradt commented on #7170
That makes sense to me. @zwoop please re-open if this issue is helpful.

[2021-11-16 01:12] #7170 closed

[2021-11-16 06:34] amoghyermalkar123 opened #8519 "How long does ATS take to reinstate a downed parent?"
ATS version : 8.1.1

To be more descriptive : I'm trying to figure out what is the amount of time a child node takes to reinstate it's respective parent node after it has been marked down due to any reasons.

What I have done:
I have gone through detailed debug logs to find out parameters and timing under which a child node decides to try to mark a parent up after it has been downed by ATS. All I

[2021-11-16 18:12] ezelkow1 commented on #6970
Discussing this I dont think we want our make install process to determine these sorts of things and would rather leave it up to the packages and distro specific installs. There is an example specfile that can be used that I believe will install the systemd unit. Putting this in the make system though would need all sorts of distro/systemd/etc checks and I dont think are normally guaranteed via a

[2021-11-16 18:12] #6970 closed

[2021-11-17 22:42] ywkaras opened #8527 "Au test post-early-return fails sporadically for HTTP/2 client"
I change the test to enable debug output for tag http2_stream.   I ran the test 80 times, and it failed 5 times.  I removed the timestamp and event thread number from the output.  This is the output for (all) the failed runs:
[code]
The output for the successful runs was either (16 runs):
[code]
or (59 runs):
[code]
The commit (on master) I built to do this test:  4547ed75cb882f47f30c9370a685489c5

[2021-11-17 23:09] ywkaras commented on #8527
The error output of the (verbose) failed curl command is:
[code]

[2021-11-17 23:19] ywkaras commented on #8527
This is the bash script I used to find the three unique cases:
[code]

[2021-11-17 23:47] maskit commented on #8527
I suppose the INTERNAL_ERROR came from here:
https://github.com/apache/trafficserver/blob/4547ed75cb882f47f30c9370a685489c57ae773d/proxy/http2/Http2ConnectionState.cc#L181-L184

[2021-11-18 00:39] ywkaras commented on #8527
If anyone wants to try to reproduce this, the way I run the same test back to back, multiple times, is to first cd to the directory containing the test, and create aliases for it using symbolic links:
[code]
Then cd to the TS `tests` subdirectory, and run the test multiple times using the aliases:
[code]

[2021-11-18 02:00] masaori335 commented on #8432
@zwoop We cherry-picked some clang-13 related fixes to the 9.1.x. I'd like to backport other PRs too (#8493, #8484).

[2021-11-18 22:46] pbchou opened #8529 "Link error under RHEL7 with ATS 9.1.1 and jemalloc."
@randall -- We had an issue with the linker when building ATS 9.1.1 under RHEL7. I had no problems with my development box, which is Ubuntu 20.04 LTS, but our build environment is still RHEL7 with the newer compiler installed. The problem was fixed when I reverted #8285 in our internal branch. We had previously built 9.0.2 and 9.1.0 with no issues as well. Any ideas?

[code]

[2021-11-19 00:06] randall commented on #8529
Can you see if https://github.com/apache/trafficserver/pull/8492 fixes things for you?

[2021-11-19 00:48] pbchou commented on #8529
No, I cannot due to merge conflicts. This is because #8492 depends upon #8048, which is only in the 9.2.x branch or later. The possibility of #8492 was mentioned to my colleague on the slack channel earlier, but it seems to be a different issue since that issue was introduced in 9.2.x according to that issue's reporter in #8490.

[2021-11-19 17:56] randall commented on #8529
Sorry about that. I'll rollback the change.

[2021-11-19 23:42] randall commented on #8529
@pbchou When you get a chance, can you try #8533 ?

[2021-11-23 00:07] ywkaras opened #8535 "Proposed lib tool to detect wild writes of heap"
This would only be used in test builds.  The test builds could be run in a production environment, but with some perf degradation.

The tool would provide a "private" heap for dynamic memory allocation from a contiguous, page-aligned range.  The test build would require changes to allocate the heap objects to be monitored from this private heap.  All entry point functions to this tool would have t

[2021-11-23 00:19] SolidWallOfCode commented on #8535
Might want to base this on the existing `MemArena` class.

[2021-11-23 00:19] ywkaras commented on #8535
Ahh linked lists from hell!!!

[2021-11-23 00:44] bryancall commented on #7092
@ezelkow1 Is this still an issue?  Should we close this?

[2021-11-23 00:51] SolidWallOfCode commented on #7103
I think the best way to help deal with this is add a `revert` option to `traffic_ctl` that would set a specific configuration variable to the built in default. Detecting an omission from "records.config" would be a bit challenging.

[2021-11-23 00:54] bryancall commented on #7108
@willwendorfvm Do you want to take a look at this?

[2021-11-23 00:56] ywkaras commented on #7139
Please see if this can be reproduced in a supported release.

[2021-11-23 01:03] bryancall commented on #7192
@ezelkow1 Sound like it might be the information about the parent being down is recorded in the metrics that is in the records.snap file.

[2021-11-23 01:06] rob05c commented on #8519
The settings are in records.config:

https://docs.trafficserver.apache.org/en/8.1.x/admin-guide/files/records.config.en.html#parent-proxy-configuration

There are a lot of variables here.

First, it will retry a parent `proxy.config.http.parent_proxy.fail_threshold` times before marking it down. Each time, the timeout will be `proxy.config.http.parent_proxy.connect_attempts_timeout`. The time befo

[2021-11-23 03:31] amoghyermalkar123 commented on #8519
Thank you @rob05c I think that answers my question, also thank you for the documentation links.
Closing the issue.

[2021-11-23 03:31] #8519 closed

[2021-11-23 05:25] ezelkow1 commented on #7092
I suppose we can close this. The issue does still exist and will continue to be a problem on at least 8.1.x. We have not tried collapsed forwarding with any of the 9x releases yet to know if the behavior has changed at all

Up to you if we want to close it or not, since it is a known problem on a current release, but it doesnt seem like a pressing want by the community at this point

[2021-11-23 10:07] tobewithyou1996 opened #8536 "docs have a obvious error"
![image](https://user-images.githubusercontent.com/31532979/143004941-743781b3-7611-477c-93c0-f6ec3afa3c58.png)

version: v10.0
document
[code]
The correct

[code]

[2021-11-23 11:46] brbzull0 commented on #7103
+1 for the revert option.

But in parallel:

It seems to me that someone was thinking about keeping track of the status of the new` records.config `content:
https://github.com/apache/trafficserver/blob/57015b77d45acc7bccea5295a26168faa1d6ef52/lib/records/RecConfigParse.cc#L250

this is never used in ATS though,  it' never gets reset, so won't help tracking new content unless it's allocated in the

[2021-11-24 03:23] #8536 closed

[2021-11-24 22:28] fdiary opened #8538 "compress plugin compresses twice in case of successful POST request to a fresh cache existing URL"
Hi !

I got a double-gzipped response by compress plugin in case of POST request to a fresh cache existing URL.

One is triggered in `TS_EVENT_HTTP_READ_RESPONSE_HDR`, for the response from the server.

https://github.com/apache/trafficserver/blob/d0a44f86345c9125946978efbbf837a720fc9537/plugins/compress/compress.cc#L847-L863

Another is triggered in `TS_EVENT_HTTP_CACHE_LOOKUP_COMPLETE`, for the

[2021-11-25 06:55] dhairav commented on #8519
Thank you @rob05c for the detailed explanation!

[2021-11-25 08:37] fdiary commented on #8538
Also, `remove-accept-encoding true` does NOT work for this 'POST request to a fresh cache existing URL' case.

* GET (no cache) -> Accept-Encoding removed
* GET (cache hit) -> Accept-Encoding removed
* POST (cache hit, that will be invalidated) -> Accept-Encoding NOT removed
* POST (no cache) -> Accept-Encoding removed

[2021-11-25 09:21] fdiary commented on #8538
This issue happens only with `remove-accept-encoding true` configuration, so the description above might be wrong.

[2021-11-25 23:34] #8538 closed

[2021-11-26 08:17] fdiary opened #8539 "CACHE_LOOKUP_HIT_FRESH status for POST request is not good"
Hi !

If ATS receives a POST request to 'fresh cache existing' URL, we have CACHE_LOOKUP_HIT_FRESH status. But ATS will never return such fresh cache unless `proxy.config.http.cache.post_method` is 1, regardless if POST request (that should be always sent to the backend) succeeds or not. I believe the status should be something else for such 'fresh cache exists but it will not be served' case, by

[2021-11-30 00:28] SolidWallOfCode commented on #8539
Does this happen in only `POST` is used for the URL? Or does it require having done a `GET` previously that was cached?

[2021-11-30 00:28] bneradt commented on #8539
@fdiary : can you please write an autest for this? If not, can you provide a set of curl commands that would reproduce this so that someone else can write the autest for it.

[2021-11-30 00:39] bneradt commented on #7205
@SolidWallOfCode : Alan is checking quickly whether this test actually inserts alternates for the requested object. If we find the test to be insufficient, we should probably write an autest to exercise this case.

[2021-11-30 00:56] bneradt commented on #7214
Lets get rid of the afterpoll versions. They are adding nothing over the (write|read)fromnet versions. And lets add the stat to increment the readfromnet function.

[2021-11-30 13:55] fdiary commented on #8539
@SolidWallOfCode

Yes.

Imagine we have the following chronological requests in the **same** URL :

1. GET : CACHE_LOOKUP_HIT_MISS -> fetch from the origin server, then respond it and store in cache
2. GET : CACHE_LOOKUP_HIT_FRESH -> fetch from the cache, then respond it
3. POST : CACHE_LOOKUP_HIT_FRESH -> but fetch from the origin server, then respond it and invalidate the existing cache
4. POST

[2021-11-30 14:20] fdiary commented on #8539
@bneradt Let me first show the minimal example of the following issue :

* dump_accept_encoding.py
[code]

* plugin.config
[code]

* compress.config
[code]

Now let's show the result of the 4 requests as written in the previous comment :

[code]

As you can see, CACHE_LOOKUP_HIT_FRESH is not a proper enough condition to know 'ATS will return a cached response'. But I'm wondering what should be the

[2021-12-01 13:10] djcarlin opened #8542 "Performance Tuning documentation page missing"
I was looking up timeout settings docs:

https://docs.trafficserver.apache.org/records.config#proxy-config-http-keep-alive-no-activity-timeout-out

They all say "See Timeout Settings for more discussion on Traffic Server timeouts." but if you click on the link you get 404.

Should this https://docs.trafficserver.apache.org/records.config page even exist?  I was expecting something with a documenta

[2021-12-01 16:19] ywkaras commented on #8542
Dude, it's trafficserver.  I think you're getting unrealistic hopes cause I asked for a pony and actually got one.

[2021-12-01 19:57] pbchou commented on #8529
@randall -- We tested your PR #8533 against 9.1.x in our RHEL7 build environment. It was able to be built successfully.

@bryancall  -- By the way, do we still have RHEL7 in our CI environment? I understand it is getting old.

[2021-12-01 20:01] ezelkow1 commented on #8542
This came up during the CI rework. There are a handful of placeholders like that because some people, mainly @zwoop :), liked having those shorthand shortcuts to specific files. So we have specific remaps for specific files like that

We did have to fix them once already but maybe we are still missing some for them

[2021-12-01 21:44] bneradt commented on #8539
Thank you @fdiary for these details. This is helpful. I'll start by working on a test for this.

[2021-12-02 20:23] bneradt commented on #8539
I've created and added the following plugin to the cache-request-method.test.py test. It reproduces the issue by printing the cache status which it sees:

[code]

The test is updated with:

[code]

Running the test gives this output:

[code]

The test does a:

1. GET for a resource. Should be a miss and it is (good).
2. Repeats the GET. Should be a hit and it is (good).
3. Does a POST for the reso

[2021-12-02 20:30] bneradt commented on #8539
Now that we've reproduced this with a test, we'll have to consider how to handle this. I'm a little leery about changing this `cache_lookup_result` variable because both the HttpSM.cc and HttpTransact.cc make use of the `cache_lookup_result` in a way that looks potentially sensitive. I don't want to break things in a non-obvious way. I'll tinker around a bit and see what our options are.

[2021-12-02 21:24] shadyabhi opened #8544 "Feature: Add "logging field" to identify proxy protocol client's IP address (previous proxy hop)"
Relevant fields for this discussion (from https://docs.trafficserver.apache.org/en/latest/admin-guide/logging/formatting.en.html#admin-logging-fields-network)

| Field | Source | Description |
| --- | --- | --- |
| chi | Client | IP address of the client’s host |
| pps | Proxy Protocol Source IP | Source IP received via Proxy Protocol context from the LB to the Traffic Server |

With only these re

[2021-12-02 22:10] bneradt commented on #8539
@fdiary : I created #8545 for this. For these situations where there is a cached resource but the request methods don't line up, the patch will cause `TSHttpTxnCacheLookupStatusGet` to now return a `TS_CACHE_LOOKUP_MISS` instead of a `TS_CACHE_LOOKUP_HIT_FRESH`. I think this will address your situation, but can you please confirm this?

[2021-12-02 22:47] mlibbey commented on #8542
Just had an internal report of the same. Google has the "bad" page as the first result for "ats records.config"

[2021-12-02 22:53] bneradt commented on #8542
Thanks for pointing this out Dave!

There's two unrelated things mentioned in this thread:

Should this https://docs.trafficserver.apache.org/records.config

This understandably looks strangely short, but this is fine. As Evan
pointed out, this is an intentionally configured shortcut that allows easy
linking to records.config documentation. The shortcut is in place because
it is frequently accesse

[2021-12-03 00:13] fdiary commented on #8539
@bneradt Thanks for your great effort !

Yes, exactly. The change in #8545 will solve this issue, without any change on existing plugins. If there isn't any bad side effect with it, it should be the best solution, in my opinion.

[2021-12-03 06:03] dandinw commented on #8216
I have the same problem

[2021-12-03 06:06] dandinw commented on #8216
Have you solved the above problems?

[2021-12-05 23:13] masaori335 commented on #8544
IMO, the `chi` should always be the `previous hop`. We need to check why it's updated.

[2021-12-07 00:52] ezelkow1 commented on #7220
Ill take a look when I get a chance, I ran into this as well not too long ago. Hopefully its actually reloadable and was just missed on the list of files

[2021-12-07 00:52] bneradt commented on #7220
@ezelkow1  volunteered to take a look at this.

[2021-12-07 00:58] masaori335 commented on #7227
The below section of the cache-test will be green if this is fixed?

https://cache-tests.fyi/#auth

( I think we had this cache-test on our ci before...I don't know where it is now )

[2021-12-07 01:03] bneradt commented on #7230
@elsloo : can you please verify whether this is still an issue? I believe we no longer cache the Transfer-Encoding header and this should be fine.

[2021-12-07 01:08] SolidWallOfCode commented on #8542
The internals are fine and the relative links are fine. The problem is entirely landing on a page like "https://docs.trafficserver.apache.org/records.config". THAT IS WRONG. It should be "https://docs.trafficserver.apache.org/admin-guide/files/records.config.en.html". The result is the brower is using the wrong URL and does the relative computation incorrectly. I'm not sure Sphinx can be set to us

[2021-12-07 01:38] mlibbey commented on #8542
where is the shortcut configured? I don't see a raw records.config in the /doc/docbuild/html/ after building; and I haven't been able to find it in source. Is it done in the docs ATS directly? (and if so, can we change it from map to redirect_temporary ?)

[2021-12-07 04:18] ezelkow1 commented on #7227
yea Ive added it to my list to go and fix cache-tests on the new ci. We had it working a while back but since we had to shuffle around its network configuration and hosting the cache-tests hosting container got lost. So its on my list to go fix when I get a chance

[2021-12-07 16:14] elsloo commented on #7230
This likely should have been closed via #7234. I don't believe this case applies since the introduction of that change.

[2021-12-07 16:14] #7230 closed

[2021-12-07 17:12] #8529 closed

[2021-12-09 06:30] amoghyermalkar123 opened #8553 "ATS tries to DNS resolve host header"
I currently have a ATS cache-hierarchy system in place. I have multiple child ATS nodes and multiple parent ATS nodes. So for example, if i get a request on a child node, it first DNS resolves its parents defined in parent.config. If the DNS fails for some reason, or the parents are unreachable it then tries to DNS resolve the host header of the request. I want to avoid doing that. The reason for

[2021-12-09 06:34] amoghyermalkar123 commented on #8553
It'd be amazing if I could get a state machine as well :)

[2021-12-10 20:51] chenrui333 opened #8554 "trafficserver 9.1.1 OSX build failure"
👋 trying to upgrade trafficserver to the latest version, but failed with the following build errors.

[code]

[code]

- relates to Homebrew/homebrew-core#90883

[2021-12-14 00:36] ywkaras commented on #7324
Please try to reproduce this in ATS 9.1, and reopen this issue if you still see it.

[2021-12-14 00:36] #7324 closed

[2021-12-14 00:37] bneradt commented on #7341
Openssl 3.0 has been released now. @maskit : can you please update this issue with anything relevant now that it is released?

[2021-12-14 00:39] bneradt commented on #7353
I'll try this out locally.

[2021-12-14 00:40] traeak commented on #7322
Just ensure non duplicate rules in a file being loaded.

[2021-12-14 00:40] #7322 closed

[2021-12-14 00:46] masaori335 commented on #7381
Duplicated with https://github.com/apache/trafficserver/issues/7214

[2021-12-14 00:46] #7381 closed

[2021-12-14 00:50] bneradt commented on #7388
@ezelkow1 and @jrushford : since the current plan is to replace this with strategies.yaml which supports comments, do you think we can close this issue?

[2021-12-14 01:09] rawlinp commented on #7388
As the issue opener, I'm ok with closing this issue. The ATC project has resorted to using full-line comments in `parent.config`, so there's no need for this feature anymore from ATC's perspective.

[2021-12-14 23:45] ezelkow1 opened #8555 "Stop write_fail actions from going to origin if parentage with go_direct=false"
The way the current write_fail action code is written I believe it allows children caches of parents to bypass parents in the case where they are not able to obtain a write lock on an object. This would usually happen during a thundering herd event when an upstream origin has issues and so there is already one request waiting on a response, no headers have been received, so there is no object in c

[2021-12-15 18:03] ywkaras commented on #8555
If possible, attach the ATS configs and HTTP message captures with last hop and next hop for when this occurs, or an Au test.

[2021-12-15 18:22] ezelkow1 commented on #8555
@traeak may have some logs, later, since he can reproduce this in a lab. I believe it comes down to this section,
https://github.com/apache/trafficserver/blob/master/proxy/http/HttpTransact.cc#L3269

In the else case there we have exhausted all write lock attempts at which point I believe that how_to_open_connection will just send the sm direct to the origin, bypassing parents. Its just an educate

[2021-12-16 11:17] martinezgarciadavid opened #8557 "Dynamic origin server selection with REST API in ATS"
Dear all,

First of all, excuse me if this is not the most appropriate place to ask about a feature, since what I would like to ask is not an issue related with the implementation of this software.

We have a validation scenery consisting of a single origin server and an instance of Apache Traffic Server that listens for HTTP requests from a client and redirects those requests to the origin server

[2021-12-16 14:27] brunoblits opened #8558 "Escalate plugin out of cache control"
Hi Team,

I'm using the Escalate plugin to handle errors, however when redirecting to a new origin the correct return is not cached.

Are there any reasons for this behavior? Is it possible to enable the cache if the new origin responds correctly?
I'm using escalate 9.1
Have been stuck with this for a while. Has anyone else ever faced this issue?

Thank you!

[2021-12-16 17:32] mlibbey commented on #8557
I don't think there is an opt of the box feature that does exactly this.

- it might be possible to do a lua plugin script. Like fetch the api (ts.fetch?), parse the json, and then set the IP (like ts.server_request.server_addr.set_addr?)
- I believe the concept would fit into a parent selection strategy plugin. https://docs.trafficserver.apache.org/admin-guide/files/strategies.yaml.en.html is for

[2021-12-17 07:16] v1siuol commented on #1907
hmmm, I might have some time and work on this

[2021-12-17 09:19] amoghyermalkar123 commented on #8553
Hi, could I please get some help :)

[2021-12-17 13:04] martinezgarciadavid commented on #8557
Thanks for your help and tips. We are looking into building a plugin with Lua. If not, we will try using C.

[2021-12-17 16:02] brunoblits commented on #8558
I found the solution to work I need both settings in records.config:

CONFIG proxy.config.http.number_of_redirections INT 3
CONFIG proxy.config.http.redirection_enabled INT 1

[2021-12-17 16:02] #8558 closed

[2021-12-17 19:48] bneradt commented on #7353
@ancjf : When I add `-static` to my configure line as you suggest, it fails configuration. I don't get as far as you, since you seem to make to to compilation with these flags.

Here's how this can be reproduced using our CI's centos 8 docker image:

[code]

The config.log has this:

[code]

Simplifying to ` ./configure LDFLAGS="-static" --prefix=/opt/trafficserver-8.1.0` produces a similar error.

[2021-12-19 22:54] #7865 closed

[2021-12-21 04:19] #8554 closed

[2021-12-21 05:27] shukitchan commented on #8291
The script looks fine. I understand your intention of making ESI plugin to support 304 status response from origin as well.

However, my question is that status 304 is normally without a response body and so why would you want an ESI processing to happen on a 304 status response from origin? Can you give me a use case?

[2021-12-21 07:43] shukitchan commented on #8291
After rereading this thread, I know I misunderstand something. Now I understand that you are trying to trigger ESI processing on the cached response while ATS is receiving the 304 response from origin.

This does look like a problem that I can provide a fix inside the plugin.

[2021-12-22 00:37] masaori335 opened #8561 "Test of thread pool example plugin"
The thread_pool example plugin (psi) has some tests, but it's not built nor running. Do we want to maintain this test or KIWF?

https://github.com/apache/trafficserver/tree/master/example/plugins/c-api/thread_pool
https://github.com/apache/trafficserver/tree/master/example/plugins/c-api/thread_pool/test/SDKTest

[2021-12-22 18:34] #8557 closed

[2021-12-23 06:15] ywkaras opened #8562 "We don't use IRC anymore -- need to fix sphinx docs"
https://github.com/apache/trafficserver/blob/master/doc/preface/index.en.rst#internet-relay-chat-irc

While we're at it, either somebody should add content to the "Community Forums" section, or we should delete it.

[2021-12-24 00:13] #1907 closed

[2021-12-26 19:30] brbzull0 opened #8564 "SNIConfigParams::get seems to be leaking in some scenarios. (tunnel_route)"
Adding this issue here so I don't forget to fix it.

[SNIConfigParams::get ](https://github.com/apache/trafficserver/blob/a0c5ac306954e90fa79126f96d56dce342743c10/iocore/net/SSLSNIConfig.cc#L145-L152)seems to be  leaking on some scenarios, i.e.: When there is more than one matched subgroup, only the last group is released.

 example:
[code]
The code will allocate memory for two subgroups and only

[2021-12-27 08:37] amoghyermalkar123 opened #8565 "Debugging remap.config compile failures"
Hi,
I have been facing issues while trying to debug why exactly my remap configurations fail. The error messages are not helpful while doing so, the only thing they mention is : ```unable to add mapping rule to lookup table``` with some line number.

The only way I know of debugging remap failures is to try different permutations and combinations for changing plugins and their pprams to check whic

[2021-12-28 09:27] amoghyermalkar123 opened #8566 "Limitations on remap.config"
Hi,

I was wondering about the limit of mappings for remap.config. How many such entries can one remap.config can have, and what could be a point where ATS will start to hit performance bottleneck.

[code]

[2021-12-29 06:27] bywangxp opened #8567 "which variable represent the http_proxy url?"
when use ats to access ,for example:   curl -x xxx.myproxy.com:8080 www.baidu.com

i want print  proxy url:xxx.myproxy.com in access_log.  which variable represent？

[2021-12-29 17:47] mikeV02 opened #8569 "Prefetch Plugin Overflows when adding greater than 32-bit numbers"
Hello,

I was configuring the prefetch plugin to use for HLS caching hit improvements, and captured the required patterns with regex and added the next segments to download according to matches on our HLS manifest files. However, one of these patters, uses numbering higher than the max signed 32-bit integer, thus I saw it was overflowing and wrapping back into the negative integers. Looking at the

[2021-12-29 19:11] mikeV02 commented on #8569
Hello,

To confirm, changing result to long, and a and b to unsigned long did the trick.

Regards!

Miguel

[2022-01-02 08:37] amoghyermalkar123 commented on #8553
Hi, is there some additional information required on this issue? Is this ready to be assigned?

[2022-01-02 18:34] jvgutierrez commented on #8553
have you tried `proxy.config.http.no_dns_just_forward_to_parent`? It's documented on https://docs.trafficserver.apache.org/en/latest/admin-guide/files/records.config.en.html#proxy-config-http-no-dns-just-forward-to-parent. We are successfully using it.

[2022-01-03 17:16] bneradt commented on #8542
I fixed this via httpd configuration settings. I removed the remap.config rule to handle the shortcut and configured redirection via httpd, as was done in the earlier CI configuration. This allows both the shortcuts to work and the links from pages that were loaded via a shortcut URL.

Thus, if you now follow this shortcut link:
https://docs.trafficserver.apache.org/records.config#proxy-config-htt

[2022-01-03 17:16] #8542 closed

[2022-01-04 00:45] bryancall commented on #8569
@mikeV02 would you like to make a PR to fix this issue?

[2022-01-04 00:52] bryancall commented on #8566
In production we have 20 to 30 thousand.  If you are only using `map` the limit should be memory since it is a hash lookup on the host name and a trie for the path.

[2022-01-04 09:52] amoghyermalkar123 commented on #8553
Thanks, I will try this out.
Is there a FSM diagram available anywhere for any kind of algorithms in ATS? Be it DNS lookup or parent selection, I have a lot of missing dots in my head that i am trying to connect about various algorithms.

I saw the debug logs where state transitions are mentioned, I was able to make a decent FSM from those by testing my ATS nodes under a bunch of different scenari

[2022-01-04 10:00] amoghyermalkar123 commented on #8566
I also have a bunch of `redirects` , you could say if I have N `map` then I'd have N/2 `redirect`. Something along this ratio.
Would this be problematic and in what way will it affect the system once the N starts to hit 10k ?

I do monitor my system but I want to be proactive about this.

[2022-01-05 04:37] maskit commented on #7341
I updated the list. The biggest change since the last check is that `HMAC()` function (one-shot HMAC function) was un-deprecated. HMAC low level functions were kept deprecated.

Also, this is not new info though, I realized that some deprecated functions are actually faster than the current equivalent functions (see #7447). It means we should not simply replace the deprecated functions with new on

[2022-01-06 09:50] hejcz opened #8583 "S3 Auth plugin does not work for consecutive spaces in header"
According to https://docs.aws.amazon.com/general/latest/gr/sigv4-create-canonical-request.html

"To create the canonical headers list, convert all header names to lowercase and remove leading spaces and trailing spaces. Convert sequential spaces in the header value to a single space."

Traffic server does not remove sequential spaces from values what in our case leads to different headers signatur

[2022-01-07 00:09] shinrich opened #8587 "HTTP/2 does not work with outbound transparent"
Once I fixed issue #7525, I could pass traffic for HTTP and HTTPS HTTP/1.1 with the certifier plugin.  But for HTTP/2 traffic I would get a 500 response.  Looking at the debug messages, it appeared that the HttpSM was very insistent about doing a DNS lookup on the domain.

Eventually tracked it down to the fact that the accept object transparent flags were not being propagated properly to the Http

[2022-01-07 02:31] bywangxp commented on #8567
@calavera @janfrode @biilmann  help

[2022-01-07 08:17] maskit commented on #8199
I've already commented my stance (-0 to go with Susan's proposal) on the PR, but I visualized current and proposed behavior just to make sure we all are on the same page. Let me know if my understanding is wrong.

Although adjusting window sizes by plugins via TS API would be the most flexible and potentially the best solution, I still think my proposal works better than Susan's IF I understand th

[2022-01-08 06:52] shukitchan commented on #8351
I can reproduce this and my suggested fix can correct the problem. In general, this is the problem with lua plugin, we kept the TSMLoc/TSMBuffer of client request/client response/server request/server response within a http_ctx and it exists throughout a transaction. But there are things (e.g. the TSHttpTxnRedirectUrlSet API) that can alter them within a transaction. So saving TSMLoc/TSMBuffer and

[2022-01-10 13:47] smalenfant commented on #7710
Just compiled 8.1.3 and tried in my lab. The problem is present after patch been reversed.

[2022-01-10 14:57] #7525 closed

[2022-01-10 16:26] shinrich commented on #8587
Talked with @SolidWallOfCode about my original PR. He pointed out the proxy.config.hostdb.host_file.path which fixed quite a file things.  Setting it to 2 made my environment work where the gateway didn't have the same DNS access as the client.  I set up PR #8593 to clean up the documentation with obsolete info and highlighted this setting.

Changed the code PR #8594 to propagate the outbound sett

[2022-01-10 20:06] bryancall commented on #8567
We don't get the name of the proxy server that is used from `curl -x`.  We do have the hii, hiih, and php to record the ip and port that the client is connecting to:  https://docs.trafficserver.apache.org/admin-guide/logging/formatting.en.html#network-addresses-ports-and-interfaces

[2022-01-10 20:13] bryancall commented on #8566
I believe the redirects are also a hashmap on the hostnames.  It has been awhile since I have read over that code.  The issue you would see is higher CPU in that location in the code when running ` perf top`.  We have a bunch of `regex_map`  (the most expensive rule) in our remap files and have 20-30k configuration lines.

[2022-01-11 00:41] bryancall commented on #8561
@masaori335 please create a PR to remove these plugins

[2022-01-11 00:45] bryancall commented on #7423
@shukitchan Are you taking a look at this?

[2022-01-11 00:46] bryancall commented on #7424
@c-taylor Can you please respond to my previous comment.

[2022-01-11 00:52] bryancall commented on #7442
The docs have been updated.

[2022-01-11 00:52] #7442 closed

[2022-01-11 00:53] bneradt commented on #7442
Thanks Miles for filing this. Looks like this has been updated. See:
https://docs.trafficserver.apache.org/en/8.1.x/admin-guide/plugins/header_rewrite.en.html#random

[2022-01-11 00:59] #7656 closed

[2022-01-11 01:01] #7472 closed

[2022-01-11 01:03] bryancall commented on #7458
Here is a link to the docs: https://docs.trafficserver.apache.org/admin-guide/files/records.config.en.html?proxy-config-http-normalize-ae

[2022-01-11 01:05] masaori335 commented on #7428
Let's see when we get FreeBSD build on ci system.

[2022-01-11 01:25] rob05c commented on #7458
`normalize_ae` affects what ATS sends the upstream parent or origin. It doesn't affect what ATS sends the client.

For example, if a client sends the header `Accept-Encoding: gzip,br,deflate,foo,bar,baz` and `normalize_ae` is 1 (gzip), ATS then sends the upstream parent/origin `Accept-Encoding: gzip`. This in no way affects what ATS sends the client.

Whatever the parent responds with, ATS will ca

[2022-01-11 07:37] shukitchan commented on #7423
Yes. I will submit a PR.

[2022-01-11 11:26] c-taylor commented on #7424
Sorry...

I can confirm a filter can be applied using `TCP_SWAPFAIL_MISS` without error.

Example permalink of the docs used for my initial assertion:
https://docs.trafficserver.apache.org/en/latest/admin-guide/logging/cache-results.en.html#tcp-swapfail

[2022-01-11 12:27] chenzunfeng opened #8597 "writer_done() for ReadFromWriter"
https://github.com/apache/trafficserver/blob/71e4abada913ff35ad60d4d9c98e462b11b86c23/iocore/cache/P_CacheInternal.h#L759
It seems that `CacheVC::writer_done()`  used to check whether `CacheVC::write_vc` is still in the OpenDir. I've read the code of this function, and I found the `for` loop below.
[code]
With the conditional statment `w->start_time > start_time`, I assume `write_vc` doesn't exist

[2022-01-11 13:05] traeak opened #8598 "proxy.config.http.cache.open_read_retry_time default value impractical"
The default value for proxy.config.http.cache.open_read_retry_time is 10ms.

While running synthetic load testing simulating a thundering herd against a rotating manifest file I added debug into HttpCacheSM to printout time when read retries occurred.  On a broadwell xeon with nvme drives I was consistently seeing more than 900ms between these calls.  However under these conditions I was seeing at

[2022-01-11 14:24] amoghyermalkar123 commented on #8566
Got it, thanks alot for this. Closing this issue. :)

[2022-01-11 14:24] #8566 closed

[2022-01-11 15:11] #8587 closed

[2022-01-11 18:01] #7139 closed

[2022-01-11 18:01] ywkaras commented on #7139
Please reopen this issue if the problem is seen in a currently supported release.

[2022-01-11 18:36] vmamidi commented on #2376
fixed by #8484

[2022-01-11 18:36] #2376 closed

[2022-01-11 18:39] duke8253 commented on #8583
fixed by #8579

[2022-01-11 18:39] #8583 closed

[2022-01-11 22:10] mlibbey commented on #8567
phn is apparently undocumented, but contains the proxy.config.proxy_name in records.config (https://docs.trafficserver.apache.org/admin-guide/files/records.config.en.html#proxy-config-proxy-name)

[2022-01-11 22:59] #8561 closed

[2022-01-12 03:21] #8597 closed

[2022-01-12 23:59] #8562 closed

[2022-01-14 06:38] maskit opened #8604 "Crashes on Http1ClientTransaction::handleEvent"
We've been seeing crashes on 9.2.x.

[code]

I looked int the core file and found that `handler` is nullptr in `handleEvent()`.
https://github.com/apache/trafficserver/blob/b1df63a530187278f71fd0462c52f7ce1155a314/iocore/eventsystem/I_Continuation.h#L214-L220

The continuation (`this` in the code above) seems to be `Http1ClientTransaction`, and it doesn't make sense to me because `Http1ClientTrans

[2022-01-14 07:36] michelamarie opened #8605 "Likely Documentation Issue: Trouble building ATS on EL 8"
Hello!

I am trying to build Traffic Server 9.1.1 on Oracle Linux 8, using the [official documentation for CentOS](https://cwiki.apache.org/confluence/display/TS/CentOS), and I have run into a number of issues.

It appears that I have got the software to build correctly, but I see an error when I run 'make install':
`src/node_data.cpp:16:20: error: no declaration matches ‘const string& YAML::detai

[2022-01-14 20:15] randall commented on #8605
@michelamarie Just curious, did you try building without `yaml-cpp-static` (and picking up the version of yaml-cpp included in the source distribution) ?

Also, can you share your `configure` command line?

[2022-01-14 22:42] michelamarie commented on #8605
Hi, @randall. Well, I did try building ATS without the `yaml-cpp-static` package installed. I now see that there is a parameter in the configure script, '`--with-yaml-cpp=DIR     use a specific yaml-cpp library`', though I am not sure what I would set that parameter to.

I executed configure with no parameters, as specified in the documentation _(it says to simply run `./configure && make`)_. Are

[2022-01-15 22:00] randall commented on #8605
Do you have the `yaml-cpp-devel` package installed (or equivalent named)? If so, can you remove it for the configure/compile? I think it's a bug in how we detect/setup yaml-cpp includes. I'll try to get a OEL8 environment to verify things locally.

[2022-01-17 06:02] maskit commented on #8604
The crash doesn't happen frequently and I couldn't reproduce it locally, so it's hard to tell if #8609 works, but it should prevent the crash at least.

[2022-01-18 17:36] traeak opened #8614 "transaction timeouts with proxy.config.http.cache.open_write_fail_action set to '5'"
```CONFIG proxy.config.http.cache.open_write_fail_action INT 5```
corresponds to:
Retry Cache Read on a Cache Write Lock failure

When simulating a thundering herd against a manifest file with max-age=1 and changing content every 10s it has been observed that 1-3 transactions ended up timing out with ERR_CLIENT_ABORT and 0 bytes transferred.  This is in contrast to other settings which always retu

[2022-01-18 17:48] #8604 closed

[2022-01-19 00:43] #8291 closed

[2022-01-19 01:51] bneradt opened #8616 "cache-request-method AuTest fails on master"
After merging in this PR:
https://github.com/apache/trafficserver/pull/8545

CI now fails.

This is the sequence of events that led to this:

1. PR #8545 was created. CI ran and passed.
2. While that PR was up for review, PR #8484 was put up and merged in.
3. PR #8545 was then merged in.
4. CI now fails for the test added in #8545 to verify its behavior.

It looks like #8484 breaks the patch in #8

[2022-01-19 12:45] #8616 closed

[2022-01-19 15:12] #8564 closed

[2022-01-20 00:17] pateze opened #8624 "Problems compiling ATS 9.1.1 on OpenIndiana"
Hello! I am having trouble compiling ATS 9.1.1 on the latest version of OpenIndiana. When running `gmake` as described in the documentation, do this:
[code]
I've tried adding the flags for CFLAGS and CXXFLAGS, but I don't know if they are correct. I honestly don't have much experience compiling (of course, if I don't add the CFLAGS and CXXFLAGS, they appear empty):

`./configure --prefix=/opt/ts C

[2022-01-20 00:40] maskit commented on #8624
Could you try again with a change below like the error message suggests?

[code]

[2022-01-20 00:57] maskit commented on #8624
I just googled OpenIndiana, and it seems like a variation of Solaris. You may see a lot of compile errors because code for Solaris is no longer maintained. #5553

[2022-01-20 02:14] pateze commented on #5553
I know it's been a long time but I think it could be useful.
I can't promise anything but, I'll see if I can get (I'd do my best and the impossible) the hardware you need to resume support.
The issue is... are you interested in resuming support?

[2022-01-21 06:43] Mouray-Hutchinson commented on #1921
Hello, I would like to work on this and replace the scoped logic with std::unique_ptr. Can this be assigned to me?

[2022-01-21 16:24] bryancall commented on #8567
If this is still an issue please reopen.

[2022-01-21 16:24] #8567 closed

[2022-01-21 17:37] bneradt commented on #3551
Closing this since we are now using the new CI which is running with HTTP/3. And the latest autest jenkins run still shows the HTTP/3 test running:

https://ci.trafficserver.apache.org/view/Github/job/Github_Builds/job/autest/511/console

[code]

[2022-01-21 17:37] #3551 closed

[2022-01-21 19:53] #7423 closed

[2022-01-25 00:57] SolidWallOfCode commented on #8624
I think that fix should work, but we simply don't have anyone who uses this type of operating system so we can't maintain it.

[2022-01-25 00:59] bryancall commented on #8624
@pateze we are willing to taking PRs for Solaris fixes.  However, we don't have a way of testing the changes right now.

[2022-01-25 01:03] SolidWallOfCode commented on #8605
I've built on CentOS 8 (I don't have EL 8) and didn't see this issue. You should not need any "yamlcpp" package as that is contained inside the ATS codebase. I thin Randall is likely correct that one being present might be confusing ATS.

[2022-01-25 11:43] c-taylor commented on #8426
The abortive close approach to setting with timeout 0 just before close() is a great mitigation for 'misbehaving' clients.
* Timed out
* Invalid data
* Rate limited
etc.

However the default should be to not set outside of the above.

I don't believe the need to (write->drain->close) as a one shot is a common use case, and also should not be a default.

[2022-01-27 23:59] #8351 closed

[2022-01-28 14:57] jmoleiro opened #8634 "Reverse proxy ignoring strategies.yaml?"
HI!

I've setup a reverse proxy with the idea of serving from one server and fallback to the seccondary server if the primary goes down. On the *remap.config* file i added this rule

[code]

and on the *strategies.yml* file i've defined these rules

[code]

When i test, and stop then httpd service on the Server 1, instead of routing to server 2, I get this error

### Could Not Connect
Description:

[2022-01-28 15:42] jrushford commented on #8634
Jonatan, I just noticed the filename, “strategies.yml”.  The default filename is “strategies.yaml”.  Try renaming the file.  If you prefer the “.yml”,
Modify the default name with this setting in records.config:

proxy.config.url_remap.strategies.filename CONFIG STRING strategies.yml

John

From: Jonatan Moleiro ***@***.***>
Reply-To: apache/trafficserver ***@***.***>
Date: Friday, January 28, 202

[2022-01-28 16:11] jmoleiro commented on #8634
Hi! Sorry, it was a typo, the fle is named strategies.yaml

And i was looking on the [logging documentation](https://docs.trafficserver.apache.org/en/9.0.x/admin-guide/files/logging.yaml.en.html), but I can't find references to next_hop logging. Any idea on where can i find some docs on this?

Thanks!

[2022-01-28 16:40] jrushford commented on #8634
Jonatan,

I’ve tested your yaml.  The issue is the missing colon following “scheme” on line 29 of your yaml.  Also, “hash_key” is not valid for a policy of “latched”.  It’s only valid if the policy is “consistent_hash”.  Finally, the default name is strategies.yaml.  The single quote around the strategy name in strategies.yaml is fine.

Fix this and it should load.  Check the diags.log for yaml lo

[2022-01-28 16:46] jrushford commented on #8634
I found the errors.

  1.  Use strategies.yaml
  2.  Colon after scheme on line 29
  3.  hash_key is only for a policy type of consistent_hash, invalid for policy type of latched

Everything else is fine

In records.config you can enable debug:

CONFIG proxy.config.diags.debug.enabled INT 1
CONFIG proxy.config.diags.debug.tags STRING next_hop

Restart ATS and watch traffic.out

John

From: Jonatan

[2022-01-29 01:06] pbchou opened #8635 "Core dump due to assertion failure "vio->mutex->thread_holding == this_ethread()" in PluginVC.cc with Lua plugin"
With an '--enable-debug' compiled version of ATS 9.1.1, we are seeing a core dump due to assertion failure "vio->mutex->thread_holding == this_ethread()" in PluginVC.cc with the Lua plugin. This also appears to happen with the ATS 9.1.x and ATS master branches. The situation is that we are running a custom Lua script that does token hash authorization. If the authorization fails, then we use ts.ht

[2022-01-31 14:18] jmoleiro commented on #8634
Hi!

I've made the changes.

![diags](https://user-images.githubusercontent.com/247449/151808132-85be9899-a4e3-47f5-a93b-3c9dd30cab93.jpg)

But i cannot find the file traffic.out

This is the diags.log content

![log](https://user-images.githubusercontent.com/247449/151809615-7baeb90d-4c99-42c2-b0c1-ced0f1208a41.jpg)

I'll keep digging

Thanks

J

[2022-01-31 15:09] jrushford commented on #8634
Jonatan,

From looking at the diags.log, your strategies.yaml file loads successfully with no errors.

The traffic.out file should be in the same directory as the diags.log.  Make sure that you have the following two configs in records.config set to enable debug with next_hop.

CONFIG proxy.config.diags.debug.enabled INT 1
CONFIG proxy.config.diags.debug.tags STRING next_hop

Make sure you’ve re-s

[2022-01-31 15:23] jrushford commented on #8634
@jmoleiro make sure that you enable debug in records.config.  You should have these two config settings:

CONFIG proxy.config.diags.debug.enabled INT 1
CONFIG proxy.config.diags.debug.tags STRING next_hop

After editing records.config, either restart trafficserver or run # /opt/trafficserver/bin/traffic_ctl config reload

[2022-01-31 21:05] bneradt commented on #8539
It has proven tricky to both reliably fix this issue without introducing other issues. My first patch, while stable, got broken by a change in the way things are ordered in the HttpSM, while my second patch, while presumably more reliable wrt this issue, introduced crashes in some situations. I'll try to swing back around to this issue later. For now I backed out both patches to ensure stability i

[2022-02-01 00:42] bryancall commented on #8635
What is the value of `vio->mutex->thread_holding`?

[2022-02-01 00:53] #7536 closed

[2022-02-01 01:03] bryancall commented on #7638
@mtorluemke is this still an issue?

[2022-02-01 06:13] #7503 closed

[2022-02-01 06:56] maskit commented on #7544
Follow up to weekly issue scrub: The issue doesn't seem to be resolved, though there was discussion underground.

[2022-02-01 07:34] stackexpress-jawed commented on #8216
No, not solved..

[2022-02-01 12:49] martinezgarciadavid opened #8639 "Remap rule independent of Host header from client"
Hello,

We have a particular isolated scenery for testing and validation in which we have an instance of Apache Traffic Server working as a reverse proxy. Until now, for every client request the proxy executes a Lua script (via the Lua plugin) that calls a REST API exposed by a third component to dynamically select an origin server. The client request URL points to the domain name or IP address of

[2022-02-02 09:08] martinezgarciadavid commented on #8639
Thanks a lot, @mlibbey, the Match-all is what we needed.
The explanation was a little bit tricky because the scenery is very special and particular. What we basically want to do is make the proxy to serve any request from the client: those for content we serve and also for other content external to us (for instance, if the client wants to retrieve an Internet reachable webpage or content, such as

[2022-02-02 12:25] #8639 closed

[2022-02-02 16:14] bryancall commented on #7508
This can be accomplished by using the CDN loop detection header defined in RFC 8586 (https://datatracker.ietf.org/doc/html/rfc8586).  The header could be created or appended to on ingress and then fetch the header and look for the matching string.

[2022-02-02 16:14] #7508 closed

[2022-02-02 19:34] pbchou commented on #8635
The value of ```vio->mutex->thread_holding``` is a null pointer 0x0.

[2022-02-03 00:09] pbchou commented on #8635
Confirmed same result on up to date branches '9.1.x' and 'master'.

[2022-02-04 02:00] masaori335 opened #8642 "Build failure on macOS"
[code]

It looks like macOS has POSIX version `strerror_r ` only.

[code]

[2022-02-04 18:22] #8642 closed

[2022-02-06 23:53] masaori335 opened #8647 "SIGSEGV on Vol::force_evacuate_head"
# Backtrace
[code]

# Affected Versions

We faced this crash with 8.0.x, 8.1.x, and 9.0.x intermittently.

[2022-02-07 17:26] ezelkow1 commented on #7388
Closing since the opener is good without it, and may be fixed in strategies anyway

[2022-02-07 17:26] #7388 closed

[2022-02-07 17:36] jrushford commented on #7388
I'm good with closing it too.

[2022-02-07 20:30] ywkaras opened #8648 "HostDBHash::set_host(): null termination (and lifetime) of string parameter ambiguous."
The prototype, https://github.com/apache/trafficserver/blob/bfd5265fd21b45c5fff0affdf8a3b88330d8181a/iocore/hostdb/HostDB.cc#L172 , implies the string is not null terminated.  But  it seems to assume the string is null terminated. in line 180.

We also seem to be sending a pointer to a string into deep call stacks and multiple source files, with no clear mechanism to guarantee that it doesn't go s

[2022-02-07 22:55] ezelkow1 commented on #7220
just started getting back to this. So I can see that as of now (maybe after my tweaks, I cant remember now) that the hosting.config will reload. However the issue is with the hosttable/matchers associated with the caches when they go to do a host lookup for the volume, those are not being updated across reloads

So still playing with that

[2022-02-07 23:09] michelamarie commented on #8605
Hi, @SolidWallOfCode. Thank you for replying! I am quite sure I tried building ATS without that yamlcpp package at first, and the build failed. If I remember correctly, I only added that package after the first build failed with a message about yamlcpp.

I have been too busy to break away and try again, but I will hopefully be able to do that this week and report my findings here.

[2022-02-07 23:59] jrushford commented on #8634
@jmoleiro did you get this working?  Can I close this issue?

[2022-02-08 00:04] #7888 closed

[2022-02-08 01:47] jmoleiro commented on #8634
Hi, we couldn't find a way to make it work, so we decided to drop the project. Thanks for your help
J

[2022-02-09 02:48] ezelkow1 commented on #7220
Do have this narrowed down now. I believe its because when it went to load a new table in it was doing atomic_swap(new_table, old_table).  atomic_swap, does not in fact swap, it just assigns ptr=var in (ptr,var). So it was just copying the old table on top of the newly calculated one, and then proceeding, never updating the actual hosting table in use.

Ive experimented with a few options and have

[2022-02-11 16:09] SolidWallOfCode commented on #5735
This isn't going to happen in the foreseeable future.

[2022-02-11 16:09] #5735 closed

[2022-02-11 16:12] SolidWallOfCode commented on #5155
libswoc has now been added to the ATS core. IMHO it addresses this issue. Internally it will walk blocks to find memory space but will stop at the first full block. When a block becomes full due to allocation, it is moved to the front, putting it in the "full block" area. This limits the number of blocks searched to a small number.

[2022-02-11 16:12] #5155 closed

[2022-02-16 14:52] amoghyermalkar123 commented on #5909
If this is the case, then when does ttl-in-cache property in `cache.config` come into picture?

[2022-02-16 15:20] amoghyermalkar123 commented on #5909
Hi, I am actually so confused regarding ttl-in-cache, i have child-parent architecture and i have only cached one image on both servers with ttl being 15 seconds, but it still has not been evicted from cache after hours have gone by.

Am i missing something here?

[2022-02-16 16:02] amoghyermalkar123 opened #8672 "What's the point of ttl-in-cache ?"
I have the following cache.config configuration:
[code]

i have a one child one parent tiered ATS architecture.

When I request a content under the specified domain, it caches beyond the mentioned ttl-in-cache value, i.e. in this case more than 15 seconds. I tried quite some different combinations of the configuration from cache.config but nothing has worked so far. The content is always cached be

[2022-02-17 15:46] rodriguesl6 opened #8674 "Apache Traffic Server ignore max-age header"
I have setup an instance of ATS and the goal is integrates with nimble packager. As mentioned on ATS documentation, cache configs should be set in origin (nimble), so we shouldn't add any cache ttl on cache.config file.

Nimble is sending max-age header but ATS is not caching. Cache configurations were added to nimble and are being reproduced on cache-control header: _playlist_cache_control = max-

[2022-02-17 23:00] randall commented on #7510
I believe this can be closed now. ATS now uses SSL_CTX_set_select_certificate_cb with BoringSSL (added in #8014)

[2022-02-17 23:00] #7510 closed

[2022-02-18 00:52] mlibbey commented on #8672
The RAM cache is tightly related to the disk cache. The way I think of it is that a disk object gets popular enough to be nominated to be represented in ram -- if its not on disk it can't be in ram cache.

FWIW(eg, not answering your question), we don't use cache.config. Instead, we use header_rewrite plugin to add/set Cache Control on a per remap basis -- like

[code]
or
[code]

Also not answerin

[2022-02-18 02:13] masaori335 commented on #8674
It looks like the origin server is missing `Cache-Control: public`.

[2022-02-18 06:56] amoghyermalkar123 commented on #8672
if there is no max-age header, what is the default time to cache an item? @mlibbey

[2022-02-18 06:57] amoghyermalkar123 commented on #8672
Also, by we, do you mean ATS internally or your production usage ?

[2022-02-18 09:21] rodriguesl6 commented on #8674
Hi @masaori335,

Not sure if cache-control: public is the best approach. Usually is used to static content: pictures, css files, etc not for video.

[2022-02-18 11:05] rodriguesl6 commented on #8674
Even when we edit the cache.config file, ATS is not caching:

`[root@ats trafficserver]# cat cache.config

url_regex=^http://* suffix=m3u8 ttl-in-cache=2s`

ATS Logs:
`2022-02-18:11:00:23 192.168.0.3 TCP_MISS/200 http://nimble.lab.invalid:8081/live/TV5/chunks.m3u8 200 219 curl/7.65.0 1 28 0 -
2022-02-18:11:00:23 192.168.0.3 TCP_MISS/200 http://nimble.lab.invalid:8081/live/TV5/chunks.m3u8 200 219 c

[2022-02-18 11:44] amoghyermalkar123 commented on #8672
We can close this BTW.

[2022-02-18 14:07] oknet commented on #8635
There are 2 TSConts and 2 TSMutex created:

- The first at `ts_lua_http_intercept` and `ts_lua_http_server_intercept`, and the handler is `ts_lua_http_intercept_entry`

https://github.com/apache/trafficserver/blob/eaf9848fd539d7f42218374b9f65754df943956e/plugins/lua/ts_lua_http_intercept.c#L86-L88

https://github.com/apache/trafficserver/blob/eaf9848fd539d7f42218374b9f65754df943956e/plugins/lua/ts

[2022-02-18 17:44] lsfe87 commented on #8674
Hello guys,

@rodriguesl6 colleague here.

Just to let you know that you can close this issue as we already found what was causing it.
Basically it was just a matter of configuring `storage.config` and `volume.config`. We had no storage configured for the cache.

Thank you, @masaori335 and everyone else for your support.

[2022-02-19 03:09] bneradt opened #8682 "Use of deprecated std::binary_function, std::unary_function, and std::interface"
I updated our CI Fedora image to fedora:36. fedora:36 has gcc-12 as its default toolset. When I did a test build with this, the build failed with the following deprecation warning:

[code]

[2022-02-19 03:32] bneradt commented on #8682
This can be reproduced via the CI's fedora:36 Docker image like so:

[code]

[2022-02-19 16:30] bneradt commented on #8682
std::binary_function is used in the following three places:

* [include/tscore/IntrusivePtr.h](https://github.com/apache/trafficserver/blob/b87db5208376b889e0a988f5cd4c480f005e42f1/include/tscore/IntrusivePtr.h#L333)
* [lib/swoc/include/swoc/DiscreteRange.h](https://github.com/apache/trafficserver/blob/b87db5208376b889e0a988f5cd4c480f005e42f1/lib/swoc/include/swoc/DiscreteRange.h#L322)
* [src/wccp

[2022-02-19 21:09] bneradt commented on #8682
This same problem also occurs with std::unary_operator and std::iterator in addition to std::binary_operator. These are all interfaces that provide typedefs but have since been deprecated because it is considered better to simply define these definitions in the class that needs them. #8684 replaces the use of these interfaces and explicitly provides the associated type definitions.

[2022-02-19 22:42] bneradt opened #8686 "QUICStreamVCAdapter.cc:27: undefined reference to `VIO::VIO()'"
Clang 13.0.1 currently presents a few warnings for our master branch. These are addressed in #8685. However, after these compiler warnings are addressed, the following linker error is produced:

[code]

This can be reproduced with the CI's fedora:36 Docker image like so:

[code]

[2022-02-21 03:41] oknet commented on #8635
@pbchou please test the PR #8687 , thanks.

[2022-02-21 14:22] rajeshadp commented on #7353
Hi

 I am trying to build static build for trafficserver from code https://github.com/apache/trafficserver on Ubuntu 20.04

using commands:
autoreconf -i --force
./configure CFLAGS="-DBIG_SECURITY_HOLE" CXXFLAGS="-DBIG_SECURITY_HOLE" LDFLAGS="-lpthread -ldl -lz -static" --prefix=/opt/ats/

configuration is successful, but make fails with below errors: (make succeeds if I remove -static above), any

[2022-02-21 20:30] #8682 closed

[2022-02-22 05:02] gaowayne opened #8693 "asking for NVDIMM cache layer enablement"
hello dear product owners,
can I ask if this ATS server can enable NVDIMM as cache, it can works with pmem fsdax mode naturally.

[2022-02-22 16:35] MounikaMadhugiripalli opened #8697 "segmentation fault while attempting to connect to traffic server over HTTP/3"
Test setup :
$curl -v --http3 -x 127.0.0.1:4433 https://www.google.com
*  Trying 127.0.0.1:4433...
*  CAfile: /etc/ssl/cert.pem
*  CApath: none
* Connect socket 5 over QUIC to 127.0.0.1:4433
* Sent QUIC client Initial, ALPN: h3,h3-29,h3-28,h3-27
* quiche: recvfrom() unexpectedly returned -1 (errno: 61, socket 5)
* connect to 127.0.0.1 port 4433 failed: Failure when receiving data from the peer
* F

[2022-02-23 06:43] igracia commented on #6262
@maskit Is there any workaround possible for this?

[2022-02-23 12:37] rajeshadp commented on #7353
I am now able to successfully get a static build of ATS using Ermine tool on Ubuntu 20.04, I followed below steps,

build ATS server (by default its dynamic)
git clone https://github.com/apache/trafficserver.git
cd trafficserver/
autoreconf -fi
./configure --prefix=/opt/ats

make
make check
sudo make install

so we now have all artifacts of ATS build at /opt/ats  and under /opt/ats/bin/ we have tr

[2022-03-01 00:55] bryancall commented on #8693
We support cache as a block device or a file.  Depends on the OS and how it handles the NVDIMM.

[2022-03-01 01:14] gaowayne commented on #8693
@bryancall I see ATS support file or block device, I am sorry I am new to this, I did not see any tier at the block cache level. 1st layer is ram_cache, 2nd layer is block or file, if we put nvdimm or pmem into 2nd layer, they are small and expensive, better more hot data is in nvdimm or pmem, more cold data into HDD or QLC

[2022-03-01 04:04] bneradt commented on #8686
Looks like this is a library ordering issue. `libquic.a` requires `VIO::VIO()` which is provided by `iocore/eventsystem/libinkevent.a`, but that appears earlier in the link command. If I add libinkevent.a after libquic.a, the command succeeds.

[2022-03-01 23:39] #8686 closed

[2022-03-06 16:00] amoghyermalkar123 opened #8712 "404 Multi Hop Cycle Issue"
I have a remap on a child node that looks like this -
[code]

On parent node, the respective mapping is
[code]

I currently have only one parent configured in parent.config, so if for some reason the parent server fails,
ATS tries to DNS resolve `something.some.com` - this is problematic for me.

`something.some.com` when DNS resolved, points to the child server itself. This results in a 404 Multi

[2022-03-06 16:00] amoghyermalkar123 commented on #8712
@bryancall please help.

[2022-03-06 16:01] amoghyermalkar123 commented on #8712
My goal is to only use remap as an outbound request formation logic and use parent.config to route to parent.
If parent is unreachable it should just send 4xx. Not try to DNS resolve the outbound host header.

[2022-03-06 16:03] amoghyermalkar123 opened #8713 "ZFS Integration"
Can I get a detailed explanation of how (and how well) ATS will perform with ZFS as file system?

[2022-03-07 17:43] cmcfarlen commented on #8647
Looking at the core file:

[code]
The local variable b holds an invalid pointer so this crashes when dereferencing b on line 161.

line 459 assumes dir_evac_bucket returns a valid index into p->evacuate. This update adds a bounds check around this.

Further analysis on this scenario:

[code]

The Dir type is an array of 5 uint16_t. Plugging these values into a unit test and calling the dir_evac_bu

[2022-03-08 00:20] #8634 closed

[2022-03-08 00:20] jrushford commented on #8634
no trouble found

[2022-03-08 00:42] bryancall commented on #7638
If this is still an issue please reopen.

[2022-03-08 00:42] #7638 closed

[2022-03-08 00:43] bryancall commented on #7663
Yes, this is true and we would like to fix it.

[2022-03-08 00:46] bryancall commented on #7664
@paladox We do have a rate limit plugin: https://docs.trafficserver.apache.org/admin-guide/plugins/rate_limit.en.html

[2022-03-08 00:48] bryancall commented on #7669
If this is still an issue please reopen.

[2022-03-08 00:48] #7669 closed

[2022-03-08 00:52] bryancall commented on #7699
We should set proxy.config.dns.retries not be a dynamic config for now.

[2022-03-08 00:57] jrushford commented on #8712
Try this on the reverse proxy child node.
remap.config:

`map http://something.some.com/ http://originserver.com/`

parent.config:

`dest_domain=originserver.com port=80 parent="parent.some.com:80" round_robin=false go_direct=true`

If the parent fails, it'll retry by going to the origin directly.  If you don't want your child to go directly to the origin, then change go_direct=false.  In this cas

[2022-03-08 00:57] bryancall commented on #7710
This issue doesn't look like it will be fixed in the 8.1.x branch.  Evan had crashes with the patches to fix the connect timeout.  The connect timeout has been fixed in the 9.1.x branch.

[2022-03-08 00:57] #7710 closed

[2022-03-08 01:00] #7712 closed

[2022-03-09 05:05] amoghyermalkar123 commented on #8712
My concern here is that when a child receives 5xx codes it will mark the parent down. This is problematic in the cases of consistent hash or when we only have one parent. How would we know when it'll be marked back up? What are the counters used here or is it something heuristic?

[2022-03-09 05:59] amoghyermalkar123 commented on #8712
Hi @jrushford , your mappings helped alot, I am indeed not seeing multi-hop cycle anymore with the following configurations : (although I might need to test a bit more)

child remap:
`map http://something.some.com/ http://something.some.com/`

child parent:
`dest_domain=something.some.com method=get port=443 parent="some_ip_address:443" scheme=https round_robin=strict go_direct=false
`

==========

[2022-03-09 20:41] pbchou commented on #4562
Is there any status update on this issue? We just discovered this issue. We are migrating from 7.1.4 (no issue) to 9.1.1 (has issue). This would likely be a blocker for us since testing with a production-like remap config caused ~ 1GB memory increase on each config reload.

[2022-03-09 21:17] rob05c commented on #8713
Do you mean for ATS itself? Or for its cache?

I'm not aware of anyone having tested, but I can hypothesize.

For ATS itself, it shouldn't affect performance. ATS doesn't request things from disk during HTTP requests, other than the cache. ZFS might make it a little slower to load and reload config files. But it shouldn't affect requests/second.

ATS is capable of using both raw block devices or o

[2022-03-10 02:54] amoghyermalkar123 commented on #8713
Ok, basically ATS doesn't even need any sort of FS for caching if it's interacting directly with the block devices.

Also yes I meant ZFS integration for caching. One follow up question, if ATS interacts with the hardware directly, how are FS's introducing an overhead?

[2022-03-10 11:02] brbzull0 commented on #4562
Have you got this very same issue with 9.1? which OpenSSL version are you using?.
Thanks.

[2022-03-11 01:44] rob05c commented on #8713
Right. To use a block device, don't put a filesystem on the hard drive, and give ATS the raw block device as the cache, e.g. `/dev/sdd` (or whatever your drive is mounted as).

So your `storage.config` will look something like:
[code]
Where `/dev/sdd` and `/dev/sde` are your hard drives, and you have configured volumes `1` and `2` in `volume.config`. See:
https://docs.trafficserver.apache.org/en/l

[2022-03-11 02:25] jrushford commented on #8712
@amoghyermalkar123 Here are my replies

1.  Yes, it will mark the parent down but, there are some configuration parameters to be aware of:
     [proxy.config.http.parent_proxy.fail_threshold](https://docs.trafficserver.apache.org/admin-guide/files/records.config.en.html#proxy-config-http-parent-proxy-fail-threshold)

2. **proxy.config.http.parent_proxy.retry_time ** is basically sliding retry wind

[2022-03-11 09:35] heavygale opened #8720 "Expected behaviour of the Compress Plugin"
According to our understanding of the [documentation](https://docs.trafficserver.apache.org/en/8.1.x/admin-guide/plugins/compress.en.html), the compress plugin should deliver requests for the content types configured as compressible to browsers that send the corresponding request header (Accept-Encoding: gzip) in compressed form without exception.

Using the access.log, we were able to determine t

[2022-03-11 11:49] amoghyermalkar123 commented on #8712
@jrushford I really appreciate your help, thanks alot !

Have been testing, and haven't been seeing any multi-hops since, closing this issue.

[2022-03-11 11:49] #8712 closed

[2022-03-12 19:52] mlibbey opened #8721 "Add user-agent header to ocsp stapling request"
Currently the ocsp stapling requests do not have a User-Agent header assigned. It would be nice to add one that contains something about ATS ... proxy.config.http.response_via_str; proxy.config.product_name; just hardcode ATS ... something :). Presumably it would be another add1_header near
https://github.com/apache/trafficserver/blob/40c3d57629c719d1a85c1c3c13313b3cc4e19ccc/iocore/net/OCSPStaplin

[2022-03-14 13:36] cukiernik commented on #8693
@gaowayne, I tested https://github.com/apache/trafficserver/pull/8534 using NVDIMM, achieving a lag reduction.

[2022-03-14 20:52] #8713 closed

[2022-03-14 21:03] bryancall commented on #8693
@gaowayne Yes, we don't have a way to tier the block storage for ATS.  You can partition your cache based on hostnames if that help and store certain domains on the NVDIMM block devices.
https://docs.trafficserver.apache.org/admin-guide/storage/index.en.html#partitioning-the-cache

[2022-03-14 21:04] #7664 closed

[2022-03-14 23:14] masaori335 opened #8726 "Run micro benchmark programs periodically"
This is what we agreed at the weekly bug scrab. We have some catch2 based micro-benchmark programs now. We want to run it on ci periodically ( daily? ) and see how it changes.

- https://github.com/apache/trafficserver/blob/master/src/tscore/unit_tests/freelist_benchmark.cc
- https://github.com/apache/trafficserver/pull/8725

1. Add a new job of make something like `make benchmark`
2. Daily job on

[2022-03-14 23:27] #7741 closed

[2022-03-14 23:35] bryancall commented on #7846
If this is still an issue please reopen.  @vmamidi Says this was fixed by #7862.

[2022-03-14 23:35] #7846 closed

[2022-03-14 23:40] bryancall commented on #7851
We are not seeing this crash anymore.

[2022-03-14 23:40] #7851 closed

[2022-03-14 23:44] bryancall commented on #7895
@dragon512 Do you know if this is still an issue?

[2022-03-14 23:45] bryancall commented on #7900
@cmcfarlen will take a look at this.

[2022-03-14 23:49] bryancall commented on #7941
@bneradt This looks like it was fixed in 4.0.3

[2022-03-15 00:03] #7699 closed

[2022-03-15 20:17] pbchou commented on #4562
@brbzull0 -- Thanks for responding. We think that this issue might be due to a memory leak in the Lua plugin. I will open another issue and work with @shukitchan on it. Thanks.

[2022-03-15 20:23] pbchou commented on #8635
FYI. I responded to PR #8687 that the fix seemed to solve my issue. I am OK to close this issue as long this reference PR is approved. Thanks.

[2022-03-15 20:26] pbchou commented on #8454
FYI. I back-ported this PR #8080 to our internal ATS 9.1.1. This seems to have solved this issue. Thanks.

[2022-03-15 20:35] pbchou opened #8728 "Lua Plugin memory leak on remap configuration reloads."
Hi. We are experiencing a memory leak on remap configuration reloads while using the Lua plugin. This seems to be a known issue based on comments in the source code. We will need a fix as our Lua scripts leak close 1GB of memory on every reload in production.

Mention @shukitchan from the original mailing list discussion.

[2022-03-15 21:29] ezelkow1 commented on #8728
From the mailing list, I had a few questions since we've also been tracking a leak on 9.1. So for the instances you are seeing this is it only from global/file-global-local var usages? Or just lua reloads in general?

[2022-03-15 23:46] pbchou commented on #8728
I can't really tell except with the global and file-local variables since I am testing with 100MB chunks. There might be leakages of other things, but they are too small to register with only the small test script. You would probably have to run with tcmalloc or jemalloc with leak checking turned on to find any other small leaks.

Couple of notes --

1. For 9.1.1 we also cherry-picked the followin

[2022-03-16 00:29] shukitchan commented on #8728
So you are saying that you want to reverse those two changes : i.e. calling garbage collector and clearing of the global registry in the lua states when deleting remap instances.

[2022-03-16 00:43] pbchou commented on #8728
Yes, both steps seem to be required based on my testing. If I am correct in that remap create new instances all run in one thread (and the same is true for deletes), then it should be straight-forward to reference count the instance handle to control clearing the global registry and freeing the instance handle. However, what was the reason for removing the garbage collector calls? The commit refer

[2022-03-16 07:17] shukitchan commented on #8728
explicitly calling garbage collector is expensive and takes a long time. In a situation where there are many lines in remap.config using the lua script, it can take forever and the ATS can eventually crash.

Why do you need to call the garbage collector? Would it be better to leave it for the lua to decide even to collect the garbage?

[2022-03-16 16:22] duke8253 opened #8734 "STEK not correctly decrypting sessions"
When developing a new plugin for sharing STEK (Session Ticket Encryption Key) on a colo, I discovered that some of the boxes on the colo I was testing cannot be synced up. Upon further investigation, the problem exists even with manually setting a key file (https://docs.trafficserver.apache.org/admin-guide/files/records.config.en.html#proxy-config-ssl-server-ticket-key-filename), and uploading it

[2022-03-16 21:22] bryancall commented on #8720
The plugin should compress if the client is able to accept the type of encoding.  Can you post an example log line? Please remove the client IP from the log.

[2022-03-16 21:40] moonchen opened #8735 "[Healthcheck] ASAN reports use after free"
[code]

One possible order of operations that causes the race condition:

1. hc_intercept continuation is created with g_config->data.
2. Inotify causes g_config->data to be replaced, and the old one is put on the freelist.
3. hc_process_read reads the old data.
4. old data is freed by freelist
5. hc_process_read dereferences old data.

[2022-03-16 22:05] #8721 closed

[2022-03-16 22:16] pbchou commented on #8728
Some interesting testing results --

I am running with a remap configuration consisting of eight lines. Each line uses the same single state for the Lua plugin. Each allocates 100MB of memory when it is initialized. So the total allocation is 800MB per remap configuration loading.

I am varying three variables --
1. free(ih) on or off
2. clear global registry on or off
3. running garbage collector

[2022-03-17 16:47] ezelkow1 opened #8739 "Fix up modern clang warnings on 8.1.x"
Clang has warnings on 8.1.x, so for a future release we probably want to fix these up either via backports or to make clang happy

[2022-03-17 17:28] bryancall commented on #7820
I was able to get a good error message in the logs when trying to reproduce.

Commands to mount noexec filesystem:
[code]

Configuration:
[code]

Error messages:
[code]

[2022-03-17 17:28] #7820 closed

[2022-03-17 21:05] pbchou commented on #8728
@shukitchan -- Please see the commit that I added off the master branch in my personal fork. It should be referenced in this issue above this comment. Not sure what direction you wanted to take with this. If you think this is alright to go forward, then I can open a PR.

[2022-03-17 22:17] shukitchan commented on #8728
1) I am thinking whether we can do the gc in __clean__ function instead in your own lua script ? Will that make a difference ?

2) I am checking #6737 and am thinking whether we still need ref count or not in our case.

[2022-03-18 15:54] heavygale commented on #8720
The following data were collected by looking at the access.log for about 30 minutes (~500k requests) and filtering for vendor.js, a file that was delivered both compressed and uncompressed during this time period:
<br>
**uncompressed**: grep '\\[gzip|-'
[code]

Example log lines:
[code]

<br>

**compressed**: grep '\\[gzip|gzip'
[code]

Example log lines:
[code]

compresses log lines with TCP_REFR

[2022-03-21 17:52] ywkaras commented on #7895
Jason car reopen if there's still anything to do here.

[2022-03-21 19:32] #8161 closed

[2022-03-21 20:01] pbchou commented on #8728
1. We don't use any __clean__() function currently. I suppose we can modify our scripts to add one. What happens is the last remap instance will not free since the file-global is not out of scope at the time. So in my testing of 8 x 100MB instances you will free 700MB and not the last instance.
2. It seems like you would still need to reference count because the remap system assumes that each plug

[2022-03-21 23:07] vmamidi opened #8746 "support TS_HTTP_REQUEST_CLIENT_HOOK / TS_HTTP_RESPONSE_CLIENT_HOOK in lua plugin"
Lua doesn't support TS_HTTP_REQUEST_BUFFER_READ_COMPLETE_HOOK.

[2022-03-21 23:14] vmamidi opened #8748 "Provide support for request body in lua intercept plugin."
Lua intercept plugins doesn't have ability to get request body.

[2022-03-21 23:17] #7850 closed

[2022-03-21 23:46] #8535 closed

[2022-03-21 23:51] bneradt commented on #7983
This should be fixed now with the new CI.

[2022-03-21 23:51] #7983 closed

[2022-03-22 08:22] shukitchan commented on #8728
Ok. I think I understand the change you want. It looks ok.
I can try to test out these changes before next week.

[2022-03-22 15:51] #7941 closed

[2022-03-23 02:53] masaori335 opened #8756 "Non-cryptographic hash for cache key"
We found that OpenSSL's md5 is expensive (*1). Replacing the library is an approach, but I start wondering we really need a cryptographic hash here.

*1 https://github.com/apache/trafficserver/pull/8719

#8755 is a PoC of using non-cryptographic has for URL hash. If we look at collision ratio and benchmarks, xxhash looks good for this use case.

- https://github.com/Cyan4973/xxHash/wiki/Collision-

[2022-03-28 17:51] vmamidi opened #8759 "Metric to indicate the hostdb stale responses."
ATS has proxy.config.hostdb.serve_stale_for to serve stale responses, but no corresponding metric indicates if HostDB responded with a stale response.

[2022-03-28 17:54] vmamidi opened #8760 "Ability to cache and serve error DNS responses for a specific period."
HostDB doesn't use with the cached error response.

[2022-03-28 18:06] vmamidi opened #8761 "DNS System has to make at least one DNS query even after marking a nameserver down."
ATS has variable to mark a nameserver down for a specific period of time, but ATS makes at least one query during the failover period.

proxy.config.dns.failover_number and proxy.config.dns.failover_period

[2022-03-28 22:26] pbchou commented on #8728
@shukitchan -- I rebased and squashed my branch into the new branch above. There are no other changes. If I am understanding you correctly, then I will go ahead and create a PR based on this new branch. Thanks.

[2022-03-28 23:49] #8027 closed

[2022-03-29 00:01] masaori335 commented on #8044
Talked at the weekly meeting, we should start by logging (or stats) to see how often the thread jumping occurs and why.
If we observe nothing, we can just get rid of the code with confidence.

[2022-03-29 00:37] masaori335 opened #8767 "AuTest: Replace httpbin with proxy-verifier"
We saw all httpbin based AuTest was failed. ( This is fixed by #8765 ) For the long term, we need to migrate these AuTest using the proxy-verifier. It looks like the proxy-verifier has equivalent features that we're using. If not, we can add it.

List of the httpbin based tests are below
[code]

[2022-03-29 12:20] LionsAd opened #8768 "cache_key_genid is missing documentation"
cache_key_genid is missing documentation, here is what I found out by analyzing the code:

This plugin allows you to use a Kyoto database to increase genid per hostname, hence expiring the cache for a full domain using the zero cost mechanism to set the genid in the cache key.

The additional overhead for the plugin is:

- Parse hostname from given url
- Check kyoto DB for genid for the given host

[2022-03-29 15:11] zwoop commented on #7850
Remember to clear Milestones and Projects when closing a PR.

[2022-03-30 15:42] #8728 closed

[2022-03-30 18:51] traeak opened #8775 "test_Alternate_S_to_L_remove_S and test_Alternate_S_to_L_remove_L core dump"
Found this while performing internal builds for ats92.  Tracked this to PR #8718 which switched some tests from EXPENSIVE to normal.  Verified the dumps on master.

This only happened when doing a fresh build with make -j check.  Running the tests individually worked fine (no mem fault errors).

[code]

The best I have for this is from backtrace (no symbols):

[code]

[2022-03-31 04:12] #7900 closed

[2022-03-31 12:42] jrushford commented on #7824
Fixed with PR #8742

[2022-03-31 12:44] jrushford commented on #7824
Fixed by PR #87442

[2022-03-31 12:44] jrushford commented on #7824
Fixed by PR #8742

[2022-03-31 12:47] #6653 closed

[2022-03-31 12:48] jrushford commented on #6653
Fixed with several HostStatus PR's

[2022-03-31 12:49] jrushford commented on #8020
@taojishou may we close this issue?

[2022-04-01 06:31] masaori335 opened #8777 "Update well known strings"
It's time to compare the list of well-known strings and the HTTP Field Name Registry.
https://www.iana.org/assignments/http-fields/http-fields.xhtml

I think we had a similar discussion about adding some strings from HTTP/2 & HPACK before.

[2022-04-02 16:13] #8553 closed

[2022-04-04 23:27] bryancall commented on #8777
We also need to update the cache version when this happens or bad this will occur.

[2022-04-04 23:39] traeak commented on #8775
Better stack trace
[code]

[2022-04-05 00:23] cukiernik commented on #8693
@gaowayne .Can you verify and share a benchmark to https://github.com/cukiernik/trafficserver/tree/devdax?

[2022-04-05 01:06] gaowayne commented on #8693
buddy, could you please share me quick starter benchmark steps? we can test this and share result here.

[2022-04-05 10:03] cukiernik commented on #8693
For monitoring IPM You can use:
`watch tools/ipm-performance`
Simple test:
[code]

[2022-04-05 17:00] c-taylor opened #8780 "pcre library needs review"
Current issues are:
* pcre library is no longer maintained; author working on pcre2
* pcre jit support in ATS is incomplete
  * https://issues.apache.org/jira/browse/TS-3143
  * https://issues.apache.org/jira/browse/TS-3144
* Library review
  * Should probably look at pcre2/je2 (or others)

----

Whilst looking at some high RPS rate tests libpcre was starting to 'feature' in traces.
The obvious op

[2022-04-05 17:17] c-taylor opened #8781 "Replace pthread_* calls with C++11 thread_local"
Under load you can see the pthread calls in the functions:
  `ink_thread_(key_create|setspecific|getspecific|key_delete)`

Start to feature in perf traces.

Please review and consider migrating native C11 `thread_local` which should be faster, and _may_ also be copy free.

A good example of where this is currently observed is in `TSHttpTxnReenable`.

[code]

[2022-04-05 20:05] c-taylor commented on #8780
It looks like trafficserver precompiles the expressions, replacing the need/benefit of the jit…  Perhaps someone can confirm…

So really this may just be a “what’s the long term plan” question… Given status of pcre project…

[2022-04-06 06:17] #8635 closed

[2022-04-08 19:35] bneradt opened #8785 "9.2.x: invalid remap.config files are no longer FATAL"
While testing 9.2.x, I accidentally created an invalid remap.config file. In previous releases, ATS would fail to start if it loaded an invalid remap.config file and it would emit a FATAL log message. In 9.2.0 (not released yet), this is no longer the case: ATS starts, albeit with ERROR messages.

This change looks intentional per the following PR: #7782

However we might want to reconsider this b

[2022-04-11 14:42] jeredfloyd commented on #7341
Fedora 36 has switched to OpenSSL 3.0.2 by default.  ATS builds successfully, but the tscore HKDF tests fail.

src/tscore/HKDF_openssl.cc:extract/expand() fail with EVP_PKEY_derive() returning failure.  These interfaces are deprecated in favor of the EVP_KDF_* interfaces, but I suspect this is an upstream bug that this simply fails.

I can build against the openssl1.1 compat packages in Fedora 36

[2022-04-11 23:49] randall commented on #8785
I'm +1 on fixing this.

[2022-04-12 00:03] randall commented on #8785
If someone wants it to soft fail on startup, it should be opt in (like the ssl_multicert.config var https://docs.trafficserver.apache.org/admin-guide/files/records.config.en.html?highlight=proxy%20config%20ssl%20server%20multicert%20exit_on_load_fail#proxy-config-ssl-server-multicert-exit-on-load-fail)

[2022-04-12 00:29] ezelkow1 commented on #8785
+1 on a soft fail option if the way it is working now is desired. For us we definitely would prefer the old behavior of hard fail on startup. Half-soft fail on bad reload where it continues using the old remap without killing ATS until it can do a full valid reload of the config file

[2022-04-12 01:03] cukiernik commented on #8693
Hi @gaowayne
I completed a [autoreconf and rules to initialize devices](https://github.com/cukiernik/trafficserver/tree/devdax), but it still waiting for https://github.com/apache/trafficserver/pull/8534

[2022-04-12 15:00] amoghyermalkar123 opened #8789 "Round robin consistent hash not working."
[code]
The above is my parent.config file. According to the docs :
[code]
But when i request a content from a child node, the same content request goes out to all the parent servers. To be exact, i am testing with a vod so the content requested are video segments. It's not like different segments are asked from different servers. There are redundant requests as well.
For example, the same segment

[2022-04-12 15:28] jrushford commented on #8789
@amoghyermalkar123 which ATS version?  I'll see if I can duplicate it.

[2022-04-12 21:03] randall commented on #8785
Ditto with everything @ezelkow1 said.

[2022-04-13 02:38] amoghyermalkar123 commented on #8789
8.1.x Version.
Yes I do get the expected responses. I'm not sure how to turn on debugging "parent_select", can't see any option in records.config, can you let me know how to do that?
That's the part, parents are not even failing, all the parents are serving the content. I thought about parent retries but in that case the request logs should have mentioned failed, but they don't.
Both parents are s

[2022-04-13 02:55] amoghyermalkar123 commented on #8789
A few more points, firstly, A bit context on the test you should know - i sent out **parallel** requests for the vod on the same child server.
I expected that only one parent server would be serving up the content which as mentioned above wasn't the case.

Secondly, I want to understand how parent selection is implemented - the algorithm. Basically how it is decided what content should go to a spe

[2022-04-13 10:55] amoghyermalkar123 commented on #8789
Update, I realized this later that we have an option for debug logs to watch parent selection in action, I'll provide a trimmed down sequence of logs for the aforementioned issue, please help me in understanding the activity.

[code]
The log says that it couldn't connect to the parent server or Response is not valid, while I see TCP_MISS 200 on both the parent servers.

[2022-04-13 15:16] bneradt opened #8792 "10-Dev: `make check` in mgmt2 removes files installed by `make install`"
The 10-Dev coverage builds are failing in opensource CI. Here's a current example:
https://ci.trafficserver.apache.org/view/10-Dev/job/10-Dev/job/coverage/13/console

The reason it fails is because the run of the regression tests fails because the installed traffic_server binary no longer exists at the time it tries to run them:

[code]

The `--prefix` configure the CI uses is `/tmp/ats`. Experime

[2022-04-13 16:53] bneradt commented on #8792
With some further experimentation, it looks like the `mgmt2`'s `test_jsonrpcserver` test removes the installed files:

[code]

[2022-04-13 21:28] bneradt commented on #8792
I see. The problem is setting sandboxDir to `fs::temp_directory_path` here which will be `/tmp/`
https://github.com/apache/trafficserver/blob/1e6620bf27bed69c4c369f0a5ca0ddd2dbfa8e44/mgmt2/rpc/server/unit_tests/test_rpcserver.cc#L506

Then removing it here:
https://github.com/apache/trafficserver/blob/1e6620bf27bed69c4c369f0a5ca0ddd2dbfa8e44/mgmt2/rpc/server/unit_tests/test_rpcserver.cc#L536

Rath

[2022-04-14 08:35] amoghyermalkar123 commented on #8789
@jrushford appreciate the detailed explanation. I see the behavior on the servers exactly as described above. Closing this issue.
Also if I run into a few problems I hope i'll get the help :)
Thanks.

[2022-04-14 08:35] #8789 closed

[2022-04-14 23:03] masaori335 commented on #8781
@cmcfarlen is working on this.

[2022-04-15 22:45] zk45 opened #8796 "Forward proxy to Origin server over H3"
Does trafficserver support H3 connections to the origin server?

Noticing that the origin server sends an alt-svc h3 header but trafficserver never tries to connect to it using h3 over quic (fwiw, the client is connecting to trafficserver using http 1.1).

[2022-04-16 13:17] amoghyermalkar123 commented on #8672
So I'm currently using an origin server that responds with max-age header, but ATS still does not seem to respect the header value and keeps the object in cache for indefinite amount of time. For a little context, we are using cache.config, if this file is getting in the way please let me know the same.
I'm also wondering whether there is any configuration that would allow ATS to completely overri

[2022-04-16 14:07] mlibbey commented on #8672
Can you show the curl response with all headers? If you are running the x-debug plug-in, the x-cache header would be nice to see.

Can you say a little more about what you mean by ‘keeps in cache indefinitely’ (for instance, if max-age is 10, and you fetch after 11 sec, it’s stale?

We don’t use cache.config… so when we need to say don’t cache something either we use a header_rewrite like above se

[2022-04-16 14:16] amoghyermalkar123 commented on #8672
@mlibbey I haven't used the x-debug plugin, please give me some time as I re-test and get back to you on this thread.

[2022-04-18 13:56] amoghyermalkar123 commented on #8672
for cache.config
url_regex=domain.com/* method=GET method=HEAD revalidate=1s

and max-age header from origin server came in as 2 seconds. We have configured ATS to not
ignore cache control max-age header as well.
(via following config - proxy.config.http.cache.ignore_client_cc_max_age)
so now - with the following request sequences, seperated by a few seconds apart -

1
[code]

2
[code]

3
[code]

[2022-04-18 19:53] elsloo opened #8799 "AuTest not usable on macOS + ARM"
AuTest is not working on macOS with Apple Silicon (ARM). This is due, at least in part, to the dependency on `proxy-verifier` that is downloaded from a static location ([here](https://ci.trafficserver.apache.org/bintray/)) and contains builds for Linux and macOS but only on the x86-64 architecture. Because this is all executed via the command line, it appears to circumvent Rosetta 2 emulation.

Ad

[2022-04-18 23:40] #8792 closed

[2022-04-18 23:58] bryancall commented on #8253
Looks like this has been fixed.  Please reopen if there is still an issue.

[2022-04-18 23:58] #8253 closed

[2022-04-19 02:01] dragon512 commented on #8175
I was able to get this to work via using libfaketime ( This addresses the issues of the compiler, and some system calls made in the autoconf logic), setting the host and user to the same value for the docker image. I am build 9.x branch. I will double-check my build to make sure the libtsconfig.so matches. At the moment it is passing with the RPM I am producing and testing with rpmdiff.

[2022-04-19 02:51] mlibbey commented on #8672
- If the origin is setting cache control, why have a cache.config line?
- between request 1 and 2, the object went stale, which is what you want. On that request, the origin would have seen some sort of request (most likely a INM or IMS conditional), and presumably a 304 Not modified return.
- Is the Origin's etag/Last-Modified header changing as the content changes? Once the content changes on th

[2022-04-19 18:42] bryancall commented on #8796
@zk45 ATS currently doesn't have H3 support for the origin.  We do have experimental H3 support on the client side.

[2022-04-19 18:43] bryancall commented on #8796
If this is still an issue please reopen.

[2022-04-19 18:43] #8796 closed

[2022-04-19 18:48] bryancall commented on #8020
If this is still an issue please reopen.

[2022-04-19 18:48] #8020 closed

[2022-04-19 18:51] bryancall commented on #8174
If this is still an issue please reopen.

[2022-04-19 18:51] #8174 closed

[2022-04-19 18:53] bryancall commented on #8072
@taojishou are you still having issues when your number of connections increase?

[2022-04-20 02:07] masaori335 opened #8801 "Transfer-Encoding: chunked, chunked, chunked, chunked"
When ATS retries the chunked requests, the value of the `Transfer-Encoding` header gets odd.
It becomes `Transfer-Encoding: chunked, chunked, chunked, chunked` at 3rd retry.

# Repro
##  ATS
- remap.config
[code]

- records.config
[code]

## Client
[code]

## Debug log
[code]

[2022-04-20 16:52] amoghyermalkar123 commented on #8672
Hey, so these are the logs for a transaction where the origin server does gives us max-age header
[code]

As you can see the ATS says the response is not cacheable. Whereas,
`< cache-control: max-age=21600` we get this header from origin. We have configured ATS to not ignore these headers as well.

[2022-04-20 16:52] amoghyermalkar123 commented on #8672
Please let me know if you need more information to help.

[2022-04-21 05:32] amoghyermalkar123 commented on #8672
Understood.
The problem solved itself when we realized that the configured origin had an inconsistent manifest and was later resolved. As for cache.config, as the doc says that it's an anti pattern and we should rely on origin folks with their max-age header, we'll build our solution in accordance.

@mlibbey thank you so much for sticking with me as I tried wrapping my head around this. Really app

[2022-04-21 05:32] #8672 closed

[2022-04-25 21:51] jp557198 opened #8807 "ATS 9.1.2 - parent_select/nexthop - failure threshold"
re branch - https://github.com/apache/trafficserver/tree/cb7eda60dc8c2068afd458fd20a8dd6232887f0d

I notice that the nexthop failure count upon a network timeout/event
never increments beyond 2.
With a failure threshold of 10, requests that land on this 'nexthop'
will always have to incur
a 2s timeout before moving onto the nexthop in the list. as the
threshold is never reached per nexthop's failu

[2022-04-25 22:00] jp557198 commented on #8807
strategies.yaml

groups:

  - &nhg1

    - host: origin-active.com

      protocol:

        - scheme: http

          port: 80

          health_check_url: http://origin-active.com:80

  - &nhg2

    - host: origin-backup.com

      protocol:

        - scheme: http

          port: 80

          health_check_url: http://origin-backup.com:80

strategies:

  - strategy: 'nh-1'

    policy: consist

[2022-04-25 22:05] jp557198 commented on #8807
**Test case.**

Send requests that force a request back to origin.
Amount of requests should exceed failure threshold(10) and
should be sent in the amount of time not exceeding the retry window(300s)

The below sends 20 requests. Each request appended with a random query string to bust cache and force a request upstream.

for x in {1..20}; do curl -H HOST:[edge.com](http://edge.com/) -o /dev/null

[2022-04-25 22:07] jp557198 commented on #8807
Expect to see threshold count not increment 2.

[Apr 25 21:52:15.155] [ET_NET 17] DEBUG: <NextHopHealthStatus.cc:139 (markNextHop)> (next_hop) [3] Parent fail count increased to 2 for [origin-active.com](http://origin-active.com/)

[Apr 25 21:53:01.119] [ET_NET 18] DEBUG: <NextHopHealthStatus.cc:139 (markNextHop)> (next_hop) [4] Parent fail count increased to 2 for [origin-active.com](http://origi

[2022-04-25 23:45] bryancall commented on #8311
@jvgutierrez Are you still seeing this issue?

[2022-04-25 23:50] bryancall commented on #8454
Looks like this has been fixed.  Please reopen if there is still an issue.

[2022-04-25 23:50] #8454 closed

[2022-04-25 23:57] ywkaras commented on #8527
I will retest, and close if the failures are no longer present.

[2022-04-26 15:15] elsloo commented on #8503
I was unable to reproduce this issue. Based on the following line, it appears that the configuration had a `--static-prefix` plugin parameter:

[code]

This line is only printed when `prefix` is not empty. This variable is actually the configuration instance variable `_prefix` which is passed into `CacheKey::appendPrefix()` and is only set via `Configs::init()` when processing plugin parameters. W

[2022-04-26 15:17] #8503 closed

[2022-04-26 20:55] moonchen commented on #8216
Have you tried setting `@pparam=--front=true`?

[2022-04-26 21:22] ywkaras commented on #8216
No.  Currently I am trying to get it to work for single tier.  Would you set that for single tier?

[2022-04-26 22:02] moonchen commented on #8216
I believe so.

[2022-04-27 07:57] maskit commented on #6262
I guess removing the three lines I mentioned above would work for this, but that may break some POST requests on HTTP/2. That's all I can say at the moment.

[2022-04-27 13:35] amoghyermalkar123 opened #8808 "How can I implement CACHE conditions with header rewrite plugin?"
I want to sort of mimic the X-debug plugin capabilites. My ATS version is 8.1.1 and the header rewrite plugin does not yet support the `${CACHE}` condition. Is there any way I can achieve the desired functionality on 8.1.1 ATS ? The thing is we have a fixed custom OS and ATS 10.0 can't be installed on it.

[2022-04-27 15:08] bryancall commented on #8072
If this is still an issue please reopen.

[2022-04-27 15:08] #8072 closed

[2022-04-27 15:12] bryancall commented on #8426
Related PRs:
#8784
#8623
#8463

[2022-04-27 22:37] ywkaras commented on #8216
Following moonchen's suggestion, I was able to get the plugin to work:  https://github.com/apache/trafficserver/pull/8810 .  But I still don't understand why it's needed.

[2022-04-28 06:17] dhairav commented on #8808
Hi, we basically need to append the Cache Status responses - like how Cloudfront does - for example -

`< x-cache: Miss from cloudfront
< x-amz-cf-pop: BOM51-C1
`

We are stuck with using ATS 8.1.1 since the Debian based systems we are using doesn't let us upgrade to ATS v9.x.x or the latest as of yet.

[2022-04-28 15:12] ywkaras opened #8811 "Use optimized tracing in (most) Au tests?"
Specifically, for Au tests that don't require, debug trace output from plugins, use 3 instead of 1 for debug.enabled.  My guesstimate is that this would at most shave a percentage point or two off the load on our CI boxes from the AuTest check.  But maybe worth it since it runs so often?

[2022-04-28 17:55] shukitchan commented on #8808
If you can use lua plugin, you can try this out-

https://docs.trafficserver.apache.org/en/8.1.x/admin-guide/plugins/lua.en.html#ts-http-get-cache-lookup-status

[2022-04-28 22:27] ywkaras commented on #8527
In my environment, this test seems to be working worse now than before.  But seems to work OK in open source CI Au test regression run.

[2022-05-02 22:20] jp557198 commented on #8807
Compiled 'proxy/http/remap/NextHopHealthStatus.cc' against our internal 9.1.2 branch.
Failure theshold is incrmeneted as expected with 'down' server being marked as unavailable.
In the below access log sample, note the 3s ttms while the down server is being tried and timedout.
After try 9, next_hop marks the server as 'unavailable' and immediately sends the request to the available server.
Thresho

[2022-05-02 22:21] jp557198 commented on #8807
debug shows the failure count incrementing as expected.

[May  2 21:24:02.246] [ET_NET 10] DEBUG: <NextHopHealthStatus.cc:138 (markNextHop)> (next_hop) [97] Parent fail count increased to 2 for origin-active.com
[May  2 21:24:06.197] [ET_NET 11] DEBUG: <NextHopHealthStatus.cc:138 (markNextHop)> (next_hop) [98] Parent fail count increased to 3 for origin-active.com
[May  2 21:24:09.239] [ET_NET 12]

[2022-05-02 23:47] #8811 closed

[2022-05-02 23:51] ywkaras commented on #8807
I can take this if John decides his retirement doesn't mean he's our no-cost slave.

[2022-05-05 14:05] jeredfloyd opened #8823 "Plugins ought live in lib rather than libexec"
Package reviewer points out that libexec is for helper applications, and plugins ought go in lib/trafficserver (or lib/trafficserver/plugins).  My Fedora/RHEL packaging does this, but would we entertain an upstream change to make this global across default layouts?

https://bugzilla.redhat.com/show_bug.cgi?id=2076374#c13

[2022-05-05 14:23] ezelkow1 opened #8824 "Ramcache disabled does not split remaining free cache"
Reported by Steve Malenfant, when setting ram_cache=false the ram cache will not be allocated for that volume, however the ram cache that would now be free to allocate to other volumes is not allocated to them. So the calculation for the ramcache allocation is done across the total size and not total_size-vols_with_ram_cache_disabled_size

Need to see if there is a better way to do this, if we can

[2022-05-05 17:26] cmcfarlen opened #8826 "ArenaBlock's defaultSizeArenaBlock allocator under high contention on a busy server"
Posting an issue about this for discussion to come up with a good remedy.

With freelists on, and under high transaction rates, a perf flame graph shows a lot of time is spent in `freelist_new`/`freelist_free` under `Arena::alloc` or `Arena::reset`.  This is due to the freelist implementation performing atomic CAS operations in a loop.  I wrote a benchmark to exercise this and added a bit of instr

[2022-05-05 18:57] smalenfant commented on #8824
Current results:

[code]

[2022-05-05 20:10] c-taylor commented on #8826
Thanks for filing this @cmcfarlen:

This really is worth the community time to find a way forward as initial testing of the prototype realised a staggering increase in transaction rate. I was only able to test one system type in the lab, but do plan to do more.

~545,000 RPS (9.2.x as-is)
~720,000 RPS (thread_local prototype)

After working together testing https://github.com/apache/trafficserver/

[2022-05-06 02:14] #8785 closed

[2022-05-08 17:03] amoghyermalkar123 commented on #8808
Works @shukitchan, closing this.

[2022-05-08 17:03] #8808 closed

[2022-05-09 00:42] randall commented on #8799
FWIW: The x86_64 proxy-verifier binaries work on my arm64 MacBook and I can run the a proxy-verifier-based test successfully.

Prior to running the test, I did manually download the linked binaries and attempted to run them and got the following dialog:
<img width="264" alt="Screen Shot 2022-05-08 at 5 32 46 PM" src="https://user-images.githubusercontent.com/307125/167322479-36f612b1-89dd-40d5-bb9

[2022-05-09 01:51] 0foo opened #8833 "Healthcheck is being registered as a cache miss"
[code]

Is there any way to ignore the health check for purposes of statistics? It's registering as a cache miss for the 3 seconds we have the check configured for.

[2022-05-09 04:23] shukitchan commented on #8833
You can try to filter that out from the log - https://docs.trafficserver.apache.org/en/latest/admin-guide/files/logging.yaml.en.html#admin-custom-logs-filters

[2022-05-09 15:13] #8527 closed

[2022-05-09 23:17] ywkaras commented on #8826
If we're looking at different possible implementations for the arena, this is an option:  https://github.com/wkaras/heap-memory-manager

[2022-05-09 23:33] bryancall commented on #7108
@moonchen is going to take a look at this

[2022-05-09 23:33] ywkaras commented on #8823
I believe lib and libexec can be mapped to the same directory using runroot.yaml:  https://docs.trafficserver.apache.org/developer-guide/layout/runroot.en.html#the-yaml-file

[2022-05-09 23:47] SolidWallOfCode commented on #8565
We should do better, but as a stop gap enable the debug tag "url_rewrite". That should provide a lot more data.

[2022-05-09 23:48] #8569 closed

[2022-05-09 23:57] bryancall commented on #8598
We need more information to determine what we should do here.  @traeak will investigate  more.

[2022-05-10 04:52] maskit opened #8836 "h2spec on a docker image for CI job is too old"
I found h2spec on a docker image that is used for our CI Autest job is too old (2.0.0). The latest version (2.6.0) has more tests, so we should update it.

I was about to merge a PR that has an issue, but I luckily found the issue when I ran h2spec locally.

[2022-05-10 14:48] #7108 closed

[2022-05-12 21:46] bryancall opened #8848 "Fedora 36 build issue with catch.hpp"
I get this error with gcc 12.1.1 on Fedora 36.  We are using catch  2.13.8 and I tried upgrading to  2.13.9, but that didn't help.  I am able to get around this issue if I make this modification to catch.hpp:

Patch:
[code]

Compiler error:
[code]

[2022-05-13 16:49] bneradt commented on #8848
In case this is helpful, building with the ATS CI's fedora:36 image completes successfully. To reproduce this locally:

[code]

[2022-05-13 18:29] bryancall commented on #8848
@bneradt debug builds and using /opt/openssl work for me too.  I get error with test_tscore failing if I use openssl3 (the system's openssl lib).  Also, I get build failures doing the non-debug build with the docker container.

[2022-05-13 19:20] bryancall commented on #8848
Doing a simple catch test works:
[code]

[2022-05-16 11:39] amoghyermalkar123 opened #8851 "Purging Takes a long time with the cache inspector API"
We've been using the cache inspector API as the main API to bulk purge content via regex, i.e. `http://serverIP/ats-cache/delete_regex?url=domain/*`. Ofcourse, these requests are made locally through another service.
The time it takes for this API to respond is 20+ minutes every time and the response is empty i.e. `empty reply from server`.

We are also using a few other alternatives that ATS prov

[2022-05-16 11:41] amoghyermalkar123 commented on #8851
And also according to your personal opinions, is it an antipattern to want to delete something from the disk? Or is disk deletion executed only when a defined threshold is reached?
I know delete ops are heavy and may consume disk IO, so not only was I wondering the answer to my first question but also the best practises around deletion in CDN environments.

[2022-05-16 11:44] amoghyermalkar123 commented on #8851
If it helps, the iotop command's output:

[code]

[2022-05-16 11:45] amoghyermalkar123 commented on #8851
if it helps, `iotop` command output:

[code]

[2022-05-16 23:46] bryancall commented on #8605
@michelamarie did you get this working?

[2022-05-16 23:50] bryancall commented on #8624
@pateze We would need to have someone in the community willing to support OpenIndiana.

[2022-05-16 23:50] #8624 closed

[2022-05-17 17:20] bneradt commented on #8836
Thank you @maskit for pointing this out.

I've updated the Dockerfile for our Rocky Linux 8 image to use the latest v2.6.0 version. I verified, using that image, that the h2spec AuTest should run and work and use that version:

[code]

This can be verified like so:

[code]

All of our CI machines should now be using that updated image.

[2022-05-17 17:20] #8836 closed

[2022-05-18 17:07] bneradt commented on #8799
Cool. Thank you for the follow up @randall and @elsloo.

Just to follow up with my own experiments: I now have an M1 Mac for work. (Thanks, in large part, to this ticket. :tada:.)  I was able to build proxy-verifier locally without any modification to the source code or Sconstruct lines.

Also, using the verifier-server and verifier-client binaries, obtained from bintray automatically via the aute

[2022-05-22 09:23] jbfavre opened #8858 "Unable to build manpages for 9.1.2"
Hello,
Packaging trafficserver on Debian, I had to disable documentation build a while ago because of an error with `sphinxcontrib.plantuml`. I recently tried to fix that to be able to provide manpages within the package.

### Initial build error was:
[code]
I'm using Debian version of packages:
* `sphinxcontrib.plantuml` 0.5 (quite outdated)
* `sphinx` 4.5.0
* `plantuml` 1:1.2020.2

### Current a

[2022-05-22 18:09] jbfavre commented on #8858
Made some progress in the investigation.
It turns out that every documentation is generated in a single `apachetrafficserver.1` file.

Having a deeper look, I can't understand how manpages.py output is used by sphinx.
As I understand it, manpages.py is supposed to provided the list of manpages to generate through the global man_pages variable.

This is why it's not defined in `conf.py`.
Indeed, co

[2022-05-23 16:02] ywkaras commented on #8216
For now, I'm going to assume that everyone is OK with using the **front** parameter, as used in this Au test:  https://github.com/apache/trafficserver/blob/master/tests/gold_tests/pluginTest/prefetch_simple/prefetch_simple.test.py .  If not, please reopen this issue.

[2022-05-23 16:02] #8216 closed

[2022-05-23 16:19] bneradt opened #8860 "AuTest CI: inconsistent remap_reload test results"
I've noticed that the new `remap_reload` test is a bit inconsistent. Out of the last 24 autest CI runs, it has failed 4 times:

* https://ci.trafficserver.apache.org/view/Github/job/Github_Builds/job/autest/996/console
* https://ci.trafficserver.apache.org/view/Github/job/Github_Builds/job/autest/997/console
* https://ci.trafficserver.apache.org/view/Github/job/Github_Builds/job/autest/1002/consol

[2022-05-23 23:04] #8858 closed

[2022-05-23 23:56] bryancall commented on #8775
@cmcfarlen is going to see if he can verify it with gcc11 and Centos 7

[2022-05-23 23:58] #8781 closed

[2022-05-24 00:10] masaori335 commented on #8734
I checked this again, we're still facing this issue. But no clue yet.

[2022-05-24 21:07] ywkaras commented on #1921
@Mouray-Hutchinson are you still interested in working on this?  What's your background in software development?

[2022-05-24 21:31] 0foo commented on #6855
Any news on how to get an RPM for version 9 or 10?

Thanks!

[2022-05-24 22:10] zrhoffman commented on #6855
@jeredfloyd [volunteered](https://lists.apache.org/thread/k8qh7mk7g4gp44pomfxjlq5blkops2hb) to maintain the trafficserver EPEL package. His [trafficserver 9.1.2 RPM](https://github.com/jeredfloyd/rpm-trafficserver) was approved in [Red Hat bug 2076374](https://bugzilla.redhat.com/show_bug.cgi?id=2076374), and he adopted the trafficserver RPM in [FESCo issue #10795](https://pagure.io/releng/issue/1

[2022-05-24 22:13] 0foo commented on #6855
Second the Thanks @jeredfloyd!

[2022-05-24 22:29] jeredfloyd commented on #6855
You're welcome!  I should have 9.1.2 submitted for review later this week.

[2022-05-25 14:59] 0foo opened #8863 "Workaround on older version of ATS for : `traffic_ctl metric reset` does not work"
Due to various reasons forced to use an older version of ATS at the moment.

In this version:  `traffic_ctl metric reset` does not work.

Is there a file somewhere I can just delete to reset the metrics?

I tried deleting cache.db and the log files to no avail.

[2022-05-25 15:09] 0foo commented on #6855
Being a bit of an RPM novice,  how can I obtain the RPM from this repo?

https://github.com/jeredfloyd/rpm-trafficserver

[2022-05-25 15:32] 0foo commented on #6855
Awesome!   Any guidance on best one to use for CentOs 7?

[2022-05-25 15:34] jeredfloyd commented on #6855
You would use the EPEL 7 repo for CentOS 7.

[2022-05-25 16:33] 0foo commented on #8863
I found out I might be using a different cache.db.

How does one identify which cache.db is being used?

traffic_ctl storage status says it's not implemented.

[2022-05-25 22:14] 0foo commented on #8863
I see the diag.log.

[2022-05-25 22:14] #8863 closed

[2022-05-26 11:13] brbzull0 commented on #8863
Hello, ok I see you closed this now.
For the records: we had this [issue](https://github.com/apache/trafficserver/issues/5188 ) and it was [fixed](https://github.com/apache/trafficserver/pull/8172)

[2022-05-30 06:54] amoghyermalkar123 commented on #8851
Latest Challenges -
So I was experimenting with the revalidate plugin since it seems to be the most viable option for us, I stumbled upon a problem. How can one use this plugin in a cache hierarchy?

My test -
1) cache a piece of content on a child and a parent node.
2) set the revalidate.config file (the plugin config file) with the contents domain regex and an expiry (on child and parent)
3) req

[2022-05-30 07:59] amoghyermalkar123 commented on #8851
Sample log lines -
child node log -
[code]

parent node log -
[code]

[2022-05-30 11:57] Scumtron opened #8874 "ATS failure when using the URI signing plugin"
I have configured the URI Signing Plugin:
If JWT token is invalid - returns error 403
If JWT token is valid - returns empty response (ATS crash and restart)

Tested on ATS versions: 10.0.0, 9.1.2, 8.1.4

### remap.config
`map	https://cache.tld/     http://src.tld/ @plugin=uri_signing.so @pparam=uri_signing.config`

### uri_signing.config
`{
    "CDN": {
        "iss": "CDN",
        "cdnistt": tru

[2022-06-01 15:18] cmcfarlen opened #8876 "Add std::format style formatted print support to proxy/Log class"
Related to #8855, this should add support for std::format style print, but maintain timestamps and support arbitrarily long log lines.  This could improve logging efficiency over #8855 avoiding a double formatted print and a copy or two.

[2022-06-02 11:06] JoeyX-u opened #8881 "How do I count the bandwidth value of a single domain name?"
How do I count the bandwidth value of a single domain name?
example:
domain: https://www.google.com     speed: 10M/s

[2022-06-02 13:57] brbzull0 commented on #8874
@Scumtron  can you enable debug and add the following tag to it:  `uri_signing` . For the records, unit test on this plugin is passing locally in my dev box(our ci seems to have this disabled).
The crash seems to come from the `validate_jws` I guess, would help to see how far and the values he got.
Regards.

[2022-06-03 08:10] Scumtron commented on #8874
@brbzull0, hello!

Jun  3 10:13:04 cache-75a482ce traffic_manager[20483]: [Jun  3 10:13:04.526] [ET_NET 10] DIAG: (uri_signing) [parse.c:  56] get_jws_from_uri(): Parsing JWS from query string: https://cache-75a482ce.u6.eu.replaced.net/data/0/293/293.mp4
Jun  3 10:13:04 cache-75a482ce traffic_manager[20483]: [Jun  3 10:13:04.526] [ET_NET 10] DIAG: (uri_signing) [parse.c: 124] get_jws_from_uri(): U

[2022-06-03 12:16] brbzull0 commented on #8874
@Scumtron thanks for the details.

It seems that the payload in your token is not right:
[code]

If you check the log you'll notice:
[code]
Issuer is null(and not present in the payload up above), `iss` key should hold the issuer in this case.
As per the plugin's [documentation](https://docs.trafficserver.apache.org/en/latest/admin-guide/plugins/uri_signing.en.html?highlight=uri%20signing#supporte

[2022-06-06 12:40] traeak commented on #8881
You can run global plugin remap_stats.so and then use traffic_ctl metric match to get via command line or use stats_over_http plugin to do the same over an http endpoint.

[2022-06-06 23:45] bryancall commented on #8874
@dsouza93 is going to take a look at this issue.

[2022-06-07 00:49] ywkaras commented on #8876
If we inhale https://github.com/fmtlib/fmt to get this before we switch to C++20, we can use namespace aliasing:
[code]
once we do switch to 20.

[2022-06-07 09:20] Scumtron commented on #8881
@traeak  Does this plugin have statistics for each host separately? It didn't before...

[2022-06-07 12:52] brbzull0 commented on #8874
I did spend some time on this last week. As noted up above, found out that the `iss` is not being validated(it should) as part of the payload which leads an invalid use of this pointer further down the line(so the crash). @dsouza93  as I've mentioned in the chat I have a small pr to fix this `iss` validation. Let me know if you also have a pr for this or want me to push this up and you can take it

[2022-06-07 14:34] petershh opened #8887 "Test suite "test_PluginFactory""
OS: Alpine Linux Edge
Traffic Server Version: 9.1.2

I am trying to build Traffic Server from source, and one of the test suites fails.

Here is the test suite log: [test-suite.log](https://github.com/apache/trafficserver/files/8854115/test-suite.log)

[2022-06-07 15:59] mlibbey commented on #8881
Might also take a look at log stats -- it parses squid binary log to produce stats. https://docs.trafficserver.apache.org/appendices/command-line/traffic_logstats.en.html

(and for your previous question... the plugin runs on a single host. The Traffic Server project itself doesn't have anything that manages many ATS nodes. The Apache Traffic Control project may have something along those lines.

[2022-06-08 10:21] petershh opened #8894 "Dependencies are underspecified in docs"
I tried to build Traffic Server 9.1.2 from source. It turned out that build process depends on perl, but it is not listed in dependencies in the documentation.

Also, I recommend you specifying which of the dependencies are build-time or run-time.

[2022-06-08 17:56] ywkaras opened #8896 "Do some core intercept plugins leak resources on early session termination?"
Specifically these:

acme
healthchecks
ts_lua_http_intercept
stats_over_http

They seem to only do cleanup of allocated resources when they get the TS_EVENT_VCONN_WRITE_COMPLETE event.  Does this event occur, even if the session drops before the transaction completes?

[2022-06-08 23:45] maskit commented on #1584
Proxy-Status header, which Masaori suggested above, is now RFC.
https://www.rfc-editor.org/rfc/rfc9209

[2022-06-09 19:00] ywkaras opened #8903 "Mutex use in APIHook::invoke() seems moot and crash prone."
https://github.com/apache/trafficserver/blob/d18721884615958f151eee084244c506552c6512/src/traffic_server/InkAPI.cc#L1368

What is the point of a mutex, if the application will crash when there is contention for it.  If you really want that behavior, you could just use an `atomic<bool>`, not a mutex.  A Yahoo plugin, that uses the TS_LIFECYCLE_SSL_SECRET_HOOK, is crashing at the ink_release_assert(

[2022-06-09 20:18] jeredfloyd commented on #7341
RHEL 9 does not ship with OpenSSL 1.1 compatibility libraries, so I'm looking to tackle the HKDF failures. Before I dig in, has anyone here already investigated?

[code]

[2022-06-09 20:32] jeredfloyd commented on #7341
Actual error message from OpenSSL is:
`405710F3867F0000:error:1C80008B:Provider routines:HKDF_Extract:wrong output buffer size:providers/implementations/kdfs/hkdf.c:414:`

I'll have time to look at this tomorrow afternoon.

[2022-06-09 20:53] jeredfloyd commented on #7341
This commit to OpenSSL (https://github.com/openssl/openssl/commit/5a285addbf39f91d567f95f04b2b41764127950d#diff-08361b6b082f3fc0700d4c885eb97ba8fe8c8b18df13ad1d169558313ae373e3) changed the behavior of EVP_PKEY_derive() to require the output buffer be the exact size of the output data.

The documentation (https://www.openssl.org/docs/man3.0/man3/EVP_PKEY_derive.html) still states:

However the cod

[2022-06-13 23:33] #8775 closed

[2022-06-13 23:34] bryancall commented on #8896
@cmcfarlen is going to take a look at this

[2022-06-13 23:40] bryancall commented on #8894
We removed the check for Perl for 9.2.0. I set it to be backported to the 9.1.3 release: #8611

[2022-06-13 23:43] bryancall commented on #8887
[code]

[2022-06-13 23:52] bryancall commented on #8887
@cmcfarlen is going to try to reproduce the issue.

[2022-06-14 04:34] #8801 closed

[2022-06-15 09:41] amoghyermalkar123 opened #8914 "No Available PARENTS and ATS not adhering to parent configurations."
Problem -
[code]

My Parent.config -
[code]

My records.config -
[code]

My remap.config -
[code]

Detailed Description of the Problem -
We are using nginx as the parent server which runs on the same physical machine as ATS on port 8000. We are seeing failures where ATS tries to resolve the origin domain defined in remap.config, instead of going to the local nginx. Our expectation out of these con