[2019-05-17 05:20] scw00 opened #5523 "Immediately commit the last data fragments"
Sometimes, the last fragments are written after user call `do_io_close`. This means the writing of the last fragments might be pending when user delays `do_io_close`. Then the `read_while_write` keep a loop to wait for this fragments. This dose great harm for performance .

But if ats writes the last fragment immediately, the RWW reader can found the last fragments and terminate itself entirely.

[2019-05-17 13:35] zwoop commented on #5487
This is incorporated into #5092 .

[2019-05-17 13:35] #5487 closed

[2019-05-17 16:18] dragon512 commented on #5522
@masaori335 Can you look at this ... This was a test you added. It seems to be failing on our CI.

[2019-05-17 20:51] #5364 closed

[2019-05-17 20:53] #5474 closed

[2019-05-17 20:55] zwoop commented on #5522
Blocks #5457

[2019-05-17 20:55] zwoop commented on #5519
Blocks #5457

[2019-05-17 20:55] zwoop commented on #5501
Blocks #5457

[2019-05-17 20:55] zwoop commented on #5491
Blocks #5457

[2019-05-17 22:52] zwoop commented on #5245
IMO, we should just make the top-level tag the same as the config file name. I'm ok with renaming config files if that's a problem :).

[2019-05-19 00:11] zwoop opened #5539 "Remove ssl_server_name.yaml empty config load warning"
I think this is very superfluous, it should be just fine to run without this configuration file populated:

[code]

[2019-05-20 13:28] maskit opened #5541 "Handle longer ConnectionID correctly"
ConnectionIDs that are longer than 8 bytes are not handled correctly. Connection table uses only upper 8 bytes to identify connections.

[2019-05-20 13:29] jrushford commented on #5245
+1

[2019-05-20 13:46] SolidWallOfCode commented on #5523
I don't see how that can be avoided - if there is no `do_io_close`, how does ATS know it's the last fragment? If there's a content length, that could be used, but if there isn't one and it's not chunked, there's nothing to do except wait for the close.

[2019-05-20 13:47] shinrich commented on #5245
Sounds reasonable ssl_server_name for the top level tag sounds good.

[2019-05-20 14:22] scw00 commented on #5523
i don’t mean no do_io_close . I mean there is some case that we can commit the last fragment immediately . As you said we can use the content-type.  And I don’t think trunk can be processed as content-type neither.

[2019-05-20 15:38] maskit opened #5542 "Cannot migrate to Preferred Address"
QUIC clients cannot migrate from one QUIC port to another QUIC port on an ATS instance.

Because QUICConnectionTable is created for each ports, a CID inserted to a connection table on port A doesn't exist in a table for another port.

A QUICConnectionTable has to be shared among QUIC ports.

[2019-05-20 20:57] masaori335 opened #5545 "Ignore unknown HTTP/3 frames"
H3 has unknown type frame which have to be ignored.
ATS can handle it correctly after https://github.com/apache/trafficserver/commit/142dd26851659214316d50bb76b29879affe609e, but no exercise nor unit test.

   are reserved to exercise the requirement that unknown types be
   ignored.

- https://tools.ietf.org/html/draft-ietf-quic-http-20#section-3.2.3

e.g.
[code]

[code]

[2019-05-21 00:58] zwoop opened #5546 "autest leaving a remnant file in some cases"
I'm not sure how / why, but found this file named "done" left in my source tree. The code seems to be

[code]

[2019-05-21 06:22] scw00 opened #5548 "QUIC: Performance issue."
There is a  performance gap between ats and ngtcp2.

ATS is drove by peer's packets. This means even though we have the data to sent ats still pending for waiting for the next packets.

[2019-05-21 09:32] maskit commented on #5542
Now a connection table is shared among QUIC ports. 14a4f67d838f421e88f0d7be79b26795573aceb8

However, we still need a fix to send packets from the preferred address.

[2019-05-21 09:36] masaori335 opened #5549 "QPACK: decoding header failed"
During the interop session in London, I got error on decoding header from ngtcp2 server.

[code]

It comes from first check in `xpack_decode_string()`.
[code]

[2019-05-21 11:31] masaori335 commented on #5549
Actually, this was not related to Trailing Header, calculation of end of buf was wrong.
https://github.com/apache/trafficserver/commit/d99371e341b797d7166aa7e392847802d9e48c59

[2019-05-21 13:52] masaori335 commented on #5549
After that commit, we have `PARSE_RESULT_ERROR` on `Http3ClientTransaction::_on_qpack_decode_complete()`.

[code]

[2019-05-21 14:24] maskit commented on #5542
Preferred Interface will be used once a client started migration to a preferred address. 1e8a3a65dfaf1cc0ca15b6bfb3203e1478ed0cdb

[2019-05-21 14:24] #5542 closed

[2019-05-21 14:25] maskit opened #5550 "Handshake packets can be sent with a new CID"
Connection migration is available only after handshake completion. We should not send Handshake packets with a new CID.

[2019-05-21 14:34] maskit commented on #5515
We had two days interop session as apart of QUIC WG interim meeting, and we didn't see crashes.

Could you try the latest code and let us know whether it still crashes on your environment? Also, if it still crashes, please let us know whether packet numbers seem reasonable.

[2019-05-21 14:42] maskit commented on #4649
Done. 1e8a3a65dfaf1cc0ca15b6bfb3203e1478ed0cdb

[2019-05-21 14:42] #4649 closed

[2019-05-21 16:23] masaori335 commented on #5522
No idea what is making this. I'll try on my local box.

[2019-05-21 16:31] masaori335 commented on #5408
During interop session in London, I didn't faced this issue.

[2019-05-21 16:31] #5408 closed

[2019-05-21 16:33] masaori335 commented on #4905
Status: server side is fixed, but client side is not fixed yet.

[2019-05-21 16:34] zwoop commented on #4947
Going to close this for now, not seen in a while

[2019-05-21 16:34] #4947 closed

[2019-05-21 16:36] masaori335 commented on #3425
#3115 is closed in favor of #5031.

[2019-05-21 16:38] masaori335 commented on #2565
@scw00 do you still see this issue?

[2019-05-21 16:40] bryancall opened #5553 "Remove Solaris support in ATS"

[2019-05-21 16:45] postwait commented on #5553
We run ATS on Illumos (which is the Solaris support).

However, given the leak adoption of this, I'd just -0 this instead of a -1.

If there is positive support for this, I am supportive.

[2019-05-21 16:56] zwoop commented on #5553
The problem is that we have no ways to test / build anything on Solaris, at least not right now. If someone is willing to setup a build system for Solaris, that the Jenkins CI can "ssh" to. In addition, we would need someone who's interested / willing to help out if / when we get build issues on the Solaris platform. If we can resolve those two issues, we can revisit.

[2019-05-22 00:24] scw00 commented on #2565
I haven't saw this issue for a while. Close it for now.

[2019-05-22 00:24] #2565 closed

[2019-05-22 06:47] #5483 closed

[2019-05-22 13:13] maskit opened #5562 "Manage network paths"
Logic for connection migration and preferred address are getting complicated. I think we need to manage network *paths* identified by CID, with its validation process, endpoints(IP address and port) and availability. And we probably need to have a way to send a packet on a specific path.

[2019-05-22 15:51] bryancall commented on #1175
Looks like this has been fixed.  Please reopen if there is still an issue.

[2019-05-22 15:51] #1175 closed

[2019-05-22 15:54] bryancall commented on #1237
Please look a the comment above and lower your timeout settings to prevent this issue.

[2019-05-22 15:54] #1237 closed

[2019-05-22 15:55] #1304 closed

[2019-05-22 16:01] thelounge-zz commented on #1237
lower the timeout is nonsense  what did you not understand in the simple fact of "proxy.config.http.transaction_no_activity_timeout_in to a very low value would stop security scans to alert the ATS vulnerability but at the same time breaking every application which takes some time to respond"

i treid that in production and had to raise it after a few hours becaus eit breaks all sort of real world

[2019-05-22 16:02] bryancall commented on #1344
Looks like this has been fixed.  Please reopen if there is still an issue.

[2019-05-22 16:02] #1344 closed

[2019-05-22 16:03] bryancall commented on #1345
If this hasn't been resolved please reopen.

[2019-05-22 16:03] #1345 closed

[2019-05-22 16:04] bryancall commented on #1346
If this is still an issue please reopen.

[2019-05-22 16:04] #1346 closed

[2019-05-22 16:05] bryancall commented on #1354
We remove traffic_cop from ATS.

[2019-05-22 16:05] #1354 closed

[2019-05-22 16:10] zwoop opened #5563 "☂ Tasks for removing traffic_manager"
These are the open tasks for removing

- [x] Handle traffic_manager tasks in traffic_server threads. #1372
- [x] Add back in stack trace when ATS crashes https://github.com/apache/trafficserver/pull/10811

[2019-05-22 16:13] bryancall commented on #1402
If this is still an issue please reopen.

[2019-05-22 16:13] #1402 closed

[2019-05-22 16:14] bryancall commented on #1417
If this is still an issue please reopen.

[2019-05-22 16:14] #1417 closed

[2019-05-22 16:15] bryancall commented on #1448
Please fix PR #1473 if you would like to get this issue resolved.

[2019-05-22 16:15] #1448 closed

[2019-05-22 16:16] bryancall commented on #1463
No longer valid in newer releases of ATS.

[2019-05-22 16:16] #1463 closed

[2019-05-22 16:16] bryancall commented on #1478
If this is still an issue please reopen.

[2019-05-22 16:16] #1478 closed

[2019-05-22 16:18] bryancall commented on #1483
Closing since the PR has been closed.

[2019-05-22 16:18] #1483 closed

[2019-05-22 16:24] bryancall commented on #1484
The browser and origins handle immutable.  If you want to override the origin the header can be added with header_rewrite.

[2019-05-22 16:24] #1484 closed

[2019-05-22 16:26] bryancall commented on #1498
If this is still an issue please reopen.

[2019-05-22 16:26] #1498 closed

[2019-05-22 16:28] bryancall commented on #1500
If this is still an issue please reopen.

[2019-05-22 16:28] #1500 closed

[2019-05-22 16:31] bryancall commented on #1507
We don't have luajit in our tree anymore and rely on the installed package.

[2019-05-22 16:31] #1507 closed

[2019-05-22 16:32] bryancall commented on #1528
6.2 is no longer supported and I believe this build option was removed from later versions.

[2019-05-22 16:32] #1528 closed

[2019-05-22 16:33] bryancall commented on #1529
If this is still an issue please reopen.

[2019-05-22 16:33] #1529 closed

[2019-05-22 16:33] bryancall commented on #1530
luajit in no longer in our tree and we depend on the installed package.

[2019-05-22 16:33] #1530 closed

[2019-05-22 16:35] bryancall commented on #1549
@mlibbey Please close if you don't have anyone on your team that will work on this.

[2019-05-22 16:37] bryancall commented on #1553
If this is still an issue please reopen.

[2019-05-22 16:39] bryancall commented on #1562
If this is still an issue please reopen.

[2019-05-22 16:39] #1562 closed

[2019-05-22 16:41] zwoop commented on #1570
So, seems there's a few places where this is still used

1) WCCP (@oknet can cleanup)

2) TSConfig (@randall removing)

3) A few other places (@SolidWallOfCode cleaning up).

Marking this for v9.1.0, so no lolligagging

[2019-05-22 16:41] gtenev commented on #1553
@bryancall , this is something I plan to work on.

[2019-05-22 16:44] bryancall commented on #1579
If this is still an issue please reopen.

[2019-05-22 16:44] #1579 closed

[2019-05-22 16:46] bryancall commented on #1584
Can you please assign this to someone on your team if you are going to work on it?

[2019-05-22 16:49] bryancall commented on #1598
I believe the new thread affinity API changes should fix this issue.  If this is still an issue please reopen.

[2019-05-22 16:49] #1598 closed

[2019-05-22 16:52] bryancall commented on #1599
This define and ifdef should be remove for the 9.0.0 release.

[2019-05-22 16:52] zwoop commented on #1599
Blocks #5457

[2019-05-22 16:55] bryancall commented on #1603
If this is still an issue please reopen.

[2019-05-22 16:55] #1603 closed

[2019-05-22 16:56] bryancall commented on #1625
If this is still an issue please reopen.

[2019-05-22 16:56] #1625 closed

[2019-05-22 17:03] bryancall commented on #1651
We should verify the configuration options are working correctly for the 9.0.0 release.

[2019-05-22 17:06] bryancall commented on #1652
Linked with #1651

[2019-05-22 17:06] zwoop commented on #1663
@mlibbey Can you prioritize / assign this please ?

[2019-05-22 17:06] bryancall commented on #1652
We should verify the configuration options are working correctly for the 9.0.0 release.

[2019-05-22 17:12] bryancall commented on #1670
If this is still an issue please reopen.

[2019-05-22 17:12] #1670 closed

[2019-05-22 17:13] bryancall commented on #1672
If this is still an issue please reopen.

[2019-05-22 17:13] #1672 closed

[2019-05-22 17:15] bryancall commented on #1694
If this is still an issue please reopen.

[2019-05-22 17:15] #1694 closed

[2019-05-22 17:27] bryancall commented on #1718
If this is still an issue please reopen.

[2019-05-22 17:27] #1718 closed

[2019-05-22 17:28] mlibbey commented on #1651
FWIW, we override proxy.config.http.chunking_enabled to 0 in one of our properties.

[2019-05-22 17:32] bryancall commented on #1760
If this is still an issue please reopen.

[2019-05-22 17:32] #1760 closed

[2019-05-22 17:34] bryancall commented on #1906
If this is still an issue please reopen.

[2019-05-22 17:34] #1906 closed

[2019-05-22 17:39] bryancall commented on #1922
If this is still an issue please reopen.  Do you still want to do work on this?

[2019-05-22 17:39] #1922 closed

[2019-05-22 17:49] bryancall commented on #1926
There is an option for clang tidy to do this automatically for us.  I will run it and see what happens.

[2019-05-22 17:50] bryancall commented on #1930
If this is still an issue please reopen.

[2019-05-22 17:50] #1930 closed

[2019-05-22 17:50] bryancall commented on #1956
If this is still an issue please reopen.

[2019-05-22 17:50] #1956 closed

[2019-05-22 17:52] bryancall commented on #1965
If this is still an issue please reopen.

[2019-05-22 17:52] #1965 closed

[2019-05-22 17:53] bryancall commented on #1966
Yes, it is a good idea to fast fill on LRU.

[2019-05-22 18:06] bryancall commented on #1982
If this is still an issue please reopen.  It looks like this has been fixed in later releases 7.0.0 and above.

[2019-05-22 18:06] #1982 closed

[2019-05-22 18:10] bryancall commented on #1985
Support has been added for incoming/client connections.
I am closing this for now until someone wants to add support for origin connections.

[2019-05-22 18:10] #1985 closed

[2019-05-22 18:14] bryancall commented on #1994
If this is still an issue please reopen.

[2019-05-22 18:14] #1994 closed

[2019-05-22 18:16] bryancall commented on #2006
The node metrics have been removed.

[2019-05-22 18:16] #2006 closed

[2019-05-22 18:16] bryancall commented on #2059
If this is still an issue please reopen.

[2019-05-22 18:16] #2059 closed

[2019-05-22 18:17] bryancall commented on #2076
If this is still an issue please reopen.

[2019-05-22 18:17] #2076 closed

[2019-05-22 18:18] bryancall commented on #2133
If this is still an issue please reopen.

[2019-05-22 18:18] #2133 closed

[2019-05-22 18:18] bryancall commented on #2141
If this is still an issue in 7 or 8 please reopen.

[2019-05-22 18:18] #2141 closed

[2019-05-22 18:20] bryancall commented on #2160
If this is still an issue please reopen.

[2019-05-22 18:20] #2160 closed

[2019-05-22 18:21] bryancall commented on #2189
If this is still an issue please reopen.

[2019-05-22 18:21] #2189 closed

[2019-05-22 18:25] bryancall commented on #2204
@mlibbey Can you please triage?

[2019-05-22 18:26] bryancall commented on #2210
If this is still an issue please reopen.

[2019-05-22 18:26] #2210 closed

[2019-05-22 18:27] bryancall commented on #2246
If this is still an issue please reopen.

[2019-05-22 18:27] #2246 closed

[2019-05-22 18:31] bryancall commented on #2279
It looks like you are benchmarking with 1 URL.  This would have lock contention on 1 lock.  You can benchmark with multiple URLs and configure volume.config to have multiple volumes.

[2019-05-22 18:31] #2279 closed

[2019-05-22 18:31] zwoop commented on #2311
Clustering is no longer supported.

[2019-05-22 18:31] #2311 closed

[2019-05-22 18:38] bryancall commented on #2351
If this is still an issue please reopen.

[2019-05-22 18:38] #2351 closed

[2019-05-22 18:40] bryancall commented on #2353
If this is still an issue please reopen.

[2019-05-22 18:40] #2353 closed

[2019-05-22 19:00] mustafa1024m commented on #1694
I'm not sure if anything has changed about this, let's assume there are multiple requests to a 10MB object:
Range: 0 - 100,000
Range: 100,000 - 200,000
Range: 100,000 - 200,000
Range: 100,000 - 200,000
Range: 100,000 - 200,000

[2019-05-22 19:11] mustafa1024m commented on #1694
I don't think anything has changed about this, the idea is that, e.g. I have a 100MB object, and got a 1000 range requests, each one specifying a random 4 MB chunk, the current behavior doesn't take range request into account for caching, so it doesn't get promoted, I want to set a number of range requests after which the whole object gets cached.

[2019-05-22 19:51] bryancall commented on #2364
ATS 5.3.0 isn't support anymore.  If this is happening in a later version please reopen.

[2019-05-22 19:51] #2364 closed

[2019-05-22 20:01] bryancall commented on #2380
Should this be closed?

[2019-05-22 20:02] bryancall commented on #2388
If this is still an issue please reopen.

[2019-05-22 20:02] #2388 closed

[2019-05-22 20:04] bryancall commented on #2391
The thread affinity APIs should be able to to handle this.  If this is still an issue please reopen.

[2019-05-22 20:04] #2391 closed

[2019-05-22 20:04] bryancall commented on #2398
If this is still an issue please reopen.

[2019-05-22 20:04] #2398 closed

[2019-05-22 20:07] bryancall commented on #2399
What version of ATS are you running?  Can you turn on debug mode in ATS do dump the headers?

[2019-05-22 20:10] bryancall commented on #2406
If this is still an issue please reopen.

[2019-05-22 20:10] #2406 closed

[2019-05-22 20:11] bryancall commented on #2399
If this is still an issue please send an email to the users@ mailing list for support

[2019-05-22 20:11] #2399 closed

[2019-05-22 20:14] bryancall commented on #2418
@ezelkow1 Can you handle this one and close if it not an issue anymore?

[2019-05-22 20:15] bryancall commented on #2419
Relates to #2424

[2019-05-22 20:17] bryancall commented on #2436
If this is still an issue please reopen.

[2019-05-22 20:17] #2436 closed

[2019-05-22 20:17] zwoop commented on #2424
Indeed, crashes two years later too... Maybe time I fix it?

[2019-05-22 20:31] bryancall commented on #2483
If this is still an issue please reopen.

[2019-05-22 20:31] #2483 closed

[2019-05-22 20:32] bryancall commented on #2486
If this is still an issue please reopen.

[2019-05-22 20:32] #2486 closed

[2019-05-22 20:34] zwoop commented on #2505
I'm working on getting rid of the Rollback feature, so closing this for now since there are more specific Issues filed on the topic.

[2019-05-22 20:34] #2505 closed

[2019-05-22 20:38] bryancall commented on #2544
It looks like this was resolved in 8.0.3

[2019-05-22 20:38] #2544 closed

[2019-05-22 20:38] bryancall commented on #2566
If this is still an issue please reopen.

[2019-05-22 20:38] #2566 closed

[2019-05-22 20:40] thelounge-zz commented on #2505
no diea why "work in progress" justifies closing this after so many years and why a *wokring* config option to diable that bullshit is that hard

[2019-05-22 20:42] bryancall commented on #2591
If this is still an issue please reopen.

[2019-05-22 20:42] #2591 closed

[2019-05-22 20:47] bryancall commented on #2624
@jbergstroem What platform are you running this on?

[2019-05-22 20:48] bryancall commented on #2637
If this is still an issue please reopen.

[2019-05-22 20:48] #2637 closed

[2019-05-22 20:49] bryancall commented on #2650
@zizhong Can you take a look at this?  Are you still using web sockets?

[2019-05-22 20:55] zwoop commented on #2662
I believe this is fixed, reopen if not.

[2019-05-22 20:55] #2662 closed

[2019-05-22 20:56] vmamidi commented on #2473
This is resolved. API is available in 9.0

[2019-05-22 20:56] #2473 closed

[2019-05-22 20:56] vmamidi commented on #2474
This is resolved. API is available in 9.0

[2019-05-22 20:56] #2474 closed

[2019-05-22 20:56] #2476 closed

[2019-05-22 20:58] bryancall commented on #2674
@maskit Is this still an issue?

[2019-05-22 21:01] bryancall commented on #2680
Vec has been removed.

[2019-05-22 21:01] #2680 closed

[2019-05-22 21:03] bryancall commented on #2724
@masaori335 is this still an issue?

[2019-05-22 21:04] vmamidi commented on #2695
this should be working in 8.0.

[2019-05-22 21:06] bryancall commented on #2743
If this is still an issue please reopen.

[2019-05-22 21:06] #2743 closed

[2019-05-22 21:08] zizhong commented on #2650
@bryancall sure, will do.
I didn't hear any complaint about WebSocket, but we are on ats 6.2.x.
Haven't look closely into this module. I'll need some time to dig into it.

[2019-05-22 21:09] bryancall commented on #2750
CI reports this now for each build:
https://ci.trafficserver.apache.org/view/github/job/centos-github/10557/consoleFull

[2019-05-22 21:09] #2750 closed

[2019-05-22 21:10] bryancall commented on #2752
If this is still an issue please reopen.

[2019-05-22 21:10] #2752 closed

[2019-05-22 21:10] bryancall commented on #2762
If this is still an issue please reopen.

[2019-05-22 21:10] #2762 closed

[2019-05-22 21:12] zwoop commented on #2767
Yeh, this feature has been there for a long time, but likely predates the follow redirect feature.

[2019-05-22 21:13] bryancall commented on #2790
If this is still an issue please reopen.

[2019-05-22 21:13] #2790 closed

[2019-05-22 21:14] bryancall commented on #2796
Relates to #1329

[2019-05-22 21:15] bryancall commented on #2844
Relates to #1329

[2019-05-22 21:17] bryancall commented on #2849
If this is still an issue please reopen.

[2019-05-22 21:17] #2849 closed

[2019-05-22 21:19] bryancall commented on #2851
Relates to #2742

[2019-05-22 21:20] vmamidi commented on #2695
Closing this issue. Please reopen if you see this issue again.

[2019-05-22 21:20] #2695 closed

[2019-05-22 21:24] bryancall commented on #2859
I don't think anyone is interested in doing this.  There are implications on performance on the ACLs.  An alternative is to write a plugin that would do this.

[2019-05-22 21:24] #2859 closed

[2019-05-22 21:30] bryancall commented on #2861
If this is still an issue please reopen.

[2019-05-22 21:30] #2861 closed

[2019-05-22 21:33] vmamidi commented on #1372
same as #5563

[2019-05-22 21:33] #1372 closed

[2019-05-22 21:34] bryancall commented on #2866
@scw00 Is this still an issue?

[2019-05-22 21:39] bryancall commented on #2877
If this is still an issue please reopen.

[2019-05-22 21:39] #2877 closed

[2019-05-22 21:41] bryancall commented on #2889
If this is still an issue please reopen.

[2019-05-22 21:41] #2889 closed

[2019-05-22 21:41] bryancall commented on #2895
We can change the SQUID code to something else in the logs.

[2019-05-22 21:43] bryancall commented on #2906
If this is still an issue please reopen.

[2019-05-22 21:43] #2906 closed

[2019-05-22 21:43] zwoop commented on #2925
@mlibbey Do we want to work on / fix this ?

[2019-05-22 21:44] zwoop commented on #2953
Is this for H2 or QUIC, or both ?

[2019-05-22 21:45] bryancall commented on #2983
If this is still an issue please reopen.

[2019-05-22 21:45] #2983 closed

[2019-05-22 21:46] #2987 closed

[2019-05-22 21:46] bryancall commented on #2984
If this is still an issue please reopen.

[2019-05-22 21:46] #2984 closed

[2019-05-22 21:47] bryancall commented on #2991
@ezelkow1 What do you want to do with this issue?

[2019-05-22 21:49] bryancall commented on #2997
@shinrich Can you set a default value for proxy.config.ssl.client.cipher_suite?

[2019-05-22 21:50] bryancall commented on #3007
If this is still an issue please reopen.

[2019-05-22 21:50] #3007 closed

[2019-05-22 21:51] bryancall commented on #3021
Looks like this has been fixed.  Please reopen if there is still an issue.

[2019-05-22 21:51] #3021 closed

[2019-05-22 21:52] bryancall commented on #3026
If this is still an issue please reopen.

[2019-05-22 21:52] #3026 closed

[2019-05-22 21:53] bryancall commented on #3028
@vmamidi Can you see if this has been fixed?

[2019-05-22 21:53] bryancall commented on #3036
If this is still an issue please reopen.

[2019-05-22 21:53] #3036 closed

[2019-05-22 21:54] bryancall commented on #3041
We always use the system luajit now.

[2019-05-22 21:54] #3041 closed

[2019-05-22 21:58] bryancall commented on #3057
Do you know if it is going to disk or RAM for cache?  What type of disks are you using, ssd or rotational?  If this is still an issue please reopen.

[2019-05-22 21:58] #3057 closed

[2019-05-22 21:59] zwoop commented on #3057
This definitely looks like a disk issue of some sort, are you running the cache on the filesystem or RAW devices ?

[2019-05-22 22:13] bryancall commented on #3064
@ezelkow1 Is this still and issue?  If not please close.

[2019-05-22 22:14] bryancall commented on #3071
If this is still an issue please reopen.

[2019-05-22 22:14] #3071 closed

[2019-05-22 22:17] zwoop commented on #3093
Looking at the proxy.process.cache.wrap_count metrics is probably the best way to see how long objects *typically* stay in the cache.

[2019-05-22 22:17] bryancall commented on #3093
You can do use the Age header if the origin doesn't supply an Age header.  ATS logs when the cache wraps and that would be the maximum age of objects in cache.

[2019-05-22 22:18] #3093 closed

[2019-05-22 22:26] zwoop commented on #3103
At a minimum, you are using the wrong define, it should be e.g.

[code]

[2019-05-22 22:33] bryancall commented on #3103
If this is still an issue please reopen.

[2019-05-22 22:33] #3103 closed

[2019-05-22 22:35] bryancall commented on #3118
If this is still an issue please reopen.

[2019-05-22 22:35] #3118 closed

[2019-05-22 22:38] bryancall commented on #3149
If this is still an issue please reopen.

[2019-05-22 22:38] #3149 closed

[2019-05-22 22:39] bryancall commented on #3151
Looks like this has been fixed.  Please reopen if there is still an issue.

[2019-05-22 22:39] #3151 closed

[2019-05-22 22:42] bryancall commented on #3177
We should only accept int values and fail more gracefully.

[2019-05-22 22:44] bryancall commented on #3178
If this is still an issue please reopen.

[2019-05-22 22:44] #3178 closed

[2019-05-22 22:57] maskit commented on #2953
This is for QUIC.

[2019-05-22 23:02] maskit commented on #2674
yes, please keep this open.

[2019-05-23 00:12] scw00 commented on #2866
close. now  please feel free if it is still a case

[2019-05-23 00:12] #2866 closed

[2019-05-23 01:02] scw00 commented on #5563
So How do you manage sockets after server crash if we remove the traffic manager?

[2019-05-23 01:40] #2346 closed

[2019-05-23 02:23] zwoop commented on #2505
You are of course more than welcome to produce such an easy fix for that bullshit yourself.

As been documented through the many years of Traffic Server as both commercial and free software, being able to write and create files in etc/ is a critical piece of code and functionality. It's been deeply nested in the design and implementation of ATS since inception. We've since made read-only etc/ achi

[2019-05-23 02:25] vmamidi commented on #3157
I don't think we need this variable. rules in parent.config should be good enough to enable parent.

@mlibbey @zwoop @jrushford is it okay if I get rid of this variable?

[2019-05-23 03:34] jbergstroem commented on #2624
Ouf, long time ago. Best guess old version of Alpine Linux, Illumos or FreeBSD. I'll close and reopen once I can reproduce with sufficient info.

[2019-05-23 03:34] #2624 closed

[2019-05-23 03:42] thelounge-zz commented on #2505
OK, i didn't expect the whole codebase to be spaghetti code where writing and versioning is spread all over the code so that "CONFIG proxy.config.disable_configuration_modification INT 1" is really respected and the function writing the config juest returns void or false....

[2019-05-23 03:53] thelounge-zz commented on #2505
i needed to solve that anyways because after implement letsencrypt and push updated certificates all day long from the backend servers hard restart the proxy dozens of times is a no-go, just place your real config somewhere else and say thank you to systemd which can fire up rsync before reload/restart/start

works at least for certificates, cipher options in recods.config still need a hard restar

[2019-05-23 07:40] masaori335 commented on #2724
Right. This is a TODO of QUIC project.

[2019-05-23 07:48] masaori335 commented on #5522
It looks like #5560 is fixing this.

[2019-05-23 07:55] mustafa1024m commented on #2662
I asked about the plugin in the previous comment and got no response, now after search, I think it is the "Slice" plugin, and it requires "cache_range_requests" plugin, I found it here:
https://github.com/apache/trafficserver/tree/master/plugins/experimental/cache_range_requests

Please correct me if I am mistaken, but I think it does not exist in the documentation.

[2019-05-23 09:00] cnkedao commented on #5515
Thank you for your attention,after i `git pull` the latest code both ats and ngtcp2,this problem seems  ok.
But,I found an other problem now.
I use the same command to test it and use `CTRL+C` to cancel soon,then try it many times.
After a long time after stopping the test, you can find that the memory is skyrocketing until the system kills it.

top status:
PID USER      PR  NI    VIRT    RES    S

[2019-05-23 14:37] ezelkow1 commented on #2662
Yes the slice plugin is the deterministic range slicing.  There are docs on master for it:
https://docs.trafficserver.apache.org/en/latest/admin-guide/plugins/slice.en.html

It is not in 8.x, however we are using it on 7.x right now (and have it in 8.x builds as well), so its possible to backport. Though I dont think we would be doing that officially since its a newer feature

[2019-05-23 16:05] bryancall commented on #2445
Added cstdio to the file in the PR #5565

[2019-05-23 16:05] #2445 closed

[2019-05-23 16:31] jrushford commented on #3157
@mlibbey, @vmamidi, and @zwoop I'd be okay with getting rid of it. I think it's only checked in ParentSelection::findParent() and returns immediately if not enabled.  If it is enabled it checks to see if the request matches an entry in parent.config.  If no match is found it just returns a result to go direct to the origin.  so that request match lookup should be good enough.

[2019-05-23 17:10] bryancall commented on #3182
If this is still an issue please reopen.

[2019-05-23 17:10] #3182 closed

[2019-05-23 17:12] bryancall commented on #3210
If this is still an issue please reopen.

[2019-05-23 17:12] #3210 closed

[2019-05-23 17:13] bryancall commented on #3211
Looks like this has been fixed.  Please reopen if there is still an issue.

[2019-05-23 17:13] #3211 closed

[2019-05-23 17:13] bryancall commented on #3213
If this is still an issue please reopen.

[2019-05-23 17:17] bryancall commented on #3259
I don't think we should collapse slashes by default.  If you want to normalize URLs you should do this in a plugin with your own business logic.

[2019-05-23 17:20] zwoop commented on #3259
You can move the path matching (all of it) to the regex_remap.so plugin, which can then deal with such odd cases and collapsing. Like

[code]

Then in regexes.conf, you have to match the host again, as well as dealing with ///'s etc. and then do the entire rewrite there.

[2019-05-23 17:20] #3259 closed

[2019-05-23 17:22] bryancall commented on #3260
We have removed clustering the code.  We have moved to use parent selection with the ability to have all the servers operate as peers and server with the incoming request to identify itself and not route again to itself.

[2019-05-23 17:22] #3260 closed

[2019-05-23 17:31] zwoop commented on #3269
The POC is pretty interesting, but storing "state" in librecords is really not that great. API metrics are limited in numbers, it would not be able to deal with many thousands. Also, you have to send the BAN to every ATS instance. Using some sort of distributed database would be better. Or, if a distributed DB is not feasible, then a local DB like sqlite or BDB or something would be better as well

[2019-05-23 17:33] #3354 closed

[2019-05-23 17:37] #3213 closed

[2019-05-23 17:39] bryancall commented on #3385
@maskit is this still an issue?

[2019-05-23 17:40] bryancall commented on #3398
If this is still an issue please reopen.

[2019-05-23 17:40] #3398 closed

[2019-05-23 17:46] bryancall commented on #3428
If this is still an issue please reopen.

[2019-05-23 17:49] bryancall commented on #3428
@shinrich Can you check to see if this is still an issue before the 9.0.0 release?

[2019-05-23 17:53] zwoop commented on #3428
@randall  I tried reproducing this on master, with a map rule of

[code]

And then a request of

[code]

It did not crash. Is there some other setting I must enable ?

[2019-05-23 18:12] mhf-ir commented on #3269
Seems be next generation of developer initialize it :
https://github.com/valeriansaliou/bloom

[2019-05-23 18:32] #5539 closed

[2019-05-23 19:31] bryancall commented on #3646
Looks like this has been fixed.  Please reopen if there is still an issue.

[2019-05-23 19:31] #3646 closed

[2019-05-23 19:32] bryancall commented on #5043
Looks like this has been fixed.  Please reopen if there is still an issue.

[2019-05-23 19:32] #5043 closed

[2019-05-23 19:41] bryancall commented on #3445
Looks like this has been fixed.  Please reopen if there is still an issue.

[2019-05-23 19:41] #3445 closed

[2019-05-23 19:43] bryancall commented on #3455
@maskit Please do this before merging to master.

[2019-05-23 19:46] bryancall commented on #3482
@djcarlin I don't see this option in open source.  If this is still an issue please reopen.

[2019-05-23 19:49] bryancall commented on #3482
It looks like it is an internal change that wasn't open sourced.

[2019-05-23 19:55] bryancall commented on #3482
@SolidWallOfCode We should decided if we should auto clear or not.  Please take this to the mailing list.

[2019-05-23 19:58] bryancall commented on #3496
This is how ATS operates.  You need to wait for the disk cache to flush.

[2019-05-23 19:58] #3496 closed

[2019-05-23 20:01] bryancall commented on #3502
Looks like this has been fixed.  Please reopen if there is still an issue.

[2019-05-23 20:01] #3502 closed

[2019-05-23 20:03] bryancall commented on #3503
Looks like this has been fixed.  Please reopen if there is still an issue.

[2019-05-23 20:03] #3503 closed

[2019-05-23 20:05] bryancall commented on #3513
Looks like this has been fixed.  Please reopen if there is still an issue.

[2019-05-23 20:05] #3513 closed

[2019-05-23 20:06] bryancall commented on #3515
We use this for internal tools at our company.

[2019-05-23 20:06] #3515 closed

[2019-05-23 20:07] bryancall commented on #3528
If this is still an issue please reopen.

[2019-05-23 20:07] #3528 closed

[2019-05-23 20:07] bryancall commented on #3536
Looks like this has been fixed.  Please reopen if there is still an issue.

[2019-05-23 20:07] #3536 closed

[2019-05-23 20:11] zwoop commented on #3546
Dynamic doesn't imply reloadable (but the inverse is true, reloadable implies dynamic).

[2019-05-23 20:12] thelounge-zz commented on #3502
how does it look like it's been fixed?

[2019-05-23 20:13] bryancall commented on #3561
If this is still an issue please send an email to the users@ mailing list.

[2019-05-23 20:13] #3561 closed

[2019-05-23 20:19] zwoop commented on #3654
Didn't we recently add the UUID into something here too for cycle detection ?

[2019-05-23 20:22] bryancall commented on #3649
Unfortunately, I don't think anyone is interested in working on pushing alternates into cache.  I will ask at my work and see.

Most people are fetching object through ATS, since it is safer and there is no mistake in pushing the wrong object for a given URL.

[2019-05-23 20:25] bryancall commented on #3661
If this is still an issue please reopen.

[2019-05-23 20:25] #3661 closed

[2019-05-23 20:26] bryancall commented on #3664
If this is still an issue please reopen.

[2019-05-23 20:26] #3664 closed

[2019-05-23 20:27] bryancall commented on #3674
If this is still an issue please reopen.

[2019-05-23 20:27] #3674 closed

[2019-05-23 20:28] bryancall commented on #3683
If this is still an issue please reopen.

[2019-05-23 20:28] #3683 closed

[2019-05-23 20:31] bryancall commented on #3742
Please take look at https://docs.trafficserver.apache.org/en/7.1.x/admin-guide/files/records.config.en.html#proxy-config-http-connect-attempts-rr-retries and see if that fixes the issue.

If this is still an issue please reopen.

[2019-05-23 20:31] #3742 closed

[2019-05-23 20:31] bryancall commented on #3748
@mlibbey Please Shepard this.

[2019-05-23 20:35] bryancall commented on #3808
There is a PR for this, closing this issue.

[2019-05-23 20:35] #3808 closed

[2019-05-23 20:40] zwoop commented on #3813
I agree with the OP, if the server doesn't support HTTP/2, it can ignore the Upgrade: h2 or Upgrade: h2c options, and return 200 OK.

[2019-05-23 20:40] bryancall commented on #3836
If this is still an issue please reopen.

[2019-05-23 20:40] #3836 closed

[2019-05-23 20:43] zwoop commented on #3872
It's in 8.0.x and later.

[2019-05-23 20:43] #3872 closed

[2019-05-23 21:14] maskit commented on #5515
Could you give us a bit more details?

- How many times did you ran the command? 10? 100?
- How long time did you leave ATS running? 10min? 1hours?

[2019-05-23 22:10] zwoop commented on #5563
We will manage sockets in traffic_server only.

[2019-05-24 00:10] scw00 commented on #5563
I mean, as @shukitchan point in last summit, if the server crash, then every connection request will be reseted. But if we have the manager, the socket will be hold until the server restart successfully.

[2019-05-24 00:52] dnj12345 opened #5572 "ATS crash during ssl handshake"
Hi,
I am running into an ATS crash during ssl handshake. I am using ATS v7.1.6. Other details:

OS: Ubuntu 16.04.
Openssl: OpenSSL 1.0.2g

I have a custom plugin (using atscppapi). Previously, I was using it with 6.2.3. I am upgrading ATS to 7.1.6. With no changes to the plugin and upgrade to 7.1.6 seems to result in this crash. Release 6.2.1 or 6.2.3 doesn't exhibit this behavior. I am able to re

[2019-05-24 04:17] vmamidi commented on #3157
#5570 removes the configuration variable.

[2019-05-24 04:17] #3157 closed

[2019-05-24 04:24] cnkedao commented on #5515
Ran the command about 20 times.
Then leave it running for about 5 minutes, the system will kill it due to memory problems.

[2019-05-24 04:43] vmamidi commented on #3028
@scw00 is this still happening? I am unable to reproduce this.

[2019-05-24 04:57] vmamidi commented on #3028
closing after talking to @scw00.

[2019-05-24 04:57] #3028 closed

[2019-05-24 04:59] vmamidi commented on #3565
@oschaaf is this still happening? @jrushford are you working on this?

[2019-05-24 06:01] vmamidi commented on #3012
are you still seeing this issue?

[2019-05-24 08:01] shukitchan commented on #3186
@bryancall
my work on modsecurity integration is mostly finished and is in my own repo.
you want me to move my script over to example directory?

[2019-05-24 09:16] maskit commented on #5515
Thanks for the information. I'll look into it next week.

[2019-05-24 09:26] maskit commented on #3385
yes it is.

[2019-05-24 14:07] vmamidi commented on #3565
Closing the issue as I am unable to reproduce the issue. Please reopen if it is still a problem.

[2019-05-24 14:07] #3565 closed

[2019-05-24 15:50] vmamidi commented on #5519
fixed with #5544.

[2019-05-24 15:50] #5519 closed

[2019-05-24 16:48] bryancall commented on #5553
@postwait Are you willing to run a build system for Solaris and manage it?

[2019-05-24 17:01] postwait commented on #5553
Manage yes, I don't have the resources to run it. If it's an AWS node I can admin it.

[2019-05-24 20:05] zwoop commented on #5553
We currently only have resources on RackSpace, which afaik, has no way of deploying Solaris. At least not last time we looked.

What we would need too is 3x dual core systems at a minimum, same as we allocated for the FreeBSD builds on RackSpace. Anything less than that and the CI falls behind, since we would want this to build on the Github PRs IMO.

Unless we can get such resources somehow (mayb

[2019-05-24 20:49] zwoop opened #5576 "Shouldn't we autodetect brotli?"
It seems you have to explicitly ask for Brotli, but shouldn't we just do what we normally do, and auto detect (png-config etc.) for the Brotli include files ?

This might be related to #4741 as well.

[2019-05-24 23:01] zizhong commented on #2650
@Tchinmai7 what is the remap config you used to reproduce this issue?

[2019-05-25 01:04] postwait commented on #5553
I completely agree with that assessment.

[2019-05-25 06:24] mustafa1024m commented on #2662
Thanks of confirming, I actually read "This slice plugin, along with the cache_range_requests plugin", so I searched for the cache_range_requests, and I didn't find the docs for the cache_range_requests in the documentation (even in master), only in its GitHub page.

[2019-05-25 15:44] Tchinmai7 commented on #2650
We used to use ATS in transparent proxy mode, and hence the remap.config was left untouched.

Note: This issue was raised more than a year ago, and I haven't got a chance to work on this after that (I switched orgs)

[2019-05-27 13:41] jsnjack opened #5577 "ATS crashes in ProxyClientSession.cc"
Hi,

We have a problem running the latest ATS version. It crashes around 20 times per day with the following stack trace (I have also attached an extended log file
[ats7.txt](https://github.com/apache/trafficserver/files/3223981/ats7.txt) ):
[code]

Environment:
ATS 7.1.6
Debian 8, kernel 3.16.0

[2019-05-27 20:18] #2424 closed

[2019-05-28 01:49] masaori335 commented on #5572
On frame 6, it's creating SSL object. But the crash is happened inside of OpenSSL.
Could you get back trace with OpenSSL debug symbols?

[2019-05-28 02:00] masaori335 commented on #5577
It looks like `ProxyClientSession::state_api_callout()` received unexpected event when the server session reached inactive timeout.
Could you get full backtrace? What event `ProxyClientSession::state_api_callout()` was received might help us.

[2019-05-28 05:06] dnj12345 commented on #5572
Agree, but the same doesn't happen for ATS 6.2.3. I am using standard
openssl libraries, don't have a debug version of the ssl library. Is it
possible, a wrong option was being passed to the ssl library?

On Mon, May 27, 2019 at 6:49 PM Masaori Koshiba <notifications@github.com>
wrote:

[2019-05-28 05:17] masaori335 commented on #5572
We don't need debug built OpenSSL. I thought we can install debug symbol packages for OpenSSL (`openssl-dbgsym`?) and resolve some symbols.

I doubt ATS 7.1.x made something wrong with SSL_CTX which is used to create SSL object.

[2019-05-28 05:57] dnj12345 commented on #5572
Ok. I’ve not loaded debugsym before for OpenSSL. I’ll figure out how to do it and get back to you with the necessary info.

Dk.

[2019-05-28 09:22] jsnjack commented on #5577
Hi @masaori335! Many thanks for looking into it!

I have a quite huge log file with output in debug mode from ATS. I have extracted approximately 9k lines prior to the crash (see attached file). I hope it is helpful. Please let me know if I can provide more information somehow.
[ats_logs.txt](https://github.com/apache/trafficserver/files/3226655/ats_logs.txt)

[2019-05-28 15:45] MattMills commented on #3012
Unknown, I don't run Traffic Server anymore, sorry. Feel free to close.

[2019-05-28 16:59] bryancall commented on #5577
@jsnjack If you have a core file it would be great if you can run gdb on it and do a `bt full`

[2019-05-28 17:13] bryancall commented on #5577
@masaori335 My guess is that he is getting a VC_EVENT_INACTIVITY_TIMEOUT event.

[2019-05-28 17:32] jsnjack commented on #5577
@bryancall, thanks for the instructions! the original core dump is gone, but the most recent one has the same error. Please check the attached file
[ats_core.txt](https://github.com/apache/trafficserver/files/3228935/ats_core.txt)

[2019-05-29 00:11] masaori335 commented on #5577
@bryancall Right. From the @jsnjack 's full back trace, the event is 105 on frame 5. It's VC_EVENT_INACTIVITY_TIMEOUT.
[code]

[2019-05-29 01:47] masaori335 commented on #5084
FWIW, openssl-1.1.1c is released.

[2019-05-29 07:07] maskit opened #5580 "☂ QUIC Todo for 9.0"
# Port non-QUIC code changes to master
- [x] Add HKDF wrapper (@maskit) - #5480
- [x] Move common header compression logic (@maskit) - #5465
- [x] UDP layer optimization 04dfc12f56e034d041789a3d2ebbbdf069a10f44 (@scw00) - #5588
- [x] MT_hashtable interface change (@maskit) - #5664
- [x] UDP packet dest address (@maskit) - #5704
- [x] Update test_UDPNet e5a65d77da2d2f3b50ca5be7930488352ae896bb (@ma

[2019-05-29 11:50] zyz77 opened #5581 "compile failure"
when I compile ats 7.1.4 on centos with arm64, i met an error.

==== Building LuaJIT 2.0.4 ====
make -C src
make[4]: Entering directory '../lib/luajit/src'
lj_arch.h:55:2: error: #error "No support for this architecture (yet)"
 #error "No support for this architecture (yet)"

Is this mean at this moment ats does not support arm64 or how to fix this problem?

./configure CC=--enable-hwloc
make -j32

[2019-05-29 14:33] shinrich commented on #5287
So the request here is not allow HTTP/2 negotiation if a "bad" cipher was negotiated?  But would be ok to allow HTTP/1.1?

[2019-05-29 16:14] a-canary commented on #5488
@masaori335
This simplified diagram shows what I am working towards in my refactors. Ideally, HttpSM will only interface with ProxyTransaction, and know nothing of Http1/2/3 specific implementations.

![Transactions](https://user-images.githubusercontent.com/24980792/58572885-2b544800-8202-11e9-9ab6-fb53e0c91471.png)

[2019-05-29 17:29] shukitchan commented on #5581
it looks like your immediate problem is luajit.
In 8.x, we removed the luajit library.
Can you upgrade to the latest 8.x and give it a try?

[2019-05-29 22:27] masaori335 opened #5584 "Stuck on sending huge response header"
ATS is stuck on sending over 16KB response header on HTTP/2 connection. It looks like sending CONTINUATION frame makes the HTTP/2 stream state closed.

[code]

[2019-05-29 22:30] maskit commented on #5584
The last line says "send_data_frames" though.

[2019-05-29 22:51] masaori335 commented on #5584
That's comes from stream state is already closed.

[2019-05-30 05:31] masaori335 opened #5587 "Crash on MIMEScanner::append()"
AUTest(on Fedora 30) for #5585 crashed. The test is injecting over 16KB header in response.
FWIW, I didn't see this crash on CentOS 7.
[code]

[2019-05-30 07:06] maskit commented on #5515
I was able to see slowly increasing (not skyrocketing) memory usage, but not only after QUIC requests.
Do you see it only after QUIC requests?

[2019-05-30 07:12] maskit commented on #5587
ASAN says:
[code]

[2019-05-30 07:14] maskit commented on #5587
[code]

[2019-05-30 07:29] maskit commented on #5587
@SolidWallOfCode Can you take a look? I was able to reproduce it with the config file for header_rewrite on #5585. It doesn't have to be on autest.

[2019-05-30 20:01] bryancall commented on #3881
We should verify this is not an issue with the upcoming release (9.0.0).

[2019-05-30 20:02] bryancall commented on #3882
Looks like this has been fixed.  Please reopen if there is still an issue.

[2019-05-30 20:07] bryancall commented on #3931
The change went into commit: 4d2c262c3be3bbcbfce3214826ecb16dee2cd027

[2019-05-30 20:08] #3882 closed

[2019-05-30 20:16] zwoop commented on #3954
Maybe this is a documentation issue?

[2019-05-30 20:16] bryancall commented on #3954
@mlibbey Do you want to handle this one?

[2019-05-30 20:16] bryancall commented on #3990
Looks like this has been fixed.  Please reopen if there is still an issue.

[2019-05-30 20:16] #3990 closed

[2019-05-30 20:17] bryancall commented on #3991
If this is still an issue please reopen.

[2019-05-30 20:17] #3991 closed

[2019-05-30 20:30] bryancall commented on #3997
@mrmiywj Please take look at this new feature that will allow you to prefetch the ocsp responses. #5228

If this is still an issue please reopen.

[2019-05-30 20:30] #3997 closed

[2019-05-30 20:35] bryancall commented on #4026
If this is still an issue please reopen.

[2019-05-30 20:35] #4026 closed

[2019-05-30 20:38] bryancall commented on #4056
Looks like this has been fixed.  Please reopen if there is still an issue.

[2019-05-30 20:38] #4056 closed

[2019-05-30 20:40] bryancall commented on #4062
If this is still an issue please reopen.

[2019-05-30 20:40] #4062 closed

[2019-05-30 20:41] bryancall commented on #4066
If this is still an issue please reopen.

[2019-05-30 20:41] #4066 closed

[2019-05-30 20:41] bryancall commented on #4094
If this is still an issue please reopen.

[2019-05-30 20:41] #4094 closed

[2019-05-30 20:42] bryancall commented on #4096
If this is still an issue please email the users@ mailing list.

[2019-05-30 20:42] #4096 closed

[2019-05-30 21:04] bryancall commented on #4180
Looks like this has been fixed.  Please reopen if there is still an issue.

[2019-05-30 21:04] #4180 closed

[2019-05-30 21:05] bryancall commented on #4191
Looks like this has been fixed.  Please reopen if there is still an issue.

[2019-05-30 21:05] #4191 closed

[2019-05-30 21:09] bryancall commented on #4246
Looks like this has been fixed.  Please reopen if there is still an issue.

[2019-05-30 21:09] #4246 closed

[2019-05-30 21:12] bryancall commented on #4263
Looks like this has been fixed.  Please reopen if there is still an issue.

[2019-05-30 21:12] #4263 closed

[2019-05-30 21:12] zwoop commented on #4143
Yeh, this is a bug, sorry for the delay ,but I'll have a fix for 9.0.0 soon.

[2019-05-30 21:14] bryancall commented on #4292
@lc3412 Did you want to make a PR for the change?

[2019-05-30 21:15] zwoop commented on #4143
[code]

[2019-05-30 21:16] bryancall commented on #4293
Relates to #4292

[2019-05-30 21:16] bryancall commented on #4293
@lc3412 Did you want to make a PR for this?

[2019-05-30 21:19] bryancall commented on #4294
Relates to #4293

[2019-05-30 21:19] bryancall commented on #4294
@lc3412 Can you please make a PR for this?

[2019-05-30 21:22] bryancall commented on #4160
@randall What do you want to do with this one?

[2019-05-30 21:28] bryancall commented on #4236
@vksiva Did you try setting proxy.config.http.connect_attempts_rr_retries to a lower value?

[2019-05-30 21:45] zwoop commented on #4252
This is kinda difficult to make overridable, because it has to be parsed after records.config is parsed, and after someone overrides it as well. The more I see these custom parsers for config strings that are in records.config, the more I dislike it. I think with the migration to YAML, we can / should move such records.config settings into the remap.yaml config, we really shouldn't have custom con

[2019-05-30 21:47] bryancall commented on #4321
Looks like this has been fixed.  Please reopen if there is still an issue.

[2019-05-30 21:47] #4321 closed

[2019-05-30 21:49] zwoop opened #5590 "☂ Migration to remap.yaml (major considerations)"
- [ ] Move parse_redirect_actions() features from records.config to remap.yaml (#4252)

[2019-05-30 21:53] bryancall commented on #4362
@zizhong What version of ATS is this for?  Are you still seeing this issue?

[2019-05-30 21:54] bryancall commented on #4390
@masaori335 Can you please make sure that the docs are added before the 9.0.0 branching

[2019-05-30 21:56] bryancall commented on #4410
@maskit Should we even fix this since traffic_manager is going away in ATS 10?

[2019-05-30 22:03] gtenev commented on #4929
@dsouza93, PR #4964 implemented what was agreed on the [dev mailing list](https://mail-archives.apache.org/mod_mbox/trafficserver-dev/201902.mbox/%3c9101332D-8777-41CE-92F4-3C8A39FD211A@apache.org%3e) - email thread "[PROPOSAL] Rewrite url after running all remap plugins", according to the new proposal "[rewrite url before all remap plugins run](https://mail-archives.apache.org/mod_mbox/trafficser

[2019-05-30 22:03] #4929 closed

[2019-05-30 22:03] zwoop commented on #4410
So what should this look like?

[code]

or

[code]

if we like the former, then just this should not bind TCP port 443, which seems a little confusing:

[code]

[2019-05-30 22:06] gtenev commented on #4026
This issue should have been fixed by PR #4964 which implemented what was agreed on the [dev mailing list](https://mail-archives.apache.org/mod_mbox/trafficserver-dev/201902.mbox/%3c9101332D-8777-41CE-92F4-3C8A39FD211A@apache.org%3e) - email thread "[PROPOSAL] Rewrite url after running all remap plugins" which resulted in a new proposal to "[rewrite url before all remap plugins](https://mail-archiv

[2019-05-30 22:07] gtenev commented on #2877
This issue should have been fixed by PR #4964 which implemented what was agreed on the [dev mailing list](https://mail-archives.apache.org/mod_mbox/trafficserver-dev/201902.mbox/%3c9101332D-8777-41CE-92F4-3C8A39FD211A@apache.org%3e) - email thread "[PROPOSAL] Rewrite url after running all remap plugins" which resulted in a new proposal to "[rewrite url before all remap plugins](https://mail-archiv

[2019-05-30 22:10] bryancall commented on #4415
@masaori335 Has this been completed?  If not we should get it done before branching 9.0.0.

[2019-05-30 22:11] bryancall commented on #4416
I haven't seen this before.  What version are you running?  If this is still an issue please reopen.

[2019-05-30 22:11] #4416 closed

[2019-05-30 22:13] sebbASF commented on #4321
(I cannot re-open the issue as I did not close it)
Sorry, but the page is still wrong.

The link to the KEYS file must use https://www.apache.org/dist/trafficserver/KEYS.
It is currently using http and the archive server.

Also the link name should be KEYS to make it easy to find on the page.

Furthermore, MD5/SHA1 hashes should not be linked from the download page unless there are no others for a

[2019-05-30 22:14] bryancall commented on #4428
If this is still an issue please reopen.

[2019-05-30 22:14] #4428 closed

[2019-05-30 22:26] bryancall commented on #4432
We only support 64-bit.  If this is still an issue please reopen.

[2019-05-30 22:26] #4432 closed

[2019-05-30 22:49] bryancall commented on #4467
We shouldn't use string_view here since we have to make a copy of the string.

[2019-05-30 22:54] bryancall commented on #4490
Are you still getting this error?  Do you have a full backtrace from gdb using `bt full`?
If this is still an issue please reopen.

[2019-05-30 22:54] #4490 closed

[2019-05-30 22:55] masaori335 commented on #4390
I'll add doc soon.

[2019-05-30 23:09] zwoop commented on #4506
is there an ETA of an OpenSSL version that will satisfy our QUIC requirements ?

[2019-05-30 23:16] masaori335 commented on #4415
Discussion on ML, this approach was not accepted. We need to figure out how to deal with this.
Let's move out from 9.0.0.

[2019-05-30 23:24] bryancall commented on #4519
If this is still an issue please reopen.

[2019-05-30 23:24] #4519 closed

[2019-05-30 23:27] zwoop commented on #5395
If you need the behavior, we should implement something different. The mySQL APIs are blocking, and it's a really bad idea to use with ATS. We should just not have plugins with such bad behavior.

[2019-05-30 23:29] bryancall commented on #4525
We are planning on deprecating the plugin for 9.0.0.  There will be an email going out to the users@ mailing list about this.  Please give feedback on the mailing list if you still want this plugin.

If this is still an issue please reopen.

[2019-05-30 23:29] #4525 closed

[2019-05-30 23:45] masaori335 commented on #5488
@a-canary Nice!

Looks reasonable. Is this mean HTTP header parsing will be done on ProxyTransaction side ? I'm wondering about #5230 and this. It might be next step.

[2019-05-31 00:28] maskit commented on #4410
It depends on how it will be removed. If we just don't use traffic_manager anymore in terms of listening ports and traffic_server don't do similar things, then there will be nothing to do.

I've been using the latter style because I use a different port at the moment (most implementers use 4433 for interop). I'm fine with either styles, but making `ssl` and `quic` exclusive would be easy to unders

[2019-05-31 01:00] hankai17 commented on #4236
Refer https://github.com/apache/trafficserver/pull/4810. May resolved this.

[2019-05-31 02:34] scw00 commented on #4506
Not sure, because we are using the hack openssl from ngtcp2.

[2019-05-31 17:16] #4143 closed

[2019-06-02 01:00] d2r commented on #4252
I think @zwoop had the original suggestion for this. If we no longer want it to be overridable, then we can close the PR.

[2019-06-02 01:46] zwoop commented on #4252
I think we’d want it, just the whole custom parsing of configs within configs makes things complicated. Bit fields for the win!!

[2019-06-03 05:55] masaori335 commented on #5587
As ASan reported, `libstdc++-9.1.1-1` is attempting free on address in `MIMEScanner::append()`.

https://github.com/apache/trafficserver/blob/2805b749e1444e54373491584b2955a47e6cca29/proxy/hdrs/MIME.cc#L2321-L2326

The address looks `&m_line + 10`.

[code]

[2019-06-03 06:39] masaori335 commented on #5587
In this case, the size of `text` (the arg of MIMEScanner::append) is `3216`. This is obviously larger than default allocated size of `m_line` (std::string). (for gcc-9/libstdc++-9.1.1-1 , it's `15`).
Then, reallocation is occurred and `libstdc++-9.1.1-1` attempted to free address inside of MIMEScanner (in HTTPParser in Http2Stream) by somehow. Probably, `m_line` is created with replacement new.

h

[2019-06-03 09:09] zyz77 commented on #5581
I replaced luajit source code to version 2.10 on ats 7.1.4. and solved this problem.

[2019-06-03 09:09] #5581 closed

[2019-06-03 15:50] a-canary commented on #5488
I'll take a look at it. It sounds like the kind of thing we are trying to abstract out of HttpSM.

[2019-06-03 23:39] dnj12345 opened #5595 "With AddressSanitizer enabled trafficserver fails to come up"
When trying to start traffic-server, built with '--enable-asan' option, traffic-server fails to come up. I see the following dump in the traffic.out file...

[code]
OS: Ubuntu 16.04
ATS Version: 7.1.6

[2019-06-04 01:42] dnj12345 opened #5596 "ATS crash 7.1.6"
Hi,
Running into an ATS crash when running with 7.1.6 versions. I have a custom plugin using atscppapi along with the base trafficserver. The same plugin worked without any issues on 6.2.{1.3} without any issues. Upgrading the base to 7.1.6 result with everything else remaining the same results in this crash. The backtrace is pasted below...

OS: Ubuntu 16.04

Please let me know if you need any ad

[2019-06-04 16:54] randall commented on #5595
@dnj12345 Is this with the default configs? Do you have changes in metrics.config?

[2019-06-04 19:38] zwoop commented on #5595
Yeh, I assume in this case, "key" is a nullptr ? Which seems odd on its own, but maybe a bug in the Lua script?

[2019-06-04 19:50] kib commented on #3813
From RFC750 https://tools.ietf.org/html/rfc7540#section-3.2

[2019-06-04 20:18] dnj12345 commented on #5595
Looking at the metrics.cc, there’s a check for nullptr.

@Randall,
I was using default metrics config. I had my custom plugin and http_stats_plugin. Did not have anything else.

Dk.

[2019-06-05 00:08] randall commented on #5595
I built 7.1.6 and 7.1.7 with ASAN on the Ubuntu 16.04 CI docker image and could not repro the crash.

Does the crash occur with the plugin disabled?

[2019-06-05 01:54] maskit commented on #3813
I am fine with returning 200 for h2c case. However, the status code 400 is come from a logic for Upgrade header handler that is also used for WebSocket, IIRC. So we can't change the logic without checking WebSocket spec. It might say something different.

[2019-06-05 06:12] dnj12345 commented on #5595
It happens with or without any plugins enabled. I forgot to include some of the additional dump info that was printed... Including it here...

BTW, here's how I built it:

[code]

[2019-06-05 06:34] dnj12345 commented on #5595
ok. This is weird...

[code]

[2019-06-05 10:11] jsnjack commented on #5577
Today we had another crash in the same place but with a different traceback:
[code]

[2019-06-05 10:18] esmq2092 opened #5601 "how to filter logs by X-Forwarded-For header"
currently running ats v8.0.3,  after change logging.config to yaml ,

i found that can't filter logs by xff header,

i had try  this but without work:
condition: %<{X-Forwarded-For}cqh> CONTAIN xxx

when use ats v7.x, i can do that by
 filter.reject('%<{X-Forwarded-For}cqh> CONTAIN xxx')

[2019-06-05 18:01] randall commented on #5601
Are there any warnings or errors generated?

Can you trying with quoting?

eg
[code]

[2019-06-05 20:43] zwoop opened #5604 "Memory leak in MIMEScanner"
Seeing this on Docs:

[code]

and

[code]

[2019-06-05 21:01] dnj12345 commented on #5596
I rebuilt my ATS enabling the debug option. Here's a link to the tar file that contains core file and the traffic.out file.

https://www.dropbox.com/s/s2owmjyah5akrr1/ats-crash-7.1.6.tar?dl=0

One interesting thing to note. In my plugin, it periodically performs an async fetch to retrieve data. The url for the async fetch has the following format:

https://hostname/api/v1?query-params

The crash s

[2019-06-05 22:55] randall commented on #5595
Tried with the patched version of metrics.config, but I still cannot repro the ASAN issue.

What's the output from "ldd traffic_server" ?

[2019-06-06 00:18] masaori335 commented on #5604
ASan also reported bad-free around `MIMEScanner::append()`. Is this related?
https://github.com/apache/trafficserver/issues/5587#issuecomment-498122360

[2019-06-06 00:21] dnj12345 commented on #5595
ldd /opt/trafficserver/bin/traffic_server
	linux-vdso.so.1 =>  (0x00007fff9af54000)
	libasan.so.2 => /usr/lib/x86_64-linux-gnu/libasan.so.2 (0x00007f965a2ae000)
	libtsutil.so.7 => /opt/trafficserver/lib/libtsutil.so.7 (0x00007f965a00e000)
	libhwloc.so.5 => /usr/lib/x86_64-linux-gnu/libhwloc.so.5 (0x00007f9659dd4000)
	libpcre.so.3 => /lib/x86_64-linux-gnu/libpcre.so.3 (0x00007f9659b64000)
	libtcl8.

[2019-06-06 00:54] esmq2092 commented on #5601
here is the logs, when reload fail, no events get logged.
----------------------------------------
[Jun  5 18:11:35.417] {0x2aebfaf8ae00} NOTE: loading logging.yaml
[Jun  5 18:11:35.418] {0x2aebfaf8ae00} NOTE: failed to reload logging.yaml
[Jun  5 18:11:35.420] {0x2aebfaf8ae00} NOTE: logging initialized[3], logging_mode = 3
----------------------------------------
trying with quoting, i works.  ^-

[2019-06-06 00:54] #5601 closed

[2019-06-06 00:55] dnj12345 commented on #5595
@randall
I think the problem is in traffic_manager and not traffic_server. When I load traffic_server in gdb it showed no errors. Since traffic_server wasn't coming up, I thought it was related to that. I went back and looked at the stack trace and noticed that the stacks trace is for trafffic_manager and not traffic_server. When I load traffic_manager in gdb, the issue pops up. I haven't been abl

[2019-06-06 02:12] masaori335 commented on #5577
`event=104` is `VC_EVENT_EOS`. `ProxySession::state_api_callout()` doesn't handle these `VC_EVENT_*` and making abort, because these events are not expected.

@jsnjack Could you share your use case of ATS? Using as just reverse proxy? I haven't seen this crash with default configs, it's very helpful if we could reproduce this crash easily.

[2019-06-06 03:38] dnj12345 commented on #5595
[code]

[2019-06-06 03:41] dnj12345 commented on #5595
I put a breakpoint in 'lua_metrics_install'. That function somehow seems to call metric_index which is where the crash happens. In the lua_metrics_install function it's iterating over metric prefixes. It alwas seems to crash when processing the metrics prefix "proxy.node.version.manager". Hope this helps...

[code]

[2019-06-06 05:40] zwoop commented on #5587
I was going to say, how did we end up with new and std::string here In the critical path?

[2019-06-06 09:32] jsnjack commented on #5577
We use it as a forward proxy only. I am unable to reproduce it in my test setup, but it happens quite regularly in production. There was some kind of a spike 2 days ago when ats crashed 35 times in 2 hours. I will try to inspect activity on the server during that time frame. Meantime, I have attached records.conf that we are using. I grouped all options that are redefined at the bottom of the file

[2019-06-06 15:57] SolidWallOfCode commented on #5587
It was #4948 and replaced a hand rolled `ats_malloc`. `std::string` isn't going to be any worse.

[2019-06-06 16:25] SolidWallOfCode commented on #5587
Sadly, I think @masaori335 is correct - the problem ultimately is the use of `std::string` in a situation where it's in a freelist controlled object. I think we can fix it with a tweak to `http_parser_init` and `http_parser_clear`. Let me get a PR for that and see if it fixes the problem. I presume testing this requires an HTTP2 client? Or alternatively I can run the AuTest?

[2019-06-06 23:14] masaori335 commented on #5587
@SolidWallOfCode You can reproduce this crash with AUTest added by #5585. You can also reproduce this with the header rewrite config (`huge_resp_hdrs.conf`) with some H2 client (curl, nghttp2...whatever).

[2019-06-06 23:56] masaori335 commented on #5587
#5605 looks reasonable for fixing this crash. Let's land it.

But I'm still wondering that we should keep the std::string or not. IIUC, it's internal buffer for a fragment of MIME header while parsing. Theoretically, we can keep the original chunk of header in the MIOBuffer, which we're parsing here, if we don't consume it. This sounds like we don't need to copy the chunk in the `m_line`.

[2019-06-07 00:35] randall commented on #5595
Ok, I can now repro this! But, I still don't under why it does.

[2019-06-07 12:51] SolidWallOfCode commented on #5587
You'd need an `IOBufferChain` because the field can span IO buffer blocks. There's also the possibility that the data isn't in an `IOBufferBlock`. I think this can be called from plugins (see `TSHttpParserCreate` / `TSHttpParserClear` / etc.). Those might depend on `IOBufferBlock` though. You definitely need to track down the uses of this to verify whether it can changed in that way.

[2019-06-07 18:12] SolidWallOfCode commented on #5604
I think the fix for that should fix the memory leak also.

[2019-06-07 20:12] mlibbey commented on #5461
Yeah, got all the things mixed up. Nothing to see here!

[2019-06-09 06:11] scw00 opened #5612 "QUIC: Introduce QUICPacketSizeProvider and QUICPacketSizeSuggester"
The main idea of this issue is trying to introduce QUICPacketSizeProvider and QUICPacketSizeSuggester to reactor the minimus and maximus packet size.

We may want to have QUICPacketSizeProvider and QUICPacketSizeSuggester. A module that takes care of PMTU would be a QUICPacketSizeSuggester, and it can only suggest min and max sizes because it doesn't know other things. QUICPacketSizeProvider will

[2019-06-09 23:21] masaori335 commented on #5587
OK, leave it for now.

[2019-06-09 23:21] masaori335 commented on #5587
Fixed by #5605

[2019-06-09 23:21] #5587 closed

[2019-06-10 22:19] randall commented on #5595
Can you try with metrics.config* removed from the etc/trafficserver directory? I'm more curious if your crash(#5596) can be replicated under ASAN than the ASAN failures with metrics.config (which has been removed in 8.0 and beyond)

[2019-06-11 02:41] zwoop opened #5619 "proxy.process.http2.total_client_streams (and possibly other metrics) are always zero"
While looking for something else, I noticed that the H2 streams metrics are not working:

[code]

However, there's plenty of H2 connections:

[code]

This is running current master on Docs / CI.

[2019-06-11 02:42] zwoop commented on #5619
This block #5457

[2019-06-11 02:42] zwoop commented on #5619
I suspect, but not certain, that this metrics might also be wrong, possibly others as well:

[code]

[2019-06-11 02:44] zwoop opened #5620 "POST requests failing oddly on one of my Drupal test servers"
Running latest master, POST requests on logins fails with my Drupal 8 server. Downgrading ATS to v8.0.0 makes the problem go away. I will try to track things down a little bit further, to see what might have changed, I think this is new as of a few months ago or so at least.

[2019-06-11 02:45] zwoop commented on #5620
Blocks #5457

[2019-06-11 02:45] zwoop commented on #5612
@masaori335 Please prioritize (i.e. is this a 9.0.0 show stopper etc.).

[2019-06-11 02:46] zwoop commented on #5604
Blocks #5457

[2019-06-11 02:46] zwoop commented on #5590
Giving to Bryan for 10.0.0 project planning.

[2019-06-11 02:47] masaori335 commented on #5612
This is not blocker of quic-20 branch nor 9.0.0.

[2019-06-11 02:47] zwoop commented on #5576
Assigning to Randall for prioritization (i.e. does this need to go into 9.0.0 etc.). Or should we just ignore.

[2019-06-11 02:48] zwoop commented on #5596
Giving to @ezelkow1  for assessment.

[2019-06-11 02:48] zwoop commented on #5595
Giving to Randall for now (thanks for taking on this one!!)

[2019-06-11 03:04] esmq2092 opened #5621 "ts.client_request.get_url return mapped url instead of client's original url."
this is not a problem for v8.0.3，
but when i test aginst master branch, the tslua plugin change this behviour,
it return mapped url。。。

[2019-06-11 07:10] shukitchan commented on #5621
It is essentially calling TSHttpTxnEffectiveUrlStringGet()

can you provide me an example? e.g. what's the remap rules? What's the incoming request? And is the pristine host header setting changed or not?

[2019-06-11 08:20] esmq2092 commented on #5621
`map http://game.example.com/ http://game.example.com.cats.netease.com/ @plugin=tslua.so @pparam=--states=64 @pparam=/home/trafficserver/etc/maps/tslua.mobile-h5 @plugin=conf_remap.so @pparam=/home/trafficserver/etc/maps/xx.example.com @plugin=cachekey.so
`

with pristine host header enabled...

the same config, works fine for v8.0.3, but not master branch

[2019-06-11 22:27] dnj12345 commented on #5595
doing '.../bin/trafficserver start' doesn't start trafficserver without metrics.config file. Not even the log is generated. I get a crash when I launch traffic_manager in gdb.

[2019-06-12 02:26] masaori335 commented on #5619
It looks like it's broken somewhere on master after branching 8.x. I'll take a look deeply.

[2019-06-12 02:50] esmq2092 commented on #5621
the same problem goes to regex_remap plugin,
as $h now refer to mapped host (not as it say to be from the original request)

[2019-06-12 06:04] shukitchan commented on #5621
ok. that narrowed it down.
I think it is the effect of this PR - https://github.com/apache/trafficserver/pull/4964

[2019-06-12 07:31] shukitchan commented on #5621
I think regex_remap problem may be related to https://github.com/apache/trafficserver/pull/4964
Still not too sure why the lua plugin will have that problem.
Will try to setup the latest master branch to try it out

[2019-06-12 23:03] shukitchan commented on #5621
Ok. I verified. #4964 is causing this.
Specifically TSHttpTxnEffectiveUrlStringGet() is affected by this.
Perhaps I should be using TSHttpTxnPristineUrlGet() instead.
I will make a PR for it.

[2019-06-13 06:26] esmq2092 opened #5629 "empty x-forwarded-for header be treated improperly on master"
in ats v8.0.3, empty xff header will be  ignored totally，

but not the case when testing against master branch.

in master branch，empty xff will be treated as a "dot" character,  which cause some 400 error when goes to origin...

`--header 'X-Forwarder-For:'`，

btw. temporarily, i use header_rewrite plugin to rectify this ...

[2019-06-13 06:39] hankai17 opened #5630 "7.1.2 _ink_assert (event == HTTP_TUNNEL_EVENT_DONE)"
[code]

[code]

[code]

proxy.config.http.keep_alive_no_activity_timeout_in INT 60
proxy.config.http.transaction_no_activity_timeout_in INT 30

[2019-06-13 06:45] hankai17 commented on #5630
so strange: f.shutdown is 1

[2019-06-13 16:25] zwoop commented on #2505
Can you test https://github.com/apache/trafficserver/pull/5603 and see that it doesn't write things to  .../etc ? There might be other things touch ../etc, but this should a least not let it write configurations. This patch is for master.

[2019-06-13 16:41] thelounge-zz commented on #2505
sorry, ATM i can't touch the ATS setup at all because of millions other tasks and all my prayers in context of ATS are that somewehere in time a release past 8.0.1 is useable in production while solve at the same time broken 'ab' to TLS

see https://github.com/apache/trafficserver/issues/4921#issuecomment-481914551

while 8.x obviously fixes some header_rewrite bugs and makes the compression plugi

[2019-06-13 16:54] zwoop commented on #5629
@ezelkow1 Can you take a look please?

[2019-06-13 16:55] zwoop commented on #5629
One concern could be that we rewrote a lot of the Header parsing, so maybe another bug here? @SolidWallOfCode

[2019-06-13 18:43] #5471 closed

[2019-06-13 20:57] zwoop commented on #5620
Tracked it down, the problem is with this commit:

[code]

[2019-06-13 22:35] bryancall commented on #4563
You would have to modify the ports for ATS to listen on port 8080:
https://docs.trafficserver.apache.org/en/8.0.x/admin-guide/files/records.config.en.html?highlight=records.config#proxy-config-http-server-ports

[2019-06-13 22:35] #4563 closed

[2019-06-13 22:39] bryancall commented on #4569
@shinrich Has this been done?

[2019-06-13 22:44] bryancall commented on #4593
This has been added.

[2019-06-13 22:44] #4593 closed

[2019-06-13 22:45] #4390 closed

[2019-06-13 22:55] bryancall commented on #4608
On modern Linux kernels you can use disk uuids

[2019-06-13 22:59] zwoop commented on #4608
Often times, I wish that disk management and initialization was an out-of-band thing, e.g.

[code]

Which generates the headers necessary for these disks, including the "hash key" (which can now be randomly generated). Then, when we start traffic_server, it can simply scan all block devices, looking for the appropriate ATS disk header, and add those as needed. This could theoretically eliminate st

[2019-06-13 23:00] bryancall commented on #4634
@scw00 Is this related to HTTP/3 / QUIC?

[2019-06-13 23:03] bryancall commented on #4635
@wmfgerrit Can you please create a PR for this?

[2019-06-13 23:05] bryancall commented on #4637
Looks like this has been fixed.  Please reopen if there is still an issue.

[2019-06-13 23:05] #4637 closed

[2019-06-13 23:06] zwoop commented on #4652
I agree.

[2019-06-13 23:06] bryancall commented on #4652
+1 we should remove it.

[2019-06-13 23:06] bryancall commented on #4652
Blocks #5457

[2019-06-13 23:45] #5584 closed

[2019-06-14 00:55] scw00 commented on #4634
Yep, ats core doesn't use UDP

[2019-06-14 17:51] zwoop commented on #5620
More details:

1. It only seems to happen with H2 enabled

2. It seems that there's some leading garbage characters in the Location response header.

[2019-06-14 18:11] zwoop commented on #5620
One more detail: I think this is triggered in interaction with H2, and when a header has an empty  value. E.g.

[code]

[2019-06-14 18:48] randall commented on #5245
These 2 files updated.

[2019-06-14 18:57] zwoop commented on #5620
Got it to reproduce with curl too, which is even less forgiving on the broken response, and errors out with:

[code]

[2019-06-15 04:17] zwoop commented on #5245
Awesome!

[2019-06-15 04:17] #5245 closed

[2019-06-15 05:33] scw00 commented on #5630
So Do you have any plugin has TSVConnShutdown function call ？

[2019-06-15 10:44] hankai17 commented on #5630
@scw00 Very thanks.
I used the default background_fetch.so and another one plugin that set cache key.
Only In background_fetch.so, I found that
[code]
But "TSVConnShutdown(data->vc, 0, 1)" is commented out. That is also in master branch.
It was seem that the request hited the cache disk. But I can not get more info about it.
Here is the object HttpSM

[httpsm.txt](https://github.com/apache/traffic

[2019-06-15 16:21] #5461 closed

[2019-06-16 07:01] shukitchan commented on #5621
Actually we already have ts.client_request.get_pristine_url() .
I think you can use that instead.
I added a PR to document this existing function - https://github.com/apache/trafficserver/pull/5640/files

[2019-06-16 07:02] #5621 closed

[2019-06-16 07:52] scw00 commented on #5630
I didn't find any possible `do_io_shutdown` without recording function name into history. So can you please run ats without any plugin ?

And Does master have the same case ?

[2019-06-16 15:23] ezelkow1 opened #5642 "Origin_max_connections can create state machine loops when hitting max"
It is possible to get in to a state machine loop when setting the origin max connections value and using parent selection. The current PS code does not handle the congested or error state and so it ends up looping indefinitely once the max value is hit

[2019-06-17 03:04] liangzhaorong opened #5644 "ATS-8.0.3 crash in SSL_do_handshake"
using version:
- jemalloc-5.2.0
- openssl-1.1.1c
- trafficserver-8.0.3

I use `openssl-1.1.1 ~ openssl-1.1.1c` to test and crash frequently.

diags.log print:
[code]

traffic.out print:
[code]

core.dump print:
[code]

### openssl-1.1.0h ats-8.0.3
crash:
[code]

[2019-06-17 22:28] randall commented on #5595
That is weird. What about with an empty metrics.config?

[2019-06-17 22:56] zwoop opened #5646 "Remove use of Emergency() when parsing records.config strings"
As of commit 7f08ad6044, we call Emergency() when failing to parse in

[code]

This is generally a really bad idea, because it means if you have a parser error, and reload records.config, you will crash rather than using the old configuration value.

This is an obscure scenario though, and I'm not sure that ATS has a way to deal with this in an reasonable way other than ignoring this configuration

[2019-06-18 14:05] SolidWallOfCode commented on #5646
Perhaps it should check if there is a valid current config and fail out if not.

[2019-06-18 16:09] #5646 closed

[2019-06-20 16:08] SolidWallOfCode opened #5655 "API for explicit VIO shutdown."
It would be good to have an explicit "cancel IO" mechanism available in the core and to plugins. The failure scenario is

1.  Set up a VIO.
2.  Error happens and the VIO initiator shuts down and destroys its `Continuation`.
3.  IO happens and target of the VIO calls the now destroyed `Continuation`.

The goal would be to add a step "2A" which is "cancel VIO". Currently this is usually done by star

[2019-06-20 20:24] shinrich commented on #5655
Seems like a good addition.   Where I generally see this being a problem is the VC times out.  But there still is a read_vio from the previous transaction active against the the VC.  The core logic sends the INACTIVITY_TIMEOUT event to the now deleted transaction (or other continuation associated with the now deleted transaction).  We tracked down a lot of these cases in core.  Just ran into this

[2019-06-24 03:07] maskit opened #5663 "Clang-analyzer build fails on quic branches"
Error messages:
[code]

Makefile:1096
[code]

This is not because of test_certlookup. This is because `test_certlookup.Po` and other `*.Po` files are removed when `make` processed `quic` directory.

quic/Makefle:
[code]

[2019-06-24 05:38] maskit commented on #3551
Update: The latest official OpenSSL is not enough. Our QUIC impl. requires the special version made by tatsuhiro-t.

[2019-06-24 17:33] bryancall commented on #5164
This was fixed with the commit 9f1995477b94c602aef449a4a5d024b8ba10aa8a

[2019-06-24 17:33] #5164 closed

[2019-06-24 18:06] bryancall commented on #4562
@jamesjbarlow Can you please have someone take a look at this?

[2019-06-24 18:06] SolidWallOfCode commented on #5394
I definitely want certifier in either experimental or plugins, it's supposed to be usable as is in production.

I think moving multiplexer up is fine as well, that's gotten production use here.

[2019-06-24 18:07] SolidWallOfCode commented on #5395
How dynamic do the remaps need to be? You could write a config and then use a plugin message to signal a config reload. We're using a similar technique internally.

[2019-06-24 18:08] SolidWallOfCode commented on #5395
Another approach is to use REDIS with an external process that loads the data. I think the SSL session reuse plugin demonstrates how to do that.

[2019-06-24 21:20] zwoop commented on #5395
Yes, something other than the blocking mySQL APIs would be preferable :). Even a sqlite implementation would likely be better.

[2019-06-25 05:27] masaori335 opened #5671 "Intermittent autest failure on client_context_dump"
Recently, I saw some intermittent failure like below on autest of GitHub Pull Request Builder.

[code]

https://ci.trafficserver.apache.org/job/autest-github/10287/console

[2019-06-25 06:03] maskit opened #5672 "ATS fails to validate paths if PATH_RESPONSE has older tokens"
ATS remember only recent three path challenge tokens sent. If a client respond with an older token, ATS fails to validate it because it seems like an unknown token.

Because of this issue we have a trouble with quant on NAT rebinding scenario (-n option).

[2019-06-25 15:26] zwoop commented on #5620
This is fixed now, thanks!

[2019-06-25 15:26] #5620 closed

[2019-06-25 15:28] SolidWallOfCode commented on #5590
I thought @mlibbey got this assignment in Beijing.

[2019-06-25 15:34] zwoop commented on #5604
There are still a few, albeit small, leaks with the new MIME scanner:

[code]

[2019-06-25 20:01] shinrich commented on #5084
Closing issues now that openssl-1.1.1c is out.

[2019-06-25 20:01] #5084 closed

[2019-06-25 20:03] shinrich commented on #4569
Yes, this was addressed with commit f2519d1e323c420d2460781f4c45ad9cac6e7dc8

[2019-06-25 20:03] #4569 closed

[2019-06-25 20:05] shinrich commented on #2997
Will work on that.  May want the default to be broader for the ATS acting as a client?  I think in our forward proxy mode deployment that is what we do.  But unclear how much broader.  Will review and put up a PR next week.

[2019-06-25 20:06] shinrich commented on #5389
Will put up a PR next week.

[2019-06-25 20:16] shinrich commented on #4119
Despite the comment, I think we do have to cancel all the pending actions at this point.  If we have a non-null pending action while we are in the CALLOUT state, there still is a hook in progress.  At this point in kill_this, the key data structures will be destroyed making any outstanding pending action a future time crash bomb.

But then that begs the question of why we are killing a transaction

[2019-06-25 20:26] #5642 closed

[2019-06-25 20:32] shinrich commented on #3428
The later commit 5a759ed4 also cleans up server_entry in the error case not just the timeout case.  Based on the original gist that @persiaAziz posted, it was the error event causing the problem.

[2019-06-26 16:00] zwoop commented on #5644
@shinrich Can you take a look please ?

[2019-06-26 16:06] bryancall commented on #5655
If this is a proposal please tag it as a proposal and send an email to the dev@ mailing list with `[PROPOSAL]` in the subject.  Also, it should have a function declaration for the API.

[2019-06-26 16:13] bryancall commented on #5655
My guess is that

[2019-06-26 16:13] #5655 closed

[2019-06-26 21:52] ezelkow1 commented on #2651
Tested here and regex_reval does look good for all instances (except the restart case when the reval list is lost of course)

[2019-06-26 21:52] #2651 closed

[2019-06-26 23:14] bryancall commented on #4423
I am not seeing this on master.  Might have been our setup.

[2019-06-26 23:14] #4423 closed

[2019-06-26 23:25] bryancall commented on #3541
I am not seeing this with master I am getting these error for trying to connect to an origin that doesn't exist with http and https:
20190626.16h23m45s CONNECT Error: EIO: Input/output error [5] connecting to 192.168.1.6:80 for 'http://192.168.1.6/' (setting last failure time)
20190626.16h24m44s CONNECT Error: ECONNABORTED: Software caused connection abort [103] connecting to 192.168.1.7:443 for '

[2019-06-26 23:25] #3541 closed

[2019-06-27 01:50] maskit opened #5675 "ATS closes an H2 connection after refusing a new stream on the connection"
If ATS send RST_STREAM for some reasons right after receiving HEADERS frame from a client, following frames (CONTINUATION, DATA, etc) from the client cause an H2 connection error which leads to connection close.

According to the spec we have two options:
- Ignore following frames
- Treat it as being in error AFTER some time
[code]
https://tools.ietf.org/html/rfc7540#section-5.1

Currently, ATS tr

[2019-06-27 01:57] maskit commented on #5672
I'm working on this.

I'm going to introduce `QUICPath` class that have IP addresses, ports, QUIC Connection IDs and PMTU as member fields, and manages validation jobs for each paths separately.

[2019-06-27 03:52] maskit opened #5677 "Autest job sometimes pick old commits"
These two, autest job and centos job, are triggered by the same commit (see the first lines), but they used different commits (see the last lines). It seems like it happens when a PR has been updated by a force push.

[code]

[code]

[2019-06-27 05:23] zizhong commented on #4362
Didn't see this issue happening for a while.

[2019-06-27 05:23] #4362 closed

[2019-06-27 05:28] zizhong commented on #2650
Closing this for now since the user is not actively working on it anymore. Please feel free to reopen it is still an issue.

[2019-06-27 05:28] #2650 closed

[2019-06-27 19:48] duke8253 commented on #4562
I've tracked the problem down, it was fixed in #3297.
@bryancall let me know if you want me to cherry pick it to 7.1.x, or you want to do it.

[2019-06-28 01:40] nozomi1773 opened #5679 "Parent Proxy sometimes lost Cache-Control header lines"
I noticed that trafficserver's parent proxy sometimes lost the 2nd and subsequent Cache-Control header lines when origin response have two or more Cache-Control header lines.
I confirmed that this behavior occurs when trafficserver is configured Hierarchical Caching , and this behavior don't occur when trafficserver isn't so.

For explaining about this behavior, I built trafficserver from latest s

[2019-06-28 01:57] zwoop commented on #5679
@vmamidi Can you take a look please ?

[2019-06-28 13:15] yaworpetrov commented on #4562
@duke8253 we've tested today with the very last updates from master the and issue is still there, initial load of 653MB, after 2 config reloads jumped to 1.3GB of memory and after that it stops making memory peaks raise but continues to raise it by little with every following reload. Thus if the trafficserver has loaded initially 2GBs in the memory it would jump almost double over that within the

[2019-06-28 14:35] duke8253 commented on #4562
@yaworpetrov master branch already has the proper code, you don't need to do anything. As far as I know, the double amount is kind of expected for now, I can however dig a bit deeper to see if those can be freed up. For the 7.1.x branch, the dirty fix shouldn't crash the server, could you upload a stack trace of your crash?

[2019-06-28 14:52] yaworpetrov commented on #4562
@duke8253 by the words "the same bug occurs" I recon the memory doubling issue, not the server crash. The server crash occurred when I added the missing line from your code to the master branch, because I decided to give it a try since it wouldn't hurt, no matter that I saw that it already has much of your fix already placed there. Forgot to mention that with the master branch without any editing

[2019-06-28 15:07] duke8253 commented on #4562
I'm not sure if @zwoop meant to have the memory double with his PR #3297, since we were actually talking about config reloading failing and fall back to an older config, i.e. we need to hold both old and new values at the same time so we have something to fall back to.

[2019-07-01 02:09] zwoop commented on #4562
All versions of ATS holds at least two copies at reload. The changes on master makes us hold the old version only until not needed any more, whereas before it’d hold the old copies for an hour I think.

[2019-07-02 08:47] maskit commented on #5672
19e6fa4ce858c2097c954d755602dbb88f9d5fca should fix this.
I don't see the failure on my environment.

[2019-07-02 08:47] #5672 closed

[2019-07-02 09:08] scw00 opened #5688 "Convert Http Header to Http2 Header"
Currently, we marshal http header as string. But we can marshal it as binary via HPack.

[2019-07-02 09:15] scw00 opened #5689 "Http Stream VS. Http Transaction"
Before H2 , The http doest not has any concept about stream. So we the Transaction is interpreted as a Stream.  But now we have h2 and h3, It would be better to introduce an abstraction of Stream to implement the H2Stream and H3Stream to replace Transaction.

[2019-07-02 10:49] maskit commented on #5688
What area are you talking about?

[2019-07-02 11:09] scw00 commented on #5688
cache

[2019-07-02 11:45] maskit commented on #5689
Having a common stream class for H2 stream and H3 stream would make some sense, however, I don't think it would be something that replaces Transaction.

From my understanding, Transaction is a representation of a series of processes from an HTTP request to an HTTP response, and it's for HttpSM. It would never be changed unless HTTP semantics changes. On the other hand, Stream is a concept for mult

[2019-07-02 12:07] scw00 commented on #5689
Actually not it is what HttpSM does. Transaction is a connection (I mean connection not tcp connection) between client_vc and SM.

 Why not rename the Transaction to Stream. And bind the Stream with HttpSM. I think it would be clearer than Transaction.

[2019-07-02 12:14] maskit commented on #5688
You mean HPACK String Literal Representation (nearly equal to Huffman encoding)? We obviously cannot use other representations because those require Static Table and Dynamic Table which is only meaningful until the end of a session (index number 42 can be something else on a different session).

cc @SolidWallOfCode

[2019-07-02 12:51] scw00 commented on #5688
Yep. Dynamic Table should be special .

[2019-07-02 13:12] maskit commented on #5689
Well, transaction works like a pipe and you can call it stream, but isn't it an attribute as a VConnection in ATS world? If you call it Stream, it would be confusing because "stream" is used for a different concept on H2, H3 and QUIC.

Transaction also have an attribute as a unit of HTTP messaging, starts with a request and ends with a response. That's is the name came from, I think. Node.js is de

[2019-07-02 13:29] scw00 commented on #5689
Thanks for your response . I am clear now.  I am ok with Transaction.

The reason I want to change it to stream because I wants to combine H2 H3 H1 header as one. IIUC, current h2 code has to print the parsed header literal to the buffer and parse it again in Http1 logic.

![image](https://user-images.githubusercontent.com/12470347/60516317-1478a800-9d10-11e9-913f-addacd561610.png)

See here. if w

[2019-07-02 16:33] traeak commented on #5563
If traffic_server crashes, instead of lying to the client using some intermediary program isn't it better just to send a real status like a 503 Service Unavailable and let the client deal with it?  If traffic_server crashes it's kind of not available.

[2019-07-02 23:42] zwoop commented on #5501
@livinonramen Can you figure out who is fixing this please? :)

[2019-07-02 23:55] #3177 closed

[2019-07-02 23:57] #1599 closed

[2019-07-03 00:36] scw00 commented on #5061
Close via #5075

[2019-07-03 00:36] #5061 closed

[2019-07-03 01:02] maskit commented on #5689
Sounds good to me. I'm still not sure what you mean by "change it to stream", but I agree to having an abstraction layer or interface that enables to handle HTTP transaction without taking care of differences among versions.

For example, HTTP headers have to be read regardless of its version. It is encoded and encapsulated only on H2 and H3, but by handling H1 headers like "encoded as plaintext a

[2019-07-03 01:31] scw00 commented on #5689
Great. close it since duplicate.

[2019-07-03 01:31] #5689 closed

[2019-07-03 08:35] maskit commented on #5663
Trying to remove dependency for modules in the parent directory.

[2019-07-03 12:30] jsnjack commented on #5577
Hi @masaori335,

Looks like the issue is caused by using these 2 options:
[code]
If I comment them ATS seems to behave as expected.

I also attached a script you can use to reproduce the issue. It assumes ATS is running on port 8080. The script is going to create many requests to the list of predefined URLs. ATS crashes for me around the request number 11k (sorry, the script is not very pretty!)
[

[2019-07-03 16:56] igalic commented on #5395
what about balancer? do we have a good story how to "replace" that?

[2019-07-03 20:14] shinrich opened #5691 "TSVConnInactivityTimeoutCancel does not work as expected"
I expected that TSVConnInactivityTimeoutCancel would cause no inactivity timeouts to ever trigger for the argument TSVConn, but this is not the case.

It eventually maps to calling set_inactivity_timeout with an argument of 0.  But in UnixNetVConnection::set_inactivity_timeout, if the argument is 0, the code sets it to the default_inactivity_timeout.  I do not understand the motivation for this.

[2019-07-04 01:49] scw00 opened #5694 "Lost fragments table when update object in Cache"
link to #5342

[2019-07-04 05:48] maskit commented on #5663
Now Clang-Analyzer job passes on the both quic-latest and quic-20.

[2019-07-04 05:48] #5663 closed

[2019-07-04 11:23] zyz77 opened #5696 "ats coredump version 7.1.4"
recently, I found a coredump. there are some informations.
diags log:

[Jul  4 18:08:03.637] Server {0x152b091ec700} NOTE: [ProcessManager::pollLMConnection] select failed or was interrupted (9)
[Jul  4 18:08:03.637] Server {0x152b091ec700} NOTE: [ProcessManager::pollLMConnection] select failed or was interrupted (9)
[Jul  4 18:08:03.637] Server {0x152b091ec700} ERROR: last system error 9: Bad fil

[2019-07-04 19:52] mlibbey commented on #5395
From the balancer plugin page
https://docs.trafficserver.apache.org/en/latest/admin-guide/plugins/balancer.en.html
"Note: All of the the features in this plugin (and more) are found in parent.config. As a result, this plugin is likely to be deprecated"

[2019-07-05 01:12] masaori335 commented on #5577
Thanks for the config and scripts for reproducing the issue. It's helpful.

It looks like when `proxy.config.http.attach_server_session_to_client` is enabled, the attached server session could reach to the timeout while client is requesting different origin server. And the timeout events go to the ProxyClientSession.

@bryancall @shinrich any thoughts?

[2019-07-08 16:28] randall commented on #5696
Can you post the stacktrace from the crashing thread?

[2019-07-08 18:57] dragon512 commented on #5546
I see what is going on. The cwd is not the sandbox directory. I think the best quick fix is to fix the test. I will make a patch for this

[2019-07-08 19:08] dragon512 commented on #5671
@macisasandwich added a patch to the test that should address some ssl issues that have caused random failures. I think this is fixed. If not make a new one issue

[2019-07-09 09:23] scw00 opened #5702 "Ignore If_modified_since even if if_none_match field's value is empty."
https://tools.ietf.org/html/rfc7232#section-3.3

IIUC we should ignore If-Modified-Since once the request contains If-None-Match header field. `Although the value is empty`.

[2019-07-09 12:30] zyz77 commented on #5696
sorry ,my mistake. I found a script, killed the process.

[2019-07-09 12:30] #5696 closed

[2019-07-09 16:01] bryancall commented on #5688
You would have to store the dynamic table with the cache entry and it would make cached entries more complex.  Also, you wouldn't be able to use it directly since the dynamic table for a session would be different from cache, so you would still have to translate it anyways.

[2019-07-09 17:51] ezelkow1 commented on #2991
We can close it, we havent seen it since I originally reported and there have been enough hostdb and other crash fixes that it may have been taken care of

[2019-07-09 17:51] #2991 closed

[2019-07-09 18:01] randall commented on #4160
Let me see why the default context isn't being setup in this case.

[2019-07-09 18:15] randall commented on #4160
Cannot repro. Closing.

[2019-07-09 18:22] randall commented on #3179
I think this was addressed by #5228

[code]

[2019-07-09 18:26] ezelkow1 commented on #5629
Tested with a master build and I think its OK?

curl -Lvsk -o /dev/null -H "X-Forwarder-For:" "http://localhost:8080"

I see it stripped in the returned output, and through the debug:
+++++++++ Incoming Request +++++++++
-- State Machine Id: 0
GET http://............my test origin............./ HTTP/1.1
Host: ............my test origin.............
User-Agent: curl/7.64.0-DEV
Accept: */*

++++++++

[2019-07-09 18:54] ezelkow1 commented on #3064
@jrushford Do you happen to know how much of the parent code changed between 5 and 6? And if this might still be an issue on 7?

[2019-07-09 21:06] bryancall commented on #5629
@esmq2092 There have been a couple header fixes on master lately.  The issue looks like it might have been resolved.

If this is still an issue please reopen.

[2019-07-09 21:06] #5629 closed

[2019-07-09 21:15] bryancall commented on #5188
Still happening:
[code]

[2019-07-09 21:26] randall commented on #4160
Actually, I can still repro this. I think it's openssl 1.1.1 related.

[2019-07-10 01:46] maskit commented on #3179
I don't think the original issue is addressed. The log only says "failed to load". It doesn't say anything about the causes.

What I expect is something like "cert is expired", "file not found", "unexpected format".

[2019-07-10 01:50] maskit commented on #5688
@bryancall I think you pointed out the same thing as my comment?

And my understanding is that the point is Huffman encoding (not use of Dynamic Table). Is it correct, @scw00 ?

[2019-07-10 02:17] scw00 commented on #5688
Right. Most of the headers are already indexed in static table. So only few custom headers need to be encoded as string. So static table have already had const string to convert the index to the real human readable header string.

So it would be like this.
header(index): value

static table (huffman)
:path (index 0): ....
:content-type(index 1): ...
:content-encoding(index 2): ...

dynamic table (

[2019-07-10 02:44] maskit commented on #5688
Static Table would not work actually because the headers on H2 Static Table and H3 Static Table are different.

[2019-07-10 04:36] scw00 commented on #5688
So can we involve our own table?

[2019-07-10 04:49] masaori335 commented on #4726
Changed milestone becauseI haven't seen this crash last 3 months. Some recent change might fix or cover this issue.

[2019-07-10 06:06] maskit commented on #5688
Well, that is perhaps possible, but I'm not too sure if it is really effective. It would require another table lookup and decoding before sending a header.

[2019-07-10 14:00] jrushford commented on #3064
@ezelkow1 the parent selection code changed quite a bit between 5 and 6.  I have not seen this problem or this issue and don't know if it is an issue in 7.  We should try to verify that it is not an issue before closing this.  I'll test 7 for this problem.

[2019-07-10 16:50] jrushford commented on #3064
@bryancall and @ezelkow1 I tried to duplicate this on 7.0.x but did not get the same stack trace.  With the settings mentioned ie, proxy.config.http.no_dns_just_forward_to_parent set to 1 and while using the scripts shown to induce a parent proxy failure, I did get an assertion failure:

`FATAL: HttpTransact.cc:1966: failed assertion `s->current.request_to == ORIGIN_SERVER`
traffic_server: using r

[2019-07-10 16:51] jrushford commented on #3064
Fixed in ATS 7.1

[2019-07-10 16:51] #3064 closed

[2019-07-10 16:52] bryancall commented on #5188
I tested this feature on ATS 6.2.x and 7.1.x and it doesn't work.  I wonder if it ever worked.  Here is a test script for testing a build.  I was going to use it for a git bisect:

[code]

[2019-07-10 17:20] randall commented on #3179
Fair enough.

It does log that the certificate is expired ( or file not found (see above))

[code]

[2019-07-10 19:48] randall commented on #2354
I only tested this on master (aka 9.x at the time of this comment), but it looks like the `TSMutex` is leaking every request with this particular plugin. If I free the mutex, I no longer see a leak.

[2019-07-10 22:28] maskit opened #5708 "Memory leak in traffic_crashlog"
[code]

[2019-07-10 22:41] maskit commented on #3179
Ah, sorry. ERROR level logs were not shown because it was ran on lldb. I confirmed the causes are on ERROR line, and I think ERROR level is enough.

[2019-07-10 22:41] #3179 closed

[2019-07-10 22:46] randall commented on #3179
Locally, I always run with:
[code]

[2019-07-11 15:10] a-canary commented on #5689
Yes, we should try to add common interface API like "parse_headers", to the ProxyTransaction class and have separate implementation for H1/H2/H3. IMO this falls under #5488.

And Yes I have to remind myself daily that Http2Stream is roughly equivalent to Http1Transaction.

[2019-07-11 17:14] bryancall commented on #5048
@scw00 Yes, that was the issue.  Thank you.

Unfortunately I am running into other problem with the regression tests now.

[2019-07-11 17:14] #5048 closed

[2019-07-11 17:39] shinrich commented on #5691
Merged in fix to make the API call actually cancel the non-activity timeout.

[2019-07-11 17:39] #5691 closed

[2019-07-11 17:47] shinrich commented on #5644
@liangzhaorong are you seeing this on shutdown? Staring with openssl-1.1.1b (maybe c?).  There was a change in openssl on the library shutdown which clears a key mutex.  @duke8253 was been working through solutions for us in 2019.  We have been seeing this in a couple different scenarios.

1. There was a problem with starting up the system, and exit() is called but some ET_NET threads are already

[2019-07-11 17:48] shinrich commented on #4652
Looks like it is now gone.

[2019-07-11 17:48] #4652 closed

[2019-07-11 18:25] #3012 closed

[2019-07-11 18:28] bryancall opened #5709 "ATS regression test failing on SDK_API_HttpHookAdd"
[code]

[2019-07-11 21:35] bryancall commented on #5709
I haven't been able to reproduce this on a clean build.

[2019-07-11 21:35] #5709 closed

[2019-07-11 21:35] bryancall commented on #5709
my test:
[code]

[2019-07-12 05:20] maskit opened #5712 "Assertion in SSLNetVC fails"
The assertion added by #5529 fails on a QUIC test server running quic-latest branch.

Because it's QUIC branch I'm not 100% sure this fails on master too, but QUIC doesn't use SSLNetVC so I think it's not because of changes for QUIC.

[code]

[code]

The memory leak is filed as #5708.

[2019-07-12 05:24] maskit commented on #5712
@SolidWallOfCode Can you take a look?

[2019-07-12 05:47] maskit commented on #2674
This is not going to be completely addressed on 9.0.0 release, but ATS doesn't crash now because QUICNetVC is intentionally leaked as a workaround.

[2019-07-12 05:53] maskit commented on #5675
I don't think it's a 9.0 blocker. Pushing out to 10.0.

[2019-07-12 05:58] maskit commented on #5712
It crashed 180 times  on the quic test server during a two-day QUIC interop event.

@zwoop Do you see this on docs server too?

[2019-07-12 05:59] maskit commented on #5522
Can you confirm #5560 fixed this?

[2019-07-12 06:02] maskit commented on #5418
@scw00 Can we close this?

[2019-07-12 06:11] maskit commented on #4736
@masaori335 It is backported to 8.1.x.

[2019-07-12 06:45] #5418 closed

[2019-07-12 06:47] maskit commented on #3551
@zwoop I really think we need a CI box that can run tests for QUIC. Otherwise it will follow the same path as BoringSSL support. Ideally, we should have it before merging QUIC branch for 9.0 so that nobody can break QUIC support.

For "quic-20" branch, which will be merged for 9.0, uses "quic-draft-20" branch on https://github.com/tatsuhiro-t/openssl

[2019-07-12 15:27] bryancall commented on #5553
We should push this off until ATS 10 and if there hasn't been any progress on setting up CI with Solaris then we should remove the code.

[2019-07-12 16:10] #5619 closed

[2019-07-15 18:15] randall commented on #4160
I'm not sure this is a regression. I tried 8.0.x, 7.1.x, and 6.2.3, and they all do the same thing with no dest_ip.

This should be fixed, but it's not a regression.

I'll see if there's an easy way to fix this though.

[2019-07-15 18:18] SolidWallOfCode commented on #3482
This was never back ported to open source, it was a Verizon only patch to see if it was reasonable. Given @djcarlin's reaction I think we should close this issue and leave it out of ATS 9 entirely.

[2019-07-15 18:18] #3482 closed

[2019-07-15 18:58] zwoop opened #5718 "Refactor ALPN "string" management"
We currently have 2 (3?) ways of configuring the ALPN strings:

1. Via the ports configuration in records.config
2. Via sni.yaml (H2 can be disabled)
3. Via plugin APIs (I think ?)

This gets complicated, because the APIs around SSLNextProtocolSet, and cloning, adding and removing endpoints is expensive (lots of memory allocations). The code currently uses global "override" map for each accept por

[2019-07-15 19:44] bryancall commented on #3649
I talked to a few people about this issue and the feeling was it is safer to pull the requests into cache using GET instead of pushing objects into cache, since it would be the same behavior as fetching the object normally.

If you would like to supply a code change to support multiple alternates, then we would accept the change if it is not too invasive.  Please reopen if you are willing to make

[2019-07-15 19:44] #3649 closed

[2019-07-15 21:07] zwoop opened #5720 "H2 sni.yaml overrides do not work with accept threads off"
With accept threads off, i.e.

[code]

There is no accept_obj at this point in the SNIAction handlers, so e..g this fails:

[code]

This essentially makes it impossible to turn off H2 via sni.yaml, unless accept threads are enabled. I don't know if any other SNIAction() handlers would have similar issues.

[2019-07-15 22:33] SolidWallOfCode commented on #3135
Fixed by #5717.

[2019-07-15 22:33] #3135 closed

[2019-07-16 05:36] DrmagicE opened #5725 "How to know how many bytes in cache is still fresh?"
How can i get the metric like “proxy.process.cache.fresh_bytes_used” ? Which means the cache object is still fresh.
The `proxy.process.cache.bytes_used` metric always increase even if i make a PURGE request to remove the object. I need this info to do some load balancing work.

[2019-07-16 16:02] zwoop commented on #5360
Deferring this to v10.0.0, since there's little interest, and some opposition. The C-APIs will stay C for the next 2-3 years.

[2019-07-16 16:06] zwoop commented on #5363
Moving out to 10.0.0, unless someone wants to work on this.

[2019-07-16 16:10] bryancall commented on #4652
It was removed in this commit: 6ee5c616d165b969b42a86c4eb2ca0b1be86b881

[2019-07-16 16:10] zwoop commented on #5580
Lets make this happen sooner rather than later :) You still have the opportunity to recommend PRs from master to the 9.0.0 branch as well.

[2019-07-16 16:46] zwoop commented on #2997
Maybe also do an overhaul of the current defaults for all cipher configs? Running e.g. sslabs on Docs:

https://www.ssllabs.com/ssltest/analyze.html?d=docs.trafficserver.apache.org&s=104.239.143.16&latest

[2019-07-16 20:08] zwoop opened #5729 "SNIAction gets called twice for every request"
While testing other code, I noticed that the SNIAction for DisableH2 got called twice, with a simple rule as:

[code]

The first backtrace is

[code]

and the second trace is

[code]

[2019-07-16 21:10] zwoop commented on #5729
Seems it's somewhat intentional?

[code]

However, this seems questionable, like, some of this behavior in sni.yaml can not be overridden at this point, no ? Also seems that some functionality is only supported for some versions of OpenSSL?

If this was left as an afterthought for other problems, maybe we should do something like

[code]

[2019-07-16 21:35] bryancall commented on #3269
I think this would be better handled by an external db and a plugin.  If someone would like to work on this please assign yourself the issue or ask to be assigned to it.

[2019-07-17 02:00] maskit commented on #5580
Yeah, I'd love to. I'm waiting for feedback and approvals for the PR on the todo list. Once the PRs have been merged, I can do the cleanup and make a PR soon. These steps should be a piece of cake (actually I did the cleanup once, so I just need to double-check if it's still fine).

[2019-07-17 15:57] zwoop commented on #5712
Not seeing this on Docs, at least not that I'm aware of.

[2019-07-17 15:57] zwoop commented on #5712
Blocks #5457

[2019-07-17 16:01] zwoop commented on #5725
This is not possible to calculate, and PURGE doesn't actually delete anything, it just makes it unreachable. The way ATSs cache works, there's really no way of knowing any of this.

If you need more details, please take this to the mailing list for more explanations / discussions.

[2019-07-17 16:01] #5725 closed

[2019-07-17 21:58] gtenev commented on #5073
This issue was addressed with PR #5653

[2019-07-17 21:58] #5073 closed

[2019-07-17 23:03] zwoop opened #5734 "cloneProtoSet() does not actually clone things properly"
In this code:

[code]

It turns out that the call to unregisterEndpoint() is essentially a no-op. The call to

[code]

doesn't actually clone the H2 protocol handler. I.e. if I remove the unregisterEndpoint() call completely, the code still works exactly as "intended". However, this is why I can't get the new feature to turn on H2 to work, because the clone mechanism here is not working.

[2019-07-18 02:06] scw00 opened #5735 "Replace Ptr with std::shared_ptr"
Compare with current Ptr. We lost some feature of the ptr ownership. So it would be better to involve `std::shared_ptr`, `std::unique_ptr` and `std::auto_ptr` etc .

I would involve this class to replace RefCountObj.
[code]

So the object creator would be
[code]

[2019-07-18 22:22] randall commented on #2361
With master (pre 9.0 branch), I cannot replicate the memory mentioned in this issue.

[2019-07-18 22:22] #2361 closed

[2019-07-19 08:57] liangzhaorong commented on #5644
The crash occurred while the program was running.  A crash occurred a few days ago. Print as follows(version: openssl-1.1.0h ats-8.0.3):
[code]
@shinrich

[2019-07-19 17:16] zwoop commented on #5394
I'm postponing promotion of remap_stats, it should be rewritten to use e.g. std::unordered_map and C++, and be truly cross platform.

[2019-07-19 17:16] zwoop opened #5737 "Rewrite remap_stats to use C++ / std::unordered_map"
This would allow it for being cross platform as we expect. I'm postponing promotion to "stable" until this work has been done.

[2019-07-19 17:21] zwoop commented on #5394
Note that cache_promot was already promoted to stable ...

[2019-07-19 21:59] randall commented on #5363
@zwoop I could.

Do you have any ideas here around the config file to config subsystem signaling here?

[2019-07-19 23:31] #5394 closed

[2019-07-20 00:06] #5395 closed

[2019-07-22 15:31] shinrich commented on #5712
I think the issue is the check for (ret == SSL_HANDSHAKE_WANT_ACCEPT) before the assert.  Looking through the code, that value only gets returned from sslClientHandShakeEvent where ATS is acting as the client in the TLS handshake.  But the handShakeReader only gets set when ATS is acting as the server.

Removing ret == SSL_HANDSHAKEL_WANT_ACCEPT from the if condition before the assert should fix t

[2019-07-22 21:25] bryancall commented on #4635
I was able to reproduce the issue on my Fedora 30 server.

[2019-07-22 21:32] bryancall commented on #4635
Stack trace when reloading the configuration:
[code]

[2019-07-23 02:56] rebill commented on #4983
how can i get really disk usage?

[2019-07-23 10:30] zhang15535135608 opened #5742 "Add a call condition for TSUrlHostGet to the document"
A note should be added to the document, TSUrlHostGet only allows calls after TS_HTTP_POST_REMAP_HOOK。

In the TS_HTTP_READ_REQUEST_HDR_HOOK phase,  you can call TSHttpHdrHostGet to get the host, if you want to get it.

https://docs.trafficserver.apache.org/en/latest/developer-guide/api/functions/TSUrlHostGet.en.html

[2019-07-23 14:27] maskit opened #5743 "Some frame types must not be carried on Initial and Handshake packets"
17.2.2. Initial Packet

17.2.4. Handshake Packet

[2019-07-23 15:41] bryancall opened #5744 "Debug on OSX is not working with traffic_manger"
[code]

[2019-07-23 18:59] bryancall commented on #5744
The test I am using on git bisect:
#!/bin/bash

# turn on bash debug
set -x

# stop ATS
sudo /usr/local/bin/trafficserver stop
sudo pkill -9 traffic_manager
sudo pkill -9 traffic_server

# clean up
cd ~/dev/apache/trafficserver
git clean -xfd
git checkout -- .
sudo rm -rf /usr/local/etc/trafficserver /usr/local/var/trafficserver /usr/local/var/log/trafficserver /usr/local/lib/libts* /usr/local/lib

[2019-07-23 23:45] randall commented on #5604
I think I'm seeing this leak sometimes as well (caught under Valgrind):

[code]

[2019-07-24 21:22] bryancall commented on #5744
Looks like the problem is in `Diags::tag_activated`

[2019-07-24 23:38] mlibbey commented on #5501
I don't think anyone is spending time on freebsd.

[2019-07-24 23:38] #5501 closed

[2019-07-25 01:03] zizhong commented on #5735
👍

[2019-07-26 01:31] masaori335 commented on #5671
The test still fails intermittently.
[code]
https://ci.trafficserver.apache.org/job/autest-github/10530/console

[2019-07-30 06:06] masaori335 opened #5754 "Intermittent stall on downloading 1GB file"
Intermittently, I see stalls on downloading 1 GB file with latest master (a5577e20ea2cc404e49641884aafd8933ec9bbe2).

[code]

git bisect says c815b17d3a855618620c9c9bcc491c0e68bcc4c1 made the regression.

[2019-07-30 06:33] masaori335 commented on #5754
- platform: macOS
- curl 7.65.1-DEV (x86_64-apple-darwin18.6.0) libcurl/7.65.1-DEV OpenSSL/1.1.1b zlib/1.2.11 nghttp2/1.38.0
[code]

[2019-07-30 06:51] masaori335 commented on #5754
I also see this stall without TLS.
[code]

[2019-07-30 08:05] #5754 closed

[2019-07-30 17:12] thelounge-zz commented on #4921
https://github.com/apache/trafficserver/blob/8.0.x/CHANGELOG-8.0.4 still don't mention that issue which is not funny given how long 8.0.1 without that issue is out there and how many bugs are fixed since then

[2019-07-31 18:51] ezelkow1 opened #5757 "make check does not inherit --with-openssl path from build"
Doing some integration here with make check tests and they were failing in various plugins because the tests couldnt find our openssl dir that ats was built against since it was not in the build machines ld_library_path.

Would be nice if the make check tests inherited this from the top level build

[2019-07-31 23:10] maskit commented on #5580
Done!

[2019-07-31 23:10] #5580 closed

[2019-08-01 02:25] sudheerv commented on #5671
If it helps to have additional data points, I noticed this test fail a few times too and automatically succeed with a rerun.

For example,

https://ci.trafficserver.apache.org/job/autest-github/10570/

[2019-08-03 03:20] xq2248 opened #5763 "ATS 8.0.3 traffic_top crashed when traffic_server is not running"
[root@localhost ats]# bin/traffic_top
Error getting stat: proxy.process.http.100_responses when calling TSRecordGetInt() failed: file "traffic_top/stats.h", line 302

Aborted

OS: CentOS 7.4
GCC: devtoolset-7-gcc-c++-7.3.1-5.15.el7.x86_64
 ./configure --prefix=/opt/ats --enable-debug --disable-tests --enable-experimental-plugins --enable-example-plugins --with-ncurses

[2019-08-03 03:29] xq2248 opened #5764 "[question]traffic_logstats execute failed"
[root@localhost ats]# bin/traffic_logstats

critical:  squid.blog not enabled can't open log file

OS: CentOS 7.4
GCC: devtoolset-7-gcc-c++-7.3.1-5.15.el7.x86_64
./configure --prefix=/opt/ats --enable-debug --disable-tests --enable-experimental-plugins --enable-example-plugins --with-ncurses

[2019-08-03 03:51] xq2248 commented on #5763
#0  0x00007f2a23aab2c7 in raise () from /lib64/libc.so.6
#1  0x00007f2a23aac9b8 in abort () from /lib64/libc.so.6
#2  0x00000000004295a7 in Stats::getStats (this=0x7fff6cbd5ab0) at traffic_top/stats.h:303
#3  0x00000000004256e6 in main (argc=1, argv=0x7fff6cbd62f8) at traffic_top/traffic_top.cc:441
(gdb)

[2019-08-04 05:33] xq2248 commented on #5764
What is the best C++ compiler for ATS 8.0.x in CentOS7/Redhat7?
There is no offical GCC 7.x.x.

[2019-08-05 07:38] maskit commented on #5708
#5716 fixed this.

[2019-08-05 07:38] #5708 closed

[2019-08-05 07:44] maskit commented on #5712
I recently merged master to quic-latest and the crash still happens on the QUIC test server almost everyday.

@SolidWallOfCode Didn't you say you have a patch? Will you make a PR?

[2019-08-05 13:59] SolidWallOfCode commented on #3654
Yes, but that depends on having `VIA` set in the header. If not, it does IP address detection.

I have been able to replicate this by requesting one of the host IP addresses as the destination. One of the host IP addresses won't loop, all of the others will. I see that some work has already been done here, I think if I clean it up and extend it a bit I can fix this problem as well.

[2019-08-05 14:00] SolidWallOfCode commented on #3654
I ended up finding two bugs on this subject. The basic IP address based loop detection is broken, as far as I can tell it doesn't work even with a single homed machine. The other bug is this one.

[2019-08-05 19:45] randall commented on #5763
is trafficserver fully started? I can reproduce this situation when I try to run traffic_top before traffic_server is accepting traffic.

[2019-08-05 20:05] shinrich commented on #5729
Delving into the history here.  Made may changes in this area around the end of 2018 to support more features to be enabled/disabled based on the SNI value.  One of those features was the TLS protocols offered (e.g. do not offer TLS/1.3 if the name requested was bob.com).

Supporting this feature requires openssl 1.1.1 or better (a version supporting the client hello callback).  If this call back

[2019-08-05 20:07] shinrich commented on #5734
If we accept PR #5769 (or something like it), then this issue becomes moot because cloneProtoSet goes away.

[2019-08-05 20:25] shinrich commented on #5644
Could you try one of the openssl 1.1.1 builds (1.1.1c preferably)?  Looking through the openssl code referenced in your callstacks it looks like a corruption of the openssl data structures.  We didn't stay on openssl 1.1.0 very long at all.  To get the TLS 1.3 support we moved to 1.1.1x quickly.

[2019-08-05 21:11] zwoop commented on #5729
Sounds good, and makes sense. I think that's inline with that patch above right ?

[2019-08-05 21:17] shinrich commented on #2997
Should also set defaults for the TLS1.3 ciphers.

[2019-08-06 02:09] maskit opened #5775 "Cannot build with BoringSSL again"
Build with BoringSSL fails because `SSL_get_shared_curve` is not available. The code was added by #5724.

[2019-08-06 05:30] masaori335 commented on #5764
Does `squid.blog` exist? I saw the error message if the log file doesn't exist. The error message looks unclear, though.

For the build toolchain on CentOS 7, as you're using, devtoolset-7 is recommended.
https://cwiki.apache.org/confluence/display/TS/CentOS

[2019-08-06 06:08] xq2248 commented on #5763
@randall Yes，you are right，traffic_server can not start. Thanks a lot.
The traffic_server was built with user root. This is not allowed.

[root@node1 ts]# ps -ef |grep traffic
root     25683     1  0 10:37 pts/1    00:00:00 /opt/ts/bin/traffic_manager --bind_stdout /opt/ts/var/log/trafficserver/traffic.out --bind_stderr /opt/ts/var/log/trafficserver/traffic.out
root     25866 13932  0 10:37 pts/1

[2019-08-06 09:17] xq2248 opened #5776 "ATS 8.0.3 traffic_server on CentOS 7.4 failed to start"
The new built ATS8.0.3 traffic_server process failed to start,  as the files of /opt/ts/var/trafficserver/ directory are missing.

The GCC version as follows:
[root@node1 trafficserver-8.0.3]# gcc -v
Using built-in specs.
COLLECT_GCC=gcc
COLLECT_LTO_WRAPPER=/opt/rh/devtoolset-7/root/usr/libexec/gcc/x86_64-redhat-linux/7/lto-wrapper
gcc version 7.3.1 20180303 (Red Hat 7.3.1-5) (GCC)

The build comm

[2019-08-06 13:27] traeak opened #5777 "Plugin memory leak with TSMutexCreate"
With the stats_over_http intercept handler being called with a continuation created with TSMutexCreate() each call is leaking the mutex.  **This is new with master** and doesn't leak in ats8 or ats7 branches.

The below is the relevant valgrind log for a test run that had the stats_over_http endpoint hit 10 times.

[code]

[2019-08-07 02:19] masaori335 opened #5781 "ASan: container-overflow with traffic_ctl metric match"
[code]

- ATS: master (b06ad23cd379f12a47baeeadb9761ea92c8ff5c6)
- llvm: 8.0.0
- macOS: 10.14.6

[2019-08-07 03:08] xq2248 opened #5782 "[question] Can ATS support sendfile?"
[question] Can ATS support sendfile?

[2019-08-07 11:27] esmq2092 opened #5787 "ATS 8.0.3 gegmentation fault related to compress plugin"
i have built ats 8.0.3 with openssl 1.1.1c and brotli-1.0.7,

**found that ats crash frequently when the following conditions were both met.
1) https request
2) enable compressi plugin with remove-accept-encoding set to ture or with supported-algorithms set to "gzip,br"**

---
i suppose that  some browers advertise support for brotli only through https requests,  so problem only happen for https r

[2019-08-07 14:16] shinrich commented on #5389
Merged in relevant PR.

[2019-08-07 14:16] #5389 closed

[2019-08-07 14:19] SolidWallOfCode commented on #4983
The size of the cache. After an initial warm up, it's effectively all used, all the time.

[2019-08-07 15:21] #2380 closed

[2019-08-07 15:22] SolidWallOfCode commented on #2380
Yes. I reviewed the code and discussed this with @shinrich and we agree various patches, starting with the two linked here, fixed this issue.

[2019-08-07 15:36] randall commented on #5787
Can you post a stack trace from the crash?

[2019-08-07 23:08] shinrich opened #5793 "microDNS crash causes failures in redirect_actions autest"
Redirect_actions fails with fairly high frequency.  Different cases will fail.  The immediate cause is a gold file mismatch due to an unexpected HTTP response.  Finally tracked  it down in an autest failure on my PR this evening that the micro DNS crashed after responding to the last successful test case.  Then subsequent DNS requests fail, and ATS cannot perform the appropriate redirect action fo

[2019-08-08 02:39] esmq2092 commented on #5787
crash too often, but no cores generated...

`[Aug  8 10:34:53.359] {0x7f10895d7740} NOTE: [LocalManager::pollMgmtProcessServer] Server Process terminated due to Sig 11: Segmentation fault
[Aug  8 10:34:53.359] {0x7f10895d7740} NOTE: [Alarms::signalAlarm] Server Process was reset
[Aug  8 10:34:54.362] {0x7f10895d7740} NOTE: [ProxyStateSet] Traffic Server Args: ' -M'
[Aug  8 10:34:54.362] {0x7f10895

[2019-08-08 03:28] zhengxj91 opened #5794 "memory leak in example plugin blacklist_1"
enable dump_mem_info in records.config, noticed a memory leak in example plugin blacklist_1,  the memory of mutexAllocator is keep growing.  everything is fine when disable the blacklist_1 plugin. and i'm tried to using TSMutexDestroy to destroy the TSMux manually before using TSContDestroy, memory leak is not happend again.   The TSMux along with the TSCont can not auto destroyed using TSContDest

[2019-08-08 03:54] hankai17 opened #5795 "About diagram for header_rewrite Hooks"
In https://github.com/apache/trafficserver/pull/2267
The order is reversed between READ_REQUEST_HDR_HOOK and READ_REQUEST_PRE_REMAP_HOOK

[2019-08-08 18:20] shinrich commented on #3428
I tried both the scenario that @randall described and the origin server verification case that @persiaAziz identified.  The tunnel.alive == false assert is not going off.  Given that there have been a number of cleanups on the connection error path in the past year, I assume this issue has been addressed.  Closing.  Please reopen or open a new issue if this still a problem in 9.x.

[2019-08-08 18:21] #3428 closed

[2019-08-08 19:53] #3654 closed

[2019-08-09 14:45] zwoop opened #5807 "ASAN heap-use-after-free in HttpVCTable::remove_entry"
As of recently I get

[code]

[2019-08-09 14:59] shinrich commented on #5807
We had seen that in production too.  Removed the cleanup logic since it does introduce a possibility for accessing a VC that has been previously deleted.  Wanted to run it locally for a whiel to ensure that that it did not add a lot a dangling IO operators, and it has not.
Will put up a PR

[2019-08-09 20:35] shinrich opened #5810 "Remove redundant TSHttpTxn*TimeoutSet APIs in preference to TSHttpTxnConfigIntSet"
For TSHttpTxnActiveTimeoutSet, TSHttpNoActivityTimeoutSet, and TSHttpTxnConnectTimeoutSet, a separate field is stored in the t_state object.  This is in parallel in to the txn_conf versions of transaction_no_activity_timeout_out, transaction_active_timeout_out, and post_connect_attempts_timeout/parent_connect_timeout/connect_attempts_timeout.

In particularly for the inactivity_timeout, we are not

[2019-08-09 21:37] shinrich commented on #5810
@shukitchan points out that he actually needs the sub-second granularity for some cases of the active and inactive timeouts.  @ezelkow1 put up a pr https://github.com/apache/trafficserver/pull/4130 to do exactly this for the various connect_attempt_timeout's by added a _ms version in records.config and then storing either the ms or the second version in the same member variable.

[2019-08-12 16:23] bryancall commented on #5787
What does `sysctl -a | grep kernel.core` on your system show?

[2019-08-12 17:18] shinrich commented on #5729
Fix merged to master

[2019-08-12 17:18] #5729 closed

[2019-08-12 17:20] shinrich commented on #5720
Fix merged to master

[2019-08-12 17:20] #5720 closed

[2019-08-12 17:21] shinrich commented on #5734
Referenced PR merged

[2019-08-12 17:21] #5734 closed

[2019-08-12 18:08] SolidWallOfCode commented on #5604
Fixed by #5778.

[2019-08-12 18:08] #5604 closed

[2019-08-13 03:25] jvgutierrez commented on #5787
So I can confirm that `compress.so` is somehow broken and causing segfaults in ATS 8.0.3, we're running 42 instances, 39 healthy and 3 showing frequent segfaults, the main difference is that those 3 instances have compress.so enabled.
In our scenario we are running ATS instances that only get plain-text requests and we don't use libbrotli (is not even linked against the compress plugin or traffic_

[2019-08-13 07:18] jvgutierrez commented on #5787
After further analysis of one of our coredumps we got the following information:
[code]

The crash happens in ./proxy/hdrs/HTTP.h:1539:
[code]

[2019-08-13 16:37] shinrich commented on #5810
One issue with respect to sub-second inactivity timeouts.  The inactivity cop polls based on the value of proxy.config.net.inactivity_check_frequency which is specified in seconds.  So unless that value can be specified in sub-second granularity, it doesn't matter whether the inactive/active timeouts are specified sub-second.

[2019-08-14 12:03] thelounge-zz commented on #4921
and as expected the same shit with 8.0.4 after less the 15 minutes uptime

Aug 14 14:02:12 proxy traffic_manager[494641]: Fatal: HttpSM.cc:2516: failed assertion `magic == HTTP_SM_MAGIC_ALIVE`
Aug 14 14:02:12 proxy traffic_manager[494641]: traffic_server: received signal 6 (Aborted)
Aug 14 14:02:12 proxy traffic_manager[494641]: traffic_server - STACK TRACE:
Aug 14 14:02:12 proxy traffic_server[49

[2019-08-16 01:29] masaori335 commented on #5671
#5828 fixed this failure.

[2019-08-16 01:29] #5671 closed

[2019-08-16 05:52] shigeki opened #5832 "Possibly PING frame rate limiting error due to ping_frame_count not cleared"
After applying HTTP/2 rate limiting for HTTP/2 DoS protection, we have observed several PING rate limits errors as
[code]
Our `max_ping_frames_per_minute` is a default value of 60.

The errors were occurred from Chrome accesses. Chrome seems to send PING frame after some idle time as https://chromium.googlesource.com/chromium/src/+/refs/heads/master/net/spdy/spdy_session.cc#2615.

We could not ide

[2019-08-16 07:02] masaori335 commented on #5832
I agree with the counter logic has bug.
[code]

[2019-08-16 23:36] shinrich opened #5836 "Problems with HTTP/2 priority processing"
I have spent time this week working with HTTP/2 priority processing.  PR #5835 came from that effort.  In addition I am seeing some odd things in the priority tree.  I am using the webpagetest.org http2priorities.html test page that @shukitchan found.  https://github.com/pmeenan/http2priorities/tree/master/stand-alone.

In this test, you provide an image URL and the http2priorities pages creates a

[2019-08-17 14:30] maskit opened #5837 "Detect zlib on configure script"
On fresh Ubuntu 18.04 env, I saw this compile error, but the availability of zlib should be checked on configure script.
[code]

[2019-08-17 15:19] RamJett opened #5838 "hostdb.host_file never re-read without restart"
Currently using 7.1.7 on Debian 9 with settings below:
[code]
The problem we are having is when file conf/hosts.origin is updated, the change will never happen unless you restart the trafficserver.

My tests to reproduce

1. On trafficserver update origin IP in conf/hosts.origin for testhost origin IP
2.  Watch logs on trafficserver tail -f logs/*.log
3. Local workstation use curl requests to site

[2019-08-18 23:46] #5832 closed

[2019-08-19 02:11] maskit opened #5840 "Active timeout on QUIC"
Active timeout is not handled on QUIC connection. On the test box for interop, I saw a client that keep sending PING for hours.

https://github.com/apache/trafficserver/pull/5824

[2019-08-19 02:29] scw00 commented on #5840
It seems spec doesn't say what we should do when active timeout happen. It should be handled by application rather than a connection.

[2019-08-19 02:43] maskit commented on #5840
Well, I guess TCP neither. Also PING is a part of transport.

[2019-08-19 19:18] bryancall opened #5843 "ATS 9 benchmarking"
I am doing some benchmarking a new server I built (AMD 3900x) and I wanted to document some of the numbers I am getting from ATS

**Summary of benchmarks:**
HTTP: 672,081 rps
TLS/HTTPS: 434,586 rps
HTTP/2: 241,697 rps
TLS/HTTPS (using h2load): 402,084 rps

[2019-08-19 21:47] bryancall commented on #5843
HTTP and turning off iptables:

**http_load:**
[code]

**dstat:**
[code]

**perf top:**
[code]

[2019-08-19 21:53] bryancall commented on #5843
TLS and turning off iptables:

**http_load:**
[code]

**dstat:**
[code]

**perf top:**
[code]

[2019-08-19 22:22] bryancall commented on #5843
HTTP/2 and turning off iptables:

**h2load:**
[code]
**dstat:**
[code]

**perf top:**
[code]

[2019-08-19 22:28] bryancall commented on #5843
TLS and turning off iptables, using h2load instead of http_load:

**h2load over HTTP/1.1:**
[code]

**dstat:**
[code]

**perf top:**
[code]

[2019-08-19 22:34] bryancall commented on #5843
Server configuration and sample response:
[code]

[2019-08-20 10:00] ema commented on #5787
On a production host, we have set `cache false` to cache only one variant of the object instead of both the compressed and decompressed one. With such a configuration, traffic_server has been running without crashes for more than 4 days. It seems thus likely that the crash is due to an interaction between `compress.so` and alternate handling.

All our dashboards are public, so feel free to [check

[2019-08-20 12:00] ema opened #5849 "traffic_manager should mention loaded plugins at startup instead of shutdown"
traffic_manager mentions the list of loaded plugin upon service shutdown:

[code]
But not when the service is started:

[code]
This seems backwards to me, and I think it would make more sense to mention which plugins are being loaded when loading happens.

[2019-08-21 00:50] shigeki commented on #5832
The issue was resolved by #5833. Thanks.

[2019-08-21 06:19] maskit commented on #5843
Can you try these patches for H2?
https://github.com/apache/trafficserver/pull/5293
https://github.com/apache/trafficserver/pull/5695

[2019-08-21 10:39] jvgutierrez opened #5854 "parent host marked as down stills shows as up in the metrics / host status"
I have a test setup using ATS 8.0.3 configured with 5 parents using the following configuration:
remap.config:
[code]
parents.config:
[code]

I shutdown one of the parents (ats_httpbin_5) forcing ATS to mark that parent as down after some failed requests:
[code]

but traffic_ctl still shows the host as up:
[code]

I've been able to reproduce the issue with master as well:
[code]

[code]

[2019-08-22 02:32] maskit commented on #3455
I forgot we have an issue for clang-tidy on QUIC. It was ran, and draft-20 support is already merged

[2019-08-22 02:32] #3455 closed

[2019-08-22 02:48] zhang15535135608 opened #5858 "Mem leak in 7.1.6 and 7.1.8"
I deployed a web service on the same machine as ats， web servie config is:

[2019-08-22 03:01] zhang15535135608 commented on #5858
I deployed a web service on the same machine as ats， web servie config is:
[code]
There is a static file 1.txt in the ./var/b/ directory.

ats records config modify:
[code]

ats remap config:
`map / http://127.0.0.1:9001/`

I used the following command to test, there is a memory leak found: (ignore other headers)
[code]

the mem info dump: **(note: memory/ioBufAllocator[11])**
[code]

[code]

[2019-08-22 03:45] zhang15535135608 commented on #5858
In addition to the above repetition method, in the actual environment, I found this way.
The setting file is cacheable. I use wrk for stress testing and delete the cache using purge method every once in a while.  found this memory leak.

[2019-08-22 07:15] jvgutierrez commented on #5854
same happens when the option `parent_retry=unavailable_server_retry` is used and a parent server is marked as down cause it's returning 503s. The log shows the host marked as down:
[code]
but metrics and host status don't reflect this change

[2019-08-22 14:09] ericcarlschwartz opened #5860 "pipe buffer size for log.pipe should be configurable"
right now when ats creates a log.pipe object it just uses the standard pipe buffer size from the OS, which in addition to sometimes leading to backups of data in the pipe is also smaller than the max allowable log line size

[2019-08-22 14:45] ericcarlschwartz commented on #5860
PR here: https://github.com/apache/trafficserver/pull/5861

[2019-08-22 14:46] ericcarlschwartz commented on #5860
also, i don't know how to add labels but this is logging related

[2019-08-22 14:47] jrushford commented on #5854
That log message “Parent initially marked as down ats_go-http-server_1:80” the host was marked down and that the internal fail count was incremented.  When the internal fail count reaches the configured, proxy.config.http.parent_proxy.fail_threshold (default == 10),  value then the host is made unavailable for use and you’ll then see the message “Failure threshold met failcount:%d >= threshold:%d,

[2019-08-22 15:26] jrushford commented on #5854
Valentin,

This is known behavior.  There are two statuses, a global host status and a per parent.config health check status.  There are health check status created by parent.config line for each host.  Host foo.com on line 1 is treated independently of host foo.com on line 2 as far as health status is concerned.  His is because a parent trying to reach a slow origin might get marked down by the c

[2019-08-22 15:35] jrushford commented on #5854
@jvgutierrez can you close this issue?

[2019-08-23 05:27] maskit opened #5866 "Memory leak in QUICNetVC"
This leak is expected, because QUICPacketReceiveQueue is a member of QUICNetVC and QUICNetVC is not destructed currently. One connection leaks one object.

Freeing / Deleting / Destructing QUICNetVC should fix this.

[code]

[2019-08-23 06:03] jvgutierrez commented on #5854
@jrushford Thanks for the explanation, is there any way to monitor hosts that are being marked as down only for one parent entry besides parsing the log?

[2019-08-23 06:10] jvgutierrez commented on #5854
the log line doesn't seem enough because it doesn't reflect the affected parent entry

[2019-08-23 12:12] #5858 closed

[2019-08-23 13:47] #5782 closed

[2019-08-24 00:28] zizhong opened #5871 "autest-site or autest-suite?"
Now there is a directory `/tests/gold_tests/autest-site`.
IIRC, it used to be `autest-suite`.
A [test suite](https://en.wikipedia.org/wiki/Test_suite) is usually a collection of test cases. I guess it was not a very good name. As I can see, `autest-suite` is more like a collection of extensions.
I don't know what a `test site` is. Any explanation would be appreciated.
However, from source of [aute

[2019-08-24 03:01] scw00 opened #5873 "Send an eliciting packets during the handshake"
After #5743, we send nothing when lost  handshake packets. So it should send something to accelerate recovery.

[2019-08-24 07:19] saydulk opened #5874 "cashing problem ubuntu 18.04"
ATS not cache file as big as 1.5go into Ubuntu 18.04 LTS

[2019-08-24 07:39] oknet commented on #5793
meet the same issue:

[code]

[2019-08-24 09:24] scw00 commented on #5874
Can you please share more information ?

[2019-08-24 09:57] oknet commented on #5793
I made a dns request for testdomain72_30_35_10.test:

[code]

The udp payload start from offset 0x1c: 6820 0120 ... , decoding the packet manually:

Header: 12 bytes
[code]

Name Part 1: 1 + 21 bytes
[code]
Name Part 2: 1 + 4 bytes
[code]
Name Part 3: 1 bytes (0 length)
[code]
Query Type(A=0001) and Class(IN=0001): 4 bytes
[code]
Rest bytes: 11 bytes
[code]

According to the dnslib error message:

[2019-08-24 11:07] scw00 commented on #5793
It seems the public server can correctly resolve this dns request .

![image](https://user-images.githubusercontent.com/12470347/63636467-4ff57a00-c6a2-11e9-8141-31cef1c42276.png)

[2019-08-24 12:39] YuanYingdong commented on #5793
I'm confused about the Additional Record in the query , and the data seems to be incorrect.

[2019-08-25 07:33] saydulk commented on #5874
Hello, i was using this URL for setup

https://cwiki.apache.org/confluence/display/TS/Ubuntu

I did everything as that document says. But when i run ./configure && make it shows
configure: error: Cannot find pcre library. Configure --with-pcre=DIR

![Screenshot from 2019-08-25 13-32-45](https://user-images.githubusercontent.com/1058663/63646986-dd85a800-c73c-11e9-8b2e-349b3f95e47c.png)

[2019-08-26 00:06] scw00 commented on #5874
Hmm. You need to install the libraries before configure the ATS. the libraries list in https://github.com/apache/trafficserver/blob/master/README.

[2019-08-26 00:06] #5874 closed

[2019-08-26 01:09] scw00 commented on #5793
This is what I got from autest ci box.

[code]

And please do
[code]

And `nc` this against public dns.
[code]

[2019-08-26 04:32] oknet commented on #5793
Thanks to @scw00 for reproducing the problems in the CI system.

By analyzing the MicroDNS log and ATS log with these below commands:

for microdns log:
[code]

for ats log:
[code]

There is 53 lines in dnsserver.log which means 53 dns requests was received by microdns.
And there is 19 lines in dnsclient.log which means 19 dns request was sent by ats.

I found repeat dns request from these 53 dns

[2019-08-26 07:14] nozomi1773 opened #5876 "not-cache control by HTTP headers are differences between on the actual behavior and on the document"
traffic server control whether to cache or not by client's request headers or origin's response headers , and this control are differences between on the actual behavior and on the document.

For explaining about actual behavior, I built trafficserver from latest source code ( commit: [05a6f19f99cebc4ec3210467fb9a5527b21c7d8d](https://github.com/apache/trafficserver/commit/05a6f19f99cebc4ec3210467

[2019-08-26 07:26] scw00 commented on #5793
This is 25771

[code]

[2019-08-26 07:40] oknet commented on #5793
Got it, so we have 3 ATS instance and 1 MicroDNS instance.

There are 3 parts of ATS dns requests (from ats log):

Part 1:
[code]

Part 2:
[code]

Part 3:
[code]

[2019-08-26 10:21] oknet commented on #5793
@bcall @zwoop @scw00 There is a bug in autestsuite/microdns module.

https://bitbucket.org/autestsuite/microdns/src/master/src/microdns/microdns.py#lines-120,136

![image](https://user-images.githubusercontent.com/5242289/63683387-cfaf5000-c82c-11e9-9214-c1f317e64297.png)

It is a ctrl+c/ctrl+v code from https://docs.python.org/2/library/socketserver.html.
The `strip()` should be removed here.

@s

[2019-08-27 22:27] ezelkow1 opened #5886 "Hosting.config issue - not landing on proper volume"
Set up a hosting.config with an entry for a test origin:
hostname=TESTORIGIN.net	volume=2

[Aug 27 22:24:21.359] [ET_NET 5] DEBUG: <CacheHosting.cc:523 (Init)> (cache_hosting) Host Record: 0x2b54780c9c98, Volume: 2, size: 268419072
[Aug 27 22:24:21.359] [ET_NET 5] DEBUG: <Cache.cc:1886 (build_vol_hash_table)> (cache_init) build_vol_hash_table index 0 mapped to 0 requested 32707 got 32707
[Aug 27 2

[2019-08-29 03:10] masaori335 opened #5891 "Request for comments: unifdef TRACK_BUFFER_USER"
IOBuffer has bunch of `#ifdef` of `TRACK_BUFFER_USER`. (52 in I_IOBuffer.h and P_IOBuffer.h)
This is a feature to track the location of the IOBuffer is allocated.

IIUC, this macro is always defined even if it's release build. In other words, there're no way to disable this feature by configuration. And this has been defined since initial commit.

Could we remove this macro?

Definition:
https://g

[2019-08-30 21:14] zwoop commented on #5341
Remember to clear the Milestone / Projects on PRs that are closed.

[2019-09-01 05:51] esmq2092 opened #5900 "fast origin failover problem"
with the following settings, i want to achieve the goal that
ats will try another orgin  immediately (after 5 seconds ) when first attempt to connect to origin fail...
`
proxy.config.http.connect_attempts_max_retries: 2
proxy.config.http.connect_attempts_max_retries_dead_server: 0
proxy.config.http.connect_attempts_rr_retries: 2
proxy.config.http.connect_attempts_timeout: 5
`

but unluckily i foun

[2019-09-03 18:24] bryancall commented on #5843
@maskit Yes, I can run a benchmark with those PRs.  I automated the benchmarking I am doing over the weekend, so it is pretty easy to rerun now.

[2019-09-03 18:26] bryancall commented on #5843
Updated http/1.1 non-TLS numbers with logging on and using h2load:

**http2load**
[code]

**dstat**
[code]

**perf stat**
[code]

**perf report**
[code]

[2019-09-03 18:27] bryancall commented on #5843
Updated http/1.1 TLS numbers with logging on and using h2load:

**http2load**
[code]

**dstat**
[code]

**perf stat**
[code]

**perf report**
[code]

[2019-09-03 18:29] bryancall commented on #5843
Updated http/2 TLS numbers with logging on and using h2load:
**http2load**
[code]

**dstat**
[code]

**perf stat**
[code]

**perf report**
[code]

[2019-09-03 18:37] bryancall commented on #5843
@maskit Just tested and I didn't see any performance difference with #5293 and #5695.  Here are the results:

**http2load**
[code]

**dstat**
[code]

**perf stat**
[code]

**perf report**
[code]

[2019-09-03 22:42] maskit commented on #5843
Interesting. It might be that other changes have already solved the performance issue in another way. Or it might be because of # of transactions on a session. I’ll test the latest code on my side too.

[2019-09-04 07:28] maskit commented on #5843
@bryancall I just remember that the performance issue is caused by having many entries in HPACK Dynamic Table. If you add many random headers with header_rewrite you can see the difference.

Also, I just realized that having only #5293 is faster than #5293 + #5695 actually. #5695 makes sense in terms of GC and it improve performance, but it seems like there's some overhead.

So I suggest to have o

[2019-09-04 11:21] esmq2092 commented on #5900
more about this problem ,
when want  dynamic_url to enable fast origin failover， you must set cache_urls_that_look_dynamic to true.

[2019-09-04 23:32] zwoop commented on #5807
This also happens on 9.0.x branch, FYI.

[2019-09-04 23:37] zwoop commented on #4921
The problem is that no one else is seeing this crasher, at least not that I know of. Does you setup include any plugins? Any other information how to reproduce this, other than "ab" ?

[2019-09-04 23:50] thelounge-zz commented on #4921
it's not reproduceable with ab, it crashs in production with a very low load

what i don't understand it that it even show the file and line where it happens (HttpSM.cc:2516) and given that it don't crash with 8.0.1 the offending changes between 8.0.1 and 8.0.2 shouldn't be that much in this area

[root@proxy:/etc/trafficserver]$ cat plugin.config
compress.so /etc/trafficserver/compress.config
hea

[2019-09-05 09:38] duclahoang opened #5909 "Ask about RAM Cache Documentation"
Hello everyone,
I've read RAM cache [document](https://docs.trafficserver.apache.org/en/latest/developer-guide/cache-architecture/ram-cache.en.html) recently.
But I can't understand it well. Could you show me an example which demonstrate an insertion flow of RAM cache? I'm really interested in this new algorithm, but I can't find out anything about it.
Thanks for your reading!

[2019-09-05 10:05] oknet commented on #5891
The `TRACK_BUFFER_USER` and `RES_PATH("memory/IOBuffer/")` are work together to track the memory allocation for IOBuffer.

You can dump the memory info by enabled the below 2 lines:
[code]

With the `res_track_memory` set to 1, the allocation details of the IOBuffer will be displayed along with the freelist memory information. It is easy to find any IOBuffer leaks.

By copying the above code, we c

[2019-09-05 16:45] Jamboon-beurre opened #5910 "QUIC error SSL"
Hello,

I have an issue when running the ATS and trying to connect to the server using a browser, it get this error : ERR_SSL_PROTOCOL_ERROR.
In the debugs logs of the server attached, there seems to be a problem with the header.

When i run the traffic_quic client test, the connection seems to be working properly.

Would you have any idea  of what the problem may be ?

I run ATS 9.0.0 on Ubuntu 1

[2019-09-05 17:53] randall commented on #4921
@zwoop We saw it a few times, but it's very very rare. Also, it looked like @bryancall saw it as well.

The changes between 8.0.1 and 8.0.2 are relatively minimal:

git diff --stat 8.0.1 8.0.2
[code]

[code]

[2019-09-05 20:02] gtenev commented on #1553
The following features were added to 9.x branch to facilitate this functionality
PR #5872 - "cachekey: added `--key-type` to allow parent selection URL to be modified"
PR #5865 - "cachekey: added `--canonical-prefix` parameter"

Closing.

[2019-09-05 20:02] #1553 closed

[2019-09-06 00:24] maskit commented on #5910
I think current major browsers still have not supported IETF QUIC. Which browser and version did you use? According to your server side log, ATS didn't talk QUIC at all on the two sessions.

[2019-09-06 02:29] masaori335 commented on #5891
Looks like we have some options here

1). always enable tracker regardless the value of `res_track_memory` (unifdef TRACK_BUFFER_USER)
  - pros: simplify code, but same to what we have now by removing dead code
  - cons: overhead of tracking the location in IOBuffer data structures (`const char *_location`)

2). add a configure option to enable this feature like (`--enable-track-memory`)
  - pros:

[2019-09-06 06:42] masaori335 opened #5913 "Intermittent AuTest failures (thread_N_M tests)"
Another intermittent failure of AuTest. I saw this several times on ci jobs for PRs.
[code]
https://ci.trafficserver.apache.org/job/autest-github/11015/console

[2019-09-06 06:47] masaori335 commented on #5913
"thread_1_1"  fails sometime too.
[code]
https://ci.trafficserver.apache.org/job/autest-github/10994/console

[2019-09-06 08:45] esmq2092 opened #5914 "strange "Error. No more retries." problem"
the origin server has round-robin DNS entries which resolve to 4 ip addresses,

i have the following settings
 `connect_attempts_rr_retries` set to 1
`connect_attempts_max_retries` set to 4

when 3 ips goes down，there is a small chance that ats will return 502，

turn on debug log, it says

`[handle_response_from_server] Error. No more retries.`

but actually ats only try 2 or 3 of ips, no all of t

[2019-09-06 14:32] Jamboon-beurre commented on #5910
I have the same error 'ERR_SSL_PROTOCOL_ERROR' on :

Google Chrome ver  76.0.3809.132
Chromium ver 78.0.3897.0
Opera ver 63.0.3368.71

With Mozilla firefox ver 69.0 i have this error : SSL_ERROR_RX_RECORD_TOO_LONG

[2019-09-09 00:57] maskit commented on #5910
Like I said, I think those browsers (at minimum, the official releases) don't support IETF QUIC yet. We don't have plans for supporting gQUIC.

For a bit more detail about gQUIC and IETF QUIC, please refer these slides below:
http://mile-high.video/files/mhv2019/pdf/day1/1_11_Swett.pdf

Please reopen / recreate issues if you have problems with IETF QUIC clients.

[2019-09-09 00:57] #5910 closed

[2019-09-11 00:11] masaori335 commented on #4921
[code]
This looks suspicious. Because this is the only commit which touch HttpSM and related keep-alive.
But we can't simply revert this commit (6ac3b2ad39b9ca0c3fcb421a582978ca2a3c63), because the original change (653927f9aab9a3cbe8f09521dd8c8154ccbc1614) broke TLS keep-alive.

[2019-09-11 01:41] scw00 opened #5923 "QUIC: Send ack even if cc window is 0"
The sum of the size in bytes of all sent packets that contain at least one ack-eliciting or PADDING frame, and have not been acked or declared lost. The size does not include IP or UDP overhead, but does include the QUIC header and AEAD overhead. Packets only containing ACK frames do not count towards bytes_in_flight to ensure congestion control does not impede congestion feedback.

[2019-09-11 03:39] scw00 commented on #5909
Sorry for late. Let's keep this issue open. Because we lack of these documents.

[2019-09-11 04:48] duclahoang commented on #5909
Thanks for reopening, I've read source code but I could not understand it clearly.
I have some side questions, too.
1. When disk cache is full, it start to evict an object from "write cursor", It means, disk cache evict only one item per eviction, right ? If it is right, why not disk cache evict a bulk of items per time?
2. Are there any tools or logs which show me how long an object live in cache

[2019-09-11 08:33] thelounge-zz commented on #4921
yeah, the broken keep-alive is terrible, but on the other head i live with it the whole year and until there is a better fix i prefer to live with it longer given that there are *serious* issues with HTTP2 where Debian even r3ecommends a dist-upgrade because they don't plan to backport the changes

8.0.4 has since years the first time a beautiful https keep-alive performance but a regulary crashin

[2019-09-11 09:45] scw00 commented on #5909
1. Considering Disk is cycle. When your disk is full. It will go back to the start point . And write another round . It is not necessary to remove objects (except indexes ). Just write.
2.  As I said the cache is a cycle. Objects are always valid until they are overwritten . The expire time is controlled by Http . That means Http Handler should decide the cache objects should be used or not.

[2019-09-11 09:58] scw00 commented on #4921
Can you please print HttpSM::magic and HttpSM::handler

[2019-09-11 10:05] thelounge-zz commented on #4921
who is "you" in that context and hwat does that even mean?

in my case i can't run anything above 8.0.1 for now because i am unable to reporduce the issue on a testmachine and production is affected every few minutes unpredictable

[2019-09-11 17:15] mlibbey commented on #5909
There is a metric, "proxy.process.cache.wrap_count" that can help you understand how frequently objects are overwritten. You divide it by the (disks from storage.config x configured volumes in volume.config), and track that over time. For instance, we have machines with 3 disks, and 5 volumes -- so we divide by 15. Every time the wrap_count then increases by 15, we are at the "start" of the disk,

[2019-09-12 05:42] sitnikov opened #5931 "Permanent memory leak"
We use ats as caching server between frontend (nginx) and backend (nginx + php-fpm)
ats is constantly growing memory use, pls see attached pics from our monitoring

current ats ver 8.0.5 / CentOS Linux release 7.6.1810

![month graph](https://si.infonet.ee/temp/ats-memory-month.png)
![week graph](https://si.infonet.ee/temp/ats-memory-week.png)

[2019-09-12 07:01] duclahoang commented on #5909
Thanks for your replies!
I will let this issue open as Mr.scw00's request

[2019-09-12 13:43] zwoop opened #5932 "☂ v9.0.0 Release Stoppers"
**Issues**
- [x] 9.0.x Inactivity Cop Crash #7338
- [x] 9.0.x use-after-free crash #7333
- [x] 9.0: proxy.process.http.current_client_transactions metric is broken #7163
- [x] Regression: ATS 9.0.x served cached objects with a negative CC: max-age #7254
- [x] Regression: ATS 9.0.x rejects URI's with two leading /'s #7246
- [x] Crash due to bug in Thread Context migration #7096 - PR #7278
- [x] ATS

[2019-09-12 17:45] bryancall opened #5933 "ATS 9 crash in OSDNSLookup"
[code]

[2019-09-13 13:59] thelounge-zz opened #5936 "redirect is using /etc/trafficserver/body_factory/default/default as body"
remap.config: redirect http://arrakis.rhsoft.net https://arrakis.rhsoft.net

why in the world ships ATS for redirects /etc/trafficserver/body_factory/default/default instead no body at all or a generated page with a link if the client for whatever reason don't follow the redirect?

[harry@srv-rhsoft:~]$ curl --head http://www.rhsoft.net/
HTTP/1.1 301 Redirect
Date: Fri, 13 Sep 2019 13:57:07 GMT
Co

[2019-09-13 19:14] zwoop commented on #4921
Our current theory is that this continue to be an issue related to code changes related to half closed TCP connections. This previously caused Keep-Alive to fail, and one patch was reverted, but I'm thinking now that one (or more) of the following needs to be looked at (thanks @randall for making this list):

[code]

[2019-09-17 01:52] bryancall opened #5941 "ATS 7 vs ATS 9 profiling in production"
Samples: 864K of event 'cycles:ppp', Event count (approx.): 251702384267
Overhead  Shared Object                                  Symbol
   1.37%  libcrypto.so.1.1                               [.] DES_encrypt2
   1.26%  libjemalloc.so.2                               [.] free
   1.16%  [ip_tables]                                    [k] ipt_do_table
   1.14%  traffic_server

[2019-09-17 02:22] masaori335 commented on #2436
For the record, #4874 and #5075 fixed this issue.

( #4874 fix the memory leak, but it made some cache incompatible changes. #5075 fixed the incompatibility. )

[2019-09-17 17:15] bryancall opened #5943 "ATS 9 NetHandler lock abort"
[code]

[2019-09-17 17:16] bryancall opened #5944 "ATS 9 using a continuation which is deleted"
[code]

[2019-09-18 02:12] pengzhixi opened #5946 "no_dns_just_forward_to_parent not work for Hit-Stale update."
With no_dns_just_forward_to_parent enabled, the `HandleCacheOpenReadHitFreshness` is always try to update the Hit-Stale objects by OSDNSLookup.
By comparing with the `HandleCacheOpenReadMiss`, it will call the `find_server_and_update_current_info` to update the server info and send the request via parent proxy.

[2019-09-18 19:33] randall commented on #5860
#5863 and #5907 merged.

[2019-09-18 19:33] #5860 closed

[2019-09-19 01:29] scw00 commented on #5931
How much ram cache memory did you use ?  How big is your fragments size ? Can you share your records.config and storage.config ?

[2019-09-19 05:27] sitnikov commented on #5931
CONFIG proxy.config.cache.ram_cache.size INT -1
CONFIG proxy.config.cache.ram_cache_cutoff INT 419430

[storage.config.txt](https://github.com/apache/trafficserver/files/3629534/storage.config.txt)
[records.config.txt](https://github.com/apache/trafficserver/files/3629535/records.config.txt)

[2019-09-20 16:42] shinrich commented on #5941
I assume the first one is from ATS 7 and the second is from ATS 9?

[2019-09-20 16:55] shinrich commented on #5933
From /var/log/messages
[code]

[2019-09-24 00:53] #5522 closed

[2019-09-24 00:54] masaori335 commented on #5522
@zwoop This should be fixed. Could you install gunicorn again?

[2019-09-24 19:33] shinrich opened #5957 "Bad keyword messages should be nicer for sni.yaml"
While testing ATS 9.x, I had problems getting my sni.yaml file accepted.  A number of the errors gave line numbers and those were easy enough to track down.  But finally, I was getting the following message

[code]

It turns out the problem was that I was using the wrong key word specify disabling HTTP/2.  Used

[code]
 Instead of
[code]

Seems that we should be able to give a nicer message if the

[2019-09-25 00:01] bryancall commented on #5943
The problem why I am seeing this crash is because of global session pool thread migration.  Here is the coredump after making the ProxyMutex have a thread affinity and core if some other thread tries to grab the lock:

[code]

[2019-09-25 23:06] #5775 closed

[2019-09-26 03:30] maskit opened #5963 "Can't compile a unit test if FIPS is enabled"
Can't compile a unit test if FIPS is enabled on master. Not sure about other branches.
[code]

[2019-09-26 07:14] maskit commented on #5243
Steps to downgrade pcre:
[code]

[2019-09-26 14:40] shinrich commented on #5943
The grabbing of the net handler thread was logic added by @oknet to try to preserve the existing netvc object and simply move it to another thread.  At this point the logic is holding (briefly) the mutex for the nethandlers of two threads.

The original logic always created new netvc objects on the target thread and moved the key information over (fd and ssl object).

[2019-09-27 14:38] zwoop commented on #5807
Been running with #5809 on Docs for a couple of days, no more ASAN reports. We good to go with that fix?

[2019-09-27 16:48] shinrich opened #5966 "Log files are not being cleaned up"
Noticed that while testing ATS9 in production, the log disk files up once a day.  The logging settings that we had used for our version of ATS7 are not kicking in to delete files running over the limit.

The files are rotating as expected.  Here are the settings we are using
[code]

The rolling_size_mb settings do not seem to be enforced.

[2019-09-27 16:51] shinrich opened #5967 "proxy.process.net.connections_currently_open drifting from reality in ATS 9.0.x"
After running ATS 9 in our production environment for a few hours, the value of proxy.process.net.connections_currently_open did not match the number of established connections reported by "ss -s".  At one point the value was almost a factor of two off.

This is a problem because that setting is used to control the max connection throttling.  If the value stays too high, the process can get stuck

[2019-09-27 18:10] zwoop opened #5968 "Increasing log buffer size fails miserably"
This is likely same / similar to the old TS-777 issue:

https://issues.apache.org/jira/browse/TS-777

I tried again with 32KB, which works fine on Docs / CI, but fails in our (much more busy) production environment. When it fails, logging stops, and we start seeing the following errors:

[code]

Note how it not only affects regular access logs, but also plugin logs (tcpinfo in this case).

[2019-09-30 13:32] shinrich commented on #5943
I've been running with logic that reverts the logic that tries to preserve the existing netvc object, and that has been running without incident.  In that logic, the migration thread does not need to grab the other thread's net handler lock.  The epoll call to remove the file descriptor from the original thread's epoll descriptor is thread save.  Then do_io_close only sets the close flag on the ne

[2019-10-01 00:17] HT154 opened #5974 "Turning on PROXY Protocol forces clients to perform ALPN, otherwise connections are dropped"
ATS: 8.0.5
OpenSSL: 1.0.2r

[code]

Running Nginx on localhost, stream proxying connections on 80/443 to 8080/8443 with PROXY protocol.

Working via cURL:
[code]

Not working via Python `requests`:
[code]

Working via Python `requests` after forcing ALPN:
[code]

@masaori335 was able to reproduce this and track down that it was the `pp` in the `server_ports` config line that was triggering this be

[2019-10-01 00:31] ywkaras commented on #5957
The problem is in the yaml-cpp.  There is no way to fix it without changing this library.  Which would mean we will have to have a strategy for handling new releases of this lib and merging in this or any future fixes we make.

The loader is throwing the "InvalidNode" exception.  The base exception class takes a "Mark" object which has the line and column for the error.  But the InvalidNode constr

[2019-10-01 08:19] maskit commented on #5712
The crash is still happening. I see this crash several times a day on the QUIC test server.

I added some debug log, and it says:
- It's on 443 (not QUIC)
- `ret` is `SSL_HANDSHAKE_WANT_READ`
- `sslHandshakeHookState` is `HANDSHAKE_HOOKS_CLIENT_CERT`

Unfortunately, `ret` is not `SSL_HANDSHAKEL_WANT_ACCEPT`.

[code]

Here's a part of the code I added for the log:
[code]

[2019-10-01 19:26] randall opened #5976 "crash reloading parent.config on ATS 9"
We've seen this twice running ATS9. parent.config was updated (though I think the update was only a re-ordering of lines) and `traffic_ctl config reload` was issued. That resulted in the crash below:

[code]

[2019-10-01 20:06] jrushford commented on #5976
@randall Are you using "secondary_parents" in your parents.config?

[2019-10-01 21:02] randall commented on #5976
@jrushford In this particular case, no.

[2019-10-01 21:05] zwoop commented on #5936
Which version(s) are you seeing this in? Did the behavior change at some point ?

[2019-10-01 21:09] zwoop commented on #5931
Setting RAM cache to -1 might be a bad idea if you have a very large disk size. It will then use RAM based on a percentage of disk space. We strongly encourage you to pick a RAM cache size that's fixed, which you know fits in your system.

Are there any plugins in use? Anything else that might help identify the leak? Did you try sending the "kill -USR1" signal to the running traffic_server? Doing

[2019-10-01 21:13] zwoop commented on #5886
Which version(s) of ATS is this? Is this a regression, or something old?

[2019-10-01 21:32] ywkaras commented on #5957
Nope I was totally wrong.  The fix is fairly simple and requires no change to the yaml-cpp file:

https://github.com/apache/trafficserver/pull/5977

[2019-10-01 21:59] thelounge-zz commented on #5936
8.0.1 since all follow up vesion are crashing randomly (https://github.com/apache/trafficserver/issues/4921) , dunno when this started, i just realized it randomly when calling curl without https

[2019-10-02 05:26] masaori335 commented on #5974
@reveller Could you take a look? It looks like the combination of `:pp` & `:ssl` goes something wrong. I tired some combinations with above settings (`8443:ssl:pp:proto=http`).
What is the expected behavior of ProxyProtocol over TLS ? (I'm not sure if it's make sense or not)

1) `curl -vs -k https://localhost:8443/ --http1.1 --haproxy-protocol`
  - PROXY preface : on, ALPN : on
  - 200 OK
2) `curl

[2019-10-02 13:27] shinrich commented on #5102
Seeing this in 9.0.x as well.  I had to set it to body_factory.   If it is set to assume that the install directory is the relative path root, the body factory fails to load and all error messages return.  From the client's perspective the connection just closes with no header or body.  But the logging occurs as expected.

In production, we would see clients retry the same failed request 1000's of

[2019-10-03 00:53] #5963 closed

[2019-10-03 06:09] sitnikov commented on #5931
Current use proxy.config.cache.ram_cache.size = 25769803776
![image](https://user-images.githubusercontent.com/140812/66103141-7968c600-e5bd-11e9-94ed-501969c4262c.png)

[code]

parent.config
dest_domain=.  parent="x.x.x.x:8080"   parent_is_proxy=false round_robin=strict

[2019-10-03 16:36] zwoop opened #5983 "WARNING: Head : Doc magic does not match for A59927059A6352992E4F017771557498"
This has been an ongoing issue for a while now, first reported back at

[code]

And also reported on #1906 (closed). We're still seeing this on production boxes as well, e.g.

[code]

Roughly happening every other minute or so. It's my undertanding, from looking at the previous issues, code, and talking to Alan, that this is a "self repairing" failure, in that the user will not experience an error

[2019-10-05 16:55] thelounge-zz commented on #5936
to make it clear: it should look like that (301 versus 302 don't really matter)

 <IfModule mod_rewrite.c>
  RewriteEngine          on
  RewriteCond            %{HTTPS} off
  RewriteCond            %{CONN_REMOTE_ADDR} !^10\.0\.0\.4
  RewriteCond            %{CONN_REMOTE_ADDR} !^10\.0\.0\.103
  RewriteCond            %{REQUEST_URI} !^\/\.well\-known\/acme\-challenge\/
  RewriteRule            (.*)

[2019-10-07 20:10] calavera commented on #5933
@bryancall I think this can be closed now:

https://github.com/apache/trafficserver/pull/5959#issuecomment-535117781

[2019-10-07 21:32] maskit opened #5995 "Max stream number is limited incorrectly"
4 stream types use one Stream ID space, so we cannot simply compare the number with a limit for max streams uni/bidi.

[2019-10-08 08:12] oknet commented on #5943
[code]

The `this->nh` is running at another EThread, the the `nh->mutex` has thread affinity for another EThread.

The line 1378 of UnixNetVConnection.cc just do one thing: try lock a `ProxyMutex` across `EThread`, it is a common operation.

[2019-10-08 16:38] randall commented on #5932
I would recommend adding https://github.com/apache/trafficserver/issues/5976 and https://github.com/apache/trafficserver/issues/5777 as blockers for 9.0.0

[2019-10-08 21:38] ericcarlschwartz commented on #4635
re: reproducing this, I can confirm we have also been seeing this @ yahoo!

would it make more sense to reuse existing pipes than remove the unlink?

[2019-10-11 23:57] calavera commented on #4128
I found this piece of information in Cloudflare's blog post interesting for future improvements:

[2019-10-11 23:58] calavera commented on #4128
I think this could be a good future improvement:

[code]

From Cloudflare's blog post: https://blog.cloudflare.com/introducing-0-rtt/

[2019-10-14 07:16] #5854 closed

[2019-10-14 10:41] jvgutierrez opened #6018 "Buffering post responses before sending them to origin servers"
**EDIT:** The behaviour described below is produced because ATS isn't buffering the requests and receiving them completely before sending them to the origin servers.

We've observed the following behaviour in our ATS/8.0.5 instances (and I can reproduce it locally with master as well). Sometimes aborted transactions are reaching the origin servers, I've been able to reproduce this locally with HTT

[2019-10-15 10:51] jvgutierrez commented on #6018
[Apparently](https://docs.trafficserver.apache.org/en/latest/admin-guide/files/records.config.en.html#proxy-config-http-send-100-continue-response) setting `proxy.config.http.send_100_continue_response` to `0` (the default value) should force ATS to buffer the request till the POST body is received and then send the request to the origin server. From the observed behaviour, this is not happening.

[2019-10-16 06:28] zizhong opened #6021 "make proxy.config.http.request_buffer_enabled configurable"
It makes sense to be configurable. Not every use case needs to use a plugin to get the body.

[2019-10-16 06:37] zizhong opened #6022 "assert error if the post body is sent with the request header with proxy.config.http.request_buffer_enabled"
proxy/http/HttpTunnel.cc:510
  ink_release_assert(0);

From the traffic server slack channel.

[2019-10-16 06:39] zizhong opened #6023 "The HTTPSM and ClientSession are leaked if body size is larger than proxy.config.http.post_copy_size with request_buffer enabled"
[code]

[2019-10-16 08:09] jvgutierrez commented on #6022
Thanks for the fix, `curl --http1.1 -X POST --data "test" http://127.0.0.1:3128/post` no longer crashes ATS but I'm seeing a weird behaviour with the requests described on #6018.
For debugging purposes I've set the slow log threshold to 1ms `proxy.config.http.slow.log.threshold: 1`.
A successful request like `curl --http1.1 -X POST --data "test" http://127.0.0.1:3128/post` gets logged as expected:

[2019-10-16 08:35] jvgutierrez commented on #6018
Answering my own question, it looks like for ATS <= 8.x the buffer_upload plugin can be used. The plugin allows to buffer requests either on memory or on disk and set a maximum request size to be buffered on memory, but if on disk buffering is enabled, it doesn't matter the size of the request body, it will always use the disk for buffering purposes. This can result on a performance penalty for sm

[2019-10-17 00:10] zizhong commented on #6022
Thanks for reporting the issue. I'll look into that later.

[2019-10-17 00:13] #6021 closed

[2019-10-17 00:14] zizhong commented on #6022
The original issue is fixed

[2019-10-17 00:14] #6022 closed

[2019-10-17 00:14] #6023 closed

[2019-10-17 18:01] zwoop commented on #5943
Resolved.

[2019-10-17 18:01] #5943 closed

[2019-10-17 18:32] bryancall commented on #5891
Merge changes in  #5906

[2019-10-17 18:32] #5891 closed

[2019-10-18 15:12] MarcoStuurman opened #6030 "QUIC compile"
Hi,

I tried to compile ATS with HTTP/3 QUIC support. I can't figure out why the configure says:

and when forcing it to build QUIC, the following error pops up:

[code]

I've compiled and installed https://github.com/tatsuhiro-t/openssl/tree/openssl-quic after that configured with  ./configure  --with-openssl=/root/opensslats/openssl/build --enable-debug

Anyone an idea to help me a step further?

[2019-10-18 15:36] maskit commented on #6030
The OpenSSL repo is correct, but I think you are on different branch. Can you rebuild OpenSSL on quic-draft-22 branch?

[2019-10-18 15:47] MarcoStuurman commented on #6030
I was using -23, thank you!

[2019-10-18 15:47] #6030 closed

[2019-10-18 16:02] maskit commented on #6030
It's in a bit complicated state. ATS supports QUIC draft-23, but we need to use quic-draft-22 for now, because -23 has different APIs. We are going to catchup the API change but it takes time a little.

[2019-10-21 14:14] fe-ax opened #6039 "QUIC keeps loading"
When connecting to a QUIC ats server the connection keeps hanging and eventually times out with only the following in strace:

[code]

Build with draft-22 ssl, anyone knows why?

edit:

CentOS 8
[code]

[code]

[2019-10-21 19:59] pipps opened #6040 "ATS 8.x appends DNS servers from /etc/resolv.conf by default. Changed from ATS vers. <8.x"
ATS 8.x appends DNS servers from /etc/resolv.conf by default.  Changed from ATS vers.  <8.x
This should be called out as the new default behavior in the documentation. Listing creating a bogus file as a work round.

[2019-10-21 20:01] zwoop commented on #6040
I think this would need to go into the release notes for 8.0.x as well.

[2019-10-21 20:57] maskit commented on #6039
I cannot tell anything from the strace output. Configurations look fine. Can you share the debug log output?

[2019-10-22 03:17] lexisen opened #6045 "traffic_manager crashed when restart the service. (trafficserver-7.1.8)"
[Thread debugging using libthread_db enabled]
Using host libthread_db library "/lib64/libthread_db.so.1".
Core was generated by `/opt/oss/share/NCE/ts/bin/traffic_manager --bind_stdout /'.
Program terminated with signal 11, Segmentation fault.
#0 memcpy (__len=8, __src=0x7ffeb792c478, __dest=0x7ffeb7717580) at /usr/include/bits/string3.h:51
51 return __builtin___memcpy_chk (__dest, __src, __len, _

[2019-10-22 07:19] MarcoStuurman commented on #6039
Here's the debug log, its quite empty, any way to raise the debug level further? If I set it to SSL instead of QUIC it works.

[code]

[code]

[2019-10-22 07:31] maskit commented on #6039
Can you share the client side log? It seems like the server doesn't receive any packets. "udp" debug log may shows something.

[2019-10-22 13:39] jrushford commented on #5976
@randall I've tried duplicating this while re-loading changes to parent.config.  I have not been able to duplicate it so far but, I'm not using jemallac on my test machine.  I'll try that next.  Is there anything else that you can think of that I should try?

[2019-10-22 16:41] SolidWallOfCode opened #6048 "Report invalid value failures from setting transaction overriddable variables."
Currently the plugin API presumes setting a transaction overriddable variable always works, even though the actual API supports reporting a failure. There are multiple levels to this, some of them are

*  The management conversion support returns `void`, which means it can't report errors.

*  The expression checking value from "RecordsConfig.cc" is used by the RPC interface for external
   proces

[2019-10-22 22:21] ywkaras opened #6050 "cssn log field should also report SNI server name for TLS over QUIC"
The cssn log field is the Client SNI server name that is (optionally) in the TLS Hello.  It currently only reports the server name for TLS running over TCP.

[2019-10-22 23:25] abh opened #6051 "traffic_top help text / option name is confusing"
I am guessing `--sleep` doesn't really enable the debugging output.

[code]

[2019-10-22 23:28] abh commented on #6040
Why is having it work this way a feature?  It's at best surprising and hard to see why anyone would want "both" like this.

[2019-10-23 04:53] masaori335 commented on #4736
We're facing this crash 9.0.x test (include #5163). And the members of ProcessManager are below.
[code]

Also, I found below log right before the crash.
[code]

It looks like `traffic_manager` received `SIGTERM` and the `ProcessManager` is stoped while `traffic_server` is loading certs.

[2019-10-23 07:54] lexisen commented on #6045
maybe caused by the command kill. close it.

[2019-10-23 07:54] #6045 closed

[2019-10-23 08:16] scw00 opened #6056 "QUIC Send ack every-second-ack-eliciting-packet"
https://tools.ietf.org/html/draft-ietf-quic-recovery-19#section-4

[2019-10-23 08:24] maskit opened #6057 "CONNECTION_CLOSE frame is broken"
CONNECTION_CLOSE frame ATS sends is broken. It seems like only reason field is sent.

[2019-10-23 08:29] maskit commented on #5743
IIRC, there was an update around this. Need to check the latest spec again.

[2019-10-23 08:32] maskit commented on #5562
QUICPathManager do this except sending packets on a specific path. This part will be covered by #4460.

[2019-10-23 08:32] #5562 closed

[2019-10-23 17:37] #5737 closed

[2019-10-23 23:41] #4736 closed

[2019-10-24 05:56] masaori335 commented on #5843
@maskit How did you add 100 random headers ?

[2019-10-25 02:40] hnakamur opened #6072 "If-Range must compare date with exact match"
https://tools.ietf.org/html/rfc7233#section-3.2

However trafficserver currently compares If-Range date with the Last-Modified using the less than operator.
https://github.com/apache/trafficserver/blob/15b0051fa2230bb60922943f4207b4a811f65430/proxy/http/HttpTransactCache.cc#L1384-L1395

[2019-10-25 04:29] maskit commented on #5843
I cannot reproduce the performance decrease with the 5695. It might be because of background processes.

[2019-10-28 01:12] maskit commented on #6057
Fixed.

[2019-10-28 01:12] #6057 closed

[2019-10-28 03:16] maskit commented on #5995
Fixed.

[2019-10-28 03:16] #5995 closed

[2019-10-28 08:38] bgoglin commented on #5250
FWIW, hwloc doesn't support NUMA on FreeBSD yet. We're working on it, but there are things we don't know how to do yet (e.g. retrieving the amount of memory in each NUMA domain).

[2019-10-28 21:49] zwoop commented on #4921
@thelounge-zz If you could try this package, that would really help us understand if we're on the right track with this:

https://ci.trafficserver.apache.org/src/tests/trafficserver-8.0.6-rc0.tar.bz2

[2019-10-28 22:13] thelounge-zz commented on #4921
sadly the same shit ("CONFIG proxy.config.http.allow_half_open INT 2" set with your tarball)
rolling back to 8.0.1 :-( :-(

Oct 28 23:09:29 proxy traffic_manager[949120]: Fatal: HttpSM.cc:2516: failed assertion `magic == HTTP_SM_MAGIC_ALIVE`
Oct 28 23:09:29 proxy traffic_manager[949120]: traffic_server: received signal 6 (Aborted)
Oct 28 23:09:29 proxy traffic_manager[949120]: traffic_server - STA

[2019-10-29 02:07] zwoop commented on #4921
The change here doesn't need that setting, but seems like it shouldn't matter if you set it to "2" though. This reproduces this fast on your site? Or do you have a way to trigger it ?

[2019-10-29 02:13] thelounge-zz commented on #4921
well, we host some hundret websites and it happens pretty fast but i would sell my soul for a clear "send this request and boom" but i don't have a clue what is going on in the usual mixed real world traffic

no way to trigger it oustide production :-(

[2019-10-29 02:53] scw00 commented on #6056
close via #6058

[2019-10-29 02:53] #6056 closed

[2019-10-29 02:55] PSUdaemon commented on #6018
@jvgutierrez can this issue be closed now?

[2019-10-29 03:17] tatsuaki96 opened #6091 "Problem with ATS7.x using a parent proxy"
IOS devices cannot access to https website when ATS7.x uses parent proxy.

Windows PC --> ATS7.x --> Squid --> Website(HTTPS) : The webpage showed correctly.
Windows PC --> ATS7.x --> Squid --> Website(HTTP) : The webpage showed correctly.
iOS devices --> ATS7.x --> Squid --> Website(HTTP) : The webpage showed correctly.
iOS devices --> ATS7.x --> Squid --> Website(HTTPS) : The webpage does not sh

[2019-10-29 14:59] PSUdaemon commented on #5957
@shinrich Looks like this has been resolved?

[2019-10-29 15:40] thelounge-zz commented on #4921
surely and the br-compremission is done by ATS too

[root@proxy:/etc/trafficserver]$ cat plugin.config
compress.so /etc/trafficserver/compress.config
header_rewrite.so /etc/trafficserver/header_rewrite.config

HTTP/2.0 200 OK
date: Tue, 29 Oct 2019 15:38:46 GMT
strict-transport-security: max-age=31536000
set-cookie: LOUNGE_ID=ovc5nonbem8626bdgu6a77tmi32p5ar1epilqfov; path=/; secure; HttpOnly
expir

[2019-10-29 15:47] #6072 closed

[2019-10-29 16:17] zwoop commented on #5763
Since traffic_cop is EOLifed, unless this is a common problem (which I don't think it is), we shouldn't spend time fixing this. Closing for now, but if you have a fix, please make a PR against the 8.0.x branch.

[2019-10-29 16:17] #5763 closed

[2019-10-29 16:25] ywkaras commented on #5957
Yes, I think it is.  Sorry, I should have followed up with this.

[2019-10-29 16:31] postwait commented on #5553
I am also supportive of this.  Drop the baggage.

[2019-10-29 17:08] randall commented on #6091
@tatsuaki96 Do you have any details as to the errors you are seeing ?

[2019-10-29 17:09] randall commented on #5976
@jrushford I'll try to run under valgrind/ASAN to see if I can get more details here.

[2019-10-29 17:20] zwoop commented on #5024
I do not see this on the "master" builds, so closing for now.

[2019-10-29 17:20] #5024 closed

[2019-10-29 17:23] randall commented on #2989
I think I addressed this in #4568

[2019-10-29 17:23] #2989 closed

[2019-10-29 18:11] bryancall commented on #5251
ATS is able to find zlib.h on my mac without any issues and the compress plugin is building:
[code]

[2019-10-29 18:11] #5251 closed

[2019-10-29 18:14] bryancall commented on #4977
closing for now

[2019-10-29 18:14] #4977 closed

[2019-10-29 18:14] bryancall commented on #5116
closing for now

[2019-10-29 18:14] #5116 closed

[2019-10-29 18:16] PSUdaemon commented on #5430
I looked into this a bit and it seems that we conflate a config value changing with the file that the config value points to. So it ends up showing restart needed because if you change the filename of ssl_multicert.config to something else, it does require a restart, however the file manager code simply says that the config file changed but it doesn't get interpreted correctly. This probably isn't

[2019-10-29 19:32] zwoop commented on #4921
@thelounge-zz  can you try https://ci.trafficserver.apache.org/src/tests/trafficserver-8.0.6-rc-zz1.tar.bz2 please ?

[2019-10-29 20:12] thelounge-zz commented on #4921
for 10 minutes up on the production server

"ab -c 250 -n 500000" and "ab -c 250 -n 500000 -k" against a 650 byte small gif image are fine (in 8.0.1 keep-alive is terrible broken which is besides the H2 security issues one reason i want to get rid of it better sooner than later) and until now no crash - knocking wood - it's 9 PM here and load is very low

[2019-10-29 20:13] thelounge-zz commented on #4921
i should habe kept my mouth shut :-(

Oct 29 21:12:39 proxy traffic_manager[1072131]: Fatal: HttpSM.cc:2516: failed assertion `magic == HTTP_SM_MAGIC_ALIVE`
Oct 29 21:12:39 proxy traffic_manager[1072131]: traffic_server: received signal 6 (Aborted)
Oct 29 21:12:39 proxy traffic_manager[1072131]: traffic_server - STACK TRACE:
Oct 29 21:12:39 proxy traffic_server[1072137]: Fatal: HttpSM.cc:2516: fai

[2019-10-29 21:44] zwoop commented on #5042
@bgaff I tried to reproduce this, following your steps above, but I could not get ASAN to show any leaks. Couple of questions:

1) Are the requests served out of cache, or proxied?

2) What size are they?

3) Anything else to help reproduce?? :)

[2019-10-29 22:15] zwoop commented on #5777
What the gist, physicist ? We need a fix for this for 9.0?

[2019-10-29 22:16] zwoop commented on #4921
aaaaargh...

[2019-10-29 22:19] zwoop commented on #5092
https://github.com/apache/trafficserver/pull/5386

[2019-10-29 23:25] hnakamur commented on #6072
Thanks!

[2019-10-30 02:20] maskit commented on #5251
@bryancall What does your configure script say? I have those header files but mine says `checking for zlib location... not found`, compress plugin is built though.

[2019-10-30 02:29] bgaff commented on #5042
If you couldn't repro any leaks with my instructions then I'd say someone fixed it along the way. The leak I was producing was very quick and very obvious. So closing this for now.

Hope things are well, shoot me a message when you're back in the bay!

[2019-10-30 02:29] #5042 closed

[2019-10-31 08:36] tatsuaki96 commented on #6091
The browser just times out without displaying any errors.
I also looked into the ATS's logs, but it seems that does not contain any errors.
So I enabled debug mode and checked the debug logs, then I found differences in it between iPad and others.
Other than iPad, these has a port number (443) in the Host header in the HTTP request, but iPad does not have it.
I guess it affects the behavior of ATS

[2019-10-31 14:00] jrushford commented on #5976
@randall ok, sounds good

[2019-10-31 18:51] ezelkow1 commented on #5957
Closing per @ywkaras

[2019-10-31 18:51] #5957 closed

[2019-10-31 18:54] calavera commented on #5777
We use stats_over_http a lot. It'd be a stopper for us to migrate to 9.0. I'm not familiar with the code enough to even start thinking on how to fix this issue :pensive:

[2019-10-31 19:01] #5933 closed

[2019-10-31 21:06] bryancall commented on #5933
yes, it can be closed

[2019-10-31 21:38] traeak commented on #5777
I'll reverify this again soon and do more testing to see the scope. Digging
in and fixing might be fun

On Thu, Oct 31, 2019, 12:54 David Calavera <notifications@github.com> wrote:

[2019-11-01 02:42] cnkedao opened #6115 "QUIC: draft-18 crash"
[code]

[2019-11-01 02:43] cnkedao commented on #6115
[crash-2019-11-01-101650.log](https://github.com/apache/trafficserver/files/3796487/crash-2019-11-01-101650.log)

[2019-11-01 02:52] maskit commented on #6115
Draft-18 is too old. Can you check if the crash happens on the latest code too?

[2019-11-01 08:20] maskit opened #6122 "Add support for logging multiple client's IP addresses to the access log"
Certain HTTP implementations use the client address for logging or access-control purposes. Since a QUIC client’s address might change during a connection (and future versions might support simultaneous use of multiple addresses), such implementations will need to either actively retrieve the client’s current address or addresses when they are relevant or explicitly accept that the original addres

[2019-11-01 08:30] maskit opened #6123 "Access control for QUIC connection migration"
Certain HTTP implementations use the client address for logging or access-control purposes. Since a QUIC client’s address might change during a connection (and future versions might support simultaneous use of multiple addresses), such implementations will need to either actively retrieve the client’s current address or addresses when they are relevant or explicitly accept that the original addres

[2019-11-01 16:22] thelounge-zz commented on #4921
what i see often in the logs with 8.0.1 are the following error messages - can this be related somehow and even if not - is i a good idea to flood logs that way - if a would be an attacker i would use mixed load (many connections without any data and close them, many connections per second, expensive connections, anything which can flood logs and so fill the disk and/or produce load)

[Oct 31 12:5

[2019-11-04 18:58] #4294 closed

[2019-11-04 21:37] SolidWallOfCode commented on #4825
When does this happen? It should be the case that when doing this, `signalActivity()` is invoked to wake up the sleeping thread. If you can point out a path where this doesn't happen, we can fix it.

[2019-11-05 00:45] scw00 commented on #4825
See here:

https://github.com/apache/trafficserver/blob/bbcffa075ede77058dbb713d8c9bc42e2f0f9e81/iocore/eventsystem/UnixEThread.cc#L245-L261

What happen if we schedule event in negative queue it seems we have no chance check external queue unless we are going to next loop.

[2019-11-05 15:07] SolidWallOfCode commented on #4825
Gah, we need to get rid of the negative queue.

[2019-11-05 21:25] traeak commented on #5777
This code in InkAPI.cc looks suspicious (diff between ats8 and ats9)
[code]
This shows up as a leak with -f and -F freelists turned off.  Will continue digging.

[2019-11-05 23:41] randall commented on #6051
Updated in 8 and 9 branches.

Help for option is now `Sets the delay between updates (in seconds)`

[2019-11-05 23:41] #6051 closed

[2019-11-06 00:16] calavera commented on #5777
I just checked, and neither the 8.0.x branch nor the 7.1.x branch have this change:

https://github.com/apache/trafficserver/commit/d846436ab22ea8c0283bd7656d2305974e79f8d1#diff-51c2386548dfd5af5047991b7b69edb0

I don't know if the solution is to revert that change, or the problem is more systemic than that.

[2019-11-06 00:58] traeak commented on #5777
It's more involved than that.  The change made was good, it's likely not
the issue but was hoping to tickle someone's ear who might be able to short
circuit my search.

On Tue, Nov 5, 2019 at 5:16 PM David Calavera <notifications@github.com>
wrote:

[2019-11-06 06:02] #6115 closed

[2019-11-06 20:55] SolidWallOfCode commented on #5777
Looking at the change, it appears it is now leaking one mutex per process. That is, the mutex is allocated once and then not cleaned up at process termination. As far as I can see it's just a reporting issue, not a real leak.

[2019-11-06 21:55] traeak commented on #5777
I'm seeing multiple mutexes being leaked under the proper condition (with -f and -F options to traffic_server, both for intercept handlers and plugins that create continuations per transaction).  I'm still digging down into it to see if it's only specific to when the freelist is turned off.

[2019-11-07 00:11] calavera opened #6150 "Very poor performance when diags.debug is enabled"
We've ran some benchmarks and the difference between having diags.debug enabled or not is abysmal. You can easily reproduce, the numbers in the screenshot below are from running h2load on my local machine:

`h2load --h1 -t 40 -D 60 -n 10000 -c 40 http://localhost`

![Screenshot from 2019-11-06 15-30-07](https://user-images.githubusercontent.com/1050/68348782-cace0e80-00af-11ea-9bf3-1b22f12053de.pn

[2019-11-07 09:13] ema commented on #4635
Fixed in master by #6076

[2019-11-07 09:13] #4635 closed

[2019-11-07 16:28] randall commented on #5777
I think it's more than just plugin as well. I saw a similar leak with `prefetch`:

[code]

[2019-11-07 16:58] SolidWallOfCode commented on #5777
Ah, if it's done per remap invocation, you'd leak if the continuation isn't cleaned up. But, if `TSContDestroy` is called, then that should drop the reference count on the continuation and clean up the mutex. I wonder if the problem is the continuation is scheduled for a hook that doesn't always occur. I generally also schedule on `TxnClose` to avoid that.

[2019-11-08 17:37] shinrich opened #6157 "ATS9: crash when DNS lookup fails on redirect host"
Started getting a variety of crashes in ATS9 with the latest set of updates made within a minute or two of taking traffic.  In all cases http_hdr_clone is at the top of the stack.  An example stack trace is below.

Turns out I had accidentally left follow redirects on because I forgot to update proxy.config.http.number_of_redirections to 0.  Once I did that, the crashes went away.

[code]

[2019-11-08 22:47] #5092 closed

[2019-11-11 05:02] maskit commented on #5743
On draft-24, PING frame is allowed at any encryption level. Although the paragraph on transport-24 was accidentally not updated, but its changeling and tls-24 say so.

[2019-11-11 07:28] lexisen opened #6161 "ATS 7.1.8: traffic_manager crashed when stop the service"
![image](https://user-images.githubusercontent.com/17465233/68568869-b6b35400-0497-11ea-8d41-71d39e0fd00e.png)

**### diags.log**
[Nov  9 13:53:44.985] Server {0xffff88f31010} NOTE: ssl_multicert.config done reloading!
[Nov  9 13:53:44.997] Server {0xffff88f31010} NOTE: traffic server running
[Nov  9 13:53:45.048] Server {0xffff870d81c0} NOTE: cache enabled
**[Nov  9 13:57:00.275] Server {0xffff88

[2019-11-11 08:13] duanfeixiang opened #6162 "ATS 7.1.8: traffic_server crashed when stop the service"
core文件堆栈：

[Thread debugging using libthread_db enabled]
Using host libthread_db library "/lib64/libthread_db.so.1".
Core was generated by `/opt/oss/share/NCECOMMONE/APINotifyProxyService/ts/bin/traffic_server --bind_st'.
Program terminated with signal 6, Aborted.
#0  0x00002ad26c2301d7 in raise () from /lib64/libc.so.6
Missing separate debuginfos, use: debuginfo-install glibc-2.17-157.el7.x86_64

[2019-11-12 17:33] traeak commented on #5777
I can hack brute force back out the Ptr<ProxyMutex> code and it not longer leaks.  That effectively restores the new_ProxyMutex() returning a valid ProxyMutex with a starting reference count of '0' (which is IMHO bad).  Working on a way to fix this forward instead of falling back.

[2019-11-12 18:56] mlibbey opened #6164 "header_rewrite regex replacement not implemented/not documented correctly"
The header_rewrite docs indicate that regex replacement should work as far back as I can find (https://docs.trafficserver.apache.org/en/4.2.x/reference/plugins/header_rewrite.en.html#values ... https://docs.trafficserver.apache.org/en/8.0.x/admin-guide/plugins/header_rewrite.en.html#header-values). But, there aren't examples on the page, and haven't been able to find an example that works. Eg
[cod

[2019-11-12 19:42] mlibbey commented on #6164
I'm happy to make the doc changes for whichever outcome.

[2019-11-13 02:01] mlibbey commented on #5795
Thanks for your report. You can see the updated diagram here:
https://docs.trafficserver.apache.org/en/latest/admin-guide/plugins/header_rewrite.en.html#hook-conditions
Can you close this out?

[2019-11-13 02:02] hankai17 commented on #5795
copy that

[2019-11-13 02:02] #5795 closed

[2019-11-14 21:41] shinrich opened #6171 "ATS9: Crash in HttpSessionAccept"
Testing our latest sync with the 9.0.x branch.  Got this stack 3 times in 30 minutes.

The value of new_session->accept_options appears to be bogus.  It should be the same value as the this pointer.  Presumably it got overwritten in the call to new_connection.  Actually the entire new_session object looks bogus.

{code}
(gdb) bt
#0  0x000000000051248c in HttpSessionAccept::accept(NetVConnection*,

[2019-11-14 23:32] shinrich opened #6172 "ATS9 crash on misconfigured start up"
Thought I had already filed this, but I don't see it now.  When starting up ATS9 with a bad remap config (referencing missing .so file), traffic_server crashes on the way down with the following stack.  This started happening after some of the later updates on the 9.0.x branch.

[code]

[2019-11-15 08:40] zwoop commented on #5254
Is this still an issue with ATS v8.0.5 ?

[2019-11-15 18:55] jrushford opened #6177 "The remap_stats plugin is causing traffic server to crash."
The remap_stats plugin is causing traffic server to crash.  Found this while load testing a build of traffic server from master with remap_stats enabled in plugin.config.

`Fatal: ../../include/tscore/BufferWriter.h:350: failed assertion
Traffic Server 10.0.0 Nov 15 2019 16:24:43 ipcdn-cache-34.cdnlab.comcast.net
traffic_server: using root directory '/opt/trafficserver'
traffic_server: received si

[2019-11-16 00:03] shinrich opened #6178 "ATS9: performance regression"
Just synced our internal test branch with the open source 9.0.x branch.  When I installed the resulting package on our canary production box, the average response latency more than doubled from around 120ms to over 450ms.

Running my python analysis script over squid.log files with the previous build and the new build show that the change is in HTTP/2 transactions.

Previous build H2 stats
[code]

[2019-11-16 03:26] zwoop commented on #4921
Another thought I had is that maybe the half-opened was a red herring, and this issue has been in 8.0.x all along (introduced somewhere between 7.1.x and the v8.0.0 release). My thinking is that with v8.0.0, we broke Keep-Alive, so maybe in that version, this can't trigger because the connections are closed so fast. But once fixed, the error occurs again.

Sudheer suggested a test, where if you tu

[2019-11-16 04:17] thelounge-zz commented on #4921
hmm - but wouldn't it than also be triggered with "ab -c 150 -n 250000 -k" which is broken in 8.0.1 (meaning it fails without errors on the server side as far as i know) and works with later versions?

[2019-11-16 16:05] shinrich commented on #5944
Updating with notes I've made internally on tracking this issue for the past month or so.

The immediate problem is that a handler is being called on a deleted continuation.

[code]

So the hook invocation was unable to get the continuation lock, so it rescheduled for 10ms into the future. Eventually something deleted the continuation, making the mutex null, so we got the weak lock, but then the d

[2019-11-17 03:38] #5807 closed

[2019-11-17 03:40] zwoop commented on #4921
Hmmm, I've never been able to reproduce with a simple "ab" in my testing :-/. With or without "-k".

[2019-11-17 04:04] thelounge-zz commented on #4921
well, that's why i wonder how it can be keep-alive, however i iwill gibe 8.0.5 with disabled keep alive a try but not now, 5:00 AM here and busy with coding stuff behind the proxy :-)

[2019-11-18 10:36] bryancall opened #6192 "Issue with macOS Catalina and pcre 8.43 enabling pcre-jit"
Fixed this in #6189 by ifdef for Darwin and not building with pcre jit in that case.  We should remove this in the future when it is working again.

[2019-11-18 11:12] maskit opened #6194 "Dup NCIDs have to be ignored"
ATS receives dup NCID frames as additional NCIDs and it causes a connection error if it exceed the max CID limit, but it must not.

[2019-11-18 16:54] #6177 closed

[2019-11-18 16:54] SolidWallOfCode commented on #6177
Fixed by #6181.

[2019-11-18 19:22] shinrich commented on #6178
Working on the HTTP/2 support for http-replay, I think I see the cause of the problem.

When working with master, replaying a 304 response was stalling.  The header would come back right away, but the EOS bit was not set.  A little later after the inactivity timeout triggered, a DATA frame with the EOS bit set was sent.

Reverting this commit from master and trying again, the response was sent and

[2019-11-18 20:39] shinrich opened #6195 "Should have documentation on the .body_factory_info file"
Dave Carlin noticed that this .body_factory_info file must be present to load the body templates in that directory, but our documentation does not say what this file should contain.

[2019-11-18 21:40] shinrich commented on #6178
Unfortunately, I just installed a test build on our canary production box with the PR #6196 patch applied, and the average response time is still inflated.  A little better than without the patch, but not as good as reverting the Dechunk commit.  370ms 9.0.x plus this EOS path vs 100-200ms with the Dechunk commit reverted.

[2019-11-19 00:00] #5243 closed

[2019-11-19 00:17] masaori335 commented on #6178
It looks like #6196 only works for HEAD and CONNECT requests. `is_response_body_precluded(HTTPStatus status_code)` might work for GET IMS request.
However, IMO, we should not rely on the HTTP method nor status code for EOS. Let me think of another approach.

[2019-11-19 01:50] masaori335 commented on #6178
@shinrich Could you try #6199? In these header-only response cases, the upstream layer of H2 set the `write_vio.nbytes`, so when `write_vio.ntodo()` becomes 0, the stream could be set END_STREAM flag. ( In this 304 response case, `HttpTunnel::producer_run()` set it )
This is the same way of what HTTP/1.1 is doing.

[2019-11-19 03:18] masaori335 opened #6202 "H2 stream is closed by sending 100 Continue response"
When the POST request on HTTP/2 connection has `Expect: 100-continue` header, the stream is closed right after the sending `100 Continue` response.
The stream should not be closed until complete sending a final status code.

This is obviously violation of [rfc7231 5.1.1. Expect](https://httpwg.org/specs/rfc7231.html#header.expect)

Affected version: 8.0.x, 9.0.x, master.

Below is debug log with h

[2019-11-19 07:22] maskit commented on #6194
With 0fd40f358d6865b76bae95a94e9403015baf61e8, NCID frames that have sequence number already received are ignored.

We should probably add checks for the second paragraph.

[2019-11-19 10:20] thelounge-zz commented on #4921
indeed, no crash for 7 hours, well - given that we now have https eveyrwhere non-keep alive is really expensive when each and every image, javascript and so on triggers a new handshake :-(

CONFIG proxy.config.http.keep_alive_enabled_in INT 0
CONFIG proxy.config.http.keep_alive_enabled_out INT 0
----------------------------
maybe that fu***ers in case of enabled keep alive would be the trigger?

[