[2020-10-23 16:25] shinrich commented on #7255
I have a solution.  Will put up a PR shortly for you to try @calavera.  I want to add an autest as well to catch the regression.

[2020-10-23 22:07] shinrich commented on #7174
Yes, that does make sense.  Just never got around to it.  A pressing need has not come up yet for us, bit it should not be too hard to add.  Need to ensure that the appropriate openssl API exists for that.  I'll go do some research on that.

[2020-10-25 19:37] bryancall opened #7296 "Benchmarking BufferWriter"
I am seeing BufferWriter slower than snprinf and fmtlib.  Here are are the benchmark numbers:
[code]

Here is the code I am running for the benchmark:
https://github.com/bryancall/format-benchmark/tree/mo_benchmarking

Here is a discussion I was having today with the author of fmtlib:
https://github.com/fmtlib/format-benchmark/issues/20

[2020-10-25 19:41] zwoop commented on #7296
Seems we should pull in Fmtlib ? What's the license ?

[2020-10-25 20:15] bryancall commented on #7296
@zwoop it is a pretty open license: https://github.com/fmtlib/fmt/blob/master/LICENSE.rst

[2020-10-27 00:22] #3813 closed

[2020-10-29 10:11] mingzym opened #7303 "Update README to include zlib dependency"
we need to update README to include zlib dependency. just find out that on a fresh installed Ubuntu.

[2020-10-29 19:18] GeorgeHahn opened #7304 "9.0.x Leaks memory when origin returns 404"
trafficserver 9 leaks memory when reverse proxying to an origin that returns 404.

trafficserver commit: 294723fdefd86c11153b297c88bcabca7cceb7aa

After 1000 requests:

[code]

### Reproduction
Origin: minimal server that returns 404 to all requests
ATS remap config: `map / http://127.0.0.1:8080`. I can share other configs if they would be helpful.
client: `for i in {1..1000}; do curl -s -i --reso

[2020-10-30 00:31] maskit commented on #7303
Yes, and I think we should check the availability on configure script. #5837

[2020-11-02 17:50] shinrich opened #7308 "Client inactivity timeout triggers during slow origin processing POST request"
@djcarlin has been debugging an issue for one of our clients.  They are seeing unexpected POST upload failures.  Looking at packet captures,  traffic log entries, and HTTP debug messages, the client is dutifully sending all the bytes in the post body (64-200 MB of data).  But 30 seconds after post body transfer completes, the transaction fails with a ERR_CLIENT_ABORT.  We see no traffic from the o

[2020-11-02 18:46] #7255 closed

[2020-11-02 20:06] traeak opened #7310 "header rewrite overrides request_header_max_size too late"
Tested with 8.1.x In a remap header rewrite file the following:

cond %{REMAP_PSEUDO_HOOK}
set-config proxy.config.http.request_header_max_size 1

doesn't get applied until *after* the header size check is made in HttpSM.

The code and docs seem to indicate that this parameter should be overrideable.

workaround for this particular issue is to use the cqhl log value.

[2020-11-05 02:20] zrhoffman commented on #6855
[Fedora's `trafficserver` RPM repo](https://src.fedoraproject.org/rpms/trafficserver/blob/d8dfde2879/f/dead.package) links to [FESCo issue #2080](https://pagure.io/fesco/issue/2080), which mentions unsuccessful attempts to contact the package's maintainer, @janfrode, followed by a vote to orphan the package.

Either

* The EPEL section should be removed from the Getting Started page, or
* Someone

[2020-11-05 05:32] maskit commented on #5968
I looked into the code, and the only finding was that the way to allocate a buffer for LogBuffer depends on `log_buffer_size`. With the default value the buffer is allocated by IOBufferAllocator, but with the size of 32KB the buffer is allocated by `ats_malloc`. The threshold for switching allocators is `proxy.config.log.io.max_buffer_index` (the default size is 32KB).

If use of `ats_malloc` is t

[2020-11-05 17:05] mtorluemke commented on #7196
+1 for getting this fix in -- seeing this issue in production as well.

[2020-11-06 17:36] shinrich opened #7312 "Client cert reload from sni.yaml not reliable"
@thebadpete had problems with "traffic_ctl config reload" not picking up updates of client certificate files specified in sni.yaml even after touching the sni.yaml file.  This case is exercised in the tls_client_cert autest, but with the larger sni.yaml file used in production, the sni.yaml was being reloaded but new client certificates were not taking affect without traffic_server restart.

[2020-11-06 20:42] #7196 closed

[2020-11-09 21:51] jrushford opened #7314 "assertion on master in http_hdr_status_get()"
On a ATS master while reviewing a PR, I came across an assertion failure in http_hdr_status_get() with a debug build.  I immediately get an assertion  after sending a curl for an object not in cache and that is forwarded upstream to a parent.  When checking the server response at HttpTransact.cc:383, ats crashes an assertion on s->hdr_info.server_response.m_http is checked.

Here is data collected

[2020-11-09 21:59] jrushford commented on #7314
One difference I've seen between the debug build and production build is that in the HttpSM::main_handler() the vc_entry lookup at line 2648 returns null  here on the debug build:

`   2643   if (data != nullptr) {
   2644     // Only search the VC table if the event could have to
   2645     //  do with a VIO to save a few cycles
   2646
   2647     if (event < VC_EVENT_EVENTS_START + 100) {
   2

[2020-11-11 02:05] ywkaras commented on #7314
I think you mean this assert:  https://github.com/apache/trafficserver/blob/ef18164093454f44384c5d5c8de2937a9edd6675/proxy/hdrs/HTTP.h#L1171 .  But, from the stack dump, it looks like it was a SEGFAULT from the hh pointer being null, that triggered before the assert could be evaluated.

[2020-11-11 02:53] masaori335 opened #7315 "8.1.0 Crash on write_dns"
We faced crashes on v8.1.0 when the DNS server gets slow.

[code]

[2020-11-11 03:00] masaori335 commented on #7315
[code]

It looks like `ProtectedQueue` on frame 4 is pointing to an invalid address.
[code]

This might be made by referring `thread_holding` of unlocked mutex on `write_dns_event`.
[code]

https://github.com/apache/trafficserver/blob/c080cc1ec39e21b04ba28e76a6ad80927b71f798/iocore/dns/DNS.cc#L1144

[2020-11-11 15:40] jrushford commented on #7314
@ywkaras yes, you are correct.  It was a segfault when that ink_assert() is called due to the null hh pointer.

[2020-11-11 19:54] bryancall commented on #7304
@GeorgeHahn How are you building ATS?  I am having a hard time reproducing the issue.

[2020-11-11 20:08] bryancall commented on #7304
The only leak I am seeing in ATS is the one I am creating in main:

[code]

[2020-11-11 20:09] zwoop commented on #7304
It's also dubious that the leak is in 6 blocks with 1000 requests. If it leaked on every 40x, wouldn't there be 1000 leaks?

[2020-11-12 00:09] maskit opened #7317 "HTTP/0.9 over QUIC is broken"
This is not a big deal as it's just for interop, but it's broken now.

[code]

[2020-11-12 00:10] maskit opened #7318 "HTTP/0.9 over QUIC is broken"
This is not a big deal as it's just for interop, but it's broken now.

[code]

[2020-11-13 07:21] masaori335 opened #7319 "9.0.x SplitDNS is not working"
On investigation of #7315, I found that SplitDNS is not working at master & 9.0.x with the same configs which I used for 8.1.x.

Debug log says the splitdns fallback to default dns resolver.
[code]

It looks like `SplitDNS::findServer()` always returns `DNS_SRVR_UNDEFINED` when the fast path is enabled (`SplitDNS::m_bEnableFastPath`).

[2020-11-13 07:23] masaori335 commented on #7319
The removing TCL dependency change from `HostLookup` looks root cause.
https://github.com/apache/trafficserver/commit/a7d06b85e5253ac118dda36bef11311d8d9c1ffe

[2020-11-13 07:44] masaori335 commented on #7319
With #7320 fix, the assertion of mutex in `Continuation::handleEvent()` is failed. Which is the same symptom as #7315 (crash on 8.1.x). Please note that the 8.1.x doesn't have the assertion.
[code]

[2020-11-13 07:45] masaori335 commented on #7315
I'm pretty sure this happens with SplitDNS. The `DNSHandler` mutex of `SplitDNS` is not locked.

[2020-11-13 13:44] traeak opened #7322 "regex_revalidate immutable rules confusing"
Through traffic control we have a limited way for end users to issue revalidations.  Unfortunately the regex_revalidate plugin as-is will skip new rules with a certain regex if that rule has already been loaded.  If an end user sets a 30 day revalidation for a live linear asset manifest endpoint the reissue has no effect and we end up issuing a new equivalent regex but different regex to start new

[2020-11-13 16:23] bryancall commented on #7304
Closing for now.  I ran some benchmarks on HTTP/1.1 (with and without TLS) and HTTP/2 doing millions of requests and only saw the memory leak that I added to traffic_server's main function.

[2020-11-13 16:23] #7304 closed

[2020-11-13 17:56] mitchell852 commented on #7322
Here is what we are experienceing:

[code]

Since we don't really know when the invalidation for rule #1 occurs, we leave that rule in until it expires....which basically blocks subsequent rules...

[2020-11-15 08:52] Dorjpalam opened #7324 "Video streaming issue on traffic server"
Hi ,

We are using traffic server as video streaming CDN. We have 2 server each 1,4TB SSD and 10G network interface. During peak hour video stream hard to watch and buffering in client side. Server's load average and Memory are higher than normal state. But streaming bandwidth is around 3Gbps on all 3 server total. We wondering that we have potential only 3Gbps bandwidth on streaming but it has hi

[2020-11-16 13:48] shinrich commented on #5230
@maskit I am not following your comment about the "Literal Field Never Indexed".  Can you say a few more words on this?

[2020-11-16 14:43] maskit commented on #5230
It's a header field representation defined on HPACK.

https://tools.ietf.org/html/rfc7541#section-6.2.3

   appending a header field to the decoded header list without altering
   the dynamic table.  Intermediaries MUST use the same representation
   for encoding this header field.

https://tools.ietf.org/html/rfc7541#section-7.1.3

   indexed literal representation with another representation tha

[2020-11-16 16:11] shinrich commented on #5230
Hmm.  That is an unfortunate tie between the inbound and outbound sides.  It seems that some implementations like Cloud Flare must be ignoring this constraint since they are mapping to HTTP/1.1 in their environment (multi-process) before mapping back to HTTP/2 before sending the packets on.  It seems unlikely they can be accurately tracking the never-indexed aspects of the headers in that environm

[2020-11-16 16:19] shinrich commented on #5230
My thoughts on this just thinking about the HttpSM and the ProxyTransactions, is that the we simply push the parsing/serialization into the ProxyTransaction classes.   In that case the HttpSM only deals with a possibly canonicalized form of HttpHdr.

The tricky bit with that is the buffer based do_io interface between the ProxyTransaction and the HttpSM.  We would need to augment that interface to

[2020-11-17 01:00] maskit commented on #5230
The limitation for intermediary is also on QPACK spec.
https://quicwg.org/base-drafts/draft-ietf-quic-qpack.html#section-4.5.4
https://quicwg.org/base-drafts/draft-ietf-quic-qpack.html#section-7.4

I think keeping the representation info is not so difficult if we use HttpHdr. I'd add "sensitive" flag to MIMEField. I proposed it once at the very beginning of HTTP/2 implementation, but it was omitte

[2020-11-17 17:37] duke8253 opened #7327 "Remove unnecessary check when scheduling"
While reviewing some other code I noticed in a previous PR #6103, I added this check in `EThread::schedule` to keep it consistent with the behavior in `EventProcessor::schedule`.
https://github.com/apache/trafficserver/blob/master/iocore/eventsystem/P_UnixEThread.h#L99

But since we are setting `e->ethread = this`, this check becomes redundant.
https://github.com/apache/trafficserver/blob/master/i

[2020-11-19 16:54] duke8253 commented on #7327
Closing this for now, need to rethink through this.

[2020-11-19 16:54] #7327 closed

[2020-11-19 18:02] shinrich opened #7333 "9.0.x use-after-free crash"
We resynced with the ASF 9.0.x branch as of 11/10.  The resulting build crashes for us with production traffic within 15-60 minutes.

I split the discussion of PR #7237 to Issue #7338

The crash with PR #7237 has the InactivityCop on the stack. It appears to be trying to send the inactivity timeout to a freed continuation that is still being referenced by the read.vio.  I believe that I have a fix

[2020-11-19 18:44] shinrich commented on #7333
Interestingly, the crashes associated with PR #7278 all seem to be with the Http2 client.  Here are a couple stack traces.

[code]
[code]
[code]

[2020-11-19 21:05] sudheerv commented on #7333
Ah, we are not seeing this because we don't have this in our HTTP/2 env.

[2020-11-19 22:00] shinrich commented on #7333
Got an ASAN use-after free when running in our prod-sim environment
[code]

[2020-11-20 00:25] shinrich commented on #7333
We also got a similar asan that was reported as a double free on the netvc object.

[2020-11-20 00:27] shinrich commented on #7333
T11 will be in the event loop looking at the close flag on the netvc.  It will not try to acquire the read vio's mutex before calling close_vc.

[2020-11-20 00:30] sudheerv commented on #7333
Ah gotcha! As discussed on slack though, if we do not set `close` flag asap (or at least, prior to setting read.vio.cont to nullptr), a rescheduled read may end up getting unblocked (due to read.vio.cont.mutex not valid anymore) and perform net_read_io and can cause issues. One potential workaround might be to move setting close to latter, but, defer setting read.vio.cont and write.vio.cont to nul

[2020-11-20 02:07] shinrich opened #7338 "9.0.x Inactivity Cop Crash"
Originally this was part of issue #7333, but since there were two problems, I'm separating the issues, so there will be one issue per PR.

We resynced with the ASF 9.0.x branch as of 11/10. The resulting build crashes for us with production traffic within 15-60 minutes.

The crash with PR #7237 has the InactivityCop on the stack. It appears to be trying to send the inactivity timeout to a freed co

[2020-11-20 07:13] masaori335 opened #7339 "Incoming PROXY Protocol v2 Support"
ATS has incoming PROXY Protocol v1 support from 8.0.0 (#3956). This is an issue to add v2 support.

- [x] Incoming PROXY Protocol v1 refactoring & unit tests (#7331, #7332)
- [x] Incoming PROXY Protocol v2 support (#7340)

[2020-11-20 07:55] maskit opened #7341 "☂️ATS is incompatible with OpenSSL 3.0 (unreleased)"
Several functions are going to be deprecated since OpenSSL 3.0.

- [ ] SHA256_Init/Update/Final
- [ ] ERR_get_error_line_data
- [ ] ENGINE API (e.g. ENGINE_get_default_RSA)

[2020-11-20 21:50] #2543 closed

[2020-11-20 22:02] shinrich opened #7346 "proxy.config.http.send_100_continue_response default should be changed to 1"
I'm opening a new issue rather than reopening effectively the same older issue #2543.  This original issue was closed deciding that it would be more standards compliant for the origin to product the 100-continue response.  And in general I agree.  However, with this setting set to 0, the exchange between the user agent and ATS is not standards compliant if the Expect header is set to 100-continue.

[2020-11-21 01:14] shinrich opened #7348 "host_sni_policy and SNI ip_allow do not work as expected"
This issue was observed by Vinith.  He had a sni entry for one domain  that had client ip address restrictions specified in sni.yaml via the ip_allow action.  He also had the proxy.config.http.host_sni_policy set to the default value of 2 which should be cross checking host header for security specific sni policies if the sni and the host header value do not match. However, he was able to evade th

[2020-11-23 18:23] #7333 closed

[2020-11-25 09:23] ancjf opened #7353 "static link"
I run:
[code]

There will be an error:
[code]

place:
src/Makefile
::traffic_server_traffic_server_LDADD
::traffic_manager_traffic_manager_LDADD

The link order is wrong, libtscore.la should be placed later

In this way, you can compile it on raspberry, and then copy trafficserver to other arm machines to run. Please correct this problem so that trafficserver can better support static compilation

[2020-11-26 22:57] #7319 closed

[2020-11-26 22:58] #7315 closed

[2020-11-30 20:03] #7312 closed

[2020-12-02 17:30] #7348 closed

[2020-12-03 00:40] masaori335 commented on #7353
@ancjf Seem like you have a patch. Could you open a PR?

[2020-12-03 21:21] duke8253 opened #7369 "Thread config tests failing for no reason"
https://ci.trafficserver.apache.org/view/10.x%20master/job/autest-master/581/console

[2020-12-04 01:24] masaori335 commented on #7369
Is this the same issue to #5913?

[2020-12-04 14:57] #7338 closed

[2020-12-04 15:57] thelounge-zz commented on #7151
8.1.1 looks very similar

  CXX      ParseRules.lo
  CXXLD    libtscore.la
ink_hrtime.cc: In function 'int64_to_str':
ink_hrtime.cc:146:10: warning: function may return address of local variable [-Wreturn-local-addr]
  146 |   return out_buf;
      |          ^
ink_hrtime.cc:49:8: note: declared here
   49 |   char local_buf[local_buf_size];
      |        ^
Making all in iocore
Making all in even

[2020-12-07 07:06] mustafa1024m commented on #1694
Can you reopen this please, this behaviour has not changed so it is still causing problems to VOD usecase, thousands of range requests but no whole object requests.

[2020-12-07 11:38] c-taylor opened #7372 "Crash using lua sleep examples"
ATS version 8.1.x

I was able to consistently cause server restarts when using the ts.sleep function as per examples in the admin guide.

### Configuration
[code]

sleep-request.lua:
[code]

Hooks that crash:
“TS_LUA_HOOK_(SEND|READ)_RESPONSE_HDR”
“TS_LUA_HOOK _CACHE_LOOKUP_COMPLETE”
“TS_LUA_HOOK_SEND_REQUEST_HDR”

Hooks that don't crash:
“TS_LUA_RESPONSE_TRANSFORM”
“TS_LUA_HOOK_TXN_CLOSE”
“TS_LUA

[2020-12-07 12:14] c-taylor opened #7373 "TLS session cache global lock performance."
When performing a TLS handshake microbenchmark: The TLS session cache lock causes TLS handshake rate to drop as more ET_NET threads are added. This is a problem as crypto operations on a system scale horizontally by core, and yet ATS scales inversely in this aspect.

Benchmarking tools: tls-perf or a 0 byte reply from a standard HTTP benchmarking tool.

perf tracing shows that ET_NET threads spend

[2020-12-07 17:22] shukitchan commented on #7372
Can you share the stack trace when it crashed ?
Also I understand that i understand that it crashed only when some work loads are put onto it. Can you elaborate on that, too? Thanks.

[2020-12-07 18:01] c-taylor opened #7374 "Avoid locks in DiagsError when target is syslog"
Various thread wide warn/note messages cause excessive lock contention.

I note from:
include/tscore/Diags.h
src/tscore/Diags.cc
https://github.com/apache/trafficserver/blob/fef47d7919e0f87e4f650dfb26742c3a0482091b/src/tscore/Diags.cc#L250

That note() and other messages have an explicit lock. This is a problem on busy systems when there are:
* Many threads
* Messages that cause all thread to log

[2020-12-07 18:35] c-taylor opened #7375 "getHostStatus needs thread local storage"
As parents of a topology are marked down under load, 'HostStatus::getHostStatus' can cause excessive lock behaviour resulting in high system time, reduced output and stats holes.

When performing failure testing: Overloading configured parents causes lock contention on the stats storage.
It was possible to consume almost all ET_NET thread time with a few failing parents and fewer than 5,000 RPS.

[2020-12-07 20:06] jrushford commented on #7375
@c-taylor Was this on master or which release are you testing?

[2020-12-07 21:01] c-taylor commented on #7375
8.1.1 in this case.

[2020-12-07 21:05] c-taylor commented on #7372
I’ll check on the stack trace...

Workload was quite simple: The first few requests in a cache hit/miss spread <1 second I would estimate.

[2020-12-07 21:26] jrushford commented on #7375
@c-taylor ok.  I've got some ideas about this, I'll dig into it.  I'll try to replicate this, you lowered the connection limits on your parents to trigger it?

[2020-12-07 21:56] vmamidi commented on #7375
HostStatus structures aren't currently optimized. It was a planned task in the project
 https://github.com/apache/trafficserver/projects/7

[2020-12-07 22:17] c-taylor commented on #7375
@jrushford , consistent hash yes

I’m using a load generator with 3 request types.

ControlA: Cache hits at about 3200 RPS
ControlB: Cache miss at about 800 RPS
TestA: Constant arrival rate requests to a URL that sleeps on the backend.

This builds a head of connections until they time out...

I suspect there are other methods that would also work...

[2020-12-07 22:44] c-taylor commented on #7372
Stack trace attached: A few redactions, let me know if it's too mangled.

[sleep_lua_stack.txt](https://github.com/apache/trafficserver/files/5655649/sleep_lua_stack.txt)

[2020-12-08 05:31] shukitchan commented on #7372
Mark told me that it happened with over 1000+ RPS on that machine . So you are saying that a few requests only will cause the crash?

I think I can reproduce this . But I have a simple setup on my mac/minikube/ATS on docker. I can do 100+ RPS with no problem and get a similar crash as you a few seconds later if i put 200+ RPS load on the setup.

[2020-12-08 07:01] togear commented on #6684
I have the same questtion, anyone can answer for us?

[2020-12-08 07:02] togear commented on #6661
This is my understanding, i don't know if it is right;
min_average_object_size  control the object size to put into the ram;
proxy.config.cache.target_fragment_size and the total disk determines how many direntries can serve

[2020-12-08 13:51] c-taylor commented on #7372
Sorry, I never tried to identify if this was a request rate, concurrency or total with respect to triggering.

It was sub-1 second into a load test that was 500 req/sec. It sounds like you have a trigger, so I won't add more for now.

[2020-12-08 21:25] jrushford commented on #7375
@c-taylor I submitted PR #7377 that I think will help.  It removes a couple of redundant calls to getHostStatus() in ParentConsistentHash::selectParent().  Also, when getHostStatus() is called, it checks to see if the internal unordered_map that it uses is empty or not.  If empty, ie no parents marked down with traffic_ctl` there is no need to lock and search the map so, it returns right away with

[2020-12-09 11:33] c-taylor commented on #7375
@jrushford Thank you.

It will take a few days to re-factor to 9.x and re-test, so please bear with me.

My suspicion is that general running will improve but there may still be some contention under failure modes like that which i trigger in my reproduction case. It looks as though there might be reduced overall lock activity, which will bring this to an acceptable level: Test will show this (jus

[2020-12-09 14:38] c-taylor opened #7378 "ET_AIO “Connection Timed Out” investigation"
I wanted to share some really unusual system calls on ET_AIO threads. I think it's odd enough to warrant further investigation as the cause/impact is uncertain.

When looking at system calls on a running system, even with light or no activity, the following can be observed.

[code]
The interesting thing about all of the PIDs is that they are ET_AIO threads, which in theory manage no connections.

[2020-12-09 15:26] jrushford commented on #7375
@c-taylor I'm continuing today to replicate your observations and will keep you posted.  I was wondering since the PR patch is minor, perhaps you could cherry-pick it on top of the 8.1 build your were originally testing with to eliminate any other changes in 9 that might affect the behavior.  Also, I think that I do need the read locks on the unordered map as an insert might invalidate a read iter

[2020-12-09 18:04] c-taylor commented on #7375
Thank you for this. I've been being educated by @vmamidi off issue.

[2020-12-09 22:50] masaori335 opened #7379 "8.1.1 High ERR_CLIENT_ABORTs"
We observed high ERR_CLIENT_ABORTs on 8.1.1. We haven't seen this issue prior to this version.

~~So far, dc7b8691cfe0c4d77c102b49e4bd80a34f5cad42 is the suspicious commit, but it's unclear how it's making the issue. Because we're not using `proxy.config.http.attach_server_session_to_client` (= 0 as default).~~
It turned out dc7b8691cfe0c4d77c102b49e4bd80a34f5cad42 is unrelated.

[2020-12-09 23:00] masaori335 opened #7380 "8.1.1 Memory Leak on following redirect"
We observed a memory leak on 8.1.1. This happens only on parent nodes. We don't see the leak on child nodes.

We're trying to narrow down which commit is making the leak. The current list is below.

[code]

[2020-12-09 23:07] masaori335 commented on #6833
We haven't seen this crash last 3 months. Some recent changes after May might fix. Please reopen if anybody faces this crash on 8.1.x.

[2020-12-09 23:07] #6833 closed

[2020-12-10 06:09] masaori335 opened #7381 "proxy.process.net.calls_to_* stats needs cleanup"
ATS has 8 `proxy.process.net.calls_to_*` stats. But some of them are not working or meaningless.

List of `proxy.process.net.calls_to_*` stats
https://github.com/apache/trafficserver/blob/472075bd7b5755cc1d8bf9a4bbf750474c4da53c/iocore/net/Net.cc#L84-L91

1). `net_calls_to_readfromnet_stat` and `net_calls_to_readfromnet_afterpoll_stat` are always 0.
Both of them are never incremented.

2). `net_ca

[2020-12-11 08:56] zds05 commented on #7324
how about disk util,and how much MB every disk,if each sever around 1200 on each server,it is abort 1.2G,the disk may be over used

[2020-12-11 14:11] giorgiozoppi commented on #7296
and moving at c++20?

[2020-12-11 18:41] bneradt commented on #7374
Thank you Craig for filing this.

Just a quick note to record this: the proposed log throttling mechanism would be a potential mitigating feature for this issue. The draft PR is here and there is a design email on the dev mailing list:
https://github.com/apache/trafficserver/pull/7279

[2020-12-11 18:52] c-taylor commented on #7374
I completely agree.

There are many examples of thread-wide messages all with the same trigger/lock race.
I suspect a minor re-factor to the lock/write logic and the log suppression PR combined will make ATS behave more predictably during failure scenarios.

[2020-12-11 19:12] bneradt commented on #7374
It looks like we decidedly unlock before writing to syslog on all systems except FreeBSD. Just to make sure we're on the same page: @c-taylor can you verify that you seeing these issues on FreeBSD systems?

The unlock for all systems other than FreeBSD was done a while ago here:
https://github.com/apache/trafficserver/commit/25adb7e8e81b26f93d6f70fd7f06d821174e0df0

The ticket referenced by that c

[2020-12-11 19:39] c-taylor commented on #7374
Totally agree.

I this case I’m suggesting the:

1. lock()
2. Conditional
3. Unlock() - unless BSD
4. Syslog

Always has superfluous locks when the targets are syslog on linux.

Re-ordering to: (4,1,2,3)
Is likely the easiest way to reduce this overhead, especially on systems where syslog is the primary message target.

[2020-12-11 20:13] duke8253 commented on #7373
After looking at the code related to the session cache, I think what we can do now is:

- Decrease the default session bucket size, that should help with having less threads stuck on the same bucket for insert operation.
- Refactor the code such that only places that modifies the queue is protected.

This should help a bit for now, but we do need to figure out a better long term solution for this.

[2020-12-14 16:50] shinrich opened #7385 "9.0.0 Closing orphan vc messages"
Mark Torluemke pointed out the presence of "Closing orphan vc" messages in diags.log when running 9.0.0.  I checked our production box running synced with the final 9.0.0 and I also saw this message.  We were not seeing it on other prod boxes not synced with the latest ASF 9.0.0.

This is a message I had added in PR #6889 just to see if this case ever happened.   If an event occurred on a VC where

[2020-12-14 21:14] rawlinp opened #7388 "Support inline comments in parent.config"
[The ATC project](https://github.com/apache/trafficcontrol) would like for ATS to support inline comments in `parent.config`. For debugging and troubleshooting, it would be helpful to be able to include an inline comment on a `parent.config` line like the following:
[code]
Additionally, it appears that `remap.config` supports inline comments like this just fine, but I'm not sure about other config

[2020-12-15 02:02] shukitchan commented on #7372
It looks like it is related to thread affinity for the continuation. Let me try to use the same thread for the new continuation for sleep and see.

[2020-12-15 11:25] c-taylor opened #7390 "accept_no_activity_timeout seems obsolete but not removed."
Practical tests measuring the behaviour of `accept_no_activity_timeout` shows that is has no effect as documented.

https://docs.trafficserver.apache.org/en/9.0.x/admin-guide/files/records.config.en.html#proxy-config-http-accept-no-activity-timeout

----

A test such as:
`time telnet localhost 80`

Show that the parameter that affects this timeout is:
`proxy.config.http.default_inactivity_timeout`

[2020-12-15 11:50] c-taylor commented on #7373
It is, yes.

I have not, will try to check. Is the suggestion here: Why bother is the library cache is 'better'?

[2020-12-15 12:55] c-taylor commented on #7390
...write any data on the socket then txn_no_activity comes into play, even if that write is 'garbage'.

[2020-12-15 18:10] shinrich opened #7394 "Cleanup crashes due to configuration start up failures"
For some time, we have seen cores from secondary threads due to static data structures associated with libraries disappearing when traffic_server process shuts down.  So configuration failures log in diags.log but get obscured by unrelated cores with stacks like the following which occurred from a Fatal() due to a bad disk on cache initialization.

[code]

We should be able to call _exit() instead

[2020-12-15 18:16] shinrich opened #7396 "Disk initialization failure with wait_for_cache==3 does not stop traffic_manager from retrying"
If there is a disk failure on start up and wait_for_cache is set to 3, traffic_server shutsdown.  But traffic_manager keeps retrying even though it is highly unlikely that future attempts will succeed without outside intervention.

[2020-12-15 21:37] ywkaras opened #7398 "Need to switch from ink_atomic.h to Standard lib <atomic>"
This is not simply a cosmetic issue.  ink_atomic.h effectively assumes there is no need for memory fence instructions on any architecture that TS runs on:

https://github.com/apache/trafficserver/blob/77714f253f3a3ab4ce39877da52e14b6270f6868/include/tscore/ink_atomic.h#L171

For x86 architectures for example, this is not true for any version after the 386.  It may also be true, for some architectu

[2020-12-15 22:09] #7394 closed

[2020-12-16 08:51] maskit commented on #7318
Duplicate of #7317

[2020-12-16 08:51] #7318 closed

[2020-12-17 09:55] Vijay-1 commented on #4921
@masaori335 @zwoop

Got this core in our production with 8.0.8
(gdb) bt
#0  0x00002b6d5a1a5337 in raise () from /lib64/libc.so.6
#1  0x00002b6d5a1a6a28 in abort () from /lib64/libc.so.6
#2  0x00002b6d57b85a1b in ink_abort (message_format=message_format@entry=0x2b6d57c03c67 "%s:%d: failed assertion `%s`") at ink_error.cc:99
#3  0x00002b6d57b82675 in _ink_assert (expression=expression@entry=0x76fc4e

[2020-12-17 13:13] masaori335 commented on #4921
Let me close this issue as fixed. Because @Vijay-1's backtrace seems exactly the same as the original report and Bryan's one. He made sure #5934 fixed this issue. It's backported to 8.1.x and 9.0.x. ( released by 8.1.0 and 9.0.0 ).

Please reopen this issue if anybody still has the crash with 8.1.0 and later.

Note: it's possible the same crash could happen if there is another scheduled but orphan

[2020-12-17 13:13] #4921 closed

[2020-12-17 13:16] masaori335 commented on #4921
@thelounge-zz please give a try 8.1.0, 8.1.1, or 9.0.0.

[2020-12-17 13:43] thelounge-zz commented on #4921
seems to be fixed in 8.1.x

[2020-12-18 12:30] c-taylor commented on #7375
@jrushford I tested this today:
I think general running improves, but I am still able to trigger the condition that makes ATS near unresponsive for what should be unrelated traffic.

I do get further into the test pattern, more time under stress, more connections, but the outcome is the same.

[2020-12-18 14:50] #7375 closed

[2020-12-21 00:52] masaori335 commented on #7380
I was tackling down #7379, ASan detected a leak. If I revert `ac7ed9580`, this leak is gone.

# ASan report
[code]

# Repro
Origin: httpbin on port 8001

ATS
[code]

Client
[code]

[2020-12-22 02:10] masaori335 commented on #7380
When the `number_of_redirections` is more than 1 and the negative cache is enabled, the transaction comes into line 4469 twice. The `HTTPCacheAlt`, which allocated on the first call, leaks because it's not freed before the second call of `HTTPInfo::create()`.

[code]
https://github.com/apache/trafficserver/blob/95d1069a9c5f70fe8b0fb57feec95e559ab92b91/proxy/http/HttpTransact.cc#L4469

[2020-12-22 03:14] bneradt commented on #7380
Good observations.

I need to spend some time thinking through how the negative caching fix introduced this. It's not obvious to me from the patch. Is it your observation that the negative caching fix reveals this because now, rather than being served incorrectly from the cache, the redirect is followed?

To be complete: that change also went into 7.x as well via: https://github.com/apache/traffic

[2020-12-22 04:19] masaori335 commented on #7380
The redirect is followed. The first call comes from 302 responses and the second call comes from 200 responses. This is why we're seeing the leak only with following redirections.

[2020-12-22 19:43] bneradt commented on #7380
Considering @masaori335 's observations, I've been looking at the code and reviewing the negative caching patch and I do notice a change that the negative caching fix did that I didn't anticipate. Here was the code that @masaori335 referenced before fix:

https://github.com/apache/trafficserver/blob/f3647619921ada5214b78d6ddb594a10fbc99a15/proxy/http/HttpTransact.cc#L4505

Before the patch, the va

[2020-12-22 20:18] #7396 closed

[2020-12-22 23:11] masaori335 commented on #7379
I still don't have repros for this, but it seems this issue comes from `8eb6826` and related to the following redirects. Hopefully, #7401 fix this issue. I'll try the patch after the new year off.

[2020-12-23 16:30] bneradt commented on #7380
I'm closing this since @masaori335 observed that the patch in #7401, now merged, resolved this leak. Re-open if that turns out not to fix this issue.

[2020-12-23 16:30] #7380 closed

[2020-12-23 23:55] shukitchan commented on #7372
Apparently it looks like i can't set thread affinity to the calling thread in 8.1.x
The API and mechanism are available in 9.0.x, though. Will try that out later

[2020-12-30 17:12] duke8253 commented on #7373
@c-taylor Could you share the link to the tool and commands you used for testing this? Would love to do some similar benchmarking on the new code.

[2021-01-04 17:24] shinrich commented on #7390
Spent some time spelunking the code.  There are HTTP/1.x and HTTP/2 scenarios.  There is in fact a http2 version of the accept_no_activity_timeout setting.  But let us first consider the HTTP/1 scenario.

The proxy.config.http.accept_no_activity_timeout value is used to set the inactivity timeout in HttpSM::attach_client_session() which is called from ProxyTransaction::new_transaction which is cal

[2021-01-04 17:30] shinrich commented on #7390
The logic that issued the READ_READY immediately was added in June 2015 by commit e9eeab6b.  As part of that change

[code]

If the READ_READY is sent conditionally (only if there is data in the buffer), then in theory, the accept_no_activity timeout should stick around until the first transaction byte arrives.  I'll put up a PR for that for you to test @c-taylor

[2021-01-04 19:16] shinrich commented on #7390
Actually tried the telnet scenario locally.  For that telnet with no data to even reach the traffic_server process you will need to set proxy.config.net.defer_accept to 0.  Of course for the more common TLS scenario, this isn't an issue.

Once I turned off defer accept, the UnixNetVConnection::acceptEvent handler was setting the timeout to 0, and then nothing else happened until the proxy.config.n

[2021-01-05 00:54] shinrich commented on #7390
Pushed another commit that fixes the issue by moving the application of the accept_no_activity_timeout to the ProtocolProbeSessionAccept class.  This logic is triggered after the TLS handshake or the TCP handshake even if no additional data is ready and waiting.  There was even a comment there suggesting this might be a good place to apply that timeout.

Also added a new autest to exercise.  Lots

[2021-01-05 19:52] duke8253 commented on #7369
Think it might be.

[2021-01-05 23:18] duke8253 opened #7411 "Crash in h2"
Was testing something else with h2load, and randomly got this, h2load command is `/h2load --warm-up-time=10 -D 20 -c 4 -t 4 -m 4 https://127.0.0.1:9090/0`, running latest master branch:
[code]

[2021-01-06 07:09] masaori335 commented on #7379
We've started a trial of the #7401 fix. So far, it seems like #7401 fixed this issue too.

[2021-01-06 07:09] #7379 closed

[2021-01-08 07:36] fdiary opened #7417 "stale negative cache is not updated by fresh negative response"
Hello,

ATS does not update existing cache of 'negative' response even if ATS fetches a fresh equally-negative response from the backend.

[code]

If the backend replies 502 result having `Cache-Control: max-age=60, public`, it is well cached in ATS, that is good. When it becomes stale, i.e. more than 60 seconds later, ATS fetchs a new version from the backend, which, if it is equally negative to

[2021-01-08 14:01] #7179 closed

[2021-01-08 14:01] #7256 closed

[2021-01-11 10:42] fdiary commented on #7417
I would like to propose the following patch that perfectly solves this issue.
[code]

[2021-01-11 18:31] zwoop commented on #7417
I think this was fixed in #7401 ? If so, we should close this.

[2021-01-11 19:14] bneradt commented on #7417
Thanks for looking into this. I believe, however, that the issue described here is orthogonal to #7401. #7401 fixed an issue that was introduced recently (a few weeks ago) via #7361 , but the issue described here is seen in 8.0.2 (per Kazuhiko's previous comment):

8.0.2 is a couple years old:
https://github.com/apache/trafficserver/releases/tag/8.0.2

[2021-01-11 20:15] fdiary commented on #7417
Thanks for comments.
I just tried ATS 8.1.1 and confirmed that the issue still existed but could be fixed by my patch above.

[2021-01-12 16:53] traeak opened #7419 "url_sig plugin: line parsing only 300 chars, potential problem with comments."
url_sig's config file parser only handles lines 300 characters or less.  An auto generated comment can exceed that.  As long as there is no '=' character in the leftover comment only an error message is generated but the plugin still loads.  If an '=' character is encountered this will cause the plugin to error out on loading.

[2021-01-14 00:20] masaori335 commented on #7417
@fdiary could you open a PR with your patch?

[2021-01-14 09:30] fdiary commented on #7417
@masaori335 Sure. I just opened a PR : #7422

[2021-01-14 10:04] ema opened #7423 "Significant mmap overhead in Lua plugin"
While investigating suspiciously high system CPU usage on a few servers running ATS, we observed that the traffic_server process was causing more than 50 thousand **mmap** calls per second, all of which with length 65536.

[code]
By looking at LuaJIT's source code we found that the function **mcode_alloc_at** is responsible for calling mmap, so we  obtained a few backtraces for that function with

[2021-01-14 11:18] c-taylor opened #7424 "Log filters cannot match against cache result code TCP_SWAPFAIL"
When creating a log filter to match only transactions that would go upstream:

traffic_server[40661]: [LOG_FLUSH] WARNING: There were invalid values in the definition of filter upstream_requests only 3 out of 4 values will be used.

Removing TCP_SWAPFAIL from the match, resolves this warning. All documentation branches list 'TCP_SWAPFAIL' as a valid result code, so not sure whether this is a docum

[2021-01-14 15:33] lukenowak opened #7425 "negative_revalidating_lifetime seems not respected"
Having configuration:

[code]

I have such scenario:

 * with executing `GET /test HTTP/1.1` origin replies `HTTP/1.1 200 OK` with header: `Cache-Control: max-age=11, public` and some content, I see `TCP_MISS/200` in `squid.log`, I am happy with the reply
 * then I configured origin to reply `HTTP/1.1 503 Service Unavailable` with `cache-control: no-cache`
 * did again `GET /test HTTP/1.1`, got pr

[2021-01-14 15:38] lukenowak commented on #7425
With:

[code]

I start to got 503 replies after waiting for `max-age` time to pass, so it seems generally the behaviour is impacted by enabling that option.

[2021-01-14 16:12] fdiary commented on #7425
@lukenowak According to the source code, ATS can return a stale cache if `is_stale_cache_response_returnable()` returns true, that refers `proxy.config.http.cache.max_stale_age` but does NOT refer `proxy.config.http.negative_revalidating_lifetime`.

https://github.com/apache/trafficserver/blob/8.1.1/proxy/http/HttpTransact.cc#L5741

But I am not sure the difference between the purposes of these tw

[2021-01-14 17:33] shukitchan commented on #7423
Thanks for the thorough description. It is a very interesting problem. Let me try to dig deeper and see.

[2021-01-15 00:02] #7419 closed

[2021-01-15 00:26] shukitchan commented on #7423
Some information i find about luajit / mmap - https://www.freelists.org/post/luajit/LuaJIT-and-mmap-scalability,10
Some of my thoughts:

1) Perhaps there are some failures to obtaining the memory needed for the operation and thus the luajit will keep doing it again and again? Did you guys see any messages in traffic.out/diags.log ?

2) You guys seem to be at least using luajit 2.1.0 ? i think 2.1.

[2021-01-15 05:07] masaori335 opened #7428 "Intermittent segv on test_AIO"
A FreeBSD github job was failed despite the change was only fixing typo of docs.
[code]
https://ci.trafficserver.apache.org/job/freebsd-github/14427/console

[2021-01-15 06:01] masaori335 commented on #7425
Descriptions of these configs seem ambiguous when and which config should be used.

- [proxy.config.http.cache.max_stale_age](https://docs.trafficserver.apache.org/en/latest/admin-guide/files/records.config.en.htm#proxy.config.http.cache.max_stale_age)

- [proxy.config.http.negative_revalidating_lifetime](https://docs.trafficserver.apache.org/en/latest/admin-guide/files/records.config.en.html#prox

[2021-01-15 07:25] fdiary commented on #7417
Indeed, `is_stale_cache_response_returnable` refers `max_stale_age` but not `negative_revalidating_lifetime`. But if we have short `max_stale_age`, good 'positive' cache will be also unavailable shortly, that is not good.

So regardless which value `is_stale_cache_response_returnable` refers, I believe that the proposal here is still meaningful to fix this issue, i.e. to provide a good 'positive'

[2021-01-15 14:04] jvgutierrez commented on #7423
We're using the 2.1.0 beta3 version packaged by debian: `2.1.0~beta3+dfsg-5.1`

[2021-01-17 22:18] chenrui333 opened #7431 "trafficserver 9.0.0 build failure on OSX big sur"
👋 trying to build the latest release, but run into some build issue. The error log is as below:

<details>
<summary>build failure on macos big sur</summary>

[code]

</details>

Full build log is in here, https://github.com/Homebrew/homebrew-core/runs/1718178260
relates to https://github.com/Homebrew/homebrew-core/pull/67323

[2021-01-17 23:58] masaori335 commented on #7431
Seems like `-Wl,-undefined -Wl,dynamic_lookup` is missing.

line 1590 of [1718178260](https://github.com/Homebrew/homebrew-core/runs/1718178260)
[code]

[2021-01-18 00:45] masaori335 commented on #7417
I agree. It'd be useful if we can change the period of serving stale contents by the cached status code.

[2021-01-18 13:13] lukenowak commented on #7425
I have some cases (note: I am using version patched with https://github.com/apache/trafficserver/pull/7422)

# Cases
## Case 1 - origin returns 502, negative_revalidating_enabled = 0
`negative_revalidating_enabled = 0`
`negative_revalidating_lifetime = 0`
`max_stale_age = 30`

1. configure origin to reply 200 with max-age = 15
2. GET results with 200 from origin
3. sleep 2
4. configure origin to r

[2021-01-23 21:35] mlibbey opened #7442 "header_rewrite doc bug for %{RANDOM}"
https://docs.trafficserver.apache.org/en/8.0.x/admin-guide/plugins/header_rewrite.en.html#random
says
RANDOM
cond %{RANDOM:<n>} <operand>
Generates a random integer between 0 and \<n\>, inclusive.

When I configure using
[code]
I never see 3 as an answer:
[code]
Think we need to change doc to say
Generates a random integer from 0 to <n>, eg, [0,\<n\>) -- \<n\> will not appear.

Suggestions for bet

[2021-01-25 23:50] masaori335 commented on #7442
Comment on the `ConditionRandom` says
https://github.com/apache/trafficserver/blob/f7bdee616ebec26b2746ce50c75eaacab7571554/plugins/header_rewrite/conditions.cc#L110

[2021-01-26 00:34] #7339 closed

[2021-01-26 01:01] masaori335 opened #7444 "Outbound PROXY Protocol Support"
ATS has Inbound PROXY Protocol v1 support from 8.0.0 and recently v2 support is added (#7339). The outbound PROXY protocol also useful.

1. Forward PROXY Protocol
Currently, the received PROXY Protocol is converted to `Forwarded` HTTP header by `proxy.config.http.insert_forwarded` config. It's useful if ATS forwards it by PROXY Protocol.

2. Generate PROXY Protocol as LB
Not only forwarding but se

[2021-01-26 09:17] maskit commented on #6451
Autest on #7449 is failing because of OpenSSL on Autest box. It doesn't require QUIC API but it fails to detect which functions to use because the current OpeSSL on the box has only some of functions that are ping to be available on OpenSSL 3.

[2021-01-28 15:39] gaod opened #7456 "Build failed on FreeBSD w/ clang 10"
At the latest release 8.1.1, while enabling WCCP on FreeBSD 12.2 with built-in clang 10.0.1:
[code]
But it can pass on FreeBSD 12.2 with gcc 9.3.

[2021-01-29 02:30] maskit commented on #7456
Confirmed that the link error happens on master as well. Not really a workaround but it links successfully if I run configure with `--enable-debug`.

[2021-01-29 02:51] maskit commented on #7456
Removing `inline` solves the issue, but I'm not sure if we want to do it.
https://github.com/apache/trafficserver/blob/a1a47b93ad29ffd3d3168d1c74c8ef20bbe7b28e/src/wccp/WccpEndPoint.cc#L360-L364

@SolidWallOfCode Can you take a look?

[2021-01-29 05:08] #7417 closed

[2021-01-29 07:28] esmq2092 opened #7458 "cache vary problem with normalized_ae ( always prefer gzip ) ？"
I had set `proxy.config.http.normalize_ae to 2` and enabled brotli ( br ) compression，

when ats(v9.0.0) had cached both gzip and brotli compressed version of the object,
and **if gzip object was generated after brotli one**， ats will always return gzip **when client supports both gzip and brotli.**

steps to reproduce the problem:

`1、Accept-Encoding: gzip,br`
    ats will return br encoding as e

[2021-01-29 12:13] esmq2092 opened #7459 "how to increase the chance of webp transform"
As we known，origin servers will not send any `Vary` header when response to ordinary requests for images.

and I found that when ats had image files cached in original encoding ( such as jpeg or png ），it will return cached object directly without doing webp transform， even client support webp.

the following two methods can enforce webp transform，but either are not perfect.

1. change proxy.config

[2021-01-30 10:10] shukitchan commented on #7459
A bit tedious but i will do the following

- normalize the Accept headers in the read_request hook. Similar to
how Accept-Encoding can be normalized through
proxy.config.http.normalize_ae . You can also normalize it and keep
the results in a separate header (,e,g Normalized-Accept). This can be
done using either header_rewrite or lua plugin
- you can also use lua/header_rewrite plugin to add the V

[2021-02-01 08:52] esmq2092 commented on #7458
i found that normalized_ae happend in "READ_REQUEST_HDR"  which cause the problem.

[2021-02-01 08:52] esmq2092 commented on #7459
thanks for your advice, i'll have a try.

[2021-02-01 08:58] shukitchan commented on #7372
Actually just try it out in 9.0.0 . It works fine.
I think it is due to the change mentioned here - https://docs.trafficserver.apache.org/en/latest/developer-guide/api/functions/TSContScheduleOnPool.en.html?highlight=tscontscheduleonpool

ts.sleep() is implemented using TSContScheduleOnPool(). The idea is to schedule a continuation to wake up again later according to the specified duration and let

[2021-02-01 08:58] #7372 closed

[2021-02-02 03:29] mtorluemke opened #7471 "ATS 9.0.1: current_server_connections, current_server_transactions metrics broken"
Feels similar to https://github.com/apache/trafficserver/issues/7163 and https://github.com/apache/trafficserver/issues/7054
Fix for #7054 was #7056.
Fix for #7163 was #7258

Both of these metrics function like a counter, instead of a guage:
proxy.process.http.current_server_connections
proxy.process.http.current_server_transactions

[2021-02-02 04:29] masaori335 opened #7472 "Add STL style iterators to MIMEHdr"
On the review of #6520, @SolidWallOfCode pointed out `MIMEHdr` doesn't support STL paradigm of iterators.
What MIMEHdr has from initial commit is

https://github.com/apache/trafficserver/blob/a51baf66339a38434611281784c2b6634176abdd/proxy/hdrs/MIME.h#L1012-L1014

https://github.com/apache/trafficserver/pull/6520#discussion_r568188066

[2021-02-03 01:43] djcarlin opened #7474 "proxy.config.ssl.client.verify.server.policy default should be ENFORCED"
The setting proxy.config.ssl.client.verify.server.policy to verify origin cert currently defaults to PERMISSIVE - which allows connections to origin even with TLS errors, but logs the error.  I think the default should be ENFORCED

[2021-02-03 07:50] #7373 closed

[2021-02-03 15:18] ywkaras opened #7475 "Core plugins are setting pcre_malloc and pcre_free."
[code]
This is probably just a cosmetic problem.  But, generally, plugins should not assume they are exclusively using global variables they don't define.

[2021-02-05 01:38] masaori335 opened #7487 "An array-bounds warning on PROXY Protocol Builder"
@bneradt noticed the master branch has a build issue after 1baffec5f2d5ce5272c9af5d46b2b54f4b9bbe6a.
[code]

- CentOS7 & devtoolset-8

FWIW, our CentOS 7 build for the master branch is using devtoolset-7.

[2021-02-05 02:22] masaori335 commented on #7487
I doubt this warning is a false positive. Because the `src_ip_len` can't be larger than `sizeof(src_ip_buf)`.

https://github.com/apache/trafficserver/blob/1baffec5f2d5ce5272c9af5d46b2b54f4b9bbe6a/iocore/net/ProxyProtocol.cc#L336-L341

[2021-02-05 02:36] masaori335 opened #7489 "ASan: dynamic-stack-buffer-overflow on unit test of access_control plugin"
The master branch has build failure on fedora & freebsd. It looks like https://github.com/apache/trafficserver/commit/1ad4e81e37f1d21c9ee6d1075478cf6eee7e782e triggered the crash on unit test of access_control plugin with ASan.
[code]
https://ci.trafficserver.apache.org/view/10.x%20master/job/fedora_32-master/compiler=gcc,label=fedora_32,type=release/269/console

On FreeBSD, the unit test is faile

[2021-02-05 03:19] SolidWallOfCode commented on #7487
I'm not seeing that on master with Fedora 32, g++ 10.2, even with "-O2" and "-Werror=array_bounds". The reported errors looks like the compiler is complaining the _destination_ indices are out of bounds of the _source_ array, which is a bizarre thing to complain about.

[2021-02-05 05:09] maskit commented on #7487
Does't the error say it's trying to access `src_ip_buf[47]` to `src_ip_buf[94]`? I have no idea how it can happen but it doesn't seem like because of `src_ip_len`. Note that 47 * 2 = 94.

[2021-02-05 16:20] rob05c opened #7492 "Fix to not send Proxy-Connection"
Proxy-Connection is a non-standard header people started using because they misunderstood HTTP. It never makes sense for a Proxy to _send_ that header to either a parent proxy or an origin, under any circumstances.

We should remove the logic in ATS that does, and either send `Connection:` or nothing, as appropriate.

See:
https://en.wikipedia.org/wiki/List_of_HTTP_header_fields
https://github.com

[2021-02-05 16:41] #7369 closed

[2021-02-05 16:43] jvgutierrez commented on #7492
Proxy-Connection triggered some issues for us in the past that we fixed by getting rid of Proxy-Connection in lua (https://github.com/wikimedia/puppet/commit/a6f97b81dc07cc5fdf68bde3c7728e6c55496641) before #6780 got merged. #6780 effectively disabled Proxy-Connection in our environment.

[2021-02-05 17:18] bneradt commented on #7487
In case it's helpful, I also reproduce this locally with g++ 9.3.1 (I originally observed this in 8.x):

[code]

[2021-02-05 17:55] c-taylor commented on #7471
This affects both:
proxy.process.http.current_parent_proxy_connections
proxy.process.http.current_server_connections

Behaviour is constantly additive. Do not see decrements.

[2021-02-05 17:56] zwoop commented on #7471
proxy.process.http.current_server_connections is a derivative metric too, which derives from

[code]

[2021-02-05 18:05] bneradt commented on #7487
Some observe that they are not seeing the warning in 10, but fwiw I can reproduce this warning there as well:

[code]

[2021-02-08 09:31] maskit opened #7498 "valid_tls_versions_in is not available with BoringSSL"
`valid_tls_versions_in` is not available if ATS is built with BoringSSL. And autest (tls_client_versions) fails due to the unavailability.

The documentation do say the key is only valid for recent OpenSSL, but it doesn't justify autest failure.

We may be able to make it available for BoringSSL by using `SSL_CTX_set_select_certificate_cb`.

If we cannot provide the feature for BoringSSL, the test

[2021-02-08 23:48] #7487 closed

[2021-02-08 23:51] #4726 closed

[2021-02-09 08:27] maskit opened #7503 "Early Data is not available with BoringSSL"
Current code only works with OpenSSL. The code is ifdef-ed so there's no build issue with BoringSSL, but autest (tls_0rtt_server) fails.

[2021-02-09 13:35] c-taylor opened #7504 "Optimise default_buffer_water_mark for memory allocation"
Feature request.

The parameter proxy.config.http.default_buffer_water_mark can be used to increase memory buffering when reading out of the cache. This can have really positive properties with high levels of concurrency when using read while writer, but at the expense of memory. On a busy system with high concurrency, increasing this value even slightly can consume large amounts of memory, and it

[2021-02-09 23:30] a-canary opened #7508 "L7 Ingress/Egress transaction status"
Internally Verizon is starting to use UserArgs to flag transactions that are going to a peer, to signal to other plugins to skip egress transforms.

Having an Ingress/Egress status standard convention between all plugins will be necessary with more sophisticated CDN architectures, but should it be made part of the core API?

Note that one of our goals is to have a single config for all nodes in th

[2021-02-10 01:07] maskit opened #7509 "Dual cert is not available with BoringSSL"
It's a known issue on BoringSSL side, but you can't use dual certs if you use ATS with BoringSSL.
Autest (tls_check_dual_cert_selection) fails because of this.

[2021-02-10 02:01] maskit opened #7510 "TS_SSL_CLIENT_HELLO_HOOK is unavailable with BoringSSL"
TS_SSL_CLIENT_HELLO_HOOK  is not called if you use ATS with BoringSSL. This is because `SSL_CTX_set_client_hello_cb` is not available on BoringSSL. We might be able to use `SSL_CTX_set_select_certificate_cb` instead.

Autest tls_hooks16, 17 and 18 fail because of this.

[2021-02-10 04:42] maskit opened #7512 "SSL Engine is not available with BoringSSL"
BoringSSL doesn't have Engine API. Autest tls_engine fails because of this.

Engine API is going to be deprecated since OpenSSL 3.0, and Provider seems to be a replacement.

[2021-02-10 06:34] alokrahul513 opened #7513 "contributing to the project"
I want to contribute to this project. Can you help me out to get started?

[2021-02-10 07:13] #7513 closed

[2021-02-10 07:15] alokrahul513 commented on #7512
Hi, I want to work on this issue. can you help me to get started?

[2021-02-10 07:18] alokrahul513 commented on #7303
Hi, I want to work on this issue. How to get started?

[2021-02-10 07:21] alokrahul513 commented on #4210
Hi, I want to work on this issue. How to get started?

[2021-02-10 07:22] alokrahul513 commented on #1926
Hi, I want to work on this issue. How to get started?

[2021-02-10 07:25] alokrahul513 commented on #1966
Hi, I want to work on this issue. How to get started?

[2021-02-10 07:26] alokrahul513 commented on #4293
Hi, I want to work on this issue. How to get started?

[2021-02-10 07:26] alokrahul513 commented on #5742
Hi, I want to work on this issue. How to get started?

[2021-02-10 07:30] alokrahul513 commented on #6245
Hi, I want to work on this issue. How to get started?

[2021-02-10 07:58] alokrahul513 commented on #3427
Hi, I want to work on this issue. How to get started?

[2021-02-10 13:01] c-taylor commented on #7471
I believe this issue also gives a 'false positive' for `proxy.config.http.per_server.connection.max`.

Trying to confirm this now...

[2021-02-10 18:08] duke8253 opened #7514 "Thread config tests not stable as it should"
This exception shows up sometimes.
[code]

[2021-02-11 03:14] #7514 closed

[2021-02-11 07:11] alokrahul513 commented on #4292
Hi, I want to work on this issue. Can you help me to get started?

[2021-02-11 07:56] alokrahul513 commented on #4634
Hi, I want to work on this issue. How to get started?

[2021-02-11 12:57] c-taylor opened #7517 "per_server.connection.match 'ignores' parents"
A primary use of per_server.connection.max is to limit the number of upstream connections to an origin.

per_server.connection.match allows you to hash against {fqdn,ip} to apply those limits. Such that many hostnames going to a single address can have a separate limit defined.

However: In a multi-tiered deployment where "parents" are defined, this is seemingly not possible. The fqdn seems to com

[2021-02-11 16:11] zwoop commented on #7517
If I understand you correctly (you want to rate limit on the child but on the final origin host?): How is the child supposed to know which origin the parent proxy is selecting?

[2021-02-11 18:02] c-taylor commented on #7517
I want to connection rate limit for both (child->parent) and (parent->origin)

I understand and accept that the relationship between child and childs route for an fqdn is decoupled from parent and parents route to an origin.
Given the typical bias in host count child(many) -> parent(few) and the low cardinality of the parent fqdn and parent ip, the values used in 'both' today. There is no direct m

[2021-02-11 22:34] #7308 closed

[2021-02-12 00:27] maskit commented on #7489
Fedora32-master and FreeBSD12-master were fixed.

[2021-02-12 00:27] #7489 closed

[2021-02-12 01:44] #7444 closed

[2021-02-12 13:07] c-taylor opened #7521 "Crash in OutboundConnTrack - per_server.connection.max"
I will try to repro this in a controlled environment, but sharing the stack trace early...

ATS 9.0.1
Crash/trace shortly after per_server.connection.max triggered WARNING messages.

This appeared after 1-2h of load:
[code]

[2021-02-12 15:04] zwoop commented on #7308
Please remember to remove Projects and Milestones from PRs that are closed.

[2021-02-13 16:52] linnaea commented on #5117
This seems like a more run-of-the-mill memory corruption, got SEGV when packaging but cannot reproduce on my local machine.

However running valgrind locally gives this trace:
[code]
And a bunch of other errors when exiting.

Running gdb in the packaging container gives this backtrace:
[code]

Also it seems to be reproducible without running any test in LogUtils2:
[code]

[2021-02-14 02:20] linnaea commented on #5117
https://github.com/apache/trafficserver/commit/7e8a181989ab9e27ddb86104f20065e877230210#diff-42455e4271d7de518d1ab8596e355450c996921451e222751713db6055f7143d

Blanking this seems to fix it

[2021-02-14 11:23] alokrahul513 commented on #7108
Hi, I want to work on this issue. How to get started?

[2021-02-14 11:24] alokrahul513 commented on #1907
Hi, I want to work on this issue. Can you help me to get started?

[2021-02-15 10:59] mingzym commented on #7303
@danwt make a good start there, I think we can find out what is the package needed on all other OS too, sometimes there may be different in naming the dev-libs. include all that will make a good commit.
thanks

[2021-02-15 17:56] linnaea opened #7525 "Loop detection breaks transparent proxying"
https://github.com/apache/trafficserver/blob/926dd71b32ade8615fbba6737816240d6df0c9ad/proxy/http/HttpTransact.cc#L6541

By the very definition of transparent proxying, this will detect a loop when it's trying to connect to origin server.

Diag traces captured:
[code]

[2021-02-16 15:40] shinrich commented on #6907
Fixed on master and marked for the 9.1.x branch with PR #7499 and #7473

[2021-02-16 15:40] #6907 closed

[2021-02-16 22:19] duke8253 opened #7528 "The session cache autest is not fully testing the mechanism"
The current test is still using the `-reconnect` option of `openssl s_client`, which is not a good way of testing session reuse anymore.

[2021-02-16 22:56] mtorluemke opened #7530 "Spurious log messages on config file updating"
ATS's "include" mechanism for remap config files causes wrong log messages in ATS 9.x+:

```<date> <time> <hostname> traffic_manager[<pid>]: traffic_manager NOTE: [fileUpdated] <ATS directory>/<include directory>/<included config file> changed, need restart.```

These files do get reloaded fine, so it's just a logging issue. Seems to stem from PR #4392.

[2021-02-17 16:59] #7528 closed

[2021-02-18 18:54] bryancall opened #7536 "ATS is hanging on ci/docs"
ATS is hanging on ci/docs:

Could Not Connect

Description: Could not connect to the requested server host.

[2021-02-19 00:28] bneradt opened #7538 "CI failing for autest-9.1.x for schedule.test.py"
[code]

This test needs to be updated with the new Test.PrepareTestPlugin rather than the old Test.PreparePlugin.

[2021-02-19 15:54] #7538 closed

[2021-02-19 16:14] mlibbey opened #7544 "Chunked Large File Stalls on h2"
Issue

Large file, cache miss, transfer-encoding: chunked download (2+Gb) consistently starts transferring data, stalls, then eventually gets timeout on HTTP/2 connection. When forcing the download to use HTTP/1.1 the stall stops reproducing.
After the reporter disabled Transfer-Encoding: chunked, we can’t reproduce the issue.
Also note that 2GB is not a magic number here -- file size has not been

[2021-02-19 18:19] mlibbey commented on #7544
overriding `proxy.config.http.chunking_enabled` to 0 ("Never respond with chunked encoding"), also stops the stalls.

[2021-02-19 23:05] #7280 closed

[2021-02-22 20:38] bryancall opened #7546 "LogObject::_checkout_write using a lot of CPU on many core servers"
When running benchmarking on large AMD servers (128 core servers) I am seeing a large amount of CPU being used in `LogObject::_checkout_write`.  Here are the results from the benchmark:

https://github.com/bryancall/benchmark/blob/main/reports/amd_epic_7742_rhel7_aocc_rpms_no-freelist_jemalloc_openss111/http2_benchmark.report

[2021-02-22 20:45] zwoop commented on #7546
Curious if (significantly) increasing proxy.config.log.log_buffer_size would help here ?

[2021-02-23 02:34] ywkaras commented on #7546
Outside chance that https://github.com/apache/trafficserver/pull/7382 would fix this.

[2021-02-23 20:31] ywkaras commented on #7546
Any record of the configuration that cased this problem?

[2021-02-23 22:52] #7303 closed

[2021-02-24 02:16] maskit opened #7554 "Correct cqpv log field value for tunnel connections"
According to @masaori335 's comments on #7491 and #7511, it sounds like `cqpv` log field doesn't have a valid protocol name used in a tunnel. TLS partial blind tunnel ignores the issue and uses another field (`cqssa`) to log protocol names.

If we can't / don't log protocol names used in tunnels to `cqpv`, it should be documented and the value should be `-` but not misleading garbage value.

And I

[2021-02-24 22:26] ywkaras commented on #7546
One thing I'm seeing is that, when one thread is blocked waiting on this memory allocation:  https://github.com/apache/trafficserver/blob/564663b9b6888c8334ec8077b5583da9b192c3c2/proxy/logging/LogObject.cc#L399 , any other  thread trying to reserve (checkout) will keep getting the return value LB_RETRY from LogBuffer::writer_checkout(), and will thus busy wait.  So we could be indirectly seeing th

[2021-02-25 21:49] bneradt opened #7561 "CI OpenSSL version needs 1.1.1e updates for SSL_set_tlsext_host_name"
Traffic Dump retrieves the server-side TLS server name via SSL_get_servername:
https://github.com/apache/trafficserver/blob/40de57b047a2b83e023404c3c64f7e3a81b38e64/plugins/experimental/traffic_dump/session_data.cc#L105

With the patch in the following PR the traffic_dump test consistently fails because the SNI is not being retrieved:
https://github.com/apache/trafficserver/pull/7537

Locally, @du

[2021-02-25 22:02] ywkaras commented on #7546
When I ran the benchmark on a 64-CPU Intex Xeon, I did not see this problem.  It seems it is AMD dependent, or perhaps configuration dependent.

[2021-02-25 22:07] duke8253 commented on #7561
It would be great if we can get this fixed soon.

[2021-02-25 22:09] traeak commented on #7322
I'll change this to what we know is a mess, which is duplicated rules will be constantly reloaded.

[2021-02-25 22:24] shinrich commented on #7554
I'll have to look at our environment.  Do we currently log garbage for %<cqpv> in the tunnel case?  I would think it would log "-"

[2021-02-25 22:28] shinrich commented on #7544
We have battled with this on ATS9.

[2021-02-25 22:32] shinrich commented on #7544
What exactly does write_avail mean here?  No more space left in the current mio block?

{code}
  if (this->ua_session->write_avail() == 0) {
    Http2StreamDebug(this->ua_session, stream->get_id(), "Not write avail");
    return Http2SendDataFrameResult::NOT_WRITE_AVAIL;
  }
{code}

[2021-02-25 22:37] SolidWallOfCode commented on #7517
"both" remains useful in situations where are host has multiple IP addresses, which comes up with things like Amazon S3.

If I am understanding this, you would like to incorporate information about the child in the bucket selection criteria? E.g. a key that's a three tuple of <client, fqdn, addr> so you can split the available connections to fqdn:addr among the clients.  If you could set the name

[2021-02-25 23:09] SolidWallOfCode commented on #7517
Or did you mean you want the fqdn to be that in the user agent request, rather than the parent FQDN?

[2021-02-25 23:55] shinrich commented on #7554
for tunnel_route %<cqpv> is logged as "http" because it is modeled as an internal CONNECT.

[2021-02-26 00:24] maskit opened #7562 "Crash in HttpTunnel::consumer_reenable"
Crash happened on 9.0.1.
In `HttpTunnel::consumer_reenable`, `c->write_vio` was null on this line.
[code]

[code]

[2021-02-26 01:55] maskit commented on #7562
The crash happens if a producer is throttled (flow controlled) and background fill starts.
Workaround is to disable flow control (`proxy.config.http.flow_control.enabled`).

Here is the detail:

`consumer_handler` calls `HttpSM::tunnel_handler_ua` here
https://github.com/apache/trafficserver/blob/e24c79a4a530dc9b12880503e8c047e5610c3224/proxy/http/HttpTunnel.cc#L1317-L1330

And if background fill

[2021-02-26 01:58] bryancall commented on #7546
Here is output from the package using the gcc compiler - it isn't as bad as AOCC, but still it is the most expensive operation by far:

[code]

[2021-02-26 02:04] bryancall commented on #7546
Here is the annotation of the _checkout_write method:

![Screen Shot 2021-02-25 at 6 03 56 PM](https://user-images.githubusercontent.com/216749/109244605-d6a57e80-7793-11eb-817a-52e628407d60.png)

[2021-02-26 11:21] neex opened #7563 "cache key collision because of username URL decode in url_CryptoHash_get_general"
The code in `url_CryptoHash_get_general` at URL.cc decodes percent encoding in all components of the URL, including username / password. This behaviour is incorrect and can lead to security consequences.

Consider the following scenario:

1. An ATS instance serves two domains: `attacker.com` and `victim.com`. This can happen either in forward-proxy mode or in the reverse proxy mode in some cases.

[2021-02-26 14:33] c-taylor commented on #7517
In this case fqdn in user agent request rather than that of the upstream.

upstream is an explicitly defined pool of hosts carrying multiple 'services'. To provide resource separation I need to distinguish between services using a key that carries fwd. User-Agent fqdn is 'adequate' for this, but it might make sense to take the product of a remap instead as there may be some key collapse there...

[2021-02-26 20:16] zwoop commented on #7562
This is a new issue / regression between 8 and 9, right ?

[2021-02-27 01:01] ywkaras commented on #7546
I've not been able to reproduce the problem on the AMD proxy.  There are my results:
[code]
I'm seeing much lower req/s on the AMD than on the Intel Xeon.
Xeon:
[code]
AMD:
[code]

[2021-03-01 02:21] maskit commented on #7562
Yeah, it seems like so. The code clearing the write_vio in HttpSM was added by #6809, and it's not backported to 8.0.x.

I don't know about old settings and new settings, but the code here looks weird. I don't understand why we need to reeneble removed write_vio.

[2021-03-01 14:44] shinrich commented on #1663
I don't see how the http2 versions of these configs could be overridable.  The documents mark them as overridable.  That should be corrected.

proxy.config.http2.accept_no_activity_timeout is a characteristic of the session.  It tracks how long you will keep the connection open if there is no activity on the connection.  This means no activity on any of the potentially multiple streams(transaction

[2021-03-01 17:25] bneradt commented on #7561
The latest version of OpenSSL-quic breaks the TLS handshake for AuTests when ATS is built against it. @duke8253  suggested I use a draft-29 version which worked fine locally. I deployed it to all the CI systems and all the AuTests passed for his PR:

https://github.com/apache/trafficserver/pull/7537

To record what I did:

1. I copied the current versions of /opt/openssl-quic to /opt/openssl-quic_

[2021-03-01 17:25] #7561 closed

[2021-03-01 19:02] sudheerv commented on #1663
Right. I think it'd make sense to nuke `proxy.config.http2.no_activity_timeout_in` in favor of `proxy.config.http.keep_alive_no_activity_timeout_in` or at least, rename it as `proxy.config.http2.keep_alive_no_activity_timeout_in` if we really wanted to. But, given that we are happy to let `proxy.config.http.transaction_no_activity_timeout_in` apply to even HTTP2 streams, it'd be consistent and eas

[2021-03-01 19:12] shinrich commented on #1663
I agree that the purpose of proxy.config.http2.no_activity_timeout_in is closer to proxy.config.http.keep_alive_no_activity_timeout_in for HTTP1.x.  I like the renaming to proxy.config.http2.keep_alive_no_activity_timeout_in (and _out for the H2 to origin case).  Looking at http3, I assume we would want to have the option to fiddle with each of those values on a session protocol type basis.  @mask

[2021-03-02 01:57] maskit commented on #1663
Note that "keep alive" only exists in HTTP/1.1. HTTP/2 and HTTP semantics do not use the term. It's a legacy concept. I'd rename it to `session_no_activity_timeout_in/out` if we can go more aggressively.

We should probably keep settings separated by protocols/versions. Keeping H2 sessions has more benefits than keeping H1 sessions, I think. H2 and H3 are very similar, so many people would have sa

[2021-03-02 17:30] SolidWallOfCode commented on #7517
Two things to do:
1. Add config to enable using the post-remap request host.
2. Add plugin API to set the FQDN match.

[2021-03-03 00:34] maskit commented on #6451
It was updated to openssl-quic_OpenSSL_1_1_1g-quic-draft-29.
https://github.com/apache/trafficserver/issues/7561

[2021-03-03 00:34] #6451 closed

[2021-03-03 00:44] maskit opened #7573 "Remove code for old OpenSSL that has different API for QUIC"
Because #6451 was closed, now we can drop support for old OpenSSL that has different API for QUIC.

- Remove files that have `_legacy` suffix on the names
- Cleanup Makefile

Some files may have code surrounded by ifdef for the old OpenSSL.

[2021-03-03 00:46] maskit commented on #7573
Need to update build steps also.
https://cwiki.apache.org/confluence/display/TS/QUIC#QUIC-Howtobuild

[2021-03-03 16:06] shinrich opened #7574 "No documentation for proxy.config.http.keepalive_internal_vc"
I accidentally ran across this while doing "traffic_ctl config match".  There is no documentation.  Looking in the code I get the following from HttpTransact.cc in HttpTransact::initialize_state_variables_from_request

[code]

We run with this set to 0.

Tracking down "git blame" for the relevant lines.  Since this was proposed as an interim solution, perhaps we can remove it?

[code]

[2021-03-04 02:28] ywkaras commented on #7546
I've been able to cause a bottleneck in LogObject::_checkout_write() on the AMD host, using open source TS (commit 5c65bcb4d0739cbadd09fab3d836110d529d48d2).  I had to set proxy.config.exec_thread.autoconfig.scale to 2.0 .  I ran TS (without manager) with this command:
[code]
To see the bottleneck, I have to start with a empty log directory.  I have to run 10 h2load processes at once with this scr

[2021-03-04 18:35] ywkaras commented on #7546
I build this commit, https://github.com/ywkaras/trafficserver/commit/cd61f97667d9f90ca9ea8bf93e455be089ac086a , and re-ran the testing above.  Total requests per second almost doubled when the yield was enabled.

[2021-03-04 21:47] shinrich commented on #7530
Do you still get reloads when the included file changes?

Did you previously see a message like?
[code]

[2021-03-04 22:33] #6852 closed

[2021-03-04 22:38] bryancall commented on #7574
https://issues.apache.org/jira/browse/TS-4963

[2021-03-04 22:44] SolidWallOfCode commented on #7563
I agree, we shouldn't URI decode the user name/password.

[2021-03-04 23:03] shinrich commented on #7471
Interesting, in our 9.0.x build both look ok.  From a server running at low time.

[code]

[2021-03-04 23:07] SolidWallOfCode commented on #7563
Unfortunately, it looks appears to be spec legal to use percent encoding in the user name. I need to think about this a bit more.

MD5 collisions aren't a concern - the cache already deals with it. Internally the stripe directory is the equivalent of an open chained hash and the MD5 value is used only to locate the bucket. The full URL is used for equality checks.

[2021-03-04 23:13] shinrich commented on #7471
Hmm.  Interestingly enough current_server_transactions is broken on my H2 to origin build.

[2021-03-04 23:53] shinrich commented on #7471
One difference in our environments is that you use parent proxy.  Does you proxy.process.http.current_parent_proxy_connections setting look ok?

[2021-03-05 05:23] vmamidi commented on #7521
I think this can happen if the request is going to a parent. When number of "origin server" grouped connections to a parent reaches maximum, next parent  configured for that origin server.

void
HttpSM::send_origin_throttled_response()
{
  // if the request is to a parent proxy, do not reset
  // t_state.current.attempts so that another parent or
  // NextHop may be tried.
  if (t_state.current.re

[2021-03-05 11:38] neex commented on #7563
I think the "fair" solution would be to encode back some characters (e.g. `/`, `:`', `@` and so on) so that if one of these appears in the username/password, it will always be in its encoded form.

However, note that several (but less security impactful) issues can arise in the other part of the URL. E.g. in some hypothetical example, we can register a user with the name `victim&page=posts` and th

[2021-03-05 20:49] bdgranger opened #7581 "Sporadic crash and core dump in Mutex_trylock"
We're seeing a very sporadic crash and core dump at customer site with production traffic load.  In every instance gathered thus far, the location of the segfault is the same:

[code]

There are various stack trace paths, but all of them eventually end up going through manage_keep_alive_queue before hitting the Mutex_trylock.  Most of them have also gone through Http2ConnectionState::release_strea

[2021-03-05 23:22] zwoop commented on #7517
I feel reasonably strongly that we should just fix the crasher, but leave it as-is for now. The right solution is to add connection limits to the new parent policy YAML files. Adding more flags etc. to the existing jive is not great, just leave and treat the old setting as non-parent limits only, and add the parent limits as a new YAML configuration.

[2021-03-07 23:34] masaori335 commented on #7581
This might be fixed because the 8.1.x branch has various changes for the stability of HTTP/2.
Please let us know if 8.1.x still has this crash. FWIW, I haven't seen this crash with 8.1.2 in our env.

[2021-03-08 18:47] bdgranger commented on #7581
@masaori335 - thank you. We saw many http2 changes in 8.1.x.  We will update if the issue continues.

[2021-03-09 02:33] #7390 closed

[2021-03-10 02:19] maskit commented on #7471
What a mess.
[code]

[2021-03-10 19:11] shinrich opened #7590 "How to handle non-chunked transfer-encoding headers"
As part of PR #7473, the Transfer-Encoding header was marked hop-by-hop.  This means all Transfer-encoding headers were are removed before the proxy request is created.  Transfer-encoding headers are only added back as appropriate for the sending from ATS to the origin.

This change was made to address issue #6907.

The mozilla specification https://developer.mozilla.org/en-US/docs/Web/HTTP/Header

[2021-03-11 00:25] masaori335 commented on #7590
RFC 7230 says below in section 3.3.1.

   does not understand SHOULD respond with 501 (Not Implemented).
https://tools.ietf.org/html/rfc7230#section-3.3.1

[2021-03-11 17:12] jrushford commented on #7314
Can no-longer duplicate this.

[2021-03-11 17:14] #7314 closed

[2021-03-11 17:14] jrushford commented on #7314
I'm no-longer able to duplicate this issue on master.

[2021-03-11 22:25] shinrich commented on #7581
PR #4379 addressed adding an assert to catch when this code was being entered without being locked.

[2021-03-11 22:29] shinrich commented on #7581
Looks like the issues @masaori335 identified from H2 applying to the keep_alive_queue are identified in issue #4504.

[2021-03-11 22:31] ywkaras commented on #7475
I will investigate the various wrappers for std malloc and free.

[2021-03-11 22:37] shukitchan commented on #7459
does this solve your problem?

[2021-03-11 22:38] bryancall commented on #7458
@esmq2092 are you going to work on this?

[2021-03-11 22:54] bryancall commented on #7425
@bneradt Can you please document this?  Thank you.

[2021-03-11 23:00] bryancall commented on #7424
@c-taylor Have you tried TCP_SWAPFAIL_MISS, @traeak mentioned this and I see it in the code.

[2021-03-12 20:14] zwoop commented on #7431
I think this should be fixed already on the 9.0.x branch, I reverted the issue that causes this failure.

[2021-03-15 06:40] maskit commented on #7471
It doesn't seem a like stat issue. According to memory usage dump (SIGUSR1), `Http1ServerSession` is leaking.

[2021-03-15 06:43] esmq2092 commented on #7459
follow your advice, i use header_rewrite to achieve the goal. ^-^

cond %{READ_REQUEST_HDR_HOOK}
cond %{HEADER:Accept} /webp/
set-header TEST-IMG-FMT webp

cond %{READ_RESPONSE_HDR_HOOK}
cond %{HEADER:Content-Type} /image/
add-header Vary TEST-IMG-FMT
add-header TEST-IMG-FMT webp

[2021-03-15 06:46] esmq2092 commented on #7458
i have found a workaround: using header_rewrite

cond %{READ_REQUEST_HDR_HOOK} [AND]
cond %{HEADER:Accept-Encoding} /br/
set-header Accept-Encoding br

[2021-03-16 00:32] #7456 closed

[2021-03-16 01:58] masaori335 opened #7603 "background_fill is broken with HTTP/1.1 over TLS"
It looks like when an HTTP/1.1 client aborts, HttpTunnel stops working. OTOH, if the client uses HTTP/2, the cache is filled.

# HTTP/1.1

## Client
Origin server tasks 10 seconds to send the whole response body, but the client aborts after 2 seconds.
[code]

## ATS
It looks like the `EOS` event is signaled to HttpSM directly and HttpTunnel is killed.

<details>
<summary>ATS Debug Log with HTTP/1.

[2021-03-16 17:16] #7521 closed

[2021-03-16 19:09] bdgranger commented on #7581
@masaori335 @shinrich we are still seeing crashes near the tip of the 8.1.x branch. They are not all related to Http2, but they do all go through either add_to_keep_alive_queue or manage_keep_alive_queue and in every case it appears that the m_ptr of the mutex is null.

@shinrich we do have the code from #4936 that was to address #4504. However, we do not have the assert code from #4379, which is

[2021-03-16 19:16] bdgranger commented on #7581
An example of the Http1ClientSession::release crash:

[code]

bt full:
[code]
HttpSM history (from frame 7):
[code]

[2021-03-16 19:19] bdgranger commented on #7581
An example of the Http2 stream_release crash:

[code]

full bt:
[code]

[2021-03-16 19:21] bdgranger commented on #7581
The bt from the InactivityCop crash:

[code]

Still trying to download the core to get more information.

[2021-03-16 20:30] zwoop opened #7607 "Inefficiency in SNI policy parsing"
It seems that rather than parsing these types of "text" configs once, we parse it over and over again (strcmp()) on each transaction hitting this code:

[code]

[2021-03-16 22:24] ywkaras commented on #4509
https://github.com/apache/trafficserver/issues/4509

[2021-03-16 23:00] #6846 closed

[2021-03-16 23:14] masaori335 commented on #7607
`set_tls_options` has the same issue (`proxy.config.ssl.client.verify.server.policy`/`proxy.config.ssl.client.verify.server.properties`), I think.
https://github.com/apache/trafficserver/blob/d4fc16f64d3104d3682d496e47f2a53511fa77e0/proxy/http/HttpSM.cc#L4810-L4849

[2021-03-16 23:29] shinrich commented on #7590
I think ATS should follow the server guidance and return 501.  I think it will affect a very small number of transactions.  If it is between returning 501 and properly uncompressing the data stream, I would much rather return the error code.

[2021-03-16 23:39] shinrich commented on #7581
Looking through our internal jira's, it looks like we battled through with this issue in Feb 2019.  @a-canary put up PR #5056 to address the issue which I closed for some reason.

Looking for PR's that address a similar issue around the same time period, I ran across PR #6396 which is in the 9 branch but not the 8.1 branch.  You might give that a try.

[2021-03-16 23:59] shinrich commented on #7581
More related seems PR #5120. Based on my git log search doesn't seem to have landed on 8.1.

That PR also references PR #5089 which does not seem to be on the 8.1 branch either.

[2021-03-17 08:13] maskit commented on #7471
This is just a possibility, but I thought it's worth noting.

Seems like removal of sessions from the pool depends on inactivity timeout of sessions (or underlying netvcs). If the timeout didn't happen on a session, the session would stay in the pool forever, unless other controls (e.g. `per_server.connection.max`) kick in.

This line below is suspecious, because it relies on the inactive timeout

[2021-03-17 18:30] vmamidi commented on #7471
isn't that a configuration bug? Why would you set inactive timeout to zero?

[2021-03-17 22:46] maskit commented on #7471
There is a couple of lines set it to 0. And as you can see `cancel_inactivity_timeout()` set it to 0 too.
[code]

But I'm not disagreeing that the issue is caused by misconfiguration. There might be something  that saves the infinite inactivity timeout case.

[2021-03-18 02:08] maskit commented on #7471
I think https://github.com/apache/trafficserver/commit/fb6ca11c81325dc2fbf50a525cb1be008ccda33d has a bug. Making `keep_alive_no_activity_timeout_out overridable` is fine, but using  overridden values after detaching a session from a transaction doesn't make much sense. That behavior means "I want to keep this session in the pool for a shorter/longer time than the default after using it for this t

[2021-03-18 21:08] #7475 closed

[2021-03-18 21:49] bryancall commented on #7353
@ancjf Could you please supply a PR?

[2021-03-18 21:58] bryancall commented on #7346
In this use case is the origin sending back a 100-continue to ATS?

[2021-03-22 01:00] masaori335 commented on #7603
I found the background fill works on HTTP/1.1 over TCP with the default config, but it stops filling cache if I set `CONFIG proxy.config.http.allow_half_open INT 0`.

For HTTP/1.1, `ua_txn->allow_half_open()` is the knob of killing tunnel (background fill) or not.
- HTTP/1.1 over TCP: configured by the `proxy.config.http.allow_half_open`
- HTTP/1.1 over TLS: it always returns false
https://github.

[2021-03-22 21:50] bryancall commented on #7317
@maskit How did you reproduce this issue?

[2021-03-22 21:55] bryancall commented on #7310
@traeak Can you update the docs that this is not possible and use the cqhl value?

[2021-03-22 22:07] rob05c commented on #7324
`loadavg` is a very broad metric, which includes CPU, memory wait, disk wait, disk usage, and potentially other things.
Can you look at specific metrics on your system, and see what specific things have high load? Is it just CPU? Memory? Disk io_wait? All of the above?

ATS will use as much memory as you tell it to. You can allocate ramdisks and give them to ATS as block devices. Each disk given t

[2021-03-23 00:43] maskit commented on #7317
Just making a request with `traffic_quic`(the crash is on the server side).

[2021-03-23 19:57] bneradt commented on #7425
I'm working on this and adding an AuTest. In case this is helpful to others, I'll make some initial observations.

My guess at the initial intention of this code was that setting the Expires header, observed earlier in this ticket, would set the freshness lifetime to the desired value. This doesn't work however, for at least three reasons:

First, the Expires header is set to the value of `negativ

[2021-03-23 20:40] duke8253 commented on #7411
Tried a few different configurations, can't recreate this crash anymore. Closing the issue for now, will reinvestigate if it pops up again.

[2021-03-23 20:40] #7411 closed

[2021-03-23 21:44] mlibbey commented on #7425
Thanks Brian -- fwiw, I tried a bash script a long while back https://github.com/apache/trafficserver/issues/3211 -- don't think it covered all your cases :)

[2021-03-24 22:00] pbchou commented on #7076
Second the need for this capability. We found that coming from ATS 7.1.x that our edge peering is broken by #5767. One possibility besides simply disabling the loop detection is to allow a threshold of times a node may see itself in the via string. For this application, it would be set to a maximum of one time. I think that if we see increasingly complex parent selection strategies that there migh

[2021-03-25 05:09] masaori335 commented on #7603
`proxy.process.http.background_fill_bytes_aborted_stat` and `proxy.process.http.background_fill_bytes_completed_stat` might also be broken. Both of them keep saying 0 even if `proxy.process.http.background_fill_current_count` is more than 1.

[2021-03-25 16:06] jrushford commented on #7076
@pbchou as I mentioned to Jeremy Payne, I was going to provide for peering in the strategies.yaml which is the configuration file for NextHopSelectionStrategy.  See the documentation here, [strategies.yaml](https://docs.trafficserver.apache.org/en/latest/admin-guide/files/strategies.yaml.en.html?highlight=strategies%20yaml#std:configfile-strategies.yaml), by adding a new ring mode where you'll def

[2021-03-28 15:25] paladox opened #7637 "Is it possible to depool a backend within ATS?"
I'm not sure where to ask this question but here it goes.

In varnish you are able to easily depool/repool and have backends.

In ats i see you can do this via parent.config but it doesn't seem to support depooling and you have to restart to remove/add a backend.

I had an idea on doing this via a lua plugin within do_remap but it seems math.random is cached so we cannot do that.

Does anyone know

[2021-03-28 15:48] mlibbey commented on #7637
Parent.config is reloadable. When we add/remove a server from a line in parent.config, we run `traffic_ctl config reload`, and the removed server is depoolled/repoolled -- all while continuing to serve traffic.

[2021-03-28 15:59] paladox commented on #7637
When I run change the backend and run `traffic_ctl config reload` it doesn't appear to use it. Continues to use the backends I removed.

Even tried `service trafficserver reload`.

[2021-03-28 16:02] paladox commented on #7637
Ah! I had to change the user permissions on the parent.config file.

[2021-03-28 16:19] mlibbey commented on #7637
Shall we close this then?

[2021-03-28 16:44] paladox commented on #7637
Yup, one last thing. Did you implement a healthcheck that automatically depools a backend?

[2021-03-28 17:36] mtorluemke opened #7638 "9.0.x: Connection errors to healthy origin"
From docs:

20210328.17h19m28s CONNECT:[0] could not connect [CONNECTION_ERROR] to 192.168.3.1 for 'http://192.168.3.1:2000/' connect_result=5 src_port=0
20210328.17h19m37s CONNECT:[0] could not connect [CONNECTION_ERROR] to 192.168.3.1 for 'http://192.168.3.1:2000' connect_result=5 src_port=0
20210328.17h19m39s CONNECT:[0] could not connect [CONNECTION_ERROR] to 192.168.3.1 for 'http://192.168.3.

[2021-03-28 17:48] mlibbey commented on #7637
We have found that when we think the server is going to be down "temporarily" (hours to days), we prefer to use
traffic_ctl host down/up $servername
as it's an easier command for the monitoring/healthcheck/whatever things to issue
and longer term (days to weeks) remove from parent.config.

ATS has built in passive health monitoring for these, but there are benefits to active monitoring (and admini

[2021-03-28 17:56] paladox commented on #7637
Thank you so much!

[2021-03-28 17:58] paladox commented on #7637
Also do you know how we get it to stop

[2021-03-28 17:58] #7637 closed

[2021-03-28 17:58] paladox commented on #7637
Also do you know how we get it to stop creating a new config after reload (e.g <config>_4.config) @mlibbey

[2021-03-28 18:15] paladox commented on #7637
Also any idea how we can get the details of which server is downed?

[2021-03-28 18:26] mlibbey commented on #7637
- `traffic_ctl metric match proxy.process.host_status` will give you the full list of servers and their status.
- there is a way to not let ATS cp the old file to the _N.config, but, I can't seem to find it, and I think most people just let it happen -- having a quick way to revert can be nice to have.

[2021-03-28 23:16] paladox opened #7640 "How can we add certs to ssl_multicert.config without restarting?"
Hello, when I try to add certificates to ssl_multicert.config and I reload. The certificate doesn't take effect. Only when I restart does it take effect.

Is there a way to reload without restarting? Seeing as restarting would impact our users.

Config mentions it is reloadable https://docs.trafficserver.apache.org/en/latest/admin-guide/files/ssl_multicert.config.en.html#std:configfile-ssl_multice

[2021-03-28 23:25] paladox commented on #7640
Figured it out! User permissions.

[2021-03-28 23:25] #7640 closed

[2021-03-29 07:51] LutzWeischerFujitsu opened #7642 "build fails on AArch64, Fedora 33"
(base) [jw@cn06 trafficserver]$ make VERBOSE=1 -j$(nproc)
Making all in src/tscpp/util
make[1]: Entering directory '/data/jw/apache/trafficserver/src/tscpp/util'
  CXX      TextView.lo
c++: error: unrecognized command-line option '-mcx16'
make[1]: *** [Makefile:956: TextView.lo] Error 1
make[1]: Leaving directory '/data/jw/apache/trafficserver/src/tscpp/util'
make: *** [Makefile:855: all-recursive

[2021-03-29 12:45] #7546 closed

[2021-03-29 12:55] ema commented on #7423
Hey Kit, sorry for getting back to you so late!

Nope, we're getting no relevant errors.

I gave it a shot, see https://phabricator.wikimedia.org/P15083. After installing the updated LuaJIT packages I got rid of our `jit.off()` workaround from all Lua scripts and here's the result:
![image](https://user-images.githubusercontent.com/281102/112839321-57f77600-909e-11eb-8118-605cb161f8cd.png)

So no,

[2021-03-29 14:03] shinrich commented on #7638
@djcarlin has been tracking down similar issues for us since before Christmas.  We have been running with the changes in PR #7580 to help track down the issue.

[2021-03-29 14:17] SolidWallOfCode commented on #7642
This is an `autoconf` issue. It needs to be updated to not add that flag for this particular architecture / compiler. Could you do a "make V=1" to find the exact compiler and then use the "--version" flag on that for the version?

[2021-03-29 14:19] SolidWallOfCode commented on #7607
The tricky bit here is the value is not strictly an enumeration. It can have an arbitrary value as long as that value starts with "@". In such a case, the "@" is removed and the literal value is used as the outbound SNI. This means a string is required in some cases. What would be needed is an enumeration and a string, with the string set only when it's explicitly specified by a plugin.

[2021-03-29 14:20] djcarlin commented on #7638
Do you see log entries in error.log with "(setting last failure time)" ?  We were triggering "dead/down" origin behavior inappropriately sometimes, which would prevent subsequent connections from working for a time.

In our case, I noticed squid.log entries with "ERR_CONNECT_FAIL 502" when a POST was happening, and Content-Length sent by client request differed from %<cqql> log field - "Client req

[2021-03-29 14:26] ywkaras commented on #7607
Yup https://github.com/apache/trafficserver/pull/7624/files#diff-c2f4153a7fbd17ff9e386fa7e9460927d1eb82b473bb3ec59e23dcccbdaa2037R456 .

[2021-03-29 14:27] djcarlin commented on #7638
If you think you're bumping against dead/down origin behavior, see https://github.com/apache/trafficserver/issues/7290 and https://github.com/apache/trafficserver/issues/7283 - I think the conditions on when an origin is marked dead/down need to be reviewed.

[2021-03-29 14:29] SolidWallOfCode commented on #7603
There is a more subtle issue here, which also involves #7629. If the destruction of the `HttpSM` is delayed because of the cache write, so is the next transaction on that inbound connection. Currently I/O completion for the cache write is decoupled from transaction finish, which means a new transaction can start before that I/O completes. Clearly this isn't an issue for a client abort, but I don't

[2021-03-29 14:45] djcarlin commented on #7290
I noticed squid.log entries with "ERR_CONNECT_FAIL 502" when a POST was happening, and Content-Length sent by client request differed greatly from %\<cqql> log field - "Client request header and content length combined, in bytes."

In our case, Content-Length was tens of megabytes and cqql was only hundreds of bytes. This was marking origin down and breaking other valid requests.

[2021-03-29 15:28] #7425 closed

[2021-03-29 16:01] SolidWallOfCode commented on #7517
Spoke with @shinrich and @c-taylor about this. The essence is to match equivalence classes based on the remap name rather than the actual upstream, which is determined by parent selection. The request here is to make the limits based on the official destination rather than the intermediate upstream. We might be able to slip that in, as it wouldn't affect our use.

I'm not sure we can implement lim

[2021-03-29 17:49] mtorluemke commented on #7638
I thought "down server" was always when ATS got a TCP RST, and "dead server" was always when connection attempts (TCP connection + HTTP headers in <9.x, TCP connection in >=9.x) failed.

[2021-03-29 18:01] mtorluemke commented on #7638
Yes, see some of those errors in error.log: ```20210328.14h19m39s CONNECT Error: EIO: Input/output error [5] connecting to 192.168.3.1:2000 for 'http://192.168.3.1:2000/' (setting last failure time)```

[2021-03-29 19:34] bneradt opened #7647 "clang older than version 9 fails to build Throttler.h"
Ubuntu clang CI builds currently fail when compiling Throttler.h. This is a new file that was introduced with the following PR: #7279.

Output is currently available from CI here:
https://ci.trafficserver.apache.org/job/ubuntu_18_04-master/compiler=clang,label=ubuntu_18_04,type=release/1041/console

It complains about the use of atomic and chrono in Throttler.h:

[2021-03-29 22:07] #7530 closed

[2021-03-29 22:36] ywkaras commented on #7607
It's unclear to me how using this function, https://github.com/apache/trafficserver/blob/6b28f19d2b863201f87ed31bc933998f26b55f5b/proxy/http/HttpConfig.cc#L74 , leads to a simpler resolution of this issue.  It is roughly equivalent to just:  https://github.com/ywkaras/trafficserver/blob/b0453b157dba0b4d26bf8856f5f7198e2d9241e6/include/tscpp/util/CodeOrStr.h#L180

[2021-03-30 19:05] Johanhen opened #7656 "Build fails on FreeBSD 13+"
The build of traffic server 8.1.1 (and probably other versions as well fails on FreeBSD 13.x and newer.

As noted by Brian in the mailing list

FreeBSD 13 added eventfd(2) [1], which means that the check on HAVE_EVENTFD in EventNotify.cc [2] can no longer assume that if you have eventfd(2) you also have epoll.

1. https://github.com/freebsd/freebsd-src/commit/7a202823aa54ba18c485bdbcf355269bcfee1a

[2021-03-30 19:56] #7647 closed

[2021-03-31 07:28] sm3ulc opened #7663 "IPv6 to v4 failover?"
We have come across that TS seem not to fail to v4-address when a v6-site does not reply on SYN. Is that intended or a bug?

[2021-03-31 10:28] Johanhen commented on #7656
Unfortunately i still receive that error after the replacement off #ifdef HAVE_EVENTFD by #if defined(HAVE_EVENTFD) && defined(TS_USE_EPOLL)

libtool: compile:  c++ -DHAVE_CONFIG_H -I. -I../../include -D_GLIBCXX_USE_C99 -D_GLIBCXX_USE_C99_MATH -D_GLIBCXX_USE_C99_MATH_TR1 -Dfreebsd -D_LARGEFILE64_SOURCE=1 -D_COMPILE64BIT_SOURCE=1 -D_REENTRANT -D__STDC_LIMIT_MACROS=1 -D__STDC_FORMAT_MACROS=1 -I/usr/

[2021-03-31 11:34] LutzWeischerFujitsu commented on #7642
(base) [jw@cn05 trafficserver]$ make V=1
Making all in src/tscpp/util
make[1]: Entering directory '/data/jw/apache/trafficserver/src/tscpp/util'
depbase=`echo TextView.lo | sed 's|[^/]*$|.deps/&|;s|\.lo$||'`;\
/bin/sh ../../../libtool  --tag=CXX   --mode=compile c++ -DHAVE_CONFIG_H -I. -I../../../include  -Dlinux -D_LARGEFILE64_SOURCE=1 -D_COMPILE64BIT_SOURCE=1 -D_REENTRANT -D__STDC_LIMIT_MACROS=1

[2021-03-31 15:10] paladox opened #7664 "How do you rate limit in trafficserver?"
I'm wondering is it possible to rate limit in trafficserver and if so how?

In varnish you can use `vsthrottle`.

[2021-03-31 15:10] bgaff commented on #7656
Sorry my bad the autoconf script always defines TS_USE_EPOLL, you need to do:

The easiest fix is:
[code]

That should fix it, but that whole class is kinda ridiculous anyway. Using eventfd + epoll in this way is overkill, the ink_condwait methods should be preferred for many reasons as they solve the same problem:
  1. ink_condwait and friends will wrap into pthread_cond_(timed)wait which are as

[2021-03-31 15:31] bgaff commented on #7656
Yah sorry you need to do the same for the header file:

[code]

[2021-03-31 20:30] ezelkow1 opened #7666 "sslheaders autest not checking for plugin"
sslheaders is an experimental plugin but the test doesnt do an existence check for the plugin before running, so it will fail unless experimental plugins were built

[2021-04-01 13:12] traeak commented on #7310
Looking at the document code it's not marked as overrideable anyways.  Not exactly sure how to document this directly.

[2021-04-01 13:12] #7310 closed

[2021-04-01 13:15] traeak commented on #7664
There is a plugin called "fq_pacing" which will rate limit individual TCP connections.  Is this sufficient?

[2021-04-01 18:58] paladox commented on #7664
Thanks! Not exactly. It doesn't appear you can white list specific ips from the rate limit or configure a rate limit per domain with it.

For example we do:

[code]

[2021-04-01 20:41] pbchou opened #7669 "Issue with memory mapped GeoIP DB files in Linux?"
Hi. I would appreciate any second opinions on this issue. I noticed that the current MaxMind enabled plugins (geoip_acl, header_rewrite, and maxmind_acl) all use the memory mapped method to open GeoIP DB files using the MaxMind libraries. The geoip_acl and header_rewrite plugins use the old geopi-api-c that allows either loading the DB into memory (GEOIP_MEMORY_CACHE) or using a memory map (GEOIP_

[2021-04-01 23:19] ezelkow1 commented on #7669
Agreed, it does seem like an issue, I had not had a chance to test it with the new maxmind_acl one since we havent put it into production yet. That one will close existing opened mmdb's and reload but only on restart or on remap reload when the plugin reloading makes a new instance, so I can see corruption being an issue

[2021-04-02 00:06] masaori335 commented on #7664
On going #7623 (New rate_limit plugin for simple resource limitations ) is what you're looking for?

[2021-04-02 04:20] linnaea commented on #7642
Probably related #5017

[2021-04-02 17:51] paladox opened #7671 "Caching doesn't seem to work"
We've setup a ats instance that has both port 80 and 443 (one instance). We've configured it to connect to our mediawiki backends that run nginx. We are finding that it's not caching. Or at least sometimes caching intermittently.

Our records.config:

[code]

Our parent.config

[code]

Our remap.config

[code]

Do we need a ats tls terminator and a ats backend for caching to work or is there somet

[2021-04-03 17:57] shukitchan commented on #7423
Ok. Thanks for the test.
I think for now I will just add a configuration parameter to disable jit so it does not have to be inside the script.

[2021-04-05 15:22] SolidWallOfCode opened #7677 "Explicit proxy doesn't wait for TCP handshake to complete before sending 200 OK"
If ATS is used as an explicit proxy, that is the user agent sends a `CONNECT` request, ATS only waits for being able to send a `SYN` to the upstream target, it does not verify the TCP handshake succeeds, before sending a "200 OK" to the user agent. This can be seen by attempting to `CONNECT` to a not in service port on the upstream. A packet capture shows the sequence

* `CONNECT` is received by A

[2021-04-05 17:45] #7666 closed

[2021-04-05 23:30] SolidWallOfCode commented on #7642
Can you test if that fixes this problem? I don't have access to a machine to verify.

[2021-04-06 12:53] LutzWeischerFujitsu commented on #7642
Tried again, still get that. Seems this compiler option has been removed 2017:

(base) [jw@cn06 trafficserver]$ make VERBOSE=1 -j$(nproc)
Making all in src/tscpp/util
make[1]: Entering directory '/data/jw/apache/trafficserver/src/tscpp/util'
  CXX      TextView.lo
c++: error: unrecognized command-line option '-mcx16'
make[1]: *** [Makefile:956: TextView.lo] Error 1
make[1]: Leaving directory '/dat

[2021-04-06 15:24] bdgranger commented on #7581
@shinrich thank you for the various pointers. We have pulled/ported #4379, #5120, and #5089, along with the parts of #5198 and #5201 having to do with thread_affinity into our 8.1.x fork. With this build deployed in the production environment, we have not seen any of the above stack traces in nearly a week at production traffic levels.

However, on a couple of our busiest servers, we are now seein

[2021-04-06 22:20] ezelkow1 opened #7688 "Compress not logging properly on 301"
Doing a curl with gzip (this is with caching compressed turned off so it is on the fly):
curl http://localhost:8080/index.html -Lvsk -o /dev/null -H "Accept-Encoding: gzip"
with remap
map / http://google.com @plugin=compress.so @pparam=compress.config

That remap will force a redirect to www.google.com.
< Content-Encoding: gzip
but still gzip the content. The plugin reports:
[ET_NET 12] DIAG: (com

[2021-04-07 04:59] linnaea commented on #7642
Can confirm #7684 fixes #5017 on openSUSE PPC64LE and ARM64

[2021-04-07 13:24] SolidWallOfCode commented on #7642
@LutzWeischerFujitsu - did you do a clean checkout? At a minimum you would need to do `autoreconf` to update the build.

[2021-04-07 13:26] #5017 closed

[2021-04-07 21:04] zwoop commented on #7656
Someone want to make a PR for this? :-)

[2021-04-07 21:09] bgaff commented on #7656
Yah I'll do it

On Wed, Apr 7, 2021, 14:04 Leif Hedstrom ***@***.***> wrote:

[2021-04-08 00:07] #7603 closed

[2021-04-08 08:30] LutzWeischerFujitsu commented on #7642
:-)

[2021-04-08 13:59] SolidWallOfCode commented on #7642
Um, I'm not sure if you're smiling at my naivety or it's working for you now. If it's not, I'll need to see your "config.log" - the flag should only be used if `autoconf` successfully compiled test code using that flag. If that's correct, then there has to be a mismatch between what `autoconf` is using and what the actual build is using.

[2021-04-08 14:01] LutzWeischerFujitsu commented on #7642
:-) = can close this issue. :-). Thanks for your help!

[2021-04-08 14:04] SolidWallOfCode commented on #7642
Fixed.

[2021-04-08 15:35] shinrich commented on #7290
I ran across the proxy.config.http.down_server.abort_threshold setting.  I think the comparison is backwards from the description.  But if the client times out in more than this many seconds and the origin hasn't sent anything back yet, it will count towards marking that origin down.   The default value for this setting is 10..

The intent is to include "slow servers" in the set of dead servers to

[2021-04-08 15:38] shinrich commented on #7671
It is possible that ATS is not distinguishing between "s-maxage=18000" and "max-age=0" correctly.  We should create an autest for that case.

[2021-04-08 15:52] rob05c commented on #7671
Yeah, s-maxage should take priority on a shared cache. I'll try to look into adding a test, and if it fails, try to figure out why

[2021-04-08 16:28] paladox commented on #7671
Weird thing is it take a little while for the below to work before it says "uScRs f p eN:t cCHp s " (as in I have to keep trying until it says cached). But it wont work on any other url.

[code]

[2021-04-08 16:29] paladox commented on #7671
Looking at varnish this is what happens:

Before its cached:

[code]

After its cached:

[code]

[2021-04-08 23:22] mlibbey commented on #7671
FWIW, s-maxage is working for me on 8.1
====First Fetch===

[code]

 ==== Should be served cached ... and is ====

[code]

 ==== New url and s-max-age ====

[code]

 ==== Should be served cached ... and is ====
[code]

 ==== Should be stale ... and is ====

[code]

[2021-04-08 23:30] paladox commented on #7671
Could it be that it doesn't work in ats 8.0? (We run debian 10 with apache ts 8.0).

But even then it doesn't explain why Main_Page gets cached even though it specified the s-maxage and max-age.

I could only get it to work on Main_Page (and that's only after a while of loading it).

[2021-04-09 02:07] mlibbey commented on #7671
I have a theory. You show you are using curl -I... I bet you are seeing it cache after you don't have the -I. (curl -I issues a HEAD request. HEAD requests don't fill the cache -- a GET request is needed to fill. Can you try `curl -o/dev/null -D-  --resolve meta.miraheze.org:443:127.0.0.1 https://meta.miraheze.org/wiki/Main_Page` ?

[2021-04-09 02:30] paladox commented on #7671
Seems to work:

[code]

[code]

[2021-04-09 02:32] paladox commented on #7671
More...

[code]

can we add support for HEAD to trigger cache saves?

[2021-04-09 17:21] mlibbey commented on #7671
I'd alternatively recommend:
- adding this to your .bashrc
alias curlhead="curl -sIXGET"
(curlhead --resolve ... then shows you headers, and doesn't transfer the body to you)
the background_fill feature is meant to continue the request. Its somewhat broken right now. So...
- and
alias curlr="curl -D- -r 0-0"
(0 byte range request -- shows you headers, but, the body is 0 bytes.)
in addition to inst

[2021-04-11 14:05] YuanYingdong commented on #7688
Did you set ats to follow redirect? Maybe curl visited the os directly after receiving 301. Here is what I got:
[code]

[2021-04-12 07:21] udbxtd2008 opened #7699 "write_dns_event may cause underflow when proxy.config.dns.retries is changed"
Position of the problem:
write_dns_event DNS.cc line 1140:  e->id[dns_retries - e->retries] = i;
1. e->retries was assinged with dns_retries  in DNSProcessor::getby.
2. The value of dns_retries is combined with "proxy.config.dns.retries".
3. if "proxy.config.dns.retries" is changed to be a smaller value by traffic_ctl， for example:
/opt/ats/bin/traffic_ctl config set proxy.config.dns.retries 9 --

[2021-04-12 13:14] shinrich commented on #7590
From the PR @bryancall  identifies

We should be responding with 415

https://tools.ietf.org/html/rfc7231#section-3.1.2.2
An origin server MAY respond with a status code of 415 (Unsupported
Media Type) if a representation in the request message has a content
coding that is not acceptable.

[2021-04-12 13:19] shinrich commented on #7590
https://tools.ietf.org/html/rfc7230#section-3.3.1 discusses transfer-encoding header and gives the guidance that a server that does not understand a transfer-encoding header value should return 501..

https://tools.ietf.org/html/rfc7231#section-3.1.2.2 discusses the content-encoding header which is not the same as the transfer-encoding header.   It says that. a server that does not understand an e

[2021-04-12 19:37] bryancall commented on #7590
I reread the RFCs - 415 is for Content-Encoding and 501 would be for Transfer-Encoding.  I am good with 501s.

[2021-04-12 19:56] bryancall commented on #7590
A 502 would be more appropriate for an origin server that send a non-supported Transfer-Encoding:

[code]

[2021-04-12 21:38] ezelkow1 commented on #7688
oh possibly could be it, i can give it a shot when i get a chance again

[2021-04-12 21:45] ezelkow1 commented on #7688
Yea, misconfig issue on my part, my bad :)

[2021-04-12 21:47] bryancall commented on #7677
What do we log this as?

[2021-04-12 21:54] bryancall commented on #1505
We got rid of the cluster code.

[2021-04-12 21:54] #1505 closed

[2021-04-12 21:55] rob05c commented on #1329
This is working as documented: https://docs.trafficserver.apache.org/en/7.1.x/admin-guide/files/cache.config.en.html#matching-multiple-rules

And we can't change the current behavior, or we'd break people.

I think we all agree the behavior is highly unintuitive. We're planning to rewrite all configs in YAML. When we rewrite cache.config in YAML, we should make that design not additive, or somehow

[2021-04-12 21:57] #1549 closed

[2021-04-12 21:57] rob05c opened #7701 "When rewriting cache.config in YAML, make it not additive."
cache.config is currently additive.

This is highly unintuitive and unexpected. Furthermore, because the match logic isn't very powerful, it's not possible to do certain things.

 I'm making this issue as a placeholder so we don't forget: when we rewrite it in YAML, we should make it not additive, or possibly extend the matching capabilities to be more powerful, so things like `suffix=jpeg` and `s

[2021-04-12 21:58] rob05c commented on #7701
See https://github.com/apache/trafficserver/issues/1329

[2021-04-12 21:58] rob05c commented on #1329
See https://github.com/apache/trafficserver/issues/7701

I recommend closing this issue in favor of #7701

[2021-04-12 22:01] #1926 closed

[2021-04-12 22:04] #7688 closed

[2021-04-12 22:07] bryancall commented on #1329
Closing based on @rob05c comment.

[2021-04-12 22:07] #1329 closed

[2021-04-12 23:35] ezelkow1 commented on #7669
opened an issue with mmdb as well, since it just seems like good functionality to have, https://github.com/maxmind/libmaxminddb/issues/256

[2021-04-13 00:13] ezelkow1 commented on #7669
@pbchou can you try your test with a method as outlined here, https://github.com/maxmind/geoipupdate/blob/main/pkg/geoipupdate/database/local_file_writer.go

Its in golang but you should be able to do something similar in C, i.e. write new db to a temp file, rename it to the existing DB, and then issue a sync call to atomically write the changes? This is what is recommended from the mmdb devs and

[2021-04-13 02:46] maskit opened #7705 "Assertion in HttpCacheSM captive_action.cancelled == 0"
I realized that an assertion below fails on my laptop while I was running h2spec. Reverting #7667 solves the issue, but I'm not sure how it is related.

[code]

[2021-04-13 15:47] randall commented on #7669
If you change the test to not reset the length (when count == 2) and use a mv instead of a copy, things run along fine (still reading 0s). I'm not sure changing the length there is a valid state since mmap is with the original length.

[2021-04-13 18:28] pbchou commented on #7669
The test resets the length in case the new DB is larger than the old one, and there are pointers to the regions of the file which are larger than the old file. It turns out the look-up function in the MaxMind libraries do have a pointer vs size check so it should result in a return of "corrupted database" rather than causing a segmentation fault. I assume this mv-vs-cp method works because the mma

[2021-04-13 20:17] shinrich commented on #7705
Looks like the new PendingClass will cancel an action before setting it to nulllptr (clearing it).  Should be harmless for an action that has already executed (as it has on this stack frame 31/32).

[code]

[2021-04-14 14:12] oschwald commented on #7669
On unix systems, when you atomically replace a file (or use `rm` for that matter), the file is merely unlinked. The space associated with the file is not freed until all open file handles are closed. There is no need to keep it with a dummy name. See `rename(2) and `unlink(2)`.

[2021-04-14 22:17] shinrich commented on #7290
@djcarlin updated our configs to set  proxy.config.http.down_server.abort_threshold  higher than any of our other timeouts (basically making sure this config never did anything), and our down server failures greatly reduced.

[2021-04-14 22:21] shinrich commented on #7290
Did some more work today on down servers in our environment.

One think I hadn't noticed before was that an origin failure only contributes to the down server count if the t_state->current.server->connect_result is non-zero.   That is a real error happened during the TCP/TLS connection failure.  There are many messages generated in error.log where the connect_result is 0 and a failure happened bet

[2021-04-14 22:21] jrushford commented on #7669
Before the database is opened with MMDB_open(), why not first copy the database file  as possibly a hidden file and then MMDB_open() and get a file handle to the copy.  Any changes to the configured database file would not affect ATS but, the plugin could notice the change to the configured filename and make another copy, use MMDB_open() to get a 2nd file handle to the new copy.  When it is determ

[2021-04-14 22:41] shinrich commented on #7290
Based on the type of connection errors we are seeing in our environment, I'm adding a setting to adjust which connection failures count towards the down server count.

For our environment, a TCP connection failure (no route, timeout, or refused) is very different from a SSL cert verification failure.   For some of our next level machines, quite a few connections will be routed to the same machine

[2021-04-15 17:55] #5066 closed

[2021-04-16 05:58] maskit commented on #7471
#7618 didn't work for this.

I checked the number of sessions in session pool by using #7627, and the number seemed reasonable. It didn't keep going up at minimum. So the leak probably happens outside of the pool and there should be a case that doesn't release (or close) server sessions.

[2021-04-16 14:44] smalenfant opened #7710 "connect_attempts_timeout not observed"
After we upgraded from ATS 7.1.x to ATS 8.1.x, our backbone team went into several maintenances and noted impact on our CDN delivery. After the 3rd night of it, we finally found that something was wrong with the new installed code.

[code]

To make it short, the connect_attempts_timeout (at least on parent selection) or not observed under 2 scenarios:

- If ICMP comes back with "No Route to Host".

[2021-04-16 22:29] shinrich opened #7712 "Differences in communicating TLS client cert failure with TLS 1.3"
Found this while working with @SolidWallOfCode on his down-server branch.  He had just rebased and the second test in tls_client_cert autest started failing on him.  This test should fail because ATS is presenting a client cert to the test origin that is not signed by a CA used by that test origin.

Specifically the test was failing due to an assert that t_state.current.server->had_connect_fail()

[2021-04-19 15:48] jrushford commented on #7710
@smalenfant @ezelkow1 Is going to bring these two patches into 8.1 which we confirmed fixes this issue.

9b47aa6799db12fd302ea58e3ae0ba8485fd0bbe: proxy.config.http.connect_attempts_timeout tracks TTBF instead of connect (Susan Hinrichs)
9a8998e98f401d9e52202cfbd4b9d30fa2091e9c: HttpSM: add case check for VC_EVENT_INACTIVE_TIMEOUT, VC_EVENT_READ_READY, VC_EVENT_READ_COMPLETE (Brian Olsen)

@smalen

[2021-04-19 22:07] shinrich commented on #1663
@maskit I like the session_no_activity_timeout_in/out naming for 10.x.  Could change the existing documentation to reflect reality with the current names to get rid of the overridable reference.

I'll set up a PR to address the documentation issue without the name change, and open a new issue to track the name normalization for 10.

[2021-04-19 22:34] shinrich opened #7722 "Adjust naming scheme for session specific timeouts"
This arose in issue #1663 over a discussion of settings proxy.config.http2.accept_no_activity_timeout and proxy.config.http2.no_activity_timeout_in.  It was pointed out that really these settings control timeouts on the H2 session much like the keep_alive settings do for HTTP/1.x.  And it is likely that future protocols like Http/3 will have the need for a similar knob.

It will be useful to adjus

[2021-04-20 10:35] carlocab commented on #7431
Thanks for the update, @zwoop. Is the fix in the 9.0.1 tag?

[2021-04-20 14:52] #1663 closed

[2021-04-20 14:53] #7590 closed

[2021-04-20 22:30] masaori335 commented on #7431
@randall #7662 is the new fix for this?

[2021-04-20 22:37] carlocab commented on #7431
Still getting the same [build errors](https://github.com/Homebrew/homebrew-core/pull/72735/checks?check_run_id=2390599596#step:7:1587) as before with 9.0.1. I tried adding `-undefined dynamic_lookup` to `LDFLAGS`, but it doesn't show up in the call to `clang++` just before the error, so perhaps that's not the way to fix it.

[2021-04-21 08:50] diizzyy commented on #7656
@bgaff
Any progress regarding this issue?

[2021-04-22 02:50] bgaff commented on #7656
Sending pull request right now.

[2021-04-22 15:24] shinrich commented on #7638
Within the code there is no separate tracking of an origin connection failing due to receiving a TCP RST as opposed to any other failure.  More discussion on what currently makes a server dead in issue #7290.  I hope to have a PR up to address the options discussed early next week.  Testing internally right now.  Hopefully those changes will help fix and/or debug the origin connection problems we

[2021-04-23 13:36] djcarlin opened #7735 "Review default value of proxy.config.http.down_server.abort_threshold = 10 seconds"
@shinrich noticed default value of 10s for proxy.config.http.down_server.abort_threshold might be a little low.  Example,  If an HTTPS API call takes longer to return a response than 10s, the server is marked down.

Specifically, how does this setting interact with no_activity timeouts like proxy.config.http.transaction_no_activity_timeout_out ?  We were having origin connections erroneously marke

[2021-04-23 17:49] ywkaras opened #7739 "Next hop strategy with bad 'to' URL causes TS crash"
Here is the trace output:
[code]
The crash looks to be in NextHopConsistentHash::findNextHop(tsapi_httptxn*, void*, long).

Here is the Au test that caused this crash:  https://github.com/ywkaras/trafficserver/blob/StrategiesAutestCrash/tests/gold_tests/next_hop/strategies_ch/strategies_ch.test.py

[2021-04-23 18:43] ywkaras commented on #7739
Apparently consistent hashing on cache_key is only meant to be used in conjunction with the cache_key plugin, so this probably isn't a significant problem.

[2021-04-23 20:16] shinrich opened #7741 "Failure in schedule_on_thread test"
Saw this failure in PR #7736.  I think this is unrelated to the PR, so I am noting it here before I move on.

This is the output of the traffic_server process
[code]

The output is missing
[code]

The test case command is just a print.  The real test is launched from the plugin init.  Perhaps the test is shutting down before the final bits of the test complete?

[2021-04-23 20:18] duke8253 commented on #7741
Hmm, haven't seen this before, let's see if it appears again.

[2021-04-23 20:41] ywkaras commented on #7739
Here is a backtrace from the core file:
[code]

[2021-04-23 21:25] diizzyy commented on #7656
Thanks!

[2021-04-23 23:17] bneradt commented on #1652
@esmq2092 : Thank you for filing this issue.

I've added a few tests where ATS is configured to not respond with chunked content and the client initiates the transaction with "Connection: Keep-Alive":
https://github.com/apache/trafficserver/pull/7743

ATS seems to behave as expected:
* It does not reply with a chunked-encoded response.
* It includes a connection-close header.

Our Proxy Verifier t

[2021-04-23 23:33] ywkaras commented on #7741
That reminds me a little of problems I saw with this PR that adds a couple of new Au tests.  I had to make a few tweaks to the core to get them to work:  https://github.com/apache/trafficserver/pull/6832/files#diff-cf25e3f0fdf3c4f2ff21559a905429230def7afc1bb6815a3c33209742ff07fb

[2021-04-24 15:40] paladox commented on #7671
Seems to not work again even though I'm using GET requests.

[code]

I've run the above many times and it still says cache miss (even ran it without -I and same thing).
(Also ran it with -X GET).

Even tried disabling the lua plugins to see if they were the cause.

[2021-04-24 19:57] mlibbey commented on #7671
`cache-control: private, must-revalidate, max-age=0`
- `private` means that caches that are solely dedicated to individuals (like your browser) can cache. This is the biggie -- need to change this to public
- `must-revalidate, max-age=0` ... these mean that the cache could store them, but, need to talk to origin server each and every time to make sure the object can be released. I believe that `no

[2021-04-24 20:40] paladox commented on #7671
I see this for varnish (and it hits the cache):

cache-control: private, s-maxage=0, max-age=0, must-revalidate

[code]

[2021-04-24 20:40] paladox commented on #7671
Ah ack @ expires

[2021-04-24 20:44] paladox commented on #7671
I can see why it does it now...

```cache-control: s-maxage=18000, must-revalidate, max-age=0```

on one of our mw* servers compared to our test mw* server

```cache-control: private, must-revalidate, max-age=0```

[2021-04-24 20:49] paladox commented on #7671
Found the reason! Sorry for wasting your time.

We had wgUseCdn off on the test server as it isn't supposed to go through the cache proxies (ats/varnish).

[2021-04-25 21:10] shukitchan commented on #7459
Looks like this is resolved

[2021-04-25 21:10] #7459 closed

[2021-04-26 21:34] bryancall commented on #1736
The recommendation from the ATS Community is to use the OpenSSL API directly.

[2021-04-26 21:34] #1736 closed

[2021-04-26 21:36] bryancall commented on #1907
@alokrahul513 Sure, you can work on it.  Please create a PR for it.  Thank you!

[2021-04-26 21:39] bryancall commented on #1925
This will be fixed when we move to YAML

[2021-04-26 21:39] #1925 closed

[2021-04-26 21:42] bryancall commented on #1966
@alokrahul513 We had a discussion and took off the "good first issue".  This would be more complex.

[2021-04-26 21:45] bryancall commented on #1966
Closing for now if anyone is interested in it please reopen.

[2021-04-26 21:45] #1966 closed

[2021-04-26 21:49] bryancall commented on #1971
@vmamidi is going to look at this one some more.

[2021-04-26 21:50] bryancall commented on #7671
Thank you!

[2021-04-26 21:50] #7671 closed

[2021-04-26 21:53] bryancall commented on #2204
@maskit and @masaori335 Should we close this one?

[2021-04-26 21:55] bryancall commented on #2327
Please reopen if this is still an issue.  Closing for now.

[2021-04-26 21:55] #2327 closed

[2021-04-26 21:58] bryancall commented on #2354
@deeonis-ru You need to call TSMutexDestroy() to free the mutex.

[2021-04-26 21:58] #2354 closed

[2021-04-27 02:13] maskit commented on #2204
I'm ok with closing this without fixes if nobody cares. It's difficult to solve this issue, because server push logic needs to lookup remap table to see if the URL can be served by the same box. A client gets 404 if an inappropriate URL is pushed.

[2021-04-28 06:06] Kullu14 opened #7754 "Can ATS be build on platforms like ARM, PPC, MIPS ?"
Is it possible to build ATS on other platforms like ARM, PPC, MIPS ? Has anyone tried it yet ?

[2021-04-28 06:09] WolfgangBai commented on #7754
I only test ARM, It is Ok.

[2021-04-28 09:13] Kullu14 commented on #7754
Did you have to do any modifications to make the build of trafficserver work on ARM platforms?

[2021-04-28 09:24] WolfgangBai commented on #7754
1.luajit can't compile, I disable it by --disable-luajit.
2. machine page size may have problem. it need Memory alignment. you can search STORE_BLOCK_SIZE in ATS code.it may fix in latest code.

[2021-04-28 09:45] Kullu14 commented on #7754
I did disable luajit. Have cross-compiled trafficserver for ARM platform ?

[2021-04-28 09:55] WolfgangBai commented on #7754
I only compile in ARM machine.

[2021-04-28 13:06] #7739 closed

[2021-04-28 17:06] shinrich opened #7755 "9.1 increase in 400 status code"
While testing a build from the 9.1.x branch in production, I noticed that the number of 400 status codes from the origin was increasing compared it its 9.0.1 based peer.  At least 3 times as many.

[2021-04-28 19:19] shinrich commented on #7755
Nevermind.  Digging in some more.  It appears that the rate of 400's varies and what I saw was within the normal variance.

[2021-04-28 19:19] #7755 closed

[2021-04-28 21:12] shinrich commented on #7471
Just making a note that 9.1.x is not showing problems with the current_* metrics in our production environment.  But we didn't notice problems with 9.0.1 either.  We aren't using the parent selection logic through.

[2021-04-29 03:53] Kullu14 commented on #7754
Okay Thank you for your help. I tried to cross-compiled ARM on x86-64 machine
I get following error
/bin/sh: ./CompileParseRules: cannot execute binary file: Exec format error

[2021-04-29 03:59] WolfgangBai commented on #7754
The problem has nothing to do with ATS，You can see the link below.
https://askubuntu.com/questions/648555/bash-program-cannot-execute-binary-file-exec-format-error

[2021-04-29 17:00] poblahblahblah commented on #4466
Did this ever make it's way into a valid 8.x branch? We're seeing this issue on 8.1.1.

[2021-04-30 03:26] zwoop commented on #7754
It has been possible to build and run on 64-bit ARM in the past. I haven't tried lately.

[2021-04-30 04:37] Kullu14 commented on #7754
@WolfgangBai it is trying to execute ./CompileParseRules to detect the leaks by executing following command
"ParseRulesCType: CompileParseRules
        LSAN_OPTIONS='detect_leaks=0' ./CompileParseRules" while cross-compiling trafficserver
this is build using aarch64 crosscompiler n trying to execute in host Machine (which x86_64) for me that why getting above error.

[2021-04-30 04:38] Kullu14 commented on #7754
@zwoop  have you cross-compiled it or ran it on ARM machine only

[2021-04-30 16:18] sudheerv opened #7767 "Remaps erased when specifying an invalid remap file due to a config error"

[2021-04-30 17:02] sudheerv opened #7769 "Need priv elevation for traffic_manager for SSL cert reload using traffic_ctl"
See bunch of these messages from traffic_manager when traffic_ctl config reload is issued:

{code}
[Apr 28 01:16:50.968] traffic_manager NOTE: [ConfigManager::ConfigManager] xxxxxxxxxxxxxxxxxxxxxxxxxxx Unable to load: Permission denied
{code}

[2021-04-30 21:17] #7574 closed

[2021-05-03 21:04] #7735 closed

[2021-05-03 21:46] bryancall commented on #7754
Talking to the community and we would need an owner for MIPS and PPC.  We are interested in supporting ARM and M1 chips going forward and are interested in setting up CI to compile on those platforms.

Please reopen if you want to support MIPS or PPC.

[2021-05-03 21:46] #7754 closed

[2021-05-03 21:51] ywkaras commented on #2851
I think I may have fixed this or at least broke it differently, you can give me the issue if you want.

[2021-05-03 21:51] bryancall commented on #2674
@maskit Is this still an issue?

[2021-05-03 21:54] ywkaras commented on #2724
So this only impacts QUIC not DNS?

[2021-05-03 21:57] bryancall commented on #2742
@brbzull0 Do you want to take a look at this and write a test for it?

[2021-05-03 21:59] bryancall commented on #2767
@scw00 Do you want to work on this?

[2021-05-03 22:00] bryancall commented on #2796
This is going to be handled #7701

[2021-05-03 22:00] #2796 closed

[2021-05-03 22:09] ywkaras commented on #2851
This PR may have changed this behavior:  https://github.com/apache/trafficserver/pull/7545 .

[2021-05-03 22:12] brbzull0 commented on #2742
Sure, will do. Thanks

[2021-05-04 14:16] shinrich opened #7780 "9.1 assertion in TSHandleMLocRelease"
After running solidly all weekend, I had a bunch of repeated asserts with the following stack from our production box running 9.1.x.  The stack looks weird because the invoking plugin is written in Lua. (as a side note if anyone know how to get symbols from lua plugins I would appreciate any hints).

[code]

Specifically it assert is in the default case and the obj->m_type == 0, which implies that

[2021-05-04 15:31] shinrich commented on #7780
In the MLoc object, the m_type was 0 and the m_length was 112 which corresponds to a URL object

[code]

[2021-05-04 16:40] #2419 closed

[2021-05-04 16:41] jrushford commented on #2419
closed, not to be implemented

[2021-05-04 16:42] #2418 closed

[2021-05-04 16:43] jrushford commented on #2418
parent selection and strategies implements mid-tier retries

[2021-05-04 16:44] #2472 closed

[2021-05-04 16:44] jrushford commented on #2472
decided that this type of health checking is best relegated to an external process.

[2021-05-04 17:42] ezelkow1 commented on #7710
@smalenfant I have merged in those fixes into 8.1.x, just checking if you are good now. If so can we close this?

[2021-05-04 20:17] ywkaras commented on #7780
How can you tell it's the Lua plugin?

[2021-05-05 00:51] shinrich commented on #7780
That is my assumption because their is no information on the stack.  Based on past experience where the top of stack pops out into lua logging, that empty stack corresponds to the a lua plugin.

[2021-05-05 15:26] maskit commented on #2674
Closing this since I don't see crashes because of events for closed QUIC connections. It would be nice to have another issue for memory leak.

[2021-05-05 15:26] #2674 closed

[2021-05-05 15:39] shinrich commented on #7780
I have removed all the calls to TSHandleMLocRelease for the URL references from the lua plugin and I still get the assert.  It is possible that one of our plugins is being built without symbols.

[2021-05-05 15:48] maskit commented on #2724
I haven't seen any discussion about how we do this yet. I'm not sure if it's good or bad for DNS, but I'd use recv/sendmmsg  for the both if there's no objection.

[2021-05-05 16:39] zwoop commented on #6999
Closing this, too old

[2021-05-05 16:39] #6999 closed

[2021-05-05 18:38] ywkaras opened #7785 "Presence of (unused) strategies.yaml causes request to 503"
Here is the Au test:  https://github.com/ywkaras/trafficserver/commit/9b6857fe42d05e645a3faa2802ef993db60e7d14

If I change line 92 to `if False:` , the request returns 200.

Here is the debug trace:  https://gist.github.com/ywkaras/12286036e422666f39379ea0a5c941cb

[2021-05-05 18:50] ywkaras commented on #7785
Here is the debug trace when there is no strategies.yaml:  https://gist.github.com/ywkaras/300e5943adae1891efed8d510216f72d

[2021-05-05 22:02] shinrich commented on #7780
With the plugin symbols loaded the top of stack looks like this, pointing a finger at the s3_auth plugin.

[code]

[2021-05-05 22:28] ywkaras commented on #7780
The object that's created here, https://github.com/apache/trafficserver/blame/master/plugins/s3_auth/s3_auth.cc#L997 , will not be destroyed until after TSHttpTxnReenable() is called.  The destructor call TSHandleMLocRelease().  Is that kosher?  This looks like it's been in there for years, so I don't know why it would wait till now to break.

[2021-05-05 23:08] shinrich commented on #7471
Do you notice that file descriptors are not being closed as well as server sessions being leaked?

[2021-05-05 23:16] shinrich commented on #7471
The clearing of the server_session in HttpSM::kill_this is concerning.  As discussed in the "Cleaning up" session of my notes on the H2 to origin PR notes, there are multiple references to the server_session in the tunnel, server_entry, and in the server_session member variable.  With the H2 to origin keeping track of all of that was made even worse by the possibility of two origin classes.  Any k

[2021-05-06 02:22] ywkaras commented on #7785
Seeing this in the debug trace:
[code]
Even though `proxy.config.http.parent_proxy.self_detect` is set to 0.

[2021-05-06 02:52] ywkaras commented on #7785
Looks like this is where it's marked down:  https://github.com/apache/trafficserver/blob/f7939769974a54969c18159d65d9ba05a07331f7/proxy/http/remap/NextHopSelectionStrategy.cc#L186

[2021-05-06 03:05] ywkaras opened #7791 "OK to destroy a mime field, then get the next dup?"
In a plugin?

https://github.com/apache/trafficserver/blob/f7939769974a54969c18159d65d9ba05a07331f7/plugins/s3_auth/s3_auth.cc#L731

Github blames @zwoop , 7 years ago, when he was young and perhaps impetuous.

[2021-05-06 13:09] jrushford commented on #7785
@ywkaras, yes and that’s what’s intended.  You override the self detect down in the particular strategy by setting “ignore_self_detect: true”

From: Walt Karas ***@***.***>
Reply-To: apache/trafficserver ***@***.***>
Date: Wednesday, May 5, 2021 at 8:52 PM
To: apache/trafficserver ***@***.***>
Cc: Subscribed ***@***.***>
Subject: Re: [apache/trafficserver] Presence of (unused) strategies.yaml caus

[2021-05-06 14:00] ywkaras commented on #7785
Works as designed.  Any local host address will be marked as down, if it is used as a host in strategies.yaml, regardless of any self detect settings.

[2021-05-06 14:00] #7785 closed

[2021-05-06 20:22] ywkaras commented on #7791
@SolidWallOfCode says this is dangerous.  And that's from a man who laughs at the ever present danger of death by monitor avalanche.

[2021-05-06 22:49] bryancall opened #7794 "Benchmarking HTTP/3"
/opt/bin/h2load --npn-list h3-29 -T 1 -N 1 -t 30 -n 200000 -c 100 `cat urls.http3.config | xargs`
[code]

dstat 10 output:
[code]

top:
[code]

perf report:
[code]

[2021-05-07 06:22] masaori335 opened #7796 "Intermittent assertion failure `captive_action.cancelled == 0`"
On the current master branch (ed89b7b694908b12f21452195e2bbfd4e0fbb156), I observed below assertion failure intermittently.

[code]

[2021-05-07 06:28] masaori335 commented on #7796
[code]

[2021-05-07 08:16] maskit commented on #7796
Probably #7705

[2021-05-08 00:17] masaori335 commented on #7796
Duplicated.

[2021-05-10 06:36] cukiernik commented on #7796
The commit without this fail is a8b6746d303c4fafdc2e609941750fc4c2ac9b14

[2021-05-10 06:56] cukiernik commented on #7705
Still at the commit 99efb64612e1f90fd04194218ecef8866f96534e.
The latest commit without this fail is a8b6746d303c4fafdc2e609941750fc4c2ac9b14

[2021-05-10 09:40] maskit opened #7799 "Unmatched format specifier causes crashes but not compile errors"
I realized a scary behavior change on compile. Code like below that has unmatched format specifiers used to cause compile errors, but we no longer see it on master because of some changes around Diag.

[code]

On 9.1.x branch, the code above does not compile.
[code]
But on master, I don't see the compile error, and ATS crashes when I run it.
[code]

The change above is something I made up to demon

[2021-05-10 13:28] brbzull0 opened #7800 "`proxy.config.http.number_of_redirections` not being honoured."
While looking at https://github.com/apache/trafficserver/issues/2742 I found that the `proxy.config.http.number_of_redirections` seems not to be working as expected.
In my configuration I set this config variable to `1` expecting TS to just follow the 302 once, but in my scenario where I have 2 `302` being returned by different origin server I can see that TS follows it twice.

Sequence:
[code]
in

[2021-05-10 16:04] sudheerv opened #7801 "DestIP SSL Cert lookup not using correct dest ip when ProxyProtocol is enabled"

[2021-05-10 23:33] #7767 closed

[2021-05-10 23:33] #7769 closed

[2021-05-10 23:35] bryancall commented on #7791
@ywkaras Can you please fix this?

[2021-05-10 23:40] bryancall commented on #7799
@firebush Can you please take a look at this?

[2021-05-10 23:46] bryancall commented on #2851
@ywkaras Can you please take look at see if you "fixed" it.

[2021-05-10 23:49] bryancall commented on #2875
Closing, looks like it has been resolved.  Please reopen if it is still an issue.

[2021-05-10 23:49] #2875 closed

[2021-05-10 23:57] bryancall commented on #2997
This has been once or twice since the opening of this ticket.

[2021-05-10 23:57] #2997 closed

[2021-05-10 23:59] SolidWallOfCode commented on #2925
List values are supported in TxnBox. Key/Value structures are not yet implemented.

[2021-05-11 00:00] shinrich commented on #3147
Proxy Verifier should stick around for the end stream.

[2021-05-11 15:04] ywkaras commented on #7799
I think these functions:  https://github.com/apache/trafficserver/blob/5c39528d2b8e06145cb4fa4ccd0579714cf490b8/include/tscore/LogMessage.h#L63-L74
Need an invocation of the TS_PRINTFLIKE macro in their declarations.

[2021-05-11 15:10] #7780 closed

[2021-05-11 20:27] pbchou commented on #3853
We are seeing a very similar core dump on assertion failure with 7.1.4. We understand that 7.1.x is no longer supported. So we are not looking for a patch. Would appreciate an assessment on whether our core dump would likely be same the issue as this and thus also corrected in 8.x forwards. We are looking to deploy 9.0.x soon, and my users are looking for this issue to fixed by the upgrade.

Our c

[2021-05-11 21:37] ywkaras commented on #7791
OK the messenger will work on his punishment.

[2021-05-12 15:26] bryancall opened #7820 "Plugin reload fails because of noexec mounted partition for the run directory"
From Mark Moseley on the users@ mailing list:
https://lists.apache.org/thread.html/r2be4fcf306079ea2f1c993b8f9807c9ffbff3ac21afefda419c22fda%40%3Cusers.trafficserver.apache.org%3E

Plugin reload fails because of noexec mounted partition for the run directory.  We should have better error messages, fail without reloading (Emergency), and possibly use another directory (e.g. /tmp/).

[2021-05-12 19:14] ywkaras opened #7823 "Au test causes assert in NextHopConistentHash.cc"
Here is the test:  https://github.com/ywkaras/trafficserver/commit/2190eebaae18400a5720adb12c380df0606af468

Here is the stack trace:
[code]

Here is the debug trace output:  https://gist.github.com/ywkaras/012c1e7563a41f0290ab7a79008cebed

Since the assert is `result->port != 0`, perhaps these lines from the debug trace are related:
[code]
records.config:
[code]
remap.config:
[code]
strategies.ya

[2021-05-12 20:01] jrushford commented on #7823
@ywkaras Your YAML is incorrect.  port is a field field in the protocol object not an array element.
Your YAML should look like this:

`- host: foo5
      protocol:
        - scheme: http
        - port: 61022
      weight: 1.0`

[2021-05-12 20:13] #7823 closed

[2021-05-12 20:20] jrushford opened #7824 "The strategies.yaml parser can incorrectly interpret the YAML elements in the host protocol."
A user inadvertently created an invalid host definition in the strategies.yaml.  When configuring the **scheme** section of a **host** the user added the **port** element as an array field.  The parser allowed this but at runtime, the next hop lookup failed to get the proper port number which caused a runtime assertion failure.

Incorrect YAML:
`
     protocol:
        - scheme: http
        - por

[2021-05-12 22:58] shinrich opened #7827 "9.1.x runs with slightly more ERR_CONNECT_FAIL's than 9.0.x"
We have been testing 9.1.x on a box in production for a couple weeks.  All is looking good except that the 9.1.x box has slightly more ERR_CONNECT_FAILS that its 9.0.x peer and slightly more 50x responses.  The difference is slight but consistent.  We need to figure out the cause before deploying 9.1.x more widely.

[2021-05-13 00:05] bneradt commented on #7799
Good catch @maskit .

Thank you for the observation, @ywkaras . That looks like it works. I've created a PR for this: #7829 .

[2021-05-13 01:44] #7801 closed

[2021-05-13 13:55] jrushford commented on #7824
After parsing the YAML, I think a check for all required settings should catch this problem.

[2021-05-13 15:33] ywkaras commented on #7791
Forgot to check for other cases of this.  It also appears in:
plugins/experimental/cache_fill/background_fetch.cc
plugins/experimental/access_control/headers.cc
plugins/header_rewrite/operators.cc
plugins/prefetch/headers.cc
plugins/cache_range_requests/cache_range_requests.cc
plugins/background_fetch/headers.cc

[2021-05-13 16:34] #7799 closed

[2021-05-13 23:39] shinrich opened #7838 "HPACK crash in 9.0.1"
We have been getting some background crashes with variations of the following stack since we moved from a 9.0.0 based build to a 9.0.1 based build.

[code]

I will try to dig into an actual core file to get some more details.  From what I can see in backtracio, the HPACK table looks ok and the index seems reasonable given the size of the map.

[2021-05-13 23:48] shinrich commented on #7838
Appears to be a corruption of the _headers container.

[code]
The 19th (20th really) entry is an invalid pointer.  Looks like maybe an ascii string.

[2021-05-14 00:44] moseleymark commented on #7471
I've been running 9.0.1 for about 24 hours and seeing this as well. The internal connection count seems to just tick up and up, but the connections don't seem to exist. Running traffic_ctl over and over, I do see it go *down* at times but the overall trend is to grow and grow.

15867 is the pid of traffic_server

# lsof -n -p 15867 | wc -l
106540

# traffic_ctl metric get proxy.process.net.connect

[2021-05-14 01:11] maskit commented on #7838
Just to make sure, you literally mean 9.0.1 but not 9.1.0?

`git diff 9.0.0 9.0.1 --stat` says there was no change under `/proxy/http2` nor `/proxy/hdr` between 9.0.0 and 9.0.1.

[2021-05-14 13:59] #7827 closed

[2021-05-14 13:59] #7705 closed

[2021-05-14 14:32] fdiary opened #7839 "POST method request will delete existing cache"
Hi,

POST method request will delete existing cache with the same URL, i.e. anyone can flush the cache of any URL by simply sending a POST method request, that is not an expected behaviour, I believe.

This is the behaviour with the configuration where `proxy.config.http.cache.post_method` is `0` (the default value).

[code]

This is because `is_method_cacheable` is false for POST method request

[2021-05-14 16:07] bryancall commented on #7839
@fdiary We should delete the cache entry after receiving a 2xx response from the origin.

[2021-05-14 19:06] fdiary commented on #7839
@bryancall (by default) ATS does not cache POST request response. Why do you think we "should" delete the existing cache generated by GET request response with such non-cacheable request ?

[2021-05-17 00:37] #7573 closed

[2021-05-17 15:21] mtorluemke opened #7846 "Reloadable plugins eventually causes ATS to crash on config reload"
After running ATS9 for ~45 days (reloading configs once/day), crashes are seen when configs are reloaded with a message like:

`traffic_manager[<<PID>>]: warning: Could not load shared library symbols for 8 libraries, e.g. /var/run/trafficserver/<<UUID>>/<<ATS installed directory>>/plugins/conf_remap.so.`

And, the stack trace is always:

`RemapPlugins::run_single_remap() RemapProcessor::perform_r

[2021-05-17 20:41] shinrich commented on #7838
I do mean 9.0.1.  Since it is a memory override, the issue could have come from elsewhere.  Or the issue was present before as well and something else changed in our environment around that time.

[2021-05-17 22:44] shinrich opened #7850 "Should add log format for whether origin TLS connection resumed an existing TLS session"
With PR #7479 ATS support session reuse for connections to the origin.  For the client-side request we can log `%<cqssr>` which indicates whether the user-agent connect was started by resuming an existing TLS connection.

We should have a similar entry for the connection from ATS to origin.  Maybe `%<pqssr>`

https://docs.trafficserver.apache.org/en/latest/admin-guide/logging/formatting.en.html?hi

[2021-05-17 22:53] shinrich commented on #7471
@moseleymark what is your traffic like?  Our traffic is a mix of pure proxy and smaller cached objects, and we're not seeing the problem.  If it is not parent selection based, then presumably it is due to differences in traffic patterns.

[2021-05-17 22:59] SolidWallOfCode commented on #7699
I am looking at this but I've found some other, rather more serious issues. I'll try to work this in as I go.

[2021-05-17 23:06] #7076 closed

[2021-05-17 23:43] moseleymark commented on #7471
This is all web hosting traffic, so it's got pretty random traffic patterns. All of my ATS nodes are doing reverse proxy to various parts of 2 /24s (on the same network). We control all the origin selection (all Lua talking to our own DNS), but the actual content could be anything from tiny files to large media files, could be static or dynamic. There are no parents at all, just each trafficserver

[2021-05-18 00:34] shinrich opened #7851 "Crashes on what appears to be double freeing SSLNetVConnection objects"
We have been seeing this occaisionally with 9.0.x for the last couple months.  At first I thought it was just the shutdown crash (crashes due to SSL library unloading on shutdown).  But on closer inspection, it looks like we are deleting a SSLNetVConnection that has already been deleted.

[code]

[2021-05-18 00:43] shinrich commented on #7851
I think it may be due to NetHandler::manage_keep_alive_queue.  From within that function it calls

[code]
Which in turn calls
[code]
Even if the recursion count is greater than 0.

[2021-05-18 00:43] masaori335 opened #7852 "HTTP/2 Session Refactoring"
# Overview
Change Http2Session and Http2Stream to have appropriate states as Continuation Handler instead of having a bunch of flags.

# Motivation

For a long time, we've been struggling bunch of issues with the HTTP/2 subsystem. IMO, one of the root causes is Http2Session and Http2Stream are handling every event on only `main_event_handler` and handling many corner cases with flags.
Now, we're g

[2021-05-18 01:12] masaori335 commented on #7852
Below is the first idea of states (v0.1).

## HTTP/2 Session
- https://gist.github.com/masaori335/f16a851b50bec2f69e4034844a40ab59#file-http2ssn-uml
- #7845 has piece of code for this
<img width="829" alt="Screen Shot 2021-05-18 at 9 56 36" src="https://user-images.githubusercontent.com/741391/118574484-813fa300-b7bf-11eb-8946-9f0c3aacd053.png">

## HTTP/2 Transaction
- https://gist.github.com/mas

[2021-05-18 01:40] maskit commented on #7852
Please keep #5675 in mind, although it doesn't need to be done on the first step of this.

[2021-05-19 00:53] ywkaras commented on #2851
I ran the redirect Au test under gdb, with a breakpoint in url_canonicalize_port().  The type parameter was never NONE, even though the test includes relative redirects, so looks like we're good.

[2021-05-19 00:53] #2851 closed

[2021-05-19 16:37] bneradt commented on #7839
I've written an AuTest that reproduces this on  a local branch. I'm now considering how ATS's behavior should change.

I agree with @bryancall 's comment: that is, we should delete the cached entry if a 2xx is received from the server to a POST. The problem with keeping the cached content valid is that the POST potentially invalidates the resource because POST is an unsafe method.

Consider this s

[2021-05-20 05:27] maskit commented on #7471
I reverted #7237 and #7336 then the stats got steady. I think the cause is #7237 but I had to revert #7336 as well because it's an additional fix for #7237 (there's dependency).

[2021-05-20 14:17] ywkaras opened #7863 "Dormant PRs and Issues"
This tracks items (PRs and Issues) which at least one contributor considers worthwhile, but is unlikely to be merged/resolved any time soon.  Items tracked here should be in the closed state.  Each item should be in it's own post, with the title of the item and a link to it.  The title should have "PR:" or "Issue:" as a prefix.

[2021-05-20 14:18] ywkaras commented on #7863
This is a proposal for a way to declutter our open PRs and Issues.  We can discuss it in the weekly meeting.  I'm one PR in it as an example.

[2021-05-20 14:20] ywkaras commented on #7863
Cause traffic_server to die fast if a plugin is loaded that was not built with the correct core version.
https://github.com/apache/trafficserver/pull/4523

[2021-05-20 18:59] ywkaras commented on #2895
I don't have the background knowledge to understand this issue.

I made these changes to the redirect.test.py Au test:
https://github.com/ywkaras/trafficserver/commit/2f4623d652f2fcee2cf740e60b09d5ab26e45977

These are the resulting log entries:
[code]

[2021-05-20 23:31] masaori335 opened #7865 "SEGV on CacheDisk destructor"
[code]
Affected version: 8.1.2

[2021-05-20 23:33] masaori335 commented on #7865
It looks like ATS found a bad disk and tried to delete it, but got SEGV on `disk_vols[i]->dpb_queue.pop()`.

https://github.com/apache/trafficserver/blob/cbb20d4fe05e1598943590a1a65fbb2d3f5015d2/iocore/cache/Cache.cc#L764-L767

https://github.com/apache/trafficserver/blob/cbb20d4fe05e1598943590a1a65fbb2d3f5015d2/iocore/cache/CacheDisk.cc#L117

[2021-05-21 17:56] ywkaras commented on #2895
Talked with Bryan, the TS_MISS_REDIRECT code seems adequate.

[2021-05-21 17:56] #2895 closed

[2021-05-21 22:00] ywkaras commented on #2895
Related PR:  https://github.com/apache/trafficserver/pull/7870

[2021-05-24 02:17] vpelletier commented on #7839
While further investigating this issue with @kazuhiko, I noticed this part also in [rfc7234 section-4.4](https://datatracker.ietf.org/doc/html/rfc7234#section-4.4) (emphasis mine):

I was under the initial impression that POST responses should only invalidate the cache when they contain `Location` and/or `Content-Location` and than only the resources they identify would be invalidated (and not the

[2021-05-24 07:15] masaori335 opened #7871 "Intermittent crash with ssntxnorder_verify.so (AuTest openclose_h2)"
The current master branch intermittently crashes with `ssntxnorder_verify.so` which is a plugin for the openclose_h2 AuTest.

## backtrace
[code]

## client
[code]

## ATS
plugin.config
[code]

[2021-05-24 07:18] masaori335 commented on #7871
I'm not sure this is related or not, but this `do_io_read()` call breaks the relation of Http2ClientSession and Http2Stream.

[code]

[2021-05-24 07:26] maskit commented on #7871
#7586 ?

[2021-05-24 07:32] masaori335 commented on #7871
Thanks, I haven't noticed that. It's fixing the odd `do_io_read()` call at least. I'll try the change and review it.

[2021-05-24 07:42] masaori335 commented on #7871
Unfortunately, #7586 still crashes 😢

[2021-05-24 15:22] brbzull0 commented on #2742
I've put together a [unit tests](https://github.com/apache/trafficserver/commit/79524ffd279e07eb2185ee051c63ab38f548cc4f) which does what's described in this issue.

_Notes:
I've used `foo.test/ping & bar.test/pong` instead of `foo.test & bar.test` for this test_

curl output:
[code]

I think we need to discuss how to proceed with this issue.

[2021-05-24 16:06] shinrich commented on #7871
I'm a bit confused.  It is crashing the openclose_h2 autest?  Or if you include the ssntxnorder_verify.so test plugin and run h2load against it it will crash eventually?  I assume the later and the compiler optimizations have eaten the frame headers specifically associated with ssntxnorder_verify.so

[2021-05-24 16:09] shinrich commented on #7865
About 6 months ago, I spent many iterations trying to fix our crash on bad disk problem.  What version are you running?  I thought I had pushed those fixes to master.

[2021-05-24 16:13] shinrich opened #7872 "Double calling TRANSACT_RETURN from HttpTransact::handle_cache_write_lock"
Noticed this while walking code trying to see how an assert from @ezelkow1 could occur.  Looking at the last if/else clause in HttpTransact::handle_cache_write_lock

[code]
If the outer else is taken and the next is SM_ACTION_ORIGIN_SERVER_OPEN, then TRANSACT_RETURN is called in the if body and also on return through the outer else.

Doesn't seem like a good thing.  Appears to be accidental change

[2021-05-24 22:48] masaori335 commented on #7865
The version we got this crash is almost the same as the current head of the 8.1.x branch.

[2021-05-24 23:00] masaori335 commented on #7871
Later. I got crash when I run  h2load against ATS with the ssntxnorder_verify.so plugin (debug build).

It looks like the `Http2ClientSession` got EOS on `ProxySession::state_api_callout`, due to the `_vc->do_io_close()` is not called before `Http2ClientSession::destroy()` is called in some path.

[2021-05-24 23:43] #7863 closed

[2021-05-25 00:40] maskit commented on #3139
I'm not sure if this is still an issue, but closing this because many things were changed. Although the workaround leaks QUICNetVC, that is another issue and is tracked on #5866.

[2021-05-25 00:40] #3139 closed

[2021-05-25 04:33] masaori335 commented on #7871
Making sure that disabling read/write of VC at `Http2ClientSession::destroy()` could be a workaround fix. I confirmed below change can fix the crash.
But it looks like this is one of the issues of the closing path is complicated. I'd like to cover this case by #7845.
[code]

[2021-05-25 07:05] maskit commented on #7871
The workaround is something similar to what I tried to do on #7595, which couldn't pass some of autests. I agree that a complete fix would be something like #7845.

[2021-05-25 14:53] shinrich commented on #7471
Interesting.  I'll work with #7237.

I just noticed on a machine running 9.1.x a little bit of a server session leak.  It had been running for 8 hours.  Took it out of rotation, and still the proxy.process.http.current_server_connections is around 1000 even though according to the OS only about 30 connections are open to the origin.

[2021-05-25 15:02] shinrich commented on #7865
Take a look at PR #7218.  I thought I had to make multiple attempts here, but this is the only relevant looking PR I see on master.  I'll review my internal work and make sure it all made to to ASF.  It could be that I delayed making an ASF PR until we got it all under control.

[2021-05-25 15:10] shinrich commented on #7865
Take a look at PR #7218.  I thought I had to make multiple attempts here, but this is the only relevant looking PR I see on master.  I'll review my internal work and make sure it all made to to ASF.  It could be that I delayed making an ASF PR until we got it all under control.

[2021-05-25 17:59] shinrich commented on #7471
We are running with a couple differences on our internal 9.0.x branch from what is on ASF.  With 9.1.x we reset against the ASF branch, so that could be we are starting to see a slow leak.

I am working through differences in HttpTunnel.  Just brining over our 9.0 version into our 9.1 build seems to have plugged the leak, but also I may not have waited long enough.

One HttpTunnel difference is th

[2021-05-25 20:10] shinrich commented on #7471
I think PR #7386 is the difference.  I added that to our 9.1.x build.  Without that change, we leaked around 6000 origin sessions over the period of a day.  With the change, I ran it for an hour or so, then took it out of rotation.  The output of the following commands matched each other nicely as the system drained.

[code]

I will reopen PR #7386.

[2021-05-25 20:16] bneradt commented on #1652
ATS seems to behave as expected per the new #7743 test. I was not able to reproduce the client issue. Considering the age of this bug and no one else reporting issues on this, I'm going to clean things up by closing this bug. Please re-open if issues of this nature are seen again.

[2021-05-25 20:16] #1652 closed

[2021-05-25 22:24] shinrich commented on #7471
I removed the changes in from PR #7386 from our 9.0.x build, and now that test build is showing some origin session leaking.

[2021-05-26 02:36] maskit commented on #7471
I've been running a test build with the change from #7386 for an hour, and I don't see the leak.

[2021-05-26 09:06] lukenowak opened #7880 "Trafficserver holds chunked response for backend down case"
We have a situation where the backend returns a response with body size > 2048 bytes without Content-Lenght. This leads to TrafficServer returning it further with Transfer-Encoding: chunked. If the body size is <= 2048 TrafficServer adds Content-Length by itself and serves the content happily.

We are using TrafficServer 8.1.1, but the same behaviour is with 9.0.1.

Our configuration:

- proxy.con

[2021-05-26 15:48] shinrich commented on #7471
[approve ci autest]

[2021-05-26 19:33] bneradt commented on #7880
I'm working on reproducing this but haven't been able to yet. We have a negative-revalidating test which I've modified like so:

[code]

Note I modified the server to not contain a content-length header in its response and I increased the body size to be greater than 2048 (3200 bytes). I then ran the test. The first three transactions do this:

1. Populate the cache with a response to a GET reques

[2021-05-26 19:56] bneradt commented on #7880
@lukenowak : can you please attach the two packet captures, filtered for these two transactions?

[2021-05-26 23:54] elsloo opened #7888 "S3 auth plugin configuration parsing does not account for inner spaces"
The S3 plugin currently only strips leading and trailing whitespace from the entire configuration line before determining which field is currently being parsed. Once the line is stripped, a string comparison is performed to identify keys, which includes the equals symbol, and if that matches, we advance the pointer based on the key's length and set the value for the key with the value immediately

[2021-05-27 01:57] yansong1221 opened #7890 "example plugin crash"
'/example/plugins/cpp-api/delay_transformation_plugin/DelayTransformationPlugin.cc' This component will cause a crash in the function 'void consume(std::string_view data) override'

[2021-05-27 05:02] vpelletier commented on #7880
Some more data points and details.

In the original setup where we noticed this issue (which @lukenowak then reproduced in a smaller test scenario with less identifying data) there was another weird behaviour to the chunking: for a 8211 bytes cached resource, both `tcpdump` and `curl --raw` on an access local to the maching running ATS show:
- a first 0x1000 chunk header, followed by 4096 bytes of

[2021-05-27 05:13] vpelletier commented on #7880
Aha ! And if I actually stop origin (hence making ATS notice an immediate "connection refused"), then the issue does not manifest itself, and it is actually served in a single body with a Content-Length visibly generated by ATS itself (there is no such header visible in an `http://{cache}/` lookup).

[2021-05-27 06:36] masaori335 opened #7891 "ASan: heap-use-after-free Http1Transaction::reset()"
When I was testing the `proxy.config.net.max_connections_in` config, I got heap-use-after-free on the ASan build of current mater (050b2dfe9a89348b4105183a2b31e7cc59fc389d).

## ASan report
[code]

## ATS
records.config
[code]

## client
[code]

[2021-05-27 06:37] masaori335 commented on #7891
I tried the same test on 9.0.x, but I've not reproduced it so far.

[2021-05-27 06:45] masaori335 commented on #7891
This `h1trans->reset()` does double free when `add_to_keep_alive_queue()` free vc and session by hitting `proxy.config.net.max_connections_in` limit.
https://github.com/apache/trafficserver/blob/050b2dfe9a89348b4105183a2b31e7cc59fc389d/proxy/http/Http1ClientSession.cc#L420-L424

[2021-05-27 07:30] masaori335 opened #7893 "ASan: heap-use-after-free on HttpSessionAccept::accept"
Another heap-use-after-free with the same condition to #7891
[code]

[2021-05-27 07:34] masaori335 commented on #7893
The order looks matters. It looks like `Http1ClientSession::new_connection()` frees the `new_session`.
https://github.com/apache/trafficserver/blob/050b2dfe9a89348b4105183a2b31e7cc59fc389d/proxy/http/HttpSessionAccept.cc#L59-L61

[2021-05-27 07:49] lukenowak commented on #7880
The packet captures.

[backend_up.pcap.gz](https://github.com/apache/trafficserver/files/6552052/backend_up.pcap.gz)
[backend_down.pcap.gz](https://github.com/apache/trafficserver/files/6552053/backend_down.pcap.gz)

[2021-05-27 07:53] lukenowak commented on #7880
@vpelletier is right regarding the origin state - if it's down the issue is not there, it happens only when it return 5xx.

[2021-05-27 14:36] dragon512 opened #7895 "Intel compiler error with 9.1.x branch"
When comping with the intel compiler we got this error.

`Http2SessionAccept.o -MD -MP -MF $depbase.Tpo -c -o Http2SessionAccept.o ../../../../../../_scm/trafficserver9.1/proxy/http2/Http2SessionAccept.cc &&\
mv -f $depbase.Tpo $depbase.Po
../../../../../../_scm/trafficserver9.1/proxy/http2/HPACK.cc(102): error: expression must have a constant value
  constexpr HpackHeaderField STATIC_TABLE[] = {{

[2021-05-27 17:23] #7385 closed

[2021-05-27 17:23] #7471 closed

[2021-05-27 20:06] #7800 closed

[2021-05-27 21:59] bneradt commented on #7880
Thank you, both. This is helpful feedback. It's good to know that a 5xx from the server is sufficient to repro this because writing a test where the server actually disappears is possible in AuTest but more complicated than me just configuring the test server to reply with a 503.

I've now reproduced the issue on this debug branch:
https://github.com/bneradt/trafficserver/tree/chunked_backend_down

[2021-05-27 22:36] mtorluemke opened #7900 "Add metric for loop detection"
We should have a metric that increments when a proxy loop is detected. Likely here:

https://github.com/apache/trafficserver/blob/f36cf6a6e5b1372916170541bec681a80b34c46f/proxy/http/HttpTransact.cc#L6577

[2021-05-28 00:30] singhsanjay12 opened #7902 "Update TS API TSHttpTxnAborted to Distinguish client/server aborts"
Currently, the purpose of the API is limited to providing success/error on overall transaction aborts. We should be able to distinguish client-side aborts from the actual server aborts. While client aborts may not be indicative of any direct problems with downstream servers, it's the server aborts that can be used as passive health-checks for the downstream origin hosts. Also, this makes troublesh

[2021-05-28 10:37] c-taylor opened #7903 "exec_thread.affinity INT 4 - causes 'collisions'"
Whilst chasing down another problem I noticed that the affinity rules are 'broken'.

ATS version 8.1.2

Issues:
1. Accept threads
    1. Multiple accept threads are all pushed to same core
    2. Accept thread core is not excluded from other masks and shared with a NET thread
2. AIO threads have no affinity
3. NET threads are biased toward siblings over ‘proper’ cores
    1. 0,32 are different thr

[2021-05-28 16:25] bneradt commented on #7880
@shinrich : Good question. I do not see this issue when I run on 9.1.x. Thus, to be explicit:

1. 8.1.1 and 9.0.1 have an issue where the stale, chunked responses are truncated.
2. 9.1.x and master do not have this issue.

[2021-05-28 18:29] bneradt commented on #7880
I've verified that the following PR, when I locally cherry-pick it to 9.0.x in my dev environment, fixes this issue:
https://github.com/apache/trafficserver/pull/7577

[2021-05-28 19:43] bneradt commented on #7880
@lukenowak and @vpelletier: thank you for the detailed information. Using your data I added a regression test for this issue. It turns out that @shinrich has submitted a fix for this issue in #7577. I've requested backports for the fix for this to go into the next 8.1.x and 9.0.x releases.

I'll leave this issue open until the following cherry-picks are merged in:
* https://github.com/apache/traff

[2021-05-29 00:42] ywkaras opened #7910 "DNS lookup on host in remap URL, even if it is not next hop"
In this Au test:
https://github.com/ywkaras/trafficserver/blob/next_hop_bad_dns/tests/gold_tests/next_hop/strategies_ch/strategies_ch.test.py

the request will fail if the DNS server does not have an entry for the host "not_used". (That is, if line 118 is removed.)  This harms performance, and causes failure if the host in the upstream request is only known to upstream DNS servers.

Here is the tr

[2021-06-01 19:46] ywkaras commented on #7910
False alarm, the DNS lookup can be avoided by setting **proxy.config.http.no_dns_just_forward_to_parent** to 1.

[2021-06-01 19:46] #7910 closed

[2021-06-01 22:33] #7891 closed

[2021-06-01 22:33] #7893 closed

[2021-06-02 23:04] bneradt opened #7915 "h2spec.test.py has become flakey"
I've noticed that CI has started having intermittent failures with the h2spec.test.py test. I reproduced it locally, running the test 20 times, and noticing that it would fail consistently within a few runs. I did a git bisect and here's the results:

[code]

Those results seem to indicate that this PR has made the h2spec test to pass inconsistently:
https://github.com/apache/trafficserver/pull/78

[2021-06-03 05:20] masaori335 commented on #7915
I got repro on my mac (intermittent failure of 2/5, 3.9/2, and 3.10/2).

[2021-06-03 06:20] masaori335 commented on #7915
It looks like `http2/4.2/1` hangs intermittently.
<details><summary>Debug logs</summary>

[code]
</details>

[2021-06-03 20:30] randall commented on #7846
Wasn't not the case? Not a time-based issue, rather a double-delete issue: https://github.com/apache/trafficserver/pull/7862

[2021-06-04 08:51] lukenowak opened #7922 "Rotated squid.log files have hostname coming from request"
My `etc/trafficserver/logging.yaml` is:

[code]

(the small `rolling_interval_sec` is to see the issue) and I see that it uses rotated filename like:

`squid.log_www.example.com.20210604.10h28m50s-20210604.10h29m30s.old
`

Where `www.example.com` is just on of sites being served via Trafficserver.
Instead of usual:

`squid.log_HOST.IP.V.4.20210604.10h28m50s-20210604.10h29m30s.old
`
(it was like wi

[2021-06-04 11:29] lukenowak commented on #7880
Thanks @bneradt . Is there a chance that this fixes will end up in 9.0.2? And do you have any due date for this release? I saw there are no dates on milestones (I assume you'll release, when it's ready).

[2021-06-04 17:40] shinrich commented on #7915
Weird.  Hitting proxy-requests after hooks 2 times seems very bad.

[2021-06-07 01:09] BeijingWks commented on #4795
I also encountered the same problem, how did you solve it in the end?

[2021-06-07 03:08] masaori335 commented on #7915
After #7809, `read_from_net` raises `VC_EVENT_ERROR` when the origin server resets the connection after sending the response.

<details><summary>`VC_EVENT_ERROR` on `HttpSM::state_read_server_response_header`</summary>

[code]
</details>

<details><summary>tcpdump trafficserver <-> origin server</summary>

[code]
</details>

[2021-06-08 01:03] #7915 closed

[2021-06-09 21:02] bneradt opened #7933 "We should delete global_scrap_object code"
While doing some logging work, I noticed that our code instantiates a so-called scrap LogObject:

https://github.com/apache/trafficserver/blob/b85d9fd8481bc55547aade92f5b9cf7a8db5099f/proxy/logging/Log.cc#L1091=#L1095

This object is never written to, thus it is dead code. Digging through our history, it looks like this used to be associated with log collation, a feature which was removed in #5353

[2021-06-10 22:05] #7933 closed

[2021-06-11 16:40] bneradt opened #7938 "Building the sphinx docs fails with the latest sphinx version"
With the latest Sphinx version (mine was 4.0.2), `make html` from the docs directory fails with this error:

[code]

This can be reproduced via our CI's centos:8 docker image like so:

[code]

[2021-06-11 17:31] bneradt commented on #7938
@SolidWallOfCode shared his Python virtualenv with me in which is able to successfully build. I've verified that pinning the packages like so causes the build to succeed:

[code]

[2021-06-11 19:15] bneradt commented on #7938
I've verified that the latest 3.x sphinx release (3.5.4) from two months ago builds our docs fine:

[code]

Thus this issue is only experience for those building with the latest 4.x release (their master branch). To unblock people building the docs I'll create a PR with that pin and in the meantime investigate whether this is an issue with our docs not working well with sphinx 4.x or a bug with sp

[2021-06-11 21:24] bneradt commented on #7938
I filed an issue dowht doc/sphinx about this build failure. We'll see what they say:
https://github.com/sphinx-doc/sphinx/issues/9322

[2021-06-11 21:24] #7938 closed

[2021-06-14 15:52] bneradt opened #7941 "Unpin the docs Sphinx package once 4.x has the fix for building our code"
In order for our Sphinx doc build to succeed, we have to pin the Spinx package to 3.x rather than the latest 4.x. This is due to the following Sphinx issue we filed:
https://github.com/sphinx-doc/sphinx/issues/9322

To unblock our doc builds, our [doc/Pipfile](https://github.com/apache/trafficserver/blob/3d584af796bad1e9e3c03b2af5485b630ffedafb/doc/Pipfile#L33) was configured to pin the Sphinx pac

[2021-06-14 23:18] #7872 closed

[2021-06-15 00:00] bryancall commented on #7890
@ywkaras said he should be able to take a look at it in July.

[2021-06-15 17:20] bneradt commented on #7922
Thank you for filing the issue. I'll look into this.

In case it's helpful, starting from 9.1.x, ATS supports external log rotation utilities (such as [logrotate](https://linux.die.net/man/8/logrotate)) via the SIGUSR2 signal:
https://docs.trafficserver.apache.org/en/9.1.x/appendices/command-line/traffic_manager.en.html?highlight=sigusr2#signals

Thus, logrotate can be configured to rotate the log

[2021-06-15 20:01] bneradt commented on #7880
The fix just got merged into 9.0.x (see #7577), so it will be in 9.0.2. We are currently working on this release. It should be out within a couple months.

[2021-06-15 21:44] bneradt commented on #7880
Closing since Susan's fix (#7577) is now merged to 9.0.x and 8.1.x.

[2021-06-15 21:44] #7880 closed

[2021-06-15 22:22] bneradt commented on #7922
Hi @lukenowak,

I created a PR to address the issue where `proxy.config.log.hostname` is not respected when rotating the logs. That is indeed a bug and should be fixed with PR #7943.

In addition to `proxy.config.log.hostname` not being respected, you also mention that the default hostname used for the rotated logs changed from an IP address to the hostname of the machine between 8.x and 9.x. Is t

[2021-06-16 06:29] masaori335 opened #7946 "Intermittent failure on AuTest (double)"
AuTest (double) is smoking. I saw some failures with unrelated changes.

https://ci.trafficserver.apache.org/view/github/job/autest-github/15874/console
https://ci.trafficserver.apache.org/view/github/job/autest-github/15876/console
https://ci.trafficserver.apache.org/view/github/job/autest-github/15889/console
[code]

[2021-06-16 09:47] lukenowak commented on #7922
If I'll be able to use `proxy.config.log.hostname` then the default hostname change is not a problem for me anymore, just having #7943 is good enough, thanks.

[2021-06-16 09:48] lukenowak commented on #7922
That's excellent news, as soon as 9.1.x will be out I'll be happy to use it with logroration.

[2021-06-16 16:02] bneradt commented on #7946
Just got bit by this myself. I'll look into this.

[2021-06-16 18:34] bneradt commented on #7946
I haven't been able to reproduce this locally yet. I tried running the double test in a loop by itself and it hasn't crashed after over 10 runs.

Looking at the sandbox, it looks like the various issues are due to ATS tripping on an HttpSM.cc assertion:

https://ci.trafficserver.apache.org/autest/ausb-7939.15874/double/_output/double-ts/stream.all.txt

[code]

Note in particular:

[code]

That's t

[2021-06-16 18:38] bneradt commented on #7946
I managed to reproduce the problem on my fifteenth iteration of the test. That's rare enough that it might be hard to do a `git bisect` on our recent commits to see what has introduced this. I'll make an attempt.

[2021-06-16 22:55] bneradt commented on #7946
### Summary:

It looks like #7849 introduced the flakiness into the double.test.py test.

---
### Process

I used `git bisect` to find the commit which introduced the flakiness, with each bisect run running the double.test.py AuTest 30 times. If it passed all thirty, then the bisect iteration was considered a success. Using this method, `git bisect` found this to be the commit that introduced the

[2021-06-16 23:18] bneradt commented on #7946
In case it's helpful, I reproduced this with `http` debug tag logging. Here is the debug output leading up to the assertion:

[code]

The entire output for the failed test is attached as: [stream.all.txt](https://github.com/apache/trafficserver/files/6666289/stream.all.txt)

[2021-06-17 03:31] sotier commented on #7170
hi, traffic server can support hot file? the fifo way to cache full will delete hot file, it is no suit to a cdn system

[2021-06-17 20:14] #3147 closed

[2021-06-17 21:10] #7839 closed

[2021-06-18 14:56] bneradt opened #7953 "ESI AuTest is failing: `Version 112 not in supported set `"
I noticed that our CI AuTest runs on master for esi started failing today:

https://ci.trafficserver.apache.org/job/autest-master/774/console
https://ci.trafficserver.apache.org/job/autest-master/773/console

[code]

The failure is due to the following error messages being emitted from the traffic server process:

[code]

I notice that the sandbox has a crashlog:
https://ci.trafficserver.apache.or

[2021-06-18 18:11] #7953 closed

[2021-06-18 20:08] bneradt commented on #6649
This is interesting. I've written a test around the negative revalidating feature before. I'll assign this to myself and see whether I can add a test for this.

[2021-06-18 20:27] shinrich commented on #7346
Hmm, based on the issue, the default should be 1 for proxy.config.http.send_100_continue_response.  I am working up another PR, so the 100-continue is processed before the post body is sent.  With that change, we can leave the default for proxy.config.http.send_100_continue_response to 0.

[2021-06-19 23:20] #7922 closed

[2021-06-21 08:49] vipergc opened #7960 "PANIC: unprotected error in call to Lua API (undefined symbol: lua_gettop)"
My environment is Lua-5.4.2 Luasocket-3.0-rc1, when I direct run lua script, it work success. When i run it within c language,

Error Msg is :
PANIC: unprotected error in call to Lua API (error running script: error loading module 'socket.core' from file '/usr/local/lib/lua/5.4/socket/core.so':  undefined symbol: lua_gettop)
Aborted(core dumped)

Does anyone know why?

My code is follow:
test.lua:

[2021-06-21 13:28] #7946 closed

[2021-06-21 18:36] shukitchan commented on #7960
What version of ATS you are using?

Anyway, we recommend to use luajit with ATS for the plugin. In 7.x luajit is part of the binary and in 8.x and beyond, the ATS lua plugin is compiled only with luajit is found in the system.

For luasocket to work with luajit, you need to compile that accordingly . This is what i do

e.g.

[code]

[2021-06-21 18:39] shukitchan commented on #7960
And if you are just running the C program you are showing, i think you should use lua5.1 instead and see if it works.

[2021-06-21 23:31] bryancall commented on #7888
@zwoop get it done!

[2021-06-21 23:34] shukitchan commented on #7960
I looked like it is not specific to ATS.
Closing for now.

[2021-06-21 23:34] #7960 closed

[2021-06-21 23:47] bryancall commented on #3954
This should be fixed on the origin and ATS can override the header using the example in this issue.

[2021-06-21 23:47] #3954 closed

[2021-06-21 23:52] bryancall commented on #4103
This should be fixed when we change remap.config to YAML

[2021-06-21 23:54] SolidWallOfCode commented on #4210
As we convert to YAML, we should make it possible to embed this information in the record metadata so the testing can limit its randomness.

[2021-06-21 23:56] shinrich commented on #4160
Maybe change so the last line is the default.  No need to have an explicit dest_ip=*

[2021-06-21 23:59] bryancall commented on #4236
@vksiva Please reopen if this is still and issue.

[2021-06-21 23:59] #4236 closed

[2021-06-22 00:19] ywkaras commented on #7895
@dragon512 do you know what branch or commit was being compiled when this error occurred?

[2021-06-22 01:27] vipergc commented on #7960
I have tried it in lua-5.1, the problem is the same.

[2021-06-22 01:28] vipergc commented on #7960
What is the ATS? Do you have download link?

[2021-06-22 02:40] masaori335 commented on #6877
#7845 covers this.

[2021-06-22 02:40] #6877 closed

[2021-06-22 09:50] c-taylor opened #7973 "disable_freelist flag '-f' appears to do nothing"
https://github.com/apache/trafficserver/blob/f8ec81d7b8c28ca00ceedff282a76af47314dfcb/src/traffic_server/traffic_server.cc#L201

The '-f' flag and all documentation exists, but it appears to have no action.
This should be removed.

[2021-06-22 09:51] shukitchan commented on #7960
ATS is apache traffic server. you are submitting your issue here already - https://github.com/apache/trafficserver/

[2021-06-22 13:17] c-taylor commented on #7903
Using an 4co (8HT) example:  A desirable way to fill is:
[code]
PU L#0, PU L#2, PU L#4, PU L#6, PU L#1, PU L#3, PU L#5, PU L#7

----

For dual socket:
* Half of the threads on each socket
* Fill each socket as above

----------

An explicit mask would be useful for testing purposes or for specialised use cases.

[2021-06-22 15:04] bneradt commented on #3551
We are in the process of transitioning to a new CI environment. As a part of that process, we have configured the Centos CI job, which runs `make check` and the regression tests, to build against the openssl-quic library. For our current centos:8 new CI docker image, that version of openssl quic is:

repository: https://github.com/quictls/openssl.git
branch: OpenSSL_1_1_1k+quic

This is the branch

[2021-06-22 15:28] bneradt commented on #3551
I did an experiment with the new CI job to verify it functions like we expect it to. A week ago I made the following PR to fix the catch tests when compiled against openssl-quic: https://github.com/apache/trafficserver/pull/7944

I did the following run against master, which has the fix from that PR:
https://jenkins.trafficserver.org/view/Github/job/Github_Builds/job/centos/37/

The test passed, a

[2021-06-22 19:38] traeak opened #7974 "background_fetch plugin requires origin support 206s"
Given an origin that does not support range requests (replies 200 to range requests).
remap rule configured with background_fetch plugin.
CONFIG proxy.config.http.cache.range.lookup INT 1

make range request through ATS.
response will be 200.
background_fetch plugin ignores because it only considers 206 responses.
ATS doesn't cache the 200 response (maybe it decided the response wasn't going to be

[2021-06-22 21:48] ezelkow1 commented on #7710
After running with these many in the community have had crashes appear which reverting these changes appears to fix. So we will be backing them out from 8.1.x before release

[2021-06-23 00:27] maskit commented on #3551
Thank you for setting up the CI environment.

Does this mean we can run autest test cases that requires curl that supports HTTP/3?
https://github.com/apache/trafficserver/blob/9e7cece7641b282a76fb95798f29e4cd39b51bc8/tests/gold_tests/timeout/active_timeout.test.py#L67-L70

[2021-06-23 16:19] shinrich opened #7980 "ATS should reject connections where the client offered ALPN does not have a match with the ATS list"
Internally we've been discussing the cross-application attacks discussed in https://alpaca-attack.com/ALPACA.pdf.  And those discussions got us looking at how ATS handles ALPN.

Currently ATS will try to find a matching protocol if the client offers an ALPN entry.  If there is no match, ATS continues on and assumes HTTP/1.1.  If no ALPN string is offered (presumably an older client), ATS continues

[2021-06-23 16:22] shinrich opened #7982 "Should we remove support for NPN?"
While looking through the ALPN logic, I notice that we still fallback to NPN if ALPN is not offered.  Should we get rid of that support?  It seems that the world has moved on.

I also noticed that our internal data structures are all named around npn.  May want to due a name update to avoid confusion in future maintenance.

[2021-06-23 16:23] #7346 closed

[2021-06-23 16:41] bneradt opened #7983 "Update the version of Sphinx in our CI machines"
Currently, the CI builds our ATS Sphinx docs with Sphinx version 2.0.1. This can be seen from this job:
https://ci.trafficserver.apache.org/view/10.x%20master/job/docs-master/

[code]

Currently the latest version is 4.0.2. We are currently pinned to the 3.x releases however due to the issue described in https://github.com/apache/trafficserver/issues/7941.

The fix for that is slated for the next

[2021-06-23 20:16] bneradt commented on #7983
Before we can update CI, we need to update our 8.1.x and 7.1.x branches for Sphinx 3.x. Currently building docs on those branches with Sphinx 3.x fails due to a small variety of issues. These PRs unblock this issue:

- https://github.com/apache/trafficserver/pull/7984
- https://github.com/apache/trafficserver/pull/7985

[2021-06-23 20:46] bneradt commented on #7983
In addition to the above, I noticed 9.0.x needs a couple updates as well for Sphinx 3.x:

- https://github.com/apache/trafficserver/pull/7987

[2021-06-23 20:49] bneradt commented on #7983
Resolving this issue (i.e., updating CI to have Sphinx 3.x installed) unblocks #7978

[2021-06-23 21:32] randall commented on #5595
No response in 2 years. Feel free to reopen, but do note that 7.x is now unsupported.

[2021-06-23 21:32] #5595 closed

[2021-06-23 22:23] bneradt commented on #3551
Wow, I'm glad you asked this.

The answer is yes, we can run those tests. And indeed when I run it locally with our new CI's centos:8 docker image I run that test:

[code]

It's subtle, but notice the four dots. That fourth dot corresponds to the HTTP/3 test you describe.

I had done work to make that happen, and I thought it would carry over to the new jenkins server. But since you asked, I went

[2021-06-23 22:42] elsloo opened #7988 "HostDB does not properly cache negative responses"
Currently, it appears that at the very least, the no answer, no error, implicit negative response from an authoritative DNS server is not cached by HostDB. These answers are also known as a `NODATA` response per RFC 2308, section 2.2, found here: https://datatracker.ietf.org/doc/html/rfc2308#section-2.2

At a minimum, HostDB should implement negative caching for this case, but other cases, such as

[2021-06-23 23:56] maskit commented on #7982
👍

[2021-06-24 00:08] maskit commented on #7980
RFC 9001, which is part of QUIC, clearly says a connection must be closed immediately if an application protocol is not negotiated.
https://datatracker.ietf.org/doc/html/rfc9001#section-8.1

[2021-06-24 00:17] maskit commented on #3551
Awesome, thank you.

[2021-06-24 01:56] ezelkow1 commented on #6938
Closing this issue, I already added an API for it :)

[2021-06-24 01:56] #6938 closed

[2021-06-24 18:34] traeak commented on #7974
Workaround is to add 2 header rewrites, one before and one after the background_fetch plugin with example rewrites:

before:
[code]

after:
[code]

Probably can use a private header instead of an X- header.

[2021-06-24 20:06] bneradt commented on #6909
I've investigated this a bit in the past. To restate the context: when someone submits a PR for review, the desire is for CI to rebase or merge the commits in the PR on top of the latest associated branch before the CI runs. Our Jenkins CI does not implement this by hand. Rather, this mechanism is done via a Jenkins plugin. As many of us have experienced, this plugin seems to have a problem when t

[2021-06-25 16:00] dragon512 commented on #7895
it should be 9.1

[2021-06-25 16:12] bryancall commented on #7284
@sudheerv If this is still an issue please reopen.

[2021-06-25 16:12] #7284 closed

[2021-06-25 18:06] SolidWallOfCode commented on #7988
I'll take a look at this once the current HostDB changes land. It shouldn't be too much work to fix this in the new implementation.

[2021-06-25 18:10] bryancall commented on #4251
@willwendorfvm can you please take a look at this

[2021-06-25 18:15] bryancall commented on #4292
@shinrich is going to put up a PR for this

[2021-06-25 18:15] SolidWallOfCode commented on #4252
I think this is the wrong approach. This setting is an entire map. Instead there should be a plugin API call to directly set the redirect action for the transaction. That is, the core looks up the action via this (non-overridable) setting and then a plugin can directly change the value from the lookup, rather than changing the entire lookup table.

[2021-06-25 18:15] #4252 closed

[2021-06-25 18:16] bryancall commented on #4293
@shinrich is going to put up a PR for this

[2021-06-25 18:20] bryancall commented on #4415
I think we should rearview what we are going to do here and make an improvement on the stats.

[2021-06-25 18:22] SolidWallOfCode commented on #4467
The point would be to be able avoid a copy if it's not needed, if all that's needed is to parse it while it's on the stack.

[2021-06-25 18:28] bryancall commented on #4467
I am closing this.  When we move to YAML things are going to change.

[2021-06-25 18:28] #4467 closed

[2021-06-25 18:34] bryancall commented on #4491
@bneradt Wants to work on this

[2021-06-25 18:40] bryancall commented on #4562
@brbzull0 Is going to take a look at this

[2021-06-25 18:48] bryancall commented on #4582
The consensus is to use a plugin to remove this

[2021-06-25 18:48] #4582 closed

[2021-06-25 18:58] bryancall commented on #4608
The consensus is to use uuid or udev

[2021-06-25 18:58] #4608 closed

[2021-06-25 20:33] osintegrator opened #7996 "Can't add Range header to cache key due to plugins conflict"
Hello!
ATS version 9.0.2, ubuntu 18.04

When using two these plugins simultaneously:
[code]
I get such cache key: `/host/port/path/`

But I expect such key: `/host/port/Range:bytes=start-end/path/`

When I use `cachekey.so` plugin alone, I'm getting expected key.

So how to make these plugins work simultaneously?

Thank you in advance

[2021-06-26 06:51] osintegrator commented on #7996
Steps to reproduce:
1. Run ATS 9.0.1 or 9.0.2 with such configuration:
[code]
2. Make any request (forward or reverse) with `Range` and `X-Debug: X-Cache-Key` headers:
[code]
3. You will get such result:
[code]
This is the wrong result, because you should get `/some-host/8080/Range:bytes=start-end/path/` instead of `/some-host/8080/path/`

[2021-06-28 04:52] maskit commented on #7341
https://mta.openssl.org/pipermail/openssl-users/2021-June/013900.html

[2021-06-28 05:57] taojishou opened #8000 "Balancer module"
Is there no balancer module in version 9.0.x?
how to realize load balancing now

[2021-06-28 13:01] #4292 closed

[2021-06-28 13:01] #4293 closed

[2021-06-28 13:51] masaori335 opened #8003 "Overhead of dynamic_cast"
Here are some numbers from the measurement of the overhead of `dynamic_cast` on the inbound side of HTTP/1.1 on TCP.

## Profile on Instruments
Instuments says `0.7%` on `__dynamic_cast` and it's the second heaviest call of `Htt1ClientSession::new_transaction()` ( on the master branch (c6d3f6fac) )
<img width="884" alt="Screen Shot 2021-06-28 at 9 52 58" src="https://user-images.githubusercontent.

[2021-06-28 15:07] #7902 closed

[2021-06-28 15:30] shinrich commented on #7838
Also seeing this issue in 9.1.x branch.  At this point I'm suspecting the HpackDynamicTable::_evict_overflowed_entries logic.

[2021-06-28 23:25] bryancall commented on #8000
The plugin is in our 8.1.x tree.  We deprecated it because the parent configuration can handle the scenario.

[2021-06-28 23:27] bryancall commented on #7982
yes!

[2021-06-28 23:32] duke8253 commented on #7973
Hmm, which version are you on? Can you find this line in `traffic_server.cc`
[code]

[2021-06-28 23:35] rob05c opened #8006 "Cache needs invalidated for PATCH and unknown methods"
This is strictly violating the RFC.

`does_method_require_cache_copy_deletion` needs to return true for PATCH and unknown methods

https://datatracker.ietf.org/doc/html/rfc7234#section-4.4

And

https://datatracker.ietf.org/doc/html/rfc5789

The code is https://github.com/apache/trafficserver/blob/b3ef5a04/proxy/http/HttpTransact.cc#L750

[code]

So it's only returning true specifically for DELETE

[2021-06-28 23:43] duke8253 commented on #7973
Pretty sure it's working as intended, `-f` disables freelist only in Class Allocators, `-F` includes `-f`, and also disables it in Proxy Allocators.

[2021-06-28 23:46] maskit commented on #4697
mysql_remap plugin is deprecated. I think we can close this issue.
https://github.com/apache/trafficserver/blame/c3827da3170bc1b5784eb9f6a7d5796981b56838/doc/admin-guide/plugins/mysql_remap.en.rst#L23-L27

[2021-06-28 23:47] bryancall commented on #4711
Maybe we should write a byte at the end of the file when we initiate the file.

[2021-06-28 23:48] bryancall commented on #4711
@SolidWallOfCode is going to look at this

[2021-06-28 23:50] bryancall commented on #4729
@bneradt Can you please verify the permissions are correct for the files.

[2021-06-28 23:53] bryancall commented on #4813
This was removed between 8.1.x and 9.0.x

[2021-06-28 23:53] #4813 closed

[2021-06-28 23:54] masaori335 commented on #4813
@duke8253 did it by https://github.com/apache/trafficserver/pull/6104. Thanks!

[2021-06-28 23:54] SolidWallOfCode commented on #4711
There are two issues that could be going wrong here, none of which come up if a raw partition is used.

*  When the cache reads "3500G" it interprets that as "3500 * 2^30" which is 3.75 * 10^12 which makes it possible there is really not that much space on the disk.
* ATS will create a file of the appropriate size, but many operating systems will not actually allocate the space until required. Thi

[2021-06-28 23:55] bryancall commented on #4825
@SolidWallOfCode got rid of the negative queue

[2021-06-28 23:55] #4825 closed

[2021-06-28 23:57] rob05c commented on #8006
This is trivial to fix, but I'm only like 95% sure the above is all true and correct. Someone else confirming would be good.

[2021-06-28 23:58] SolidWallOfCode commented on #4826
We've decided to close this, but if you want to make a configure time option, that would likely be accepted.

[2021-06-28 23:58] #4826 closed

[2021-06-28 23:58] rob05c commented on #8006
See also https://github.com/apache/trafficserver/pull/7999

[2021-06-29 01:10] taojishou commented on #8000
if use parent configuration , how to set the remap configure?

[2021-06-29 09:33] c-taylor commented on #7973
Thanks for looking at this, I think we can file it under "fool in a hurry".

I had been testing with '-F' and reading the behaviour of `cmd_disable_pfreelist` in ProxyAllocator.cc and I_ProxyAllocator.h.
I missed `ink_freelist_init_ops`.

[2021-06-29 09:34] #7973 closed

[2021-06-29 11:21] VanillaHeaven opened #8011 "The regex_invalidate API doesn't work when I added cache rules in cache.config"
Hello.
I tried to use the regex_invalidate API in [cache inspector utility](https://docs.trafficserver.apache.org/en/9.0.x/admin-guide/storage/index.en.html#using-the-cache-inspector-utility) to set a document invalid, but it seems doesn't work because I added the cache rule in cache.config.

So is the priority of the cache rule in cache.config the highest? How can I make the regex_invalidate API

[2021-06-29 15:41] shinrich commented on #8006
Agree.  Would be better to list the good ones.

[2021-06-29 16:14] bneradt commented on #6249
Yes, I happened to just come across this code while working on #7937. Our documentation is a bit misleading about `proxy.config.output.logfile`. It currently, it says:

https://docs.trafficserver.apache.org/en/latest/admin-guide/files/records.config.en.html?highlight=proxy.config.output.logfile#proxy.config.output.logfile

This is mostly true, in a very literal sense. But most readers will read th

[2021-06-29 17:00] #7980 closed

[2021-06-29 19:13] shinrich commented on #4697
I took a quick look at the old mysql_remap plugin.  It was a global plugin that triggered on the read request hook (before the remap phase), and it would call functions that would have updated the client request storage before the remap phase (TSUrlHostSet, TSUrlSchemeSet, TSUrlPortSet).

We should have a read-only version of the original client request information.  I will go ahead and file a new

[2021-06-29 19:14] #4697 closed

[2021-06-29 19:19] shinrich opened #8016 "ATS should keep a read-only copy of the original client request"
The client request data may be updated by plugins during the processing of the transaction.  This updating means by the time logging occurs, there may be no clean version of the original request.  This issue was identified among other places in issue #4697.

The unmapped version of the logging fields help, but even those fields may be changed from the original by plugins that trigger on the read r

[2021-06-29 22:15] TesterTom2021 opened #8017 "Add Release Note for removal of 'disable_configuration_modification'"
The change to remove 'disable_configuration_modification' was not included in the ATS 9.0 Release Notes.

Here is the change:
https://github.com/apache/trafficserver/pull/5530

Here are the Release Notes.
https://docs.trafficserver.apache.org/en/9.0.x/release-notes/upgrading.en.html#removed-records-config-settings

Please update the release notes to reflect that the 'proxy.config.disable_configura

[2021-06-29 22:23] #6249 closed

[2021-06-30 06:38] taojishou commented on #8000
We configured the parent cache,  now there's a 502 error
remap.config  map http://test.ole.com/ http://t.ole.com/
 parent.config  dest_domain=t.ole.com method=get  parent="217.182.197.203:80" round_robin=stric

[2021-06-30 13:39] taojishou opened #8020 "Load balancing using parent selection"
How to realize the load balancing? the source station has five IP addresses . plz help me

[2021-06-30 13:59] bdgranger commented on #7581
After the additional merging of  #5952 and #6686 into our 8.1.x branch, all the cores have been resolved, and have not been seen in weeks of running in production at the customer site. Closing this issue.

Thanks for all the help!

[2021-06-30 13:59] #7581 closed

[2021-06-30 15:40] mlibbey commented on #8020
We:
- in remap.config the inbound domain to the same domain. Like
`map http://example.com/ http://example.com`
- use parent.config (https://docs.trafficserver.apache.org/en/9.0.x/admin-guide/files/parent.config.en.html) to balance the next hops:
`dest_host=example.com scheme=http parent="machine1.example.com:80,machine2.example.com:80"  round_robin=strict go_direct=false`

In the latest ATS, there

[2021-06-30 18:03] bryancall commented on #3489
This issue was fixed in this PR: #7584

[2021-06-30 18:03] #3489 closed

[2021-06-30 19:42] bneradt commented on #4729
The ATS chmod calls are actually a configurable feature. We have three separate records.config parameters for this:

* [proxy.config.output.logfile_perm](https://docs.trafficserver.apache.org/en/latest/admin-guide/files/records.config.en.html#proxy-config-output-logfile-perm)
* [proxy.config.log.logfile_perm](https://docs.trafficserver.apache.org/en/latest/admin-guide/files/records.config.en.html#

[2021-06-30 19:42] #4729 closed

[2021-06-30 23:20] maskit commented on #3489
It was fixed in #5852.

[2021-07-01 14:23] thelounge-zz commented on #4729
don't get me wrong but calling chmod and have config settings for logfile permissions is pervert
this is done by UMASK and the only job you have is open the file and bail out if you can't

[2021-07-01 14:28] #7838 closed

[2021-07-01 15:14] bneradt opened #8023 "CI: tls_bad_alpn AuTest is failing on master builds"
Starting a couple days ago (June 29), the tls_bad_alpn test has started failing on master. Here's a link to one of the failed jobs:
https://ci.trafficserver.apache.org/job/autest-master/793/console

The test is failing because a process, running the openssl command, doesn't have the expected output saying ALPN wasn't negotiated:

[code]

Looking at the sandbox for that AuTest process, here is the

[2021-07-01 15:32] bneradt commented on #8023
This is not a problem with the new CI: the CentOS images used for the new CI has a version of openssl that supports the `-alpn` option. I suggest we address this by adding an openssl feature skip check to the `tls_bad_alpn.test.py` test (something good to have regardless) and wait for CI test coverage until we move to the new CI, which should be soon.

[2021-07-01 15:32] ezelkow1 opened #8024 "Add rm-destinations for various parts in header rewrite"
We have a couple components right now that to delete them expect to be used with a set-destination and empty string, i.e. port, an upcoming PR for query, etc.

We should add first class rm-destination support for these as well